<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Saldo Inventario
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:fieldset legend="Datos Reporte">
                        <p:remoteCommand name="busquedaOficina" actionListener="#{saldoInventario.busquedaOficina()}" update="mainForm"/>
                        <p:remoteCommand name="busquedaFiltro" actionListener="#{saldoInventario.busquedaFiltro()}" update="mainForm:datoBusquedaFiltro"/>
                        <p:panelGrid style="width: 100%;">
                            <p:row>
                                <p:column colspan="2">
                                    <p:outputLabel value="Oficina" styleClass="labelBolder"/>
                                    <p:spacer width="20"/>
                                    <p:inputText id="secuenciaOficina" size="5" value="#{saldoInventario.modelSaldoInventario.secuenciaOficina}"/>
                                    <p:commandLink actionListener="#{saldoInventario.busquedaOficina()}" update="mainForm">
                                        <p:graphicImage value="/resources/images/clic.png"/>
                                    </p:commandLink>
                                    <p:inputText id="nombreOficina" size="50" readonly="true" value="#{saldoInventario.modelSaldoInventario.oficina.genofiNombre}"/>
                                </p:column>
                                <p:column colspan="2">
                                    <p:selectOneMenu value="#{saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario}" style="width: 92%;">
                                        <f:selectItems value="#{saldoInventario.listTiposSaldos}" var="tipo" itemLabel="#{tipo.tipo}" itemValue="#{tipo.codigo}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:fieldset legend="Tipo de Productos">
                                        <p:selectOneRadio value="#{saldoInventario.modelSaldoInventario.codigoTipoItem}" layout="responsive" columns="2">
                                            <f:selectItems value="#{saldoInventario.listTiposItem}" var="tipoItem" itemLabel="#{tipoItem.tipo}" itemValue="#{tipoItem.codigo}"/>
                                        </p:selectOneRadio>
                                    </p:fieldset>
                                </p:column>
                                <p:column>
                                    <p:fieldset legend="Estados">
                                        <p:selectManyCheckbox value="#{saldoInventario.modelSaldoInventario.estadosItem}" layout="pageDirection">
                                            <f:selectItem itemLabel="Activo" itemValue="INVITM_estactivo" />
                                            <f:selectItem itemLabel="Venta Fraccionada" itemValue="INVITM_estvtafrac" />
                                            <f:selectItem itemLabel="Disponible Venta" itemValue="INVITM_estdispvta" />
                                            <f:selectItem itemLabel="Todos" itemValue="TODOS" />
                                        </p:selectManyCheckbox>
                                    </p:fieldset>
                                </p:column>
                                <p:column>
                                    <p:fieldset legend="Stock">
                                        <p:selectOneRadio value="#{saldoInventario.modelSaldoInventario.codigoStock}" layout="responsive" columns="1">
                                            <f:selectItem itemLabel="Stock != 0" itemValue="D" />
                                            <f:selectItem itemLabel="Stock = 0" itemValue="C" />
                                            <f:selectItem itemLabel="Todos" itemValue="T" />
                                        </p:selectOneRadio>
                                    </p:fieldset>
                                </p:column>
                                <p:column>
                                    <p:fieldset legend="Bodega">
                                        <p:selectManyCheckbox value="#{saldoInventario.modelSaldoInventario.bodegas}" converter="entityConverter" layout="pageDirection">
                                            <f:selectItems value="#{saldoInventario.modelSaldoInventario.oficina.cbpgenrBodegaCollection}" var="bo" itemLabel="#{bo.genbodSecuencia}-#{bo.genbodNombre}" itemValue="#{bo}"/>
                                        </p:selectManyCheckbox>
                                    </p:fieldset>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    <p:selectBooleanCheckbox value="#{saldoInventario.modelSaldoInventario.filtro}" itemLabel="Filtrar" style="width: 100px;" styleClass="labelBolder">
                                        <p:ajax update="selectFiltro,codigoBusquedaFiltro,accionBusquedaFiltro,datoBusquedaFiltro"/>
                                    </p:selectBooleanCheckbox>
                                    <p:selectOneMenu id="selectFiltro" value="#{saldoInventario.modelSaldoInventario.codigoFiltro}" disabled="#{!saldoInventario.modelSaldoInventario.filtro}">
                                        <f:selectItems value="#{saldoInventario.filtros}" var="f" itemLabel="#{f.dato}" itemValue="#{f.codigo}"/>
                                    </p:selectOneMenu>
                                    <p:spacer width="10"/>
                                    <p:inputText id="codigoBusquedaFiltro" value="#{saldoInventario.modelSaldoInventario.codigoBusquedaFiltro}" style="text-transform: uppercase;" disabled="#{!saldoInventario.modelSaldoInventario.filtro}"/>
                                    <p:commandLink id="accionBusquedaFiltro" actionListener="#{saldoInventario.busquedaFiltro()}" update="mainForm:datoBusquedaFiltro" disabled="#{!saldoInventario.modelSaldoInventario.filtro}">
                                        <p:graphicImage value="/resources/images/clic.png"/>
                                    </p:commandLink>
                                    <p:spacer height="0" width="15"/>
                                    <p:inputText id="datoBusquedaFiltro" value="#{saldoInventario.modelSaldoInventario.datoBusquedaFiltro}" readonly="true" size="50" disabled="#{!saldoInventario.modelSaldoInventario.filtro}"/>
                                </p:column>
                                <p:column colspan="2">
                                    <p:outputLabel value="Tipo Lista" styleClass="labelBolder"/>
                                    <p:spacer height="0" width="15"/>
                                    <p:selectOneMenu value="#{saldoInventario.modelSaldoInventario.cablistaprecio}" converter="entityConverter">
                                        <f:selectItems value="#{saldoInventario.cablistaprecios}" var="clp" itemLabel="#{clp.INVLPRcodigo}-[#{clp.INVLPRnombre}]" itemValue="#{clp}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    <p:selectBooleanCheckbox value="#{saldoInventario.modelSaldoInventario.corte}" itemLabel="Ver Inventario con Corte al:" style="width: 300px;" styleClass="labelBolder">
                                        <p:ajax update="fechaCorte"/>
                                    </p:selectBooleanCheckbox>
                                    <p:calendar id="fechaCorte" value="#{saldoInventario.modelSaldoInventario.fechaCorte}" pattern="dd/MM/yyyy" disabled="#{!saldoInventario.modelSaldoInventario.corte}"/>
                                </p:column>
                                <p:column colspan="2">
                                    <p:outputLabel value="Tipo de Costo a Presentar" styleClass="labelBolder"/>
                                    <p:spacer height="0" width="20"/>
                                    <p:selectOneMenu value="#{saldoInventario.modelSaldoInventario.tipoCosto}">
                                        <f:selectItem itemLabel="Costo Promedio" itemValue="P" />
                                        <f:selectItem itemLabel="Ultimo Costo" itemValue="U" />
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="4">
                                    <center>
                                        <p:commandButton icon="fa fa-search" value="Consultar" actionListener="#{saldoInventario.realizarConsulta()}" update="dtListado"/>
                                        <p:spacer width="20"/>
                                        <p:commandButton icon="fa fa-print" value="Reporte" actionListener="#{saldoInventario.generarReporte()}"/>
                                    </center>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:fieldset>
                    <p:spacer height="20"/>
                    <p:dataTable id="dtListado" value="#{saldoInventario.listado}" var="li">
                        <p:column style="width: 16px; padding: 2px 4px !important;"><p:rowToggler/></p:column>
                        <p:column headerText="Codigo" class="columnaDataTable">
                            <p:outputLabel value="#{li.codigo}"/>
                        </p:column>
                        <p:column headerText="Dato" class="columnaDataTable">
                            <p:outputLabel value="#{userSession.cbpsegmUsuario.genciaCodigo.genciaEtiinvnv01}-#{li.dato}"/>
                        </p:column>
                        <p:column headerText="Cajas" class="columnaDataTable columnaRight">
                            <p:outputLabel value="#{li.caja}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                        </p:column>
                        <p:column headerText="Unidades" class="columnaDataTable columnaRight">
                            <p:outputLabel value="#{li.unidades}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                        </p:column>
                        <p:column headerText="Funcional" class="columnaDataTable columnaRight">
                            <p:outputLabel value="#{li.funcional}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                        </p:column>
                        <p:rowExpansion>
                            <p:dataTable value="#{li.lista}" var="li2">
                                <p:column style="width: 16px; padding: 2px 4px !important;"><p:rowToggler/></p:column>
                                <p:column headerText="Codigo" class="columnaDataTable">
                                    <p:outputLabel value="#{li2.codigo}"/>
                                </p:column>
                                <p:column headerText="Dato" class="columnaDataTable">
                                    <p:outputLabel value="#{li2.dato}"/>
                                </p:column>
                                <p:column headerText="Cajas" class="columnaDataTable columnaRight">
                                    <p:outputLabel value="#{li2.caja}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Unidades" class="columnaDataTable columnaRight">
                                    <p:outputLabel value="#{li2.unidades}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Funcional" class="columnaDataTable columnaRight">
                                    <p:outputLabel value="#{li2.funcional}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:rowExpansion>
                                    <p:dataTable value="#{li2.lista}" var="li3">
                                        <p:column style="width: 16px; padding: 2px 4px !important;"><p:rowToggler/></p:column>
                                        <p:column headerText="Codigo" class="columnaDataTable">
                                            <p:outputLabel value="#{li3.codigo}"/>
                                        </p:column>
                                        <p:column headerText="Dato" class="columnaDataTable">
                                            <p:outputLabel value="#{li3.dato}"/>
                                        </p:column>
                                        <p:column headerText="Cajas" class="columnaDataTable columnaRight">
                                            <p:outputLabel value="#{li3.caja}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                        </p:column>
                                        <p:column headerText="Unidades" class="columnaDataTable columnaRight">
                                            <p:outputLabel value="#{li3.unidades}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                        </p:column>
                                        <p:column headerText="Funcional" class="columnaDataTable columnaRight">
                                            <p:outputLabel value="#{li3.funcional}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                        </p:column>
                                        <p:rowExpansion>
                                            <p:dataTable value="#{li3.lista}" var="li4">
                                                <p:column style="width: 16px; padding: 2px 4px !important;"><p:rowToggler/></p:column>
                                                <p:column headerText="Codigo" class="columnaDataTable">
                                                    <p:outputLabel value="#{li4.codigo}"/>
                                                </p:column>
                                                <p:column headerText="Dato" class="columnaDataTable">
                                                    <p:outputLabel value="#{li4.dato}"/>
                                                </p:column>
                                                <p:column headerText="Cajas" class="columnaDataTable columnaRight">
                                                    <p:outputLabel value="#{li4.caja}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                </p:column>
                                                <p:column headerText="Unidades" class="columnaDataTable columnaRight">
                                                    <p:outputLabel value="#{li4.unidades}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                </p:column>
                                                <p:column headerText="Funcional" class="columnaDataTable columnaRight">
                                                    <p:outputLabel value="#{li4.funcional}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                </p:column>
                                                <p:rowExpansion>
                                                    <p:dataTable value="#{li4.listaItem}" var="it">
                                                        <p:column headerText="Codigo" class="columnaDataTable">
                                                            <p:outputLabel value="#{it.INVITM_codigo}"/>
                                                        </p:column>
                                                        <p:column headerText="Producto" class="columnaDataTable" width="300">
                                                            <p:outputLabel value="#{it.INVITM_nombre}"/>
                                                        </p:column>
                                                        <p:column headerText="Peso" class="columnaDataTable columnaRight">
                                                            <p:outputLabel value="#{it.INVITM_peso}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                        </p:column>
                                                        <p:column headerText="Factor" class="columnaDataTable columnaRight">
                                                            <p:outputLabel value="#{it.INVITM_unidembala}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                        </p:column>
                                                        <p:column headerText="Cajas" class="columnaDataTable columnaRight">
                                                            <p:outputLabel value="#{it.INVITM_cajas}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                        </p:column>
                                                        <p:column headerText="Unidades" class="columnaDataTable columnaRight">
                                                            <p:outputLabel value="#{it.INVITM_unidades}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                        </p:column>
                                                        <p:column headerText="Funcional" class="columnaDataTable columnaRight">
                                                            <p:outputLabel value="#{it.INVITM_stockreal}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                        </p:column>
                                                        <p:column headerText="Cost. Caja" class="columnaDataTable columnaRight" rendered="#{saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IV' or saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IO'}">
                                                            <p:outputLabel value="#{it.INVITM_costoprom1*it.INVITM_unidembala}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                        </p:column>
                                                        <p:column headerText="Cost. Unid." class="columnaDataTable columnaRight" rendered="#{saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IV' or saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IO'}">
                                                            <p:outputLabel value="#{it.INVITM_costoprom1}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                        </p:column>
                                                        <p:column headerText="Prec. Caja" class="columnaDataTable columnaRight" rendered="#{saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IV' or saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IO'}">
                                                            <p:outputLabel value="#{it.INVITM_precilistaIVA*it.INVITM_unidembala}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                        </p:column>
                                                        <p:column headerText="Prec. Unid." class="columnaDataTable columnaRight" rendered="#{saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IV' or saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IO'}">
                                                            <p:outputLabel value="#{it.INVITM_precilistaIVA}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                        </p:column>
                                                        <p:column headerText="Total" class="columnaDataTable columnaRight" rendered="#{saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IV' or saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IO'}">
                                                            <p:outputLabel value="#{it.INVITM_costoprom1*it.INVITM_stockreal}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                        </p:column>
                                                        <p:column headerText="Total+IVA" class="columnaDataTable columnaRight" rendered="#{saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IV' or saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IO'}">
                                                            <p:outputLabel value="#{it.INVITM_costoprom1IVA*it.INVITM_stockreal}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                        </p:column>
                                                        <p:column headerText="Cost. Ult. Q" class="columnaDataTable columnaRight" rendered="#{saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IV' or saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IO'}">
                                                            <p:outputLabel value="#{it.INVITM_ventatotalQ}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                        </p:column>
                                                        <p:column headerText="Dias Venta" class="columnaDataTable columnaRight" rendered="#{saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IV' or saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IO'}">
                                                            <p:outputLabel value="#{it.INVITM_diasventa}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                        </p:column>
                                                        <p:column headerText="Cost. Prom. Dia" class="columnaDataTable columnaRight" rendered="#{saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IV' or saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IO'}">
                                                            <p:outputLabel value="#{it.INVITM_diasventa eq 0?0:(it.INVITM_ventatotalQ/it.INVITM_diasventa)}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                        </p:column>
                                                        <p:column headerText="Dias Inventario" class="columnaDataTable columnaRight" rendered="#{saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IV' or saldoInventario.modelSaldoInventario.codigoTipoSaldoInventario eq 'IO'}">
                                                            <p:outputLabel value="#{it.INVITM_diasventa eq 0?0:((it.INVITM_costoprom1*it.INVITM_stockreal)/(it.INVITM_ventatotalQ/it.INVITM_diasventa))}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                                        </p:column>
                                                    </p:dataTable>
                                                </p:rowExpansion>
                                            </p:dataTable>
                                        </p:rowExpansion>
                                    </p:dataTable>
                                </p:rowExpansion>
                            </p:dataTable>
                        </p:rowExpansion>
                    </p:dataTable>
                </h:form>

                <p:dialog widgetVar="dlgOficina" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Oficinas" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgOficina">
                        <p:dataTable id="dtOficina" value="#{saldoInventario.oficinasLazy}" var="of" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                     reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{of.genofiCodigo}"
                                     selection="#{saldoInventario.modelSaldoInventario.oficina}" selectionMode="single">
                            <p:ajax event="rowDblselect" oncomplete="PF('dlgOficina').hide();" update="mainForm" listener="#{saldoInventario.seleccionOficina()}"/>
                            <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{of.genofiSecuencia}" width="140">
                                <p:outputLabel value="#{of.genofiSecuencia}"/>
                            </p:column>
                            <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{of.genofiNombre}" width="200">
                                <p:outputLabel value="#{of.genofiNombre}"/>
                            </p:column>
                            <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{of.genofiCodigo}" width="120">
                                <p:outputLabel value="#{of.genofiCodigo}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>

                <p:dialog widgetVar="dlgProveedor" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Proveedores" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgProveedor">
                        <p:dataTable id="dtProveedor" value="#{saldoInventario.proveedoresLazy}" var="p" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                     reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{p.cxpmProveedorPK}"
                                     selection="#{saldoInventario.modelSaldoInventario.provedor}" selectionMode="single">
                            <p:ajax event="rowDblselect" oncomplete="PF('dlgProveedor').hide();" update="mainForm:datoBusquedaFiltro,mainForm:codigoBusquedaFiltro" listener="#{saldoInventario.seleccionarDato()}"/>
                            <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{p.CXPPROcodigo}" width="120">
                                <p:outputLabel value="#{p.cxpmProveedorPK.CXPPROcodigo}"/>
                            </p:column>
                            <p:column headerText="Identificacion" filterStyle="width: 95%" filterBy="#{p.CXPPROruccedula}">
                                <p:outputLabel value="#{p.CXPPROruccedula}"/>
                            </p:column>
                            <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{p.CXPPROrazonsocia}">
                                <p:outputLabel value="#{p.CXPPROrazonsocia}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>

                <p:dialog widgetVar="dlgNivel" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Nivel" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgNivel">
                        <p:dataTable id="dtNivel" value="#{saldoInventario.consultaFiltro}" var="n" emptyMessage="No se encontraron registros" paginator="true"
                                     reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{n.codigo}"
                                     selection="#{saldoInventario.modelSaldoInventario.nivel}" selectionMode="single"
                                     filteredValue="#{saldoInventario.consultaFiltroValues}">                            
                            <p:ajax event="rowDblselect" oncomplete="PF('dlgNivel').hide();" update="mainForm:datoBusquedaFiltro,mainForm:codigoBusquedaFiltro" listener="#{saldoInventario.seleccionarDato()}"/>
                            <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{n.codigo}" filterMatchMode="contains" width="120">
                                <p:outputLabel value="#{n.codigo}"/>
                            </p:column>
                            <p:column headerText="Dato" filterStyle="width: 95%" filterBy="#{n.dato}" filterMatchMode="contains">
                                <p:outputLabel value="#{n.dato}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>

                <p:dialog widgetVar="dlgProducto" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Productos" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgProducto">
                        <p:dataTable id="dtProductos" value="#{saldoInventario.itemsLazy}" var="i" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                     reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{i.invmItemPK}"
                                     selection="#{saldoInventario.modelSaldoInventario.item}" selectionMode="single" >
                            <p:ajax event="rowDblselect" oncomplete="PF('dlgProducto').hide();" update="mainForm:datoBusquedaFiltro,mainForm:codigoBusquedaFiltro" listener="#{saldoInventario.seleccionarDato()}"/>
                            <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{i.INVITMcodigo}" width="120">
                                <p:outputLabel value="#{i.invmItemPK.INVITMcodigo}"/>
                            </p:column>
                            <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{i.INVITMnombre}">
                                <p:outputLabel value="#{i.INVITMnombre}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>

            </ui:define>
        </ui:composition>
    </body>
</html>