<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Control Transaccional
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:outputLabel value="CONTROL TRANSACCIONAL" styleClass="labelMensaje"/>
                    <br/><br/>
                    <p:tabView id="tabMovimientos">
                        <p:tab title="1. REGISTRO">
                            <p:fieldset legend="POR PERIODO">
                                <p:panelGrid id="periodo">
                                    <p:row>
                                        <p:column rowspan="2">
                                            <p:selectBooleanCheckbox value="#{controlTransaccional.controltran.genrconPeriodo}" itemLabel="POR PERIODO" style="width: 200px;" styleClass="labelBolder">
                                                <p:ajax update="periodo"/>
                                            </p:selectBooleanCheckbox>
                                        </p:column>
                                        <p:column><p:outputLabel value="Dias" styleClass="labelBolder"/></p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column><p:inputText value="#{controlTransaccional.controltran.genrconDias}" disabled="#{!controlTransaccional.controltran.genrconPeriodo}"/></p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:fieldset>
                            <br/>
                            <p:fieldset legend="POR TRANSACCION">
                                <p:panelGrid id="transaccion">
                                    <p:row>
                                        <p:column rowspan="2">
                                            <p:selectBooleanCheckbox value="#{controlTransaccional.controltran.genrconTransaccion}" itemLabel="POR TRANSACCION" style="width: 200px;" styleClass="labelBolder">
                                                <p:ajax update="transaccion"/>
                                            </p:selectBooleanCheckbox>
                                        </p:column>
                                        <p:column><p:outputLabel value="Cantidad" styleClass="labelBolder"/></p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column><p:inputText value="#{controlTransaccional.controltran.genrconCantidad}" disabled="#{!controlTransaccional.controltran.genrconTransaccion}"/></p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:fieldset>
                            <br/>
                            <p:fieldset legend="ENTIDADES">
                                <p:panelGrid style="width: 80%;" id="entidades">
                                    <p:row>
                                        <p:column><p:outputLabel value="Pto. Venta(s)" styleClass="labelBolder"/></p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column>
                                            <p:selectOneMenu value="#{controlTransaccional.controltran.genbodCodigo}" converter="entityConverter" style="width: 92%;">
                                                <f:selectItem itemLabel="TODOS" value="#{null}"/>
                                                <f:selectItems value="#{controlTransaccional.bodegas}" var="bod" itemLabel="#{bod.genbodSecuencia}-[#{bod.genbodNombre} SUP:#{bod.facsupCodigo}-#{bod.supervisor}]" itemValue="#{bod}"/>
                                            </p:selectOneMenu>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:fieldset>
                            <br/>
                            <center>
                                <p:commandButton icon="fa fa-save" value="Grabar" actionListener="#{controlTransaccional.grabarRegistroControl()}" update="mainForm"/>
                            </center>
                        </p:tab>
                        <p:tab title="2. HISTORIAL">
                            <p:dataTable id="dtHistorial" value="#{controlTransaccional.controlLazy}" var="ct" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                         reflow="true" filterEvent="enter" rows="15" rowsPerPageTemplate="15,20,50" paginatorPosition="top" rowKey="#{ct.genrconId}"
                                         selectionMode="single" selection="#{controlTransaccional.controlSeleccion}">
                                <p:column headerText="Id" filterStyle="width: 95%" filterBy="#{ct.genrconId}" width="80">
                                    <p:outputLabel value="#{ct.genrconId}"/>
                                </p:column>
                                <p:column headerText="Sec. Bodega" filterStyle="width: 95%" filterBy="#{ct.genbodSecuencia}" width="100">
                                    <p:outputLabel value="#{ct.genbodCodigo.genbodSecuencia}"/>
                                </p:column>
                                <p:column headerText="Bodega" filterStyle="width: 95%" filterBy="#{ct.genbodNombre}">
                                    <p:outputLabel value="#{ct.genbodCodigo.genbodNombre}"/>
                                </p:column>
                                <p:column headerText="Usuario" filterStyle="width: 95%" filterBy="#{ct.segusuLogin}" width="80">
                                    <p:outputLabel value="#{ct.segusuCodigoSup.segusuLogin}"/>
                                </p:column>
                                <p:column headerText="Abreviado Usuario" filterStyle="width: 95%" filterBy="#{ct.segusuAbreviado}">
                                    <p:outputLabel value="#{ct.segusuCodigoSup.segusuAbreviado}"/>
                                </p:column>
                                <p:column headerText="Por Periodo">
                                    <p:selectBooleanCheckbox value="#{ct.genrconPeriodo}"/>
                                    <p:spacer width="10"/>
                                    <p:inputText value="#{ct.genrconDias}" size="10"/>
                                </p:column>
                                <p:column headerText="Por Transaccion">
                                    <p:selectBooleanCheckbox value="#{ct.genrconTransaccion}"/>
                                    <p:spacer width="10"/>
                                    <p:inputText value="#{ct.genrconCantidad}" size="10"/>
                                </p:column>
                                <p:column headerText="Actualizacion Contraseña" width="120">
                                    <p:outputLabel value="#{ct.genrconFechaact}"><f:convertDateTime pattern="dd/MM/yyyy HH:mm"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Actualizar Contraseña" width="70" style="text-align: center;">
                                    <p:selectBooleanCheckbox value="#{ct.genrconActualizar}"/>
                                </p:column>
                                <p:column headerText="Estado" width="70" style="text-align: center;">
                                    <p:selectBooleanCheckbox value="#{ct.genrconEstado}"/>
                                </p:column>
                                <p:column headerText="Grabar" width="70" style="text-align: center;">
                                    <p:commandButton icon="fa fa-save" actionListener="#{controlTransaccional.actualizarRegistro(ct)}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>                    
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>