<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Impresiòn de Precios
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
                <h:outputScript name="dataTableRegistroVenta.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:remoteCommand name="busquedaOficina" actionListener="#{impresionPreciosView.busquedaOficina()}" update="mainForm"/>
                    <p:remoteCommand name="busquedaBodega" actionListener="#{impresionPreciosView.busquedaBodega()}" update="mainForm"/>
                    <p:remoteCommand name="busquedaListaPrecios" actionListener="#{impresionPreciosView.busquedaListaPrecios()}" update="mainForm"/>

                    <p:panelGrid styleClass="ui-noborder" style="width: 100%; margin-top: 15px;">
                        <p:row>
                            <p:column>
                                <p:panelGrid columns="4" styleClass="ui-noborder">
                                    <h:outputText value="Oficina:" style="font-weight: BOLD;"/>
                                    <p:inputText id="secuenciaOficina" style="width: 100px; margin-left: 110px;" value="#{impresionPreciosView.dataIngreso['valOfi']}"/>
                                    <p:commandLink update="frmdlgOficina" oncomplete="PF('dlgOficina').show()" title="Buscar oficina">
                                        <p:graphicImage value="/resources/images/clic.png"/>
                                    </p:commandLink>
                                    <p:inputText readonly="true" style="width: 250px" value="#{impresionPreciosView.dataIngreso['oficina'].genofinomComercial}"/>
                                </p:panelGrid>
                            </p:column>

                            <p:column>
                                <p:panelGrid columns="4" styleClass="ui-noborder">
                                    <h:outputText value="Bodega:" style="font-weight: BOLD;"/>
                                    <p:inputText id="secuenciaBodega" value="#{impresionPreciosView.dataIngreso['valEst']}" style="width: 80px; margin-left: 53px;"/>
                                    <p:commandLink title="Buscar bodega" actionListener="#{impresionPreciosView.busquedaBodega()}">
                                        <p:graphicImage value="/resources/images/clic.png"/>
                                    </p:commandLink>
                                    <p:inputText id="bodegaValue" readonly="true" value="#{impresionPreciosView.dataIngreso['bodega'].genbodNombre}" style="width: 280px;"/>
                                </p:panelGrid>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <p:panelGrid columns="4" styleClass="ui-noborder">
                                    <h:outputText value="Lista de precios:" style="font-weight: BOLD;"/>
                                    <p:inputText id="secuenciaLPrecios" style="width: 100px; margin-left: 52px;" value="#{impresionPreciosView.dataIngreso['valLpr']}"/>
                                    <p:commandLink title="Buscar lista de precios" actionListener="#{impresionPreciosView.busquedaListaPrecios}">
                                        <p:graphicImage value="/resources/images/clic.png"/>
                                    </p:commandLink>
                                    <p:inputText readonly="true" style="width: 250px; text-transform: uppercase" value="#{impresionPreciosView.dataIngreso['listaPrecio'].INVLPRnombre}"/>
                                </p:panelGrid>
                            </p:column>
                            
                            <p:column>
                                <p:commandButton value="Ver Precios" actionListener="#{impresionPreciosView.verDatos()}" update="mainForm"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    
                    <p:dataTable value="#{impresionPreciosView.l}" rows="10" var="t" paginator="true" paginatorPosition="top" filterEvent="enter" style="margin-top: 15px;">
                        <p:column headerText="Código" filterBy="#{t.item_cod}" filterMatchMode="contains" filterStyle="width: 95%;">
                            #{t.item_cod}
                        </p:column>
                        <p:column headerText="Nombre" filterBy="#{t.item_nombre}" filterMatchMode="contains" filterStyle="width: 95%;">
                            #{t.item_nombre}
                        </p:column>
                        <p:column headerText="Valor">
                            <h:outputText value="#{t.valor}" style="float: right;">
                                <f:convertNumber pattern="##,##0.00" locale="en_US"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Impuesto">
                            <h:outputText value="#{t.imp}" style="float: right;">
                                <f:convertNumber pattern="##,##0.00" locale="en_US"/>
                            </h:outputText>
                        </p:column>
                        
                        <p:column headerText="Valor con Imp.">
                            <h:outputText value="#{t.valorConImp}" style="float: right;">
                                <f:convertNumber pattern="##,##0.00" locale="en_US"/>
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                    
                    <p:panelGrid columns="1" styleClass="ui-noborder" style="width: 100%; margin-top: 15px; font-weight: BOLD;">
                        <p:row>
                            <p:column colspan="2">
                                <p:panelGrid columns="3" styleClass="ui-noborder">
                                    <h:outputText value="No. de impresiones"/>
                                    <p:inputText value="#{impresionPreciosView.dataIngreso['no_impresiones']}" style="width: 45px; float: right;"/>
                                    <p:commandButton value="Generar precios" actionListener="#{impresionPreciosView.generarReporte}"/>
                                </p:panelGrid>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </h:form>
                
                <!-- -->
                
                <p:dialog widgetVar="dlgOficina" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Oficinas" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgOficina">
                        <component:cOficina oficinasLazy="#{impresionPreciosView.oficinasLazy}" oficina="#{impresionPreciosView.dataIngreso['oficina']}" 
                                            seleccionOficina="#{impresionPreciosView.selectOficina(null)}"/>
                    </h:form>
                </p:dialog>
                
                <!-- -->
                
                <p:dialog widgetVar="dlgListaPrecios" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Oficinas" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgListaPrecios">
                        <p:dataTable id="dtBodegas" value="#{impresionPreciosView.listaPreciosLazy}" var="p" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                     reflow="true" filterEvent="enter" rows="15" rowsPerPageTemplate="15,25,50" paginatorPosition="top" rowKey="#{p.INVLPRsecuencia}"
                                     selection="#{impresionPreciosView.dataIngreso['listaPrecio']}" selectionMode="single">
                            <p:ajax event="rowDblselect" listener="#{impresionPreciosView.onListaPrecioSelect}" update=":mainForm" />
                            
                            <p:column headerText="Codigo">
                                #{p.INVLPRcodigo}
                            </p:column>
                            
                            <p:column headerText="Nombre" style="text-transform: uppercase">
                                #{p.INVLPRnombre}
                            </p:column>
                            
                        </p:dataTable>
                    </h:form>
                </p:dialog>
                
                <!-- -->

                <p:dialog header="Bodega" widgetVar="wdBodegas" modal="true" width="70%" resizable="false" position="top">
                    <h:form id="bodegasFrm" >
                        <p:dataTable id="dtBodegas" value="#{impresionPreciosView.bodegasLazy}" var="p" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                     reflow="true" filterEvent="enter" rows="15" rowsPerPageTemplate="15,25,50" paginatorPosition="top" rowKey="#{p.genbodCodigo}"
                                     selection="#{impresionPreciosView.dataIngreso['bodega']}" selectionMode="single">
                            <p:ajax event="rowDblselect" listener="#{impresionPreciosView.onBodegaSelect}" update=":mainForm" />

                            <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{p.genbodSecuencia}" >
                                <p:outputLabel value="#{p.genbodSecuencia}"/>
                            </p:column>
                            <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{p.genbodNombre}">
                                <p:outputLabel value="#{p.genbodNombre}"/>
                            </p:column>

                        </p:dataTable>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>