<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/mainTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="page_title">
        Asignación de Perfiles
    </ui:define>
    <ui:define name="content">        
        <p:panel id="mainContentPanel" >            
            <h1>Asignación de Perfiles a Grupo de Usuarios </h1>
            <h:form id="frmdlgPerfiles">
                <h2>  </h2>
                <p:tabView id="tabViewDG" style="width: 90%; margin: 0 auto" activeIndex="#{asignarPerfilBean.tabIndexDG}">
                    <p:tab title="Perfiles" >
                        <p:row>
                            <p:column> 
                                <p:outputLabel value="Grupo de usuario:  "/>
                                <p:outputLabel id="idGrupoSelecc" value="#{asignarPerfilBean.grupoUsuario.seggppSecuencia} - #{asignarPerfilBean.grupoUsuario.seggppDescripcio}" style="font-style: oblique"/>
                                <p:spacer width="5"/> 
                                <p:commandButton id="idBtnGrupoSelecc" value="#{asignarPerfilBean.grupoUsuarioSelecc eq null ? 'Seleccionar...':'Cambiar...' }" icon="ui-icon-extlink" actionListener="#{asignarPerfilBean.abrirDF()}" process="@this" update="@none">
                                    <p:ajax event="dialogReturn" listener="#{asignarPerfilBean.grupoUsuarioSeleccionada}" update="idGrupoSelecc,idBtnGrupoSelecc" process="@this" />
                                </p:commandButton>
                            </p:column>

                        </p:row>
<!--                    <p:inputText value="#{asignarPerfilBean.grupoUsuario.seggppSecuencia}" readonly="true"/>
                    <p:spacer width="10"/> 
                    <p:inputText value="#{asignarPerfilBean.grupoUsuario.seggppDescripcio}" readonly="true"/>-->
                        <br></br>
                        <br></br>
                        <p:panelGrid styleClass="noBorder" style="width: 100%">                           
                            <f:facet name="header">
                                <p:row>

                                    <p:column>Detalle de Opciones</p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column  > 
                                    <p:tree value="#{asignarPerfilBean.rootPerfil}" var="p" style="width: 80%;margin: 0 auto" >
                                        <p:treeNode >
                                            <p:selectBooleanCheckbox value="#{p.seleccionado}" rendered="#{p.opcionId eq 0 ? false:true}">
                                                <p:ajax  listener="#{asignarPerfilBean.perfilSeleccionado(p)}" process="@this" />
                                            </p:selectBooleanCheckbox>
                                            <h:outputText value="#{p.nombre}"/>
                                        </p:treeNode>
                                    </p:tree>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="3">
                                    <h3> Perfil Asignado </h3>
                                    <p:dataTable id="dtPerfilAsignados" value="#{asignarPerfilBean.segmPerfilrestricionList}" scrollable="true"
                                                 var="p"  reflow="true"
                                                 emptyMessage="No se encontraron registros" style="width: 100%">
                                        <p:column headerText="Opcion">
                                            <p:outputLabel value="#{p.segopcCodigo.segopcDescripcio}"/>
                                        </p:column>
                                        <p:column headerText="Accion">
                                            <p:outputLabel value="#{p.segaccCodigo.segaccDescripcio}"/>
                                        </p:column>
                                        <p:column headerText="Eliminar"  style="text-align: center; ">
                                            <p:commandButton icon="ui-icon-trash" iconPos="center"  actionListener="#{asignarPerfilBean.delete(p)}" />
                                        </p:column>
                                    </p:dataTable>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                    <p:tab title="Cargar Perfiles">
                        <p:panelGrid styleClass="noBorder">
                            <p:row>
                                <p:column> 
                                    <p:outputLabel value="Grupo de usuario:  "/>
                                    <p:outputLabel id="idGrupoSelecc2" value="#{asignarPerfilBean.grupoUsuarioSelecc.seggppSecuencia} - #{asignarPerfilBean.grupoUsuarioSelecc.seggppDescripcio}" style="font-style: oblique"/>
                                    <p:spacer width="5"/> 
                                    <p:commandButton id="idBtnGrupoSelecc2" value="#{asignarPerfilBean.grupoUsuarioSelecc eq null ? 'Seleccionar...':'Cambiar...' }" icon="ui-icon-extlink" actionListener="#{segrGrupousuarioBeanDF.abrirDF()}" process="@this" update="@none">
                                        <p:ajax event="dialogReturn" listener="#{asignarPerfilBean.grupoUsuarioSeleccionada2}" update="idGrupoSelecc2,idBtnGrupoSelecc2" process="@this" />
                                    </p:commandButton>
                                </p:column>

                            </p:row>
                            <p:row>
                                <p:column colspan="3">
                                    <h3> Perfil Asignado </h3>
                                    <p:dataTable id="dtPerfilAsignadosCP" value="#{asignarPerfilBean.segmPerfilrestricionBaseList}" scrollable="true"
                                                 var="p"  reflow="true"
                                                 emptyMessage="No se encontraron registros" style="width: 100%">
                                        <p:column headerText="Opcion">
                                            <p:outputLabel value="#{p.segopcCodigo.segopcDescripcio}"/>
                                        </p:column>
                                        <p:column headerText="Accion">
                                            <p:outputLabel value="#{p.segaccCodigo.segaccDescripcio}"/>
                                        </p:column>

                                    </p:dataTable>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="3">
                                    <p:commandLink action="#{asignarPerfilBean.asignarPerfiles()}" update="frmdlgPerfiles" style="padding-left: 2%;margin: 0 auto" validateClient="true">
                                        <h:graphicImage value="/resources/images/guardar.png"/>
                                    </p:commandLink>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
                <p:separator/> 
            </h:form>                   
        </p:panel> <!-- main panel -->
    </ui:define>
</ui:composition>


