<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/mainTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="page_title">
        Grupos de Usuarios
    </ui:define>
    <ui:define name="content">
        <p:panel id="mainContentPanel" >
            <h:form id="formGruposUsuarios">
                <h1>Grupos de Usuarios </h1>
                <p:dataTable id="dtGrpusr" value="#{grupousuarioBean.grupousuarioLazy}" reflow="true" filterEvent="enter" rows="10" 
                             rowsPerPageTemplate="10,20,50" emptyMessage="No se encontraron registros" lazy="true" paginator="true" var="gu"
                             rowKey="#{gu.seggppCodigo}" selectionMode="single" selection="#{grupousuarioBean.grupoUsuarioSeleccion}">
                    <f:facet name="header">
                        Grupos de Usuarios
                        <p:commandButton id="btnNew" actionListener="#{grupousuarioBean.nuevoDlg()}" value="Nuevo" style="float:right" icon="ui-icon-circle-plus" />
                    </f:facet>
                    <p:ajax event="rowDblselect" oncomplete="PF('dlgAsignaciones').show();" update="frmdlgAsignaciones" listener="#{grupousuarioBean.seleccionarGrupo()}"/>
                    <p:column headerText="Codigo"  filterStyle="width: 95%" filterBy="#{gu.seggppCodigo}" width="10%">
                        <p:outputLabel value="#{gu.seggppCodigo}"/>
                    </p:column>
                    <p:column headerText="Secuencia"  filterStyle="width: 95%" filterBy="#{gu.seggppSecuencia}" width="10%">
                        <p:outputLabel value="#{gu.seggppSecuencia}"/>
                    </p:column>
                    <p:column headerText="Descripcion"  filterStyle="width: 95%" filterBy="#{gu.seggppDescripcio}" width="10%">
                        <p:outputLabel value="#{gu.seggppDescripcio}"/>
                    </p:column>
                    <p:column headerText="Activo"  sortBy="#{gu.seggppEstado}"  filterStyle="width: 95%" filterBy="#{gu.seggppEstado}" width="10%">
                        <p:selectBooleanCheckbox value="#{gu.seggppEstado}" disabled="true"/>
                    </p:column>
                    <p:column headerText="Opciones" width="10%" style="text-align: center; ">
                        <p:commandButton icon="ui-icon-pencil" iconPos="center"  actionListener="#{grupousuarioBean.editarDlg(gu)}" />
                    </p:column>
                </p:dataTable>
            </h:form>
        </p:panel> <!-- main panel -->
        <p:dialog widgetVar="dlgGruposUsuarios" modal="true"  width="70%" responsive="true"
                  closable="true" header=" Grupos de Usuarios" resizable="false" closeOnEscape="true" style="z-index: 999999999 !important;">
            <h:form id="frmdlgGruposUsuarios">
                <h2> #{grupousuarioBean.headerDLG} </h2>
                <p:tabView>
                    <p:tab title="Datos Generales">
                        <p:panelGrid styleClass="noBorder">
                            <p:row>
                                <p:column > 
                                    <p:outputLabel value="Secuencia"/>
                                </p:column>
                                <p:column > 
                                    <p:inputText id="secuenciaTxt" 
                                                 value="#{grupousuarioBean.grupousuario.seggppSecuencia}" size="60"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column > 
                                    <p:outputLabel value="Nombre"/>
                                </p:column>
                                <p:column > 
                                    <p:inputText id="nombreTxt" 
                                                 value="#{grupousuarioBean.grupousuario.seggppDescripcio}" size="60"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column > 
                                    <p:outputLabel value="Activo"/>
                                </p:column>
                                <p:column > 
                                    <p:selectBooleanCheckbox id="estadoTxt" value="#{grupousuarioBean.grupousuario.seggppEstado}" />
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
                <p:separator/> 
                <p:commandLink action="#{grupousuarioBean.guardarGrupoUsuario()}" update="formGruposUsuarios" style="padding-left: 2%;margin: 0 auto" validateClient="true">
                    <h:graphicImage value="/resources/images/guardar.png"/>
                </p:commandLink>
            </h:form>

        </p:dialog>
        
        <p:dialog widgetVar="dlgAsignaciones" modal="true"  width="90%" responsive="true" closable="true" header="Asignaciones" resizable="false" position="top">
            <h:form id="frmdlgAsignaciones">                
                <p:dataTable id="opciones" value="#{grupousuarioBean.listPerfil}" var="p" paginator="true"
                             reflow="true" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top">
                    <f:facet name="header">
                        OPCIONES ASIGNADAS (PERFIL)
                    </f:facet>
                    <p:column headerText="Paquete" styleClass="columnaDataTable">
                        <p:outputLabel value="#{p.segopcCodigo.segpaqCodigo.segpaqDescripcio}"/>
                    </p:column>
                    <p:column headerText="Modulo" styleClass="columnaDataTable">
                        <p:outputLabel value="#{p.segopcCodigo.segmodCodigo.segmodDescripcio}"/>
                    </p:column>                    
                    <p:column headerText="Descripcion" styleClass="columnaDataTable">
                        <p:outputLabel value="#{p.segopcCodigo.segopcSecuencia}-#{p.segopcCodigo.segopcDescripcio}"/>
                    </p:column>
                    <p:column headerText="URL" styleClass="columnaDataTable">
                        <p:outputLabel value="#{p.segopcCodigo.segopcUrl}"/>
                    </p:column>
                    <p:column headerText="ESTADO" width="120" style="text-align: center;" styleClass="columnaDataTable">
                        <p:inputSwitch value="#{p.segperEstado}" onLabel="Act." offLabel="Inac.">
                            <p:ajax listener="#{grupousuarioBean.grabarAsignacion(p)}"/>
                        </p:inputSwitch>
                    </p:column>
                </p:dataTable>
                <br/>
                <p:outputLabel value="OPCIONES NO ASIGNADAS" styleClass="labelMensaje"/>
                <p:pickList value="#{grupousuarioBean.opciones}" style="width: 100%;" var="op" 
                            itemLabel="#{op.segpaqCodigo.segpaqDescripcio}>#{op.segmodCodigo.segmodDescripcio}-#{op.segopcDescripcio}" itemValue="#{op}" 
                            effect="bounce" converter="entityConverter" responsive="true"
                            showSourceFilter="true" filterMatchMode="contains">

                </p:pickList>
                <br/>
                <center>
                    <p:commandButton value="GRABAR" actionListener="#{grupousuarioBean.grabarAsignaciones()}" oncomplete="PF('dlgAsignaciones').hide();" />
                    
                </center>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>

