<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/mainTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="page_title">
        Parametrizacion
    </ui:define>
    <ui:define name="content">
        
        <p:panel id="mainContentPanel" >
            <h:form id="formParaGeneCompaId">
                <h1>Parametrizacion </h1>
                <p:tabView id="tabViewDG">
                    <p:tab title="Propiedades Generales">
                        <p:panelGrid styleClass="noBorder" >
                            <p:row>
                                <p:column> 
                                    <p:outputLabel value="Aplicación"/>
                                </p:column>
                                <p:column > 
                                    <p:commandButton id="paraGeneAplicaSelect" value="Selecionar..." icon="ui-icon-extlink" actionListener="#{paramGeneAplicaBeanDF.abrirDFParaGeneAplica()}" process="@this" update="@none">
                                        <p:ajax event="dialogReturn" listener="#{parameCompaBean.aplicacionSeleccionada}" update="paraGeneAplicaNombre,paraGeneAplicaNombreValor,paraGeneAplicaModificar" process="@this" />
                                    </p:commandButton>
                                </p:column>
                                <p:column colspan="2"> 
                                    <p:outputLabel id="paraGeneAplicaNombre" value="#{parameCompaBean.geneParaCompa.genpcoEtiqueta} - #{parameCompaBean.geneParaCompa.genpcoNombre}" style="font-style: oblique"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column> 
                                    <p:outputLabel value="Valor"/>
                                </p:column>
                                <p:column colspan="3"> 
                                    <p:inputText id="paraGeneAplicaNombreValor" value="#{parameCompaBean.geneParaCompa.genpcoNombrevalor}" style="width: 100%"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column> 
                                    <p:outputLabel value="Modificable"/>
                                </p:column>
                                <p:column> 
                                    <p:selectBooleanCheckbox id="paraGeneAplicaModificar" value="#{parameCompaBean.geneParaCompa.genpcoFlagmoficar}" disabled="true"/>
                                </p:column>
                            </p:row> 
                        </p:panelGrid>
                        <p:separator/>
                        <p:commandLink action="#{parameCompaBean.guardarAplicacion()}" update="formParaGeneCompaId" style="padding-left: 2%;margin: 0 auto" validateClient="true">
                        <h:graphicImage value="/resources/images/guardar.png"/>
                        </p:commandLink>
                    </p:tab>
                    <p:tab title="Propiedades Oficina">
                        <p:panelGrid styleClass="noBorder" >
                            <p:row>
                                <p:column> 
                                    <p:outputLabel value="Oficina"/>
                                </p:column>
                                <p:column > 
                                    <p:commandButton value="Selecionar..." icon="ui-icon-extlink" actionListener="#{paramGeneOficiBeanDF.abrirDFParaGeneAplicaOfi()}" process="@this" update="@none">
                                        <p:ajax event="dialogReturn" listener="#{parameOficiBean.oficinaSeleccionada}" update="paraGeneAplicaOfiNombre1" process="@this" />
                                    </p:commandButton>
                                </p:column>
                                <p:column colspan="2"> 
                                    <p:outputLabel id="paraGeneAplicaOfiNombre1" value="#{parameOficiBean.genrOficina.genofiCodigo} - #{parameOficiBean.genrOficina.genofiNombre}" style="font-style: oblique"/>
                                </p:column>
                                <p:column> 
                                    <p:outputLabel value="Aplicación"/>
                                </p:column>
                                <p:column > 
                                    <p:commandButton value="Selecionar..." icon="ui-icon-extlink" actionListener="#{paramGeneAplicaOfiBeanDF.abrirDFParaGeneAplicaOfi()}" process="@this" update="@none">
                                        <p:ajax event="dialogReturn" listener="#{parameOficiBean.aplicacionSeleccionadaOficina}" update="paraGeneAplicaOfiNombre2 paraGeneAplicaNombreValorOfi paraGeneAplicaModificarOfi" process="@this" />
                                    </p:commandButton>
                                </p:column>
                                <p:column colspan="2"> 
                                    <p:outputLabel id="paraGeneAplicaOfiNombre2" value="#{parameOficiBean.geneParaOficina.genpofEtiqueta} - #{parameOficiBean.geneParaOficina.genpofNombre}" style="font-style: oblique"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column> 
                                    <p:outputLabel value="Valor"/>
                                </p:column>
                                <p:column colspan="3"> 
                                    <p:inputText id="paraGeneAplicaNombreValorOfi" value="#{parameOficiBean.geneParaOficina.genpofNombrevalor}" style="width: 100%"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column> 
                                    <p:outputLabel value="Modificable"/>
                                </p:column>
                                <p:column> 
                                    <p:selectBooleanCheckbox id="paraGeneAplicaModificarOfi" value="#{parameOficiBean.geneParaOficina.genpofFlagmoficar}" disabled="true"/>
                                </p:column>
                            </p:row> 
                        </p:panelGrid>
                        <p:separator/>
                        <p:commandLink action="#{parameOficiBean.guardarAplicacionOficina()}" update="formParaGeneCompaId" style="padding-left: 2%;margin: 0 auto" validateClient="true">
                        <h:graphicImage value="/resources/images/guardar.png"/>
                        </p:commandLink>
                    </p:tab>
                </p:tabView>            
            </h:form>
        </p:panel> <!-- main panel -->
    </ui:define>
</ui:composition>

