<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/mainTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="page_title">
        Restricciones a Grupo de Usuarios
    </ui:define>
    <ui:define name="content">
        <p:panel id="mainContentPanel" >
            <h:form id="formPerfilResticcion">
                <h1>Restricciones a Grupo de Usuarios </h1>
                <p:dataTable id="dtGrpusr" value="#{perfilRestriccionBean.grupousuarioLazy}" reflow="true"
                             filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" 
                             emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                             var="gu">
                    <f:facet name="header">
                        Grupos de Usuarios
                    </f:facet>
                    <p:column headerText="Codigo"  filterStyle="width: 95%" filterBy="#{gu.seggppCodigo}" width="10%">
                        <p:outputLabel value="#{gu.seggppCodigo}"/>
                    </p:column>
                    <p:column headerText="Secuencia"  filterStyle="width: 95%" filterBy="#{gu.seggppSecuencia}" width="10%">
                        <p:outputLabel value="#{gu.seggppSecuencia}"/>
                    </p:column>
                    <p:column headerText="Descripcion"  filterStyle="width: 95%" filterBy="#{gu.seggppDescripcio}" width="10%">
                        <p:outputLabel value="#{gu.seggppDescripcio}"/>
                    </p:column>
                    <p:column headerText="Activo"  sortBy="#{gu.seggppEstado}"  filterStyle="width: 95%" filterBy="#{gu.seggppEstado}" width="10%">
                        <!--<p:outputLabel value="#{gu.seggppEstado}"/> -->
                        <p:selectBooleanCheckbox value="#{gu.seggppEstado}" disabled="true"/>
                    </p:column>
                    <p:column headerText="Perfil" width="10%" style="text-align: center; ">
                        <p:commandButton icon="ui-icon-pencil" iconPos="center"  actionListener="#{perfilRestriccionBean.openDlgPerfilRestriccion(gu)}" />
                    </p:column>
                </p:dataTable>
            </h:form>
        </p:panel> <!-- main panel -->
        <p:dialog widgetVar="dlgPerfiles" modal="true"  width="50%" closeOnEscape="true" dynamic="true" responsive="true"
                  closable="true" header="Perfiles" resizable="true"  maximizable="true" height="600">
            <h:form id="frmdlgPerfiles">
                <h2>  </h2>
                <p:tabView id="tabViewDG" style="width: 90%; margin: 0 auto" activeIndex="#{perfilRestriccionBean.tabIndexDG}">
                    <p:tab title="Perfiles" >
                        <p:outputLabel value="Grupo de usuario: "/>
                        <p:inputText value="#{perfilRestriccionBean.grupoUsuario.seggppSecuencia}" readonly="true"/>
                        <p:spacer width="10"/> 
                        <p:inputText value="#{perfilRestriccionBean.grupoUsuario.seggppDescripcio}" readonly="true"/>
                        <p:panelGrid styleClass="noBorder" style="width: 100%">
                            <f:facet name="header">
                                <p:row>
                                    <p:column>Detalle de Opciones</p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column  > 
                                    <p:tree value="#{perfilRestriccionBean.rootPerfil}" var="p" style="width: 80%;margin: 0 auto" >
                                        <p:treeNode >
                                            <p:selectBooleanCheckbox value="#{p.seleccionado}" rendered="#{p.opcionId eq 0 ? false:true}">
                                                <p:ajax  listener="#{perfilRestriccionBean.perfilSeleccionado(p)}" process="@this" />
                                            </p:selectBooleanCheckbox>
                                            <h:outputText value="#{p.nombre}"/>
                                        </p:treeNode>
                                    </p:tree>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="3">
                                    <h3> Perfil Asignado </h3>
                                    <p:dataTable id="dtPerfilAsignados" value="#{perfilRestriccionBean.segmPerfilrestricionList}" scrollable="true"
                                                 var="p"  reflow="true"
                                                 emptyMessage="No se encontraron registros" style="width: 100%">
                                       <p:column headerText="Opcion">
                                           <p:outputLabel value="#{p.segopcCodigo.segopcDescripcio}"/>
                                       </p:column>
                                        <p:column headerText="Accion">
                                            <p:outputLabel value="#{p.segaccCodigo.segaccDescripcio}"/>
                                       </p:column>
                                       <p:column headerText="Eliminar"  style="text-align: center; ">
                                            <p:commandButton icon="ui-icon-trash" iconPos="center"  actionListener="#{perfilRestriccionBean.delete(p)}" />
                                        </p:column>
                                    </p:dataTable>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                    <p:tab title="Cargar Perfiles">
                        <p:panelGrid styleClass="noBorder">
                            <p:row>
                                <p:column> 
                                    <p:outputLabel value="Grupo de usuario:  "/>
                                    <p:outputLabel id="idGrupoSelecc" value="#{perfilRestriccionBean.grupoUsuarioSelecc.seggppSecuencia} - #{perfilRestriccionBean.grupoUsuarioSelecc.seggppDescripcio}" style="font-style: oblique"/>
                                    <p:spacer width="5"/> 
                                    <p:commandButton id="idBtnGrupoSelecc" value="#{perfilRestriccionBean.grupoUsuarioSelecc eq null ? 'Seleccionar...':'Cambiar...' }" icon="ui-icon-extlink" actionListener="#{segrGrupousuarioBeanDF.abrirDF()}" process="@this" update="@none">
                                        <p:ajax event="dialogReturn" listener="#{perfilRestriccionBean.grupoUsuarioSeleccionada}" update="idGrupoSelecc,idBtnGrupoSelecc" process="@this" />
                                    </p:commandButton>
                                </p:column>
                                
                            </p:row>
                            <p:row>
                                <p:column colspan="3">
                                    <h3> Perfil Asignado </h3>
                                    <p:dataTable id="dtPerfilAsignadosCP" value="#{perfilRestriccionBean.segmPerfilrestricionBaseList}" scrollable="true"
                                                 var="p"  reflow="true"
                                                 emptyMessage="No se encontraron registros" style="width: 100%">
                                       <p:column headerText="Opcion">
                                           <p:outputLabel value="#{p.segopcCodigo.segopcDescripcio}"/>
                                       </p:column>
                                        <p:column headerText="Accion">
                                            <p:outputLabel value="#{p.segaccCodigo.segaccDescripcio}"/>
                                       </p:column>
                                       
                                    </p:dataTable>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="3">
                                    <p:commandLink action="#{perfilRestriccionBean.copiarPerfiles()}" update="frmdlgPerfiles" style="padding-left: 2%;margin: 0 auto" validateClient="true">
                                        <h:graphicImage value="/resources/images/guardar.png"/>
                                    </p:commandLink>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
                <p:separator/> 
            </h:form>
            
        </p:dialog>
        
    </ui:define>
</ui:composition>

