<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Apertura de Turno
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:tabView styleClass="backgroundLogo">
                        <p:tab title="APERTURA DE TURNO">
                            <p:outputLabel value="PARA REALIZAR TRANSACCIONES EN EL SISTEMA ES NECESARIO APERTURAR TURNO" styleClass="labelMensaje" rendered="#{userSession.turno eq null}"/>
                            <br/>
                            <p:panelGrid id="turnero">
                                <p:row>
                                    <p:column>
                                        <p:graphicImage value="#{userSession.turno eq null?'/resources/images/circleRed.png':'/resources/images/circleGreen.png'}" height="15"/>
                                        <p:outputLabel value="TURNOº " styleClass="labelBolder" />
                                    </p:column>
                                    <p:column><p:outputLabel value="#{userSession.turno.segturNumero}" styleClass="labelBolder" /></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="USUARIO" styleClass="labelBolder" /></p:column>
                                    <p:column><p:outputLabel value="#{userSession.turno.segusuCodigo.segusuAbreviado}" styleClass="labelBolder" /></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="IP" styleClass="labelBolder" /></p:column>
                                    <p:column><p:outputLabel value="#{userSession.turno.segturMaquina}" styleClass="labelBolder" /></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="FECHA" styleClass="labelBolder" /></p:column>
                                    <p:column>
                                        <p:outputLabel value="#{userSession.turno.segturApertura}" styleClass="labelBolder" >
                                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                                        </p:outputLabel>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="PRELIMINAR" styleClass="labelBolder" /></p:column>
                                    <p:column>
                                        <p:commandButton value="PDF" actionListener="#{registroTurno.transaccionesPreliminar(1)}"/>
                                        <p:commandButton value="PRINT" actionListener="#{registroTurno.transaccionesPreliminar(2)}"/>
                                        <p:commandButton value="PANTALLA" actionListener="#{registroTurno.transaccionesPreliminar(3)}"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:commandButton icon="fa fa-leanpub" value="ABRIR PUNTO DE VENTA" actionListener="#{registroTurno.generarTurno()}" update="mainForm"/></p:column>
                                    <p:column>
                                        <!--<p:commandButton icon="fa fa-remove" value="CERRAR PUNTO DE VENTA" actionListener="# {registroTurno.cerrarTurno(1)}" update="mainForm"/>-->
                                        <p:commandButton icon="fa fa-remove" value="CERRAR PUNTO DE VENTA" actionListener="#{registroTurno.cerrarTurno(2)}" update="mainForm"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:tab>
                        <p:tab title="DATOS SESSION">
                            <p:panelGrid style="width: 250px;">
                                <p:row>
                                    <p:column><p:outputLabel value="Compania" styleClass="labelBolder" /></p:column>
                                    <p:column><p:outputLabel value="#{registroTurno.sessionCaja.factSesioncajaPK.GENCIAcodigo}" styleClass="labelBolder" /></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="Oficina" styleClass="labelBolder" /></p:column>
                                    <p:column><p:outputLabel value="#{registroTurno.sessionCaja.factSesioncajaPK.GENOFIcodigo}" styleClass="labelBolder" /></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="Caja" styleClass="labelBolder" /></p:column>
                                    <p:column><p:outputLabel value="#{registroTurno.sessionCaja.factSesioncajaPK.GENCAJcodigo}" styleClass="labelBolder" /></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="Usuario" styleClass="labelBolder" /></p:column>
                                    <p:column><p:outputLabel value="#{registroTurno.sessionCaja.segusuCodigo}" styleClass="labelBolder" /></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="Apertura" styleClass="labelBolder" /></p:column>
                                    <p:column><p:outputLabel value="#{registroTurno.sessionCaja.factSesioncajaPK.FACSCAfecapertur}" styleClass="labelBolder"><f:convertDateTime pattern="dd/MM/yyyy HH:mm"/></p:outputLabel></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="Moneda" styleClass="labelBolder" /></p:column>
                                    <p:column><p:outputLabel value="#{registroTurno.sessionCaja.genmonCodigo}" styleClass="labelBolder" /></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="Acción" styleClass="labelBolder" /></p:column>
                                    <p:column><p:commandButton icon="fa fa-leanpub" value="BITACORA" actionListener="#{registroTurno.generarBitacora()}" /></p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:tab>
                        <p:tab title="VENTA DE TURNO">
                            
                        </p:tab>
                    </p:tabView>
                    <p:fieldset legend="CANCELACION DE TRANSACCION" rendered="false">
                        <p:commandButton icon="fa fa-remove" value="CANCELAR TRANSACCION" actionListener="#{registroTurno.cancelarTransaccion()}"/>
                    </p:fieldset>
                </h:form>
                
                <p:dialog widgetVar="dlgTransacciones" modal="true"  width="95%" responsive="true" closable="true" header="Transacciones" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgTransacciones">
                        <component:cResumenTransacciones turno="#{registroTurno.turno}" importe="#{registroTurno.importe}" estadistica="#{registroTurno.estadistica}" formaPago="#{registroTurno.formaPago}"/>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>