<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Cierre Caja
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:panelGrid styleClass="ui-panelgrid-blank">
                        <p:row>
                            <p:column><p:outputLabel value="Saldo Final Caja" styleClass="labelBolder"/></p:column>
                            <p:column><p:inputText value=""/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel value="Saldo Final Sistema" styleClass="labelBolder"/></p:column>
                            <p:column><p:inputText value=""/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel value="Diferencia Caja" styleClass="labelBolder"/></p:column>
                            <p:column><p:inputText value=""/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel value="Adicional Caja" styleClass="labelBolder"/></p:column>
                            <p:column><p:inputText value=""/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:commandButton icon="fa fa-save" value="Cerrar Caja"/></p:column>
                            <p:column><p:commandButton icon="fa fa-sign-out" value="Salir"/></p:column>
                        </p:row>
                    </p:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>