<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Gestión de Turnos
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:tabView id="tabForm">
                        <p:tab title="1. TURNOS ACTUALES">
                            <p:dataTable id="dtTurnos" value="#{gestionTurnos.turnosDia}" var="t" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                        reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{t.segturCodigo}"
                                        selectionMode="single" selection="#{gestionTurnos.turno}">
                                <p:ajax event="rowDblselect" oncomplete="PF('dlgTurno').show();" update="frmdlgTurno" listener="#{gestionTurnos.seleccionTurno()}"/>
                                <p:column headerText="Turno" filterStyle="width: 95%" filterBy="#{t.segturNumero}" width="120">
                                    <p:graphicImage value="#{t.segturEstado?'/resources/images/circleGreen.png':'/resources/images/circleRed.png'}" height="15"/>
                                    <p:outputLabel value="#{t.segturNumero}"/>
                                </p:column>
                                <p:column headerText="Caja">
                                    <p:outputLabel value="#{t.segusuCodigo.codigoCaja}"/>
                                </p:column>
                                <p:column headerText="Usuario">
                                    <p:outputLabel value="#{t.segusuCodigo.segusuAbreviado}"/>
                                </p:column>
                                <p:column headerText="IP Apertura">
                                    <p:outputLabel value="#{t.segturMaquina}"/>
                                </p:column>
                                <p:column headerText="Apertura">
                                    <p:outputLabel value="#{t.segturApertura}"><f:convertDateTime pattern="dd/MM/yyyy HH:mm"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Monto Asignado" style="text-align: right;">
                                    <p:outputLabel value="#{t.segturAsiginicial.add(t.segturAdicional)}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Egreso" style="text-align: right;">
                                    <p:outputLabel value="#{t.segturEgreso}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Cierre" style="text-align: right;">
                                    <p:outputLabel value="#{t.segturValorcierre}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Cierre">
                                    <p:outputLabel value="#{t.segturCierre}"><f:convertDateTime pattern="dd/MM/yyyy HH:mm"/></p:outputLabel>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab id="tabHistorial" title="2. TURNOS HISTORIAL">
                            <p:dataTable id="dtTurnosHistorial" value="#{gestionTurnos.turnosHistorial}" var="th" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                        reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{th.segturCodigo}"
                                        selectionMode="single" selection="#{gestionTurnos.turno}">
                                <p:ajax event="rowDblselect" oncomplete="PF('dlgTurno').show();" update="frmdlgTurno" listener="#{gestionTurnos.seleccionTurno()}"/>
                                <p:column headerText="Turno" filterStyle="width: 95%" filterBy="#{th.segturNumero}" width="120">
                                    <p:graphicImage value="#{th.segturEstado?'/resources/images/circleGreen.png':'/resources/images/circleRed.png'}" height="15"/>
                                    <p:outputLabel value="#{th.segturNumero}"/>
                                </p:column>
                                <p:column headerText="Caja">
                                    <p:outputLabel value="#{th.segusuCodigo.codigoCaja}"/>
                                </p:column>
                                <p:column headerText="Usuario">
                                    <p:outputLabel value="#{th.segusuCodigo.segusuAbreviado}"/>
                                </p:column>
                                <p:column headerText="IP Apertura">
                                    <p:outputLabel value="#{th.segturMaquina}"/>
                                </p:column>
                                <p:column headerText="Apertura">
                                    <p:outputLabel value="#{th.segturApertura}"><f:convertDateTime pattern="dd/MM/yyyy HH:mm"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Monto Asignado" style="text-align: right;">
                                    <p:outputLabel value="#{th.segturAsiginicial.add(th.segturAdicional)}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Egreso" style="text-align: right;">
                                    <p:outputLabel value="#{th.segturEgreso}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Cierre" style="text-align: right;">
                                    <p:outputLabel value="#{th.segturValorcierre}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Cierre">
                                    <p:outputLabel value="#{th.segturCierre}"><f:convertDateTime pattern="dd/MM/yyyy HH:mm"/></p:outputLabel>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="3. REPORTES">
                            
                        </p:tab>
                    </p:tabView>
                </h:form>
                
                <p:dialog widgetVar="dlgTurno" modal="true"  width="80%" responsive="true" closable="true" header="DETALLE GESTION TURNO" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgTurno">
                        <component:cTurno turno="#{gestionTurnos.turno}"                asignaciones="#{gestionTurnos.asignaciones}"
                                          registroDenominacion="#{gestionTurnos.rd}"    listenerInactivarRegistro="#{gestionTurnos.inactivarRegistro()}"
                                          updateAsignaciones="frmdlgTurno,mainForm:tabForm:dtTurnosHistorial" egresos="#{gestionTurnos.egresos}"
                                          cierre="#{gestionTurnos.cierre}"              cierreTurno="#{gestionTurnos.cierreTurno()}"
                                          preliminar="#{gestionTurnos.transaccionesPreliminar()}"
                                          definitivo="#{gestionTurnos.transaccionesDefinitivo()}"
                                          ventasLazy="#{gestionTurnos.ventasLazy}"/>                  
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>