<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Producto
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="datos">
                <component:cAtajos buscar="true"    limpiar="true"/>
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:tabView id="listadoProducto" styleClass="backgroundLogo">
                        <p:tab title="CONSULTA PRODUCTO">
                            <span class="fa fa-shopping-cart" style="margin-right: 5px;"/>
                            <p:outputLabel value="Producto" styleClass="labelBolder"/><br/>
                            <p:inputText id="codBarraCabeceraProducto" value="#{producto.itemConsulta.INVITMcodigbarra}" size="30" placeholder="COD. BARRA"/>
                            <p:spacer width="10"/>
                            <p:inputText id="codigoCabeceraProducto" value="#{producto.itemConsulta.codigoItem}" placeholder="CODIGO"/>
                            <p:spacer width="10"/>
                            <p:inputText id="descripcionCabeceraProducto" value="#{producto.itemConsulta.INVITMnombre}" size="50" placeholder="DESCRIPCION" style="text-transform: uppercase;"/>
                            <p:spacer width="10"/>
                            <p:commandButton icon="fa fa-search" actionListener="#{producto.buscarItem()}" title="BUSCAR(Ctrl+B)" update="productoConsultado"/>
                            <p:spacer width="10"/>
                            <p:commandButton icon="fa fa-trash" actionListener="#{producto.limpiarItem()}" title="LIMPIAR(Ctrl+Q)" process="@this" update="mainForm"/>
                            <p:remoteCommand name="buscarItem" actionListener="#{producto.buscarItem()}" update="productoConsultado"/>
                            <p:remoteCommand name="limpiarItem" actionListener="#{producto.limpiarItem()}" update="mainForm" process="@this"/>
                            <br/>
                            <p:spacer height="50" width="0"/>
                            <p:panelGrid id="productoConsultado" style="width: 90%;">
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Producto" styleClass="labelBolder"/>
                                    </p:column>
                                    <p:column><p:outputLabel value="COD. BARRA" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText value="#{producto.itemConsultado.INVITMcodigbarra}" styleClass="labelBolder" readonly="true" size="50" placeholder="COD. BARRA"/></p:column>                                    
                                </p:row>
                                <p:row>
                                    <p:column rowspan="6">
                                        <p:graphicImage value="/resources/imageItem/#{producto.itemConsultado.INVITMidcodigo}.png" height="250"/>
                                        <br/>
                                        <p:commandButton value="ACT. IMAGEN" icon="fa fa-image" actionListener="#{producto.abrirDialogoAvtaulizacion(2)}"/>
                                    </p:column>
                                    <p:column><p:outputLabel value="CODIGO" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText value="#{producto.itemConsultado.invmItemPK.INVITMcodigo}" styleClass="labelBolder" readonly="true" size="50" placeholder="CODIDO"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="PRODUCTO" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText value="#{producto.itemConsultado.INVITMnombre}" styleClass="labelBolder" readonly="true" size="70" placeholder="PRODUCTO"/></p:column>
                                </p:row>                                
                                <p:row>
                                    <p:column><p:outputLabel value="STOCK" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:dataList value="#{producto.stockItem}" var="is" style="height: 200px; overflow: auto;">
                                            <p:outputLabel value="#{is.INVIBOstock}" style="font-size: 18px;" styleClass="labelBolder">
                                                <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                            </p:outputLabel>
                                            <p:spacer width="15" height="0"/>
                                            <p:outputLabel value="Reserva: "/>
                                            <p:outputLabel value="#{is.INVIBOstkreserva}" style="font-size: 18px;" styleClass="labelBolder">
                                                <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                            </p:outputLabel>
                                            <p:outputLabel styleClass="#{userSession.caja.GENBODcodigo eq is.invmItemxbodegaPK.GENBODcodigo?'labelMensaje':''}" value="[#{is.invmItemxbodegaPK.GENBODcodigo}-#{is.bodega}]"/>
                                        </p:dataList>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="PRECIO" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:dataList value="#{producto.preciosItem}" var="ip">        
                                            <p:outputLabel rendered="#{userSession.caja.cablistaprecio.INVLPRcodigo eq ip.INVRdetLISTAPRECIOPK.INVLPRcodigo}" value="[#{ip.INVRdetLISTAPRECIOPK.INVLPRcodigo}-#{ip.precioLista}]"/>
                                            
                                            <p:outputLabel rendered="#{userSession.caja.cablistaprecio.INVLPRcodigo eq ip.INVRdetLISTAPRECIOPK.INVLPRcodigo}" value="#{ip.INVITMprelista}" style="font-size: 18px;" styleClass="labelBolder">
                                                <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                            </p:outputLabel>
                                            <p:spacer rendered="#{userSession.caja.cablistaprecio.INVLPRcodigo eq ip.INVRdetLISTAPRECIOPK.INVLPRcodigo}" width="10"/>
                                            <p:outputLabel rendered="#{userSession.caja.cablistaprecio.INVLPRcodigo eq ip.INVRdetLISTAPRECIOPK.INVLPRcodigo and ip.INVRdetLISTAPRECIOPK.INVLPRcodigo ne '999'}" value="IVA:" styleClass="labelBolder"/>
                                            <p:outputLabel rendered="#{userSession.caja.cablistaprecio.INVLPRcodigo eq ip.INVRdetLISTAPRECIOPK.INVLPRcodigo and ip.INVRdetLISTAPRECIOPK.INVLPRcodigo ne '999'}" value="#{ip.impuesto}" style="font-size: 18px;" styleClass="labelBolder">
                                                <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                            </p:outputLabel>
                                            <p:spacer rendered="#{userSession.caja.cablistaprecio.INVLPRcodigo eq ip.INVRdetLISTAPRECIOPK.INVLPRcodigo}" width="10"/>
                                            <p:outputLabel rendered="#{userSession.caja.cablistaprecio.INVLPRcodigo eq ip.INVRdetLISTAPRECIOPK.INVLPRcodigo and ip.INVRdetLISTAPRECIOPK.INVLPRcodigo ne '999'}" value="TOTAL:" styleClass="labelBolder"/>
                                            <p:spacer rendered="#{userSession.caja.cablistaprecio.INVLPRcodigo eq ip.INVRdetLISTAPRECIOPK.INVLPRcodigo}" width="5"/>
                                            <p:outputLabel rendered="#{userSession.caja.cablistaprecio.INVLPRcodigo eq ip.INVRdetLISTAPRECIOPK.INVLPRcodigo and ip.INVRdetLISTAPRECIOPK.INVLPRcodigo ne '999'}" value="#{ip.valor}" style="font-size: 18px; text-decoration: underline;" styleClass="labelBolder">
                                                <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                            </p:outputLabel>
                                        </p:dataList>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="POLITICAS" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:dataList value="#{producto.politicas}" var="p" style="font-size: 18px;">                                            
                                            <p:outputLabel value="CANT: [#{p.genpolCantidad}] - %DESC:"/>                                       
                                            <p:outputLabel  value="#{p.genpolPorcentaje}">
                                                <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                            </p:outputLabel>
                                            <p:outputLabel value=" - PRECIO:"/>                                       
                                            <p:outputLabel  value="#{p.valorFinal}" styleClass="labelBolder">
                                                <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                            </p:outputLabel>
                                        </p:dataList>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="ACT. COD. BARRA" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:commandButton value="ACT. COD. BARRA" icon="fa fa-barcode" actionListener="#{producto.abrirDialogoAvtaulizacion(1)}"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:tab>
                        <p:tab title="LISTADO DE PRECIO DE PRODUCTOS">
                            <p:dataTable id="dtProductosPrecio" value="#{producto.itemsPrecioLazy}" var="pp" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                         reflow="true" filterEvent="enter" rows="15" rowsPerPageTemplate="15,25,50" paginatorPosition="top" rowKey="#{pp.INVRdetLISTAPRECIOPK}" 
                                         styleClass="labelBolder" selection="#{producto.itemPrecio}" selectionMode="single">
                                <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{pp.INVITMcodigo}" width="120">
                                    <p:outputLabel value="#{pp.INVRdetLISTAPRECIOPK.INVITMcodigo}"/>
                                </p:column>
                                <p:column headerText="Item" filterStyle="width: 95%" filterBy="#{pp.nombreItem}">
                                    <p:outputLabel value="#{pp.nombreItem}" />
                                </p:column>
                                <p:column headerText="Precio" style="text-align: right;" width="120">
                                    <p:outputLabel value="#{pp.INVITMprelista}"/>
                                </p:column>
                                <p:column headerText="% Impuesto" style="text-align: right;" width="120">
                                    <p:outputLabel value="#{pp.porcImpuesto}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Impuesto" style="text-align: right;" width="120">
                                    <p:outputLabel value="#{pp.impuesto}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Total" style="text-align: right;" width="120">
                                    <p:outputLabel value="#{pp.valor}" style="font-size: 18px; text-decoration: underline;"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="LISTADO PRODUCTOS">
                            <p:panelGrid columns="2">
                                <p:dataTable id="dtProductos" value="#{producto.productosLazy}" var="p" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                             reflow="true" filterEvent="enter" rows="15" rowsPerPageTemplate="15,25,50" paginatorPosition="top" rowKey="#{p.invmItemPK}"
                                             selection="#{producto.item}" selectionMode="single">
                                    <p:ajax event="rowSelect" listener="#{producto.cargarDatosItem()}" update="mainForm:listadoProducto:datosItem"/>
                                    <p:column headerText="Codigo Barra" filterStyle="width: 95%" filterBy="#{p.INVITMcodigbarra}" width="120">
                                        <p:outputLabel value="#{p.INVITMcodigbarra}"/>
                                    </p:column>
                                    <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{p.INVITMcodigo}" width="120">
                                        <p:outputLabel value="#{p.invmItemPK.INVITMcodigo}"/>
                                    </p:column>
                                    <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{p.INVITMnombre}">
                                        <p:outputLabel value="#{p.INVITMnombre}"/>
                                    </p:column>
                                    <p:column headerText="Grupo" width="80">
                                        <p:outputLabel value="#{p.INVUNIunidadgrup}"/>
                                    </p:column>
                                    <p:column headerText="Stock" width="100">
                                        <p:outputLabel value="#{p.INVITMstock}"/>
                                    </p:column>
                                </p:dataTable>

                                <p:panelGrid id="datosItem" styleClass="ui-panelgrid-blank" style="width: 500px;">
                                    <p:row>
                                        <p:column><span class="fa fa-barcode" style="margin-right: 5px;"/><p:outputLabel value="Cod. Barra" styleClass="labelBolder"/></p:column>
                                        <p:column><p:inputText value="#{producto.item.INVITMcodigbarra}" styleClass="labelBolder" readonly="true" size="30" placeholder="COD. BARRA"/></p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column><span class="fa fa-file-text" style="margin-right: 5px;"/><p:outputLabel value="Codigo" styleClass="labelBolder"/></p:column>
                                        <p:column><p:inputText value="#{producto.item.invmItemPK.INVITMcodigo}" readonly="true"  styleClass="labelBolder" size="30" placeholder="CODIDO"/></p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column colspan="2"><span class="fa fa-shopping-cart" style="margin-right: 5px;"/><p:outputLabel value="Producto" styleClass="labelBolder"/></p:column>                                        
                                    </p:row>
                                    <p:row>
                                        <p:column colspan="2"><p:inputText value="#{producto.item.INVITMnombre}" styleClass="labelBolder" readonly="true" size="40" placeholder="PRODUCTO"/></p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column colspan="2"><span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="Bodega" styleClass="labelBolder"/></p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column colspan="2">
                                            <p:dataList value="#{producto.itemBodegas}" var="ib" style="height: 200px; overflow: auto;">        
                                                <p:outputLabel value="#{ib.INVIBOstock}" style="font-size: 18px;" styleClass="labelBolder">
                                                    <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                                </p:outputLabel>
                                                <p:spacer width="10"/>
                                                <p:outputLabel value="Reserva: "/>
                                                <p:outputLabel value="#{ib.INVIBOstkreserva}" style="font-size: 18px;" styleClass="labelBolder">
                                                    <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                                </p:outputLabel>
                                                <p:outputLabel value="[#{ib.invmItemxbodegaPK.GENBODcodigo}-#{ib.bodega}]" styleClass="#{userSession.caja.GENBODcodigo eq ib.invmItemxbodegaPK.GENBODcodigo?'labelMensaje':''}"/>
                                            </p:dataList>
                                        </p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column colspan="2"><span class="fa fa-list-alt" style="margin-right: 5px;"/><p:outputLabel value="Precio" styleClass="labelBolder"/></p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column colspan="2">
                                            <p:dataList value="#{producto.itemPrecios}" var="ip">        
                                                [#{ip.INVRdetLISTAPRECIOPK.INVLPRcodigo}-#{ip.precioLista}] 
                                                <p:outputLabel value="#{ip.INVITMprelista}" style="font-size: 18px;" styleClass="labelBolder">
                                                    <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                                </p:outputLabel>
                                            </p:dataList>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>

                            </p:panelGrid>
                        </p:tab>
                        <p:tab title="CONSULTA PRODUCTO POR PUNTO DE VENTA">
                            <p:dataTable id="dtProductosBodega" value="#{producto.itemsBodegaLazy}" var="pb" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                         reflow="true" filterEvent="enter" rows="15" rowsPerPageTemplate="15,25,50" paginatorPosition="top" rowKey="#{pb.invmItemxbodegaPK}">
                                <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{pb.INVITMcodigo}" width="120">
                                    <p:outputLabel value="#{pb.invmItemxbodegaPK.INVITMcodigo}"/>
                                </p:column>
                                <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{pb.nombreItem}">
                                    <p:outputLabel value="#{pb.nombreItem}"/>
                                </p:column>
                                <p:column headerText="Stock" width="120">
                                    <p:outputLabel value="#{pb.INVIBOstock}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                </h:form>
                
                <p:dialog widgetVar="dlgActCodigoBarra" modal="true"  width="70%" responsive="true" closable="true" header="Actualizar Codigo de Barra" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgCodBarra">
                        <p:panelGrid style="margin: 0 auto; width: 100%;">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="2">
                                        <p:outputLabel value="Actualizacion de codigo de Barra"/>
                                    </p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column><p:outputLabel value="PRODUCTO"/></p:column>
                                <p:column><p:inputText value="#{producto.itemConsultado.invmItemPK.INVITMcodigo}-#{producto.itemConsultado.INVITMnombre}" size="40" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="COD. ACTUAL"/></p:column>
                                <p:column><p:outputLabel value="COD. NUEVO"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:inputText value="#{producto.itemConsultado.INVITMcodigbarra}" readonly="true" size="40"/></p:column>
                                <p:column><p:inputText id="codBarraNuevo" value="#{producto.itemConsultado.codigoBarra}"  size="40"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    <p:commandButton value="ACTUALIZAR"  actionListener="#{producto.actualizarItem()}" update="mainForm:listadoProducto"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                </p:dialog>
                
                <p:dialog widgetVar="dlgActImage" modal="true"  width="70%" responsive="true" closable="true" header="Actualizar Imagen" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgImage">
                        <br/>
                        <p:fileUpload fileUploadListener="#{producto.handleFileUpload}" mode="advanced" dragDropSupport="false"
                            sizeLimit="1000000" fileLimit="1" allowTypes="/(\.|\/)(png|jpeg|jpg)$/" />
                        <br/>
                        <p:commandButton value="Aceptar" oncomplete="PF('dlgActImage').hide();" update="mainForm"/>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>