<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Registro Caja
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
                <h:outputScript name="dataTableRegistroCaja.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:remoteCommand name="calcular" actionListener="#{registroCaja.calcular()}"/>
                    <p:panelGrid style="width: 100%;">
                        <p:row>
                            <p:column><span class="fa fa-calendar" style="margin-right: 5px;"/><p:outputLabel value="FECHA:" styleClass="labelBolder"/><p:spacer width="10"/>
                                <p:outputLabel value="#{registroCaja.fechaRegistro}" styleClass="labelBolder"><f:convertDateTime pattern="dd/MM/yyyy HH:mm"/></p:outputLabel></p:column>
                        
                            <p:column><span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="COMPANIA:" styleClass="labelBolder"/><p:spacer width="10"/>
                                <p:outputLabel value="#{userSession.caja.GENCIAcodigo}" styleClass="labelBolder"/></p:column>
                        
                            <p:column><span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="OFICINA:" styleClass="labelBolder"/><p:spacer width="10"/>
                                <p:outputLabel value="#{userSession.caja.GENOFIcodigo}" styleClass="labelBolder"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><span class="fa fa-ticket" style="margin-right: 5px;"/><p:outputLabel value="TURNO:" styleClass="labelBolder"/><p:spacer width="10"/>
                                <p:outputLabel value="#{userSession.turno.segturNumero}" styleClass="labelBolder"/></p:column>
                        
                            <p:column><span class="fa fa-user" style="margin-right: 5px;"/><p:outputLabel value="USUARIO:" styleClass="labelBolder"/><p:spacer width="10"/>
                                <p:outputLabel value="#{userSession.cbpsegmUsuario.segusuLogin}-#{userSession.cbpsegmUsuario.segusuAbreviado}" styleClass="labelBolder"/></p:column>
                        
                                <p:column><span class="fa fa-briefcase" style="margin-right: 5px;"/><p:outputLabel value="CAJA:" styleClass="labelBolder"/><p:spacer width="10"/>
                                <p:outputLabel value="#{userSession.cbpsegmUsuario.codigoCaja}" styleClass="labelBolder"/></p:column>
                        </p:row>
                    </p:panelGrid>
                    <p:panelGrid columns="2">
                        <p:dataTable id="dtDetalleRegistro" value="#{registroCaja.denominaciones}" var="d" emptyMessage="No se encontraron registros" lazy="true" 
                                     reflow="true" rowKey="#{d.gendenCodigo}" editable="true" editMode="cell">                        
                            <f:facet name="header">
                                <span class="fa fa-database" style="margin-right: 5px;"/><span class="fa fa-money" style="margin-right: 5px;"/>
                                <p:outputLabel value="DISTRIBUCION UNIDADES MONETARIAS" styleClass="labelBolder"/>
                            </f:facet>
                            <p:column headerText="TIPO" styleClass="labelBolder">
                                <p:outputLabel value="#{d.gendenTipodes}"/>
                            </p:column>
                            <p:column headerText="DENOMINACION" styleClass="labelBolder">
                                <p:outputLabel value="#{d.gendenDetalle}"/>
                            </p:column>
                            <p:column headerText="CANTIDAD" width="120" styleClass="labelBolder" style="text-align: center;">
                                <p:cellEditor>
                                    <f:facet name="output"><p:outputLabel value="#{d.cantidad}"/></f:facet>
                                    <f:facet name="input">
                                        <p:inputText id="cantidadUnidades" value="#{d.cantidad}" style="width:96%" onblur="calcular();"/>                                    
                                    </f:facet>
                                </p:cellEditor> 
                            </p:column>
                            <p:column  headerText="TOTAL" width="120" styleClass="labelBolder" style="text-align: right;">
                                <p:outputLabel id="valor" value="#{d.total}"/>
                            </p:column>
                        </p:dataTable>

                        <p:panelGrid id="datosResumen" styleClass="ui-panelgrid-blank" style="width: 500px;">
                            <p:row>
                                <p:column><span class="fa fa-money" style="margin-right: 5px;"/><p:outputLabel value="ASIGNACION" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{registroCaja.turno.segturAsiginicial}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-money" style="margin-right: 5px;"/><p:outputLabel value="ADICIONAL" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{registroCaja.turno.segturAdicional}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-money" style="margin-right: 5px;"/><p:outputLabel value="EGRESO" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{registroCaja.turno.segturEgreso}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-money" style="margin-right: 5px;"/><p:outputLabel value="CIERRE" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{registroCaja.turno.segturValorcierre}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>                            
                            <p:row>
                                <p:column><span class="fa fa-database" style="margin-right: 5px;"/><p:outputLabel value="MONEDAS" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{registroCaja.registro.genrdeMoneda}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-money" style="margin-right: 5px;"/><p:outputLabel value="BILLETES" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{registroCaja.registro.genrdeBillete}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="VALOR FIJO" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{registroCaja.registro.genrdeFijo}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <span class="fa fa-dollar" style="margin-right: 5px;"/><p:outputLabel value="TOTAL" styleClass="labelBolder"/>
                                </p:column>
                                <p:column><p:inputText value="#{registroCaja.registro.genrdeMonto}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <span class="fa fa-bars" style="margin-right: 5px;"/><p:outputLabel value="Tipo" styleClass="labelBolder"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{registroCaja.registro.genrdeTipo}">
                                        <f:selectItem itemLabel="INGRESO" itemValue="${1}" />
                                        <f:selectItem itemLabel="EGRESO" itemValue="${2}" />
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <span class="fa fa-edit" style="margin-right: 5px;"/><p:outputLabel value="Motivo" styleClass="labelBolder"/>
                                </p:column>
                                <p:column><p:inputTextarea value="#{registroCaja.registro.genrdeMotivo}" style="text-transform: uppercase;" rows="2" cols="25" maxlength="50"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2"><p:commandButton icon="fa fa-save" value="Grabar" actionListener="#{registroCaja.grabarRegistroCaja()}" update="datosResumen"/></p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:panelGrid>
                </h:form>                                
            </ui:define>
        </ui:composition>
    </body>
</html>