<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">
    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Registro de Venta
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
                <h:outputScript name="dataTableRegistroVenta.js" library="javascript" />
            </ui:define>
            <ui:define name="datos">
                <component:cAtajos registrar="true" buscar="true" limpiar="true" agregar="true" politicas="true" pago="true" pagoDirecto="true"/>
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:panelGrid id="formVentaCabecera" style="width: 100%;">
                        <p:remoteCommand name="politicas" actionListener="#{registroVenta.aplicarPoliticas()}" update="formVentaCabecera,formVentaDetalle"/>
                        <p:remoteCommand name="prepararPago" actionListener="#{registroVenta.prepararPago()}" oncomplete="#{registroVenta.politicasAplicadas and registroVenta.venta.cliente ne null and registroVenta.venta.cliente.cxcmClientePK ne null?'PF(\'dlgPago\').show();focusById(\'valorEfectivo\');':null}" update="frmdlgPago"/>
                        <p:remoteCommand name="realizarPagoDirecto" oncomplete="PF('dlgConfirmDialog').show();focusById('frmdlgConfirmDialog:btnPagoDirecto');"/>
                        <p:row>
                            <p:column styleClass="backgroundLogo">
                                <br/>
                                <p:spacer width="30"/>
                                <span class="fa fa-user-secret" style="margin-right: 5px;"/>
                                <p:selectBooleanCheckbox value="#{registroVenta.venta.consumidorFinal}" itemLabel="CONSUMIDOR FINAL" style="width: 200px;" styleClass="labelBolder">
                                    <p:ajax listener="#{registroVenta.consultarConsumidorFinal()}" update="mainForm"/>
                                </p:selectBooleanCheckbox>
                                <br/>
                                <p:spacer width="30"/>
                                <span class="fa fa-user" style="margin-right: 5px;"/>
                                <p:outputLabel value="Cliente" styleClass="labelBolder"/><br/>
                                <p:spacer width="30"/>
                                <p:inputText id="codigoCabeceraCliente" size="8" value="#{registroVenta.venta.cliente.codigoCliente}" placeholder="CODIGO" style="text-transform: uppercase;" readonly="#{registroVenta.venta.consumidorFinal}"/>
                                <p:spacer width="10"/>
                                <p:inputText id="identificacionCabeceraCliente" value="#{registroVenta.venta.cliente.CXCCLIrucci}" placeholder="IDENTIFICACION" maxlength="13" readonly="#{registroVenta.venta.consumidorFinal}"/>
                                <p:spacer width="10"/>
                                <p:inputText id="nombresCabeceraCliente" value="#{registroVenta.venta.cliente.CXCCLIrazonsocia}" size="35" placeholder="APELLIDOS NOMBRES" style="text-transform: uppercase;" readonly="#{registroVenta.venta.consumidorFinal}"/>
                                <p:spacer width="10"/>
                                <p:commandButton icon="fa fa-search" actionListener="#{registroVenta.buscarCliente()}" update="mainForm" title="BUSCAR(Ctrl+B)" disabled="#{registroVenta.venta.consumidorFinal}"/>
                                <p:spacer width="10"/>
                                <p:commandButton icon="fa fa-trash" actionListener="#{registroVenta.limpiarCliente()}" update="formVentaCabecera" title="LIMPIAR(Ctrl+Q)" process="@this" disabled="#{registroVenta.venta.consumidorFinal}"/>
                                <p:spacer width="10"/>
                                <p:commandButton icon="fa fa-plus-square" actionListener="#{registroVenta.registroCliente()}" title="REGISTRAR(Ctrl+Y)" disabled="#{registroVenta.venta.consumidorFinal}"/>
                                <p:remoteCommand name="buscarCliente" actionListener="#{registroVenta.buscarCliente()}" update="mainForm"/>
                                <p:remoteCommand name="limpiarCliente" actionListener="#{registroVenta.limpiarCliente()}" update="formVentaCabecera" process="@this"/>
                                <p:remoteCommand name="registrarCliente" actionListener="#{registroVenta.registroCliente()}" update="formVentaCabecera"/>
                                <br/>
                                <p:spacer width="30"/>
                                <p:outputLabel value="Direccion" styleClass="labelBolder"/>
                                <p:spacer width="10"/>
                                <p:inputText value="#{registroVenta.venta.cliente.CXCCLIdireccion1}" size="81" placeholder="DIRECCION" readonly="true"/><br/>
                                <p:spacer width="30"/>
                                <p:outputLabel value="Telefono" styleClass="labelBolder"/>
                                <p:spacer width="10"/>
                                <p:inputText value="#{registroVenta.venta.cliente.CXCCLItelefono}" size="30" placeholder="TELEFONO" readonly="true"/>
                                <p:spacer width="10"/>
                                <p:outputLabel value="Correo" styleClass="labelBolder"/>
                                <p:spacer width="10"/>
                                <p:inputText value="#{registroVenta.venta.cliente.CXCCLIemail}" size="38" placeholder="CORREO" readonly="true"/>
                                <br/>
                                <p:panel rendered="#{!registroVenta.venta.consumidorFinal and registroVenta.venta.cliente.cxcmClientePK ne null}">
                                    <p:outputLabel value="Cupo Credito:" styleClass="labelBolder"/>
                                    <p:outputLabel value="#{registroVenta.venta.cliente.CXCCLIcupocredit}" styleClass="valoresStyle"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                    <p:outputLabel value="Saldo:" styleClass="labelBolder"/>
                                    <p:outputLabel value="#{registroVenta.venta.cliente.saldoCliente}" styleClass="valoresStyle"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                    <p:outputLabel value="Disponible:" styleClass="labelBolder"/>
                                    <p:outputLabel value="#{registroVenta.venta.cliente.disponibleCliente}" styleClass="valoresStyle"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:panel>
                            </p:column>
                            <p:column rowspan="2">
                                <p:panelGrid columns="2" styleClass="ui-panelgrid-blank" style="float: right;">
                                    <p:outputLabel value="[#{registroVenta.venta.talonario.GENTALsecuencia}]Factura" styleClass="labelBolder" style="font-size: 18px;"/>
                                    <p:outputLabel value="#{registroVenta.venta.talonario.GENTALcodestable}-#{registroVenta.venta.talonario.GENTALcodptoemis}-#{registroVenta.venta.numDocumento}" styleClass="labelBolder" style="font-size: 18px;"/>
                                    <p:outputLabel value="SubTotal Imponible" styleClass="labelBolder" style="font-size: 16px;"/>
                                    <p:inputText placeholder="0.00" value="#{registroVenta.valoresPago.subtotalImponible}" styleClass="valoresStyle" size="8" readonly="true"/>
                                    <p:outputLabel value="SubTotal Exenta" styleClass="labelBolder" style="font-size: 16px;"/>
                                    <p:inputText placeholder="0.00" value="#{registroVenta.valoresPago.subtotalExenta}" styleClass="valoresStyle" size="8" readonly="true"/>
                                    <p:outputLabel value="SubTotal" styleClass="labelBolder" style="font-size: 16px;"/>
                                    <p:inputText placeholder="0.00" value="#{registroVenta.valoresPago.subtotal}" styleClass="valoresStyle" size="8" readonly="true"/>
                                    <p:outputLabel value="Descuento Imponible" styleClass="labelBolder" style="font-size: 16px;"/>
                                    <p:inputText placeholder="0.00" value="#{registroVenta.valoresPago.descuentoImponible}" styleClass="valoresStyle" size="8" readonly="true"/>
                                    <p:outputLabel value="Descuento Exenta" styleClass="labelBolder" style="font-size: 16px;"/>
                                    <p:inputText placeholder="0.00" value="#{registroVenta.valoresPago.descuentoExenta}" styleClass="valoresStyle" size="8" readonly="true"/>
                                    <p:outputLabel value="Descuento-Tu Ahorro" styleClass="descuentoLabelBolder" style="font-size: 16px;"/>
                                    <p:inputText placeholder="0.00" value="#{registroVenta.valoresPago.descuento}" styleClass="valoresStyle" size="8" readonly="true"/>
                                    <p:outputLabel value="I.V.A." styleClass="labelBolder" style="font-size: 16px;"/>
                                    <p:inputText placeholder="0.00" value="#{registroVenta.valoresPago.impuesto}" styleClass="valoresStyle" size="8" readonly="true"/>
                                    <p:outputLabel value="Total" styleClass="labelBolder" style="font-size: 16px;"/>
                                    <p:inputText placeholder="0.00" value="#{registroVenta.valoresPago.total}" styleClass="valoresStyle" size="8" readonly="true"/>
                                    <p:commandButton value="Politicas" icon="fa fa-gears" actionListener="#{registroVenta.aplicarPoliticas()}" update="formVentaCabecera,formVentaDetalle"/>
                                    <p:commandButton value="Pagar" icon="fa fa-money" actionListener="#{registroVenta.prepararPago()}" title="Pagar(F8)" oncomplete="#{(registroVenta.politicasAplicadas and registroVenta.venta.cliente ne null and registroVenta.venta.cliente.cxcmClientePK ne null)?'PF(\'dlgPago\').show();focusById(\'valorEfectivo\');':null}" update="frmdlgPago"/>
                                    <p:commandButton rendered="#{userSession.render.standby}" value="STANBY " icon="fa fa-gears" actionListener="#{registroVenta.registrarTransaccionStandby()}" update="mainForm"/>
                                    <p:commandButton rendered="#{userSession.render.standby}" value="CARGA STANBY " icon="fa fa-gears" actionListener="#{registroVenta.cargarTransaccionesStandby()}" oncomplete="PF('dlgRegistro').show();" update="frmdlgRegistro"/>
                                    
                                </p:panelGrid>
                            </p:column>                            
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:spacer width="20" height="0" rendered="#{userSession.formaRv}"/>
                                <p:outputLabel value="Vendedor" styleClass="labelBolder" rendered="#{userSession.formaRv}"/>
                                <p:spacer width="30" height="0"/>
                                <p:selectOneMenu value="#{registroVenta.venta.vendedor}" rendered="#{userSession.formaRv}">
                                    <f:selectItems value="#{registroVenta.vendedores}" var="v" itemLabel="#{v.facrVendedorPK.FACVDRcodigo}-#{v.FACVDRnombre}" itemValue="#{v.facrVendedorPK.FACVDRcodigo}"/>
                                </p:selectOneMenu>
                                <br/>
                                <p:spacer width="20"/>
                                <span class="fa fa-shopping-cart" style="margin-right: 5px;"/>
                                <p:outputLabel value="Producto" styleClass="labelBolder"/><br/>
                                <p:spacer width="30"/>
                                <p:inputText id="codBarraCabeceraProducto" value="#{registroVenta.item.INVITMcodigbarra}" placeholder="COD. BARRA"/>
                                <p:spacer width="10"/>
                                <p:inputText id="codigoCabeceraProducto" size="8" value="#{registroVenta.item.codigoItem}" placeholder="CODIGO"/>
                                <p:spacer width="10"/>
                                <p:inputText id="descripcionCabeceraProducto" value="#{registroVenta.item.INVITMnombre}" size="35" placeholder="DESCRIPCION" style="text-transform: uppercase;"/>
                                <p:spacer width="10"/>
                                <p:inputText id="cantidadCabeceraProducto" size="8" value="#{registroVenta.item.cantidadFuncional}" style="text-align: right;" placeholder="CANTIDAD"/>
                                <p:spacer width="10"/>
                                <p:commandButton icon="fa fa-search" actionListener="#{registroVenta.buscarItem()}" update="formVentaCabecera" title="BUSCAR(Ctrl+B)"/>
                                <p:spacer width="10"/>
                                <p:commandButton icon="fa fa-trash" actionListener="#{registroVenta.limpiarItem()}" update="formVentaCabecera" title="LIMPIAR(Ctrl+Q)" process="@this"/>
                                <p:spacer width="10"/>
                                <p:commandButton actionListener="#{registroVenta.agregarItem()}" icon="fa fa-plus-square" update="formVentaCabecera,formVentaDetalle" title="AGREGAR(Ctrl+I)"/>
                                <p:remoteCommand name="buscarItem" actionListener="#{registroVenta.buscarItem()}" update="formVentaCabecera"/>
                                <p:remoteCommand name="limpiarItem" actionListener="#{registroVenta.limpiarItem()}" update="formVentaCabecera" process="@this"/>
                                <p:remoteCommand name="agregarItem" actionListener="#{registroVenta.agregarItem()}" update="formVentaCabecera,formVentaDetalle"/>
                                <br/>
                                <p:spacer width="30"/>
                                <p:outputLabel styleClass="descuento" value="Descuento"/>
                                <p:spacer width="10"/>
                                <p:outputLabel styleClass="promocion" value="Promocion"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <br/>
                    <p:remoteCommand name="eliminarItem" oncomplete="PF('dlgAutorizacion').show();"/>
                    <p:remoteCommand name="actualizarItem" actionListener="#{registroVenta.actualizarRegistro()}" update="mainForm:formVentaCabecera"/>
                    <p:dataTable id="formVentaDetalle" value="#{registroVenta.listItems}" var="item" emptyMessage="No se encontraron registros" lazy="true"
                                 reflow="true" rowKey="#{item.idSecuencia}" selection="#{registroVenta.itemTemp}" selectionMode="single" scrollable="true" scrollHeight="350" 
                                 rowStyleClass="#{item.facvdrTiporeg eq 'R'?'promocion':item.facdpdDescuento gt 0.00?'descuento':null}"
                                 editable="true" editMode="cell">
                        <p:column headerText="Lista" width="40"><p:outputLabel value="#{item.facdpdListaprecio}" styleClass="labelBolder"/></p:column>
                        <p:column headerText="Codigo" width="75"><p:outputLabel value="#{item.invitmCodigo}" styleClass="labelBolder"/></p:column>
                        <p:column headerText="Producto" width="350"><p:outputLabel value="#{item.nombreItem}" styleClass="labelBolder"/></p:column>
                        <p:column headerText="Cant." width="50" style="text-align: center;">
                            <p:cellEditor rendered="#{item.facvdrTiporeg eq 'R'?false:true}">
                                <f:facet name="output">
                                    <p:outputLabel value="#{item.facdpdCantfuncional}" styleClass="labelBolder"><f:convertNumber integerOnly="true"/></p:outputLabel>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText value="#{item.facdpdCantfuncional}" styleClass="labelBolder"><f:convertNumber integerOnly="true"/></p:inputText>                                 
                                </f:facet>
                            </p:cellEditor>
                            <p:outputLabel rendered="#{item.facvdrTiporeg eq 'R'?true:false}" value="#{item.facdpdCantfuncional}" styleClass="labelBolder"><f:convertNumber integerOnly="true"/></p:outputLabel>
                        </p:column>
                        <p:column headerText="Precio" style="text-align: right;"><p:outputLabel style="font-size: 16px;" styleClass="labelBolder" value="#{item.facdpdPrecio}"/></p:column>
                        <p:column headerText="SubTotal" style="text-align: right;"><p:outputLabel id="subtotal" value="#{item.facdpdSubtotal}" styleClass="labelBolder"/></p:column>
                        <p:column headerText="Descuento" style="text-align: right;" rendered="#{userSession.visualizarDv}"><p:outputLabel id="descuento" value="#{item.facdpdDescuento}" styleClass="labelBolder"/></p:column>
                        <p:column headerText="Impuesto" style="text-align: right;" rendered="#{userSession.visualizarDv}"><p:outputLabel  id="impuesto" value="#{item.facdpdImpuesto}" styleClass="labelBolder"/></p:column>
                        <p:column headerText="Total" style="text-align: right;" rendered="#{userSession.visualizarDv}"><p:outputLabel id="total" value="#{item.facdpdNeto}" styleClass="labelBolder"/></p:column>
                        <p:column headerText="Op." width="30">
                            <p:commandLink oncomplete="PF('dlgAutorizacion').show();" update="frmdlgAutorizacion" actionListener="#{registroVenta.seleccionarItemTemporal(item)}" title="BORRAR(Ctrl+Q)-#{item.invitmCodigo}">
                                <f:setPropertyActionListener target="#{registroVenta.tipoEliminacion}" value="item"/>
                                <span class="fa fa-trash" style="color: #5f666c;"/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
                </h:form>
                
                <p:dialog widgetVar="dlgConfirmDialog" modal="true" closeOnEscape="true" header="Confirmacion">
                    <h:form id="frmdlgConfirmDialog">
                        <br/>
                        <span class="fa fa-warning" style="margin-right: 10px;"/>
                        <p:outputLabel value="Procesar Pago?"/>
                        <br/><br/>
                        <center>
                            <p:commandButton id="btnPagoDirecto" value="Si" icon="fa fa-check" actionListener="#{registroVenta.realizarPagoDirecto()}" update="mainForm"/>
                            <p:spacer width="10"/>
                            <p:commandButton value="No" icon="fa fa-close" oncomplete="PF('dlgConfirmDialog').hide();"/>
                        </center>
                    </h:form>
                </p:dialog>
                
                <p:dialog widgetVar="dlgPago" modal="true"  width="95%" responsive="true" closable="true" header="Registro de Pago" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgPago">
                        <p:outputLabel value="VALOR A COBRAR:" styleClass="labelBolder" style="font-size: 20px;"/>
                        <p:spacer width="10"/>
                        <p:inputText placeholder="0.00" value="#{registroVenta.pago.valorCobro}" style="font-size: 20px;" size="10" readonly="true" styleClass="valoresStyle"/>
                        <p:spacer width="40"/>
                        <p:outputLabel value="CLIENTE:" styleClass="labelBolder" style="font-size: 20px;"/>
                        <p:spacer width="10"/>
                        <p:inputText placeholder="COD-IDENT-CLIENTE" value="#{registroVenta.venta.cliente.codigoCliente}-#{registroVenta.venta.cliente.CXCCLIrucci}-#{registroVenta.venta.cliente.CXCCLIrazonsocia}" style="font-size: 18px;" size="60" readonly="true"/>
                        <br/>
                        <p:panel rendered="#{!registroVenta.venta.consumidorFinal and registroVenta.pago.habilitarCredito}">
                            <p:outputLabel value="Cupo Credito:" styleClass="labelBolder"/>
                            <p:outputLabel value="#{registroVenta.venta.cliente.CXCCLIcupocredit}" styleClass="valoresStyle"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                            <p:outputLabel value="Saldo:" styleClass="labelBolder"/>
                            <p:outputLabel value="#{registroVenta.venta.cliente.saldo}" styleClass="valoresStyle"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                            <p:outputLabel value="Disponible:" styleClass="labelBolder"/>
                            <p:outputLabel value="#{registroVenta.venta.cliente.disponible}" styleClass="valoresStyle"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                        </p:panel>
                        <br/>
                        <p:panelGrid style="width: 100%;">
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Efectivo" styleClass="labelBolder"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="valorEfectivoTotal" placeholder="0.00" value="#{registroVenta.pago.valorEfectivo}" readonly="true" size="10" styleClass="valoresStyle"/>
                                </p:column>
                                <p:column rowspan="8">
                                    <p:selectBooleanCheckbox value="#{registroVenta.pago.retencion}" itemLabel="RETENCION" style="width: 200px;" styleClass="labelBolder" rendered="#{!registroVenta.venta.consumidorFinal}">
                                        <p:ajax listener="#{registroVenta.aplicarRetencion()}" update="listRetenciones,frmdlgPago:tabPago:valorDocumento,frmdlgPago:valorDocumentoTotal,frmdlgPago:tabPago:valorCredito,frmdlgPago:valorCreditoTotal,frmdlgPago:valorDiferencia,frmdlgPago:valorTotal"/>
                                    </p:selectBooleanCheckbox>
                                    <p:dataList id="listRetenciones" value="#{registroVenta.retencion.detalle}" var="det" type="ordered" rendered="#{!registroVenta.venta.consumidorFinal}">
                                        #{det.nombreRetencion}, 
                                        <p:outputLabel value="#{det.valorRetenido}" styleClass="labelBolder">
                                            <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                        </p:outputLabel>
                                    </p:dataList>
                                    <br/><br/>
                                    <p:tabView id="tabPago">
                                        <p:tab title="1. EFECTIVO">
                                            <p:outputLabel value="Valor" styleClass="labelBolder" style="font-size: 15px;"/>
                                            <p:spacer width="25"/>
                                            <p:inputText id="valorEfectivo" onblur="calculoEfectivo();"  placeholder="0.00" value="#{registroVenta.pago.valorEfectivo}" style="font-size: 15px; text-align: right;" size="10"/>
                                            <p:remoteCommand name="calculoEfectivo" actionListener="#{registroVenta.calcularValoresPago(0,1,null)}" update="valorEfectivo,frmdlgPago:valorEfectivoTotal,frmdlgPago:tabPago:valorCredito,frmdlgPago:valorCreditoTotal,frmdlgPago:valorDiferencia,frmdlgPago:valorCambio,frmdlgPago:valorTotal"/>
                                        </p:tab>
                                        <p:tab title="2. CHEQUE" rendered="#{!registroVenta.venta.consumidorFinal}">
                                            <p:panelGrid style="width: 100%;">
                                                <p:row>
                                                    <p:column><p:outputLabel value="Entidad" styleClass="labelBolder" style="font-size: 15px;"/></p:column>
                                                    <p:column><p:outputLabel value="#Cuenta" styleClass="labelBolder" style="font-size: 15px;"/></p:column>
                                                    <p:column><p:outputLabel value="#Cheque" styleClass="labelBolder" style="font-size: 15px;"/></p:column>
                                                    <p:column><p:outputLabel value="Vencimiento" styleClass="labelBolder" style="font-size: 15px;"/></p:column>
                                                    <p:column><p:outputLabel value="Valor" styleClass="labelBolder" style="font-size: 15px;"/></p:column>
                                                    <p:column rowspan="2">
                                                        <p:remoteCommand name="calcularValoresPagoCheque" actionListener="#{registroVenta.calcularValoresPago(1,2,null)}" update="frmdlgPago"/>
                                                        <p:commandButton icon="fa fa-plus-square" actionListener="#{registroVenta.calcularValoresPago(1,2,null)}" update="frmdlgPago"/>
                                                    </p:column>
                                                </p:row>
                                                <p:row>
                                                    <p:column>
                                                        <p:selectOneMenu value="#{registroVenta.pago.pagoCheque.entidad}">
                                                            <f:selectItems value="#{registroVenta.entidadesBanco}" var="eb" itemLabel="#{eb.banmEntidadPK.banentCodigo}-#{eb.banentNombre}" itemValue="#{eb.banmEntidadPK.banentCodigo}-#{eb.banentNombre}" />
                                                        </p:selectOneMenu>
                                                    </p:column>
                                                    <p:column><p:inputText value="#{registroVenta.pago.pagoCheque.numeroCuenta}" size="15"/></p:column>
                                                    <p:column><p:inputText value="#{registroVenta.pago.pagoCheque.numeroDocumento}" size="15"/></p:column>
                                                    <p:column><p:calendar value="#{registroVenta.pago.pagoCheque.fechaVencimiento}" pattern="dd/MM/yyyy" size="15"/></p:column>
                                                    <p:column><p:inputText id="addPagoCheque" value="#{registroVenta.pago.pagoCheque.valor}" size="15" style="text-align: right;"/></p:column>
                                                </p:row>
                                            </p:panelGrid>
                                            <p:spacer height="20"/>
                                            <p:dataTable id="dtDetalleCheque" value="#{registroVenta.pago.pagosCheque}" var="pch" emptyMessage="Sin Registros" lazy="true" reflow="true">
                                                <p:column headerText="Entidad"><p:outputLabel value="#{pch.entidad}"/></p:column>
                                                <p:column headerText="#Cuenta"><p:outputLabel value="#{pch.numeroCuenta}"/></p:column>
                                                <p:column headerText="#Cheque"><p:outputLabel value="#{pch.numeroDocumento}"/></p:column>
                                                <p:column headerText="Vencimiento"><p:outputLabel value="#{pch.fechaVencimiento}"><f:convertDateTime pattern="dd/MM/yyyy"/></p:outputLabel></p:column>
                                                <p:column headerText="Valor" style="text-align: right;"><p:outputLabel value="#{pch.valor}"/></p:column>
                                                <p:column headerText="Borrar" width="60">
                                                    <p:commandLink actionListener="#{registroVenta.calcularValoresPago(2,2, pch)}" update="frmdlgPago">
                                                        <span class="fa fa-trash"/>
                                                    </p:commandLink>
                                                </p:column>
                                            </p:dataTable>
                                        </p:tab>
                                        <p:tab title="3. TARJETA">
                                            <p:panelGrid style="width: 100%;">
                                                <p:row>
                                                    <p:column colspan="7">
                                                        <p:outputLabel value="Titular" styleClass="labelBolder" style="font-size: 15px;"/>
                                                        <p:spacer width="15" height="0"/>
                                                        <p:inputText value="#{registroVenta.pago.pagoTarjeta.titular}" maxlength="48" style="text-transform: uppercase;" size="50"/>
                                                    </p:column>
                                                </p:row>
                                                <p:row>
                                                    <p:column><p:outputLabel value="Entidad" styleClass="labelBolder" style="font-size: 15px;"/></p:column>
                                                    <p:column><p:outputLabel value="#Tarjeta" styleClass="labelBolder" style="font-size: 15px;"/></p:column>
                                                    <p:column><p:outputLabel value="#Autorizacion" styleClass="labelBolder" style="font-size: 15px;"/></p:column>
                                                    <p:column><p:outputLabel value="Fecha Validez" styleClass="labelBolder" style="font-size: 15px;"/></p:column>
                                                    <p:column><p:outputLabel value="Valor" styleClass="labelBolder" style="font-size: 15px;"/></p:column>
                                                    <p:column rowspan="2">
                                                        <p:remoteCommand name="calcularValoresPagoTarjeta" actionListener="#{registroVenta.calcularValoresPago(1,3,null)}" update="frmdlgPago"/>
                                                        <p:commandButton icon="fa fa-plus-square" actionListener="#{registroVenta.calcularValoresPago(1,3,null)}" update="frmdlgPago"/>
                                                    </p:column>
                                                </p:row>
                                                <p:row>
                                                    <p:column>
                                                        <p:selectOneMenu value="#{registroVenta.pago.pagoTarjeta.entidad}">
                                                            <f:selectItems value="#{registroVenta.entidadesTarjetas}" var="et" itemLabel="#{et.banmEntidadPK.banentCodigo}-#{et.banentNombre}" itemValue="#{et.banmEntidadPK.banentCodigo}-#{et.banentNombre}" />
                                                        </p:selectOneMenu>
                                                    </p:column>
                                                    <p:column><p:inputText value="#{registroVenta.pago.pagoTarjeta.numeroCuenta}" maxlength="30" size="15"/></p:column>
                                                    <p:column><p:inputText value="#{registroVenta.pago.pagoTarjeta.numeroDocumento}" maxlength="20" size="15"/></p:column>
                                                    <p:column><p:inputText value="#{registroVenta.pago.pagoTarjeta.fechaValidez}" placeholder="YYYYMM" maxlength="6" size="10"/></p:column>
                                                    <p:column><p:inputText id="addPagoTarjeta" value="#{registroVenta.pago.pagoTarjeta.valor}" size="10" style="text-align: right;"/></p:column>
                                                </p:row>
                                            </p:panelGrid>
                                            <p:spacer height="20"/>
                                            <p:dataTable id="dtDetalleTarjeta" value="#{registroVenta.pago.pagosTarjeta}" var="ptr" emptyMessage="Sin Registros" lazy="true" reflow="true">
                                                <p:column headerText="Titular"><p:outputLabel value="#{ptr.titular}"/></p:column>
                                                <p:column headerText="Entidad"><p:outputLabel value="#{ptr.entidad}"/></p:column>
                                                <p:column headerText="#Tarjeta"><p:outputLabel value="#{ptr.numeroCuenta}"/></p:column>
                                                <p:column headerText="#Autorizacion"><p:outputLabel value="#{ptr.numeroDocumento}"/></p:column>
                                                <p:column headerText="Fecha Validez"><p:outputLabel value="#{ptr.fechaValidez}"/></p:column>
                                                <p:column headerText="Valor" style="text-align: right;"><p:outputLabel value="#{ptr.valor}"/></p:column>
                                                <p:column headerText="Borrar" width="60">
                                                    <p:commandLink actionListener="#{registroVenta.calcularValoresPago(2,3, ptr)}" update="frmdlgPago">
                                                        <span class="fa fa-trash"/>
                                                    </p:commandLink>
                                                </p:column>
                                            </p:dataTable>
                                        </p:tab>
                                        <p:tab title="4. DOCUMENTOS" rendered="#{!registroVenta.venta.consumidorFinal}">
                                            <p:outputLabel value="Valor:" styleClass="labelBolder"/>
                                            <p:outputLabel id="valorDocumento" value="#{registroVenta.pago.valorDocumento}">
                                                <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                            </p:outputLabel>
                                            <p:dataTable id="dtDocumentosCredito" value="#{registroVenta.documentosPago}" var="dc" emptyMessage="Sin Registros" 
                                                         lazy="true" reflow="true" scrollable="true" scrollHeight="150" rowKey="#{dc.cxctDocumentoPK.CXCDEUnumesecuen}"
                                                         selection="#{registroVenta.pago.pagosDocumento}">
                                                <p:ajax event="toggleSelect" listener="#{registroVenta.calcularValoresPago(1,4,null)}"        update="frmdlgPago:tabPago:valorDocumento,frmdlgPago:valorDocumentoTotal,frmdlgPago:tabPago:valorCredito,frmdlgPago:valorCreditoTotal,frmdlgPago:valorDiferencia,frmdlgPago:valorTotal"/>
                                                <p:ajax event="rowSelectCheckbox" listener="#{registroVenta.calcularValoresPago(1,4,null)}"   update="frmdlgPago:tabPago:valorDocumento,frmdlgPago:valorDocumentoTotal,frmdlgPago:tabPago:valorCredito,frmdlgPago:valorCreditoTotal,frmdlgPago:valorDiferencia,frmdlgPago:valorTotal"/>
                                                <p:ajax event="rowUnselectCheckbox" listener="#{registroVenta.calcularValoresPago(1,4,null)}" update="frmdlgPago:tabPago:valorDocumento,frmdlgPago:valorDocumentoTotal,frmdlgPago:tabPago:valorCredito,frmdlgPago:valorCreditoTotal,frmdlgPago:valorDiferencia,frmdlgPago:valorTotal"/>
                                                <p:column selectionMode="multiple" style="width:5%; text-align:left; " />
                                                <p:column headerText="Secuencia"><p:outputLabel value="#{dc.cxctDocumentoPK.CXCDEUnumesecuen}"/></p:column>
                                                <p:column headerText="T. Documento"><p:outputLabel value="#{dc.GENTDOcodigo}"/></p:column>
                                                <p:column headerText="N. Documento"><p:outputLabel value="#{dc.CXCDEUnumdocumen}"/></p:column>
                                                <p:column headerText="Vencimiento"><p:outputLabel value="#{dc.CXCDEUfechavenci}"><f:convertDateTime pattern="dd/MM/yyyy"/></p:outputLabel></p:column>
                                                <p:column headerText="Saldo" style="text-align: right;"><p:outputLabel value="#{dc.CXCDEUsaldomov}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel></p:column>
                                            </p:dataTable>
                                        </p:tab>
                                        <p:tab title="5. CREDITO" rendered="#{!registroVenta.venta.consumidorFinal}">
                                            <span class="fa fa-clipboard" style="margin-right: 5px;"/>
                                            <p:selectBooleanCheckbox disabled="#{!registroVenta.pago.habilitarCredito}" value="#{registroVenta.pago.credito}" itemLabel="CREDITO" style="width: 200px;" styleClass="labelBolder">
                                                <p:ajax listener="#{registroVenta.calcularValoresPago(3,5,null)}" update="valorCredito,frmdlgPago:valorCreditoTotal,frmdlgPago:valorDiferencia,frmdlgPago:valorTotal"/>
                                            </p:selectBooleanCheckbox>
                                            <p:outputLabel id="valorCredito" value="#{registroVenta.pago.valorCredito}" styleClass="valoresStyle"/>
                                        </p:tab>
                                        <p:tab title="6. ORDEN RETIRO" rendered="false">

                                        </p:tab>
                                    </p:tabView>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Cheque" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText placeholder="0.00" value="#{registroVenta.pago.valorCheque}" readonly="true" size="10" styleClass="valoresStyle"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Tarjeta" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText placeholder="0.00" value="#{registroVenta.pago.valorTarjeta}" readonly="true" size="10" styleClass="valoresStyle"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Documento" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText id="valorDocumentoTotal" placeholder="0.00" value="#{registroVenta.pago.valorDocumento}" readonly="true" size="10" styleClass="valoresStyle"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Credito" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText id="valorCreditoTotal" placeholder="0.00" value="#{registroVenta.pago.valorCredito}" readonly="true" size="10" styleClass="valoresStyle"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Total" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText id="valorTotal" placeholder="0.00" value="#{registroVenta.pago.valorTotal}" readonly="true" size="10" styleClass="valoresStyle"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Cambio" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText id="valorCambio" placeholder="0.00" value="#{registroVenta.pago.valorCambioEfectivo}" readonly="true" size="10" style="color: blue;" styleClass="valoresStyle"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Diferencia" styleClass="labelBolder"/></p:column>
                                <p:column>
                                    <p:inputText id="valorDiferencia" placeholder="0.00" value="#{registroVenta.pago.valorDiferencia}" readonly="true" size="10" style="#{registroVenta.pago.valorDiferencia ge 0.00?'color: black;':'color: red;'}" styleClass="valoresStyle"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        
                        <center>
                            <p:commandButton id="btnProcesar" value="Procesar" actionListener="#{registroVenta.realizarPago()}" icon="fa fa-save" update="mainForm">
                                <!--<p:confirm header="Confirmacion" message="Procesar Pago?" icon="ui-icon-alert" />-->
                            </p:commandButton>
                            <p:spacer width="25"/>
                            <p:commandButton value="Cancelar" icon="fa fa-sign-out" oncomplete="PF('dlgPago').hide();"/>
                        </center>
                        <p:blockUI block="frmdlgPago" trigger="btnProcesar" />
                    </h:form>
                </p:dialog>
                
                <p:dialog widgetVar="dlgCliente" modal="true"  width="95%" responsive="true" closable="true" header="Listado de Clientes" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgCliente">
                        <p:dataTable id="dtClientes" value="#{registroVenta.clientesLazy}" var="c" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                    reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{c.cxcmClientePK}"
                                    selection="#{registroVenta.clienteLazy}" selectionMode="single">
                            <p:ajax event="rowDblselect" oncomplete="PF('dlgCliente').hide(); focusById(':codBarraCabeceraProducto');" update="mainForm:formVentaCabecera" listener="#{registroVenta.actualizarCodigoCliente}"/>
                            <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{c.CXCCLIcodigo}" width="120">
                               <p:outputLabel value="#{c.cxcmClientePK.CXCCLIcodigo}"/>
                            </p:column>
                            <p:column headerText="Identificacion" filterStyle="width: 95%" filterBy="#{c.CXCCLIrucci}" width="200">
                               <p:outputLabel value="#{c.CXCCLIrucci}"/>
                            </p:column>
                            <p:column headerText="Cliente" filterStyle="width: 95%" filterBy="#{c.CXCCLIrazonsocia}">
                               <p:outputLabel value="#{c.CXCCLIrazonsocia}"/>
                            </p:column>
                            <p:column headerText="Direccion" filterStyle="width: 95%" filterBy="#{c.CXCCLIdireccion1}">
                               <p:outputLabel value="#{c.CXCCLIdireccion1}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>
                
                <p:dialog widgetVar="dlgProducto" modal="true"  width="95%" responsive="true" closable="true" header="Listado de Productos" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgProducto">
                        <p:dataTable id="dtProductos" value="#{registroVenta.itemsLazy}" var="i" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                    reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{i.invmItemPK}"
                                    selection="#{registroVenta.itemLazy}" selectionMode="single">
                            <!--<p:ajax event="rowDblselect" oncomplete="PF('dlgProducto').hide();focusById('mainForm:cantidadCabeceraProducto');" update="mainForm:formVentaCabecera" listener="# {registroVenta.seleccionarItemLazy()}"/>-->
                            <p:ajax event="rowSelect" listener="#{registroVenta.seleccionarItemLazy()}"/>
                            <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{i.INVITMcodigo}" width="120">
                                <p:outputLabel value="#{i.invmItemPK.INVITMcodigo}"/>
                            </p:column>
                            <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{i.INVITMnombre}">
                                <p:outputLabel value="#{i.INVITMnombre}"/>
                            </p:column>
<!--                            <p:column headerText="Precio" width="120">
                                <p:outputLabel value="#{i.precio.INVITMprelista}"/>
                            </p:column>-->
                            <p:column headerText="Unidad" width="120">
                                <p:outputLabel value="#{i.INVUNIunidadexis}"/>
                            </p:column>
                            <p:column headerText="Stock" width="120">
                                <p:outputLabel value="#{i.INVITMstock}">
                                    <f:convertNumber integerOnly="true"/>
                                </p:outputLabel>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>
                
                <p:dialog widgetVar="dlgRegistro" modal="true"  width="95%" responsive="true" closable="true" header="Listado de Registros Temporales" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgRegistro">
                        <p:dataTable id="dtRegistros" value="#{registroVenta.registrosStandby}" var="r" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                    reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{r.cbpfaccCodigo}"
                                    selection="#{registroVenta.registroTemp}" selectionMode="single">
                            <p:ajax event="rowDblselect" oncomplete="PF('dlgRegistro').hide();" update="mainForm" listener="#{registroVenta.cargarTransaccion()}"/>
                            <p:column style="width: 16px;"><p:rowToggler/></p:column>
                            <p:column headerText="Codigo" width="120">
                               <p:outputLabel value="#{r.cbpfaccCodigo}"/>
                            </p:column>
                            <p:column headerText="Turno" width="200">
                               <p:outputLabel value="#{r.segturNumero}"/>
                            </p:column>
                            <p:column headerText="Cliente" width="200">
                               <p:outputLabel value="#{r.nombreCliente}"/>
                            </p:column>
                            <p:column headerText="Fecha">
                               <p:outputLabel value="#{r.cbpfaccFecha}">
                                   <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                               </p:outputLabel>
                            </p:column>
                            <p:column headerText="Op." width="30">
                                <p:commandLink oncomplete="PF('dlgAutorizacion').show();" update="frmdlgAutorizacion" title="BORRAR">
                                    <f:setPropertyActionListener target="#{registroVenta.tipoEliminacion}" value="standby"/>
                                    <span class="fa fa-trash" style="color: #5f666c;"/>
                                </p:commandLink>
                            </p:column>
                            <p:rowExpansion>
                                <p:dataTable value="#{r.detFacttemporalCollection}" var="d" emptyMessage="No se encontraron registros" reflow="true" rowKey="#{d.cbpfactCodigo}">
                                    <f:facet name="header">DETALLE</f:facet>
                                    <p:column headerText="LISTA" styleClass="labelBolder" width="120">
                                        <p:outputLabel value="#{d.facdpdListaprecio}"/>
                                    </p:column>
                                    <p:column headerText="Codigo" styleClass="labelBolder" width="150">
                                        <p:outputLabel value="#{d.invitmCodigo}"/>
                                    </p:column>
                                    <p:column headerText="Producto" styleClass="labelBolder">
                                        <p:outputLabel value="#{d.nombreItem}"/>
                                    </p:column>
                                    <p:column headerText="Cantidad" styleClass="labelBolder" style="text-align: center;">
                                        <p:outputLabel value="#{d.facdpdCantfuncional}"/>
                                    </p:column>
                                    <p:column headerText="VALOR" styleClass="labelBolder" style="text-align: right;">
                                        <p:outputLabel value="#{d.facdpdNeto}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                    </p:column>
                                </p:dataTable>
                            </p:rowExpansion>
                        </p:dataTable>
                    </h:form>
                </p:dialog>
                
                <p:dialog widgetVar="dlgAutorizacion" modal="true"  width="50%" responsive="true" closable="true" header="Autorizacion Transaccional" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgAutorizacion">
                        <p:panelGrid style="margin: 0 auto;">
                            <f:facet name="header">
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Autorización Transaccional"/>
                                    </p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column><p:outputLabel value="#{userSession.caja.supervisor}"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="CLAVE SUPERVISOR"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:password value="#{userSession.passwordSupervisor}" required="true" feedback="false"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:commandButton value="AUTORIZAR"  actionListener="#{registroVenta.autorizarTransaccion()}"/></p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                </p:dialog>
                
                <p:dialog widgetVar="dlgExcedente" modal="true"  width="50%" responsive="true" closable="false" header="Excedente de Pago" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgExcedente">
                        <p:panelGrid style="margin: 0 auto;">
                            <f:facet name="header">
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Existe Excedente en los Valores de Pago ,desea Continuar??"/>
                                    </p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column>
                                    <p:selectBooleanCheckbox value="#{registroVenta.pago.excedente}" itemLabel="Excedente de Pago" style="width: 200px;" styleClass="labelBolder"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:commandButton id="btnExcedente" value="Procesar Pago"  actionListener="#{registroVenta.realizarPago()}" update="mainForm"/>
                                    <p:spacer width="25"/>
                                    <p:commandButton value="Cancelar"  actionListener="#{registroVenta.cancelarPagoExcedente()}" oncomplete="PF('dlgExcedente').hide();"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <p:blockUI block="frmdlgExcedente" trigger="btnExcedente" />
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>