<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Transacciones
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:tabView>
                        <p:tab title="1. FACTURAS DE TURNO">
                            <p:dataTable id="dtVentaCaja" value="#{transacciones.ventasLazy}" var="v" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                         reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{v.facvtcSecuenvta}">
                                <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{v.facvtcSecuenvta}" width="120">
                                    <p:outputLabel value="#{v.facvtcSecuenvta}"/>
                                </p:column>
                                <p:column headerText="Numero" filterStyle="width: 95%" filterBy="#{v.documento}" width="100">
                                    <p:outputLabel value="#{v.documento}"/>
                                </p:column>
                                <p:column headerText="Documento" filterStyle="width: 95%" filterBy="#{v.documentoFact}" width="250">
                                    <p:outputLabel value="#{v.documentoFact}"/>
                                </p:column>
                                <p:column headerText="Identificación" filterStyle="width: 95%" filterBy="#{v.FACVTCclierucci}">
                                    <p:outputLabel value="#{v.FACVTCclierucci}"/>
                                </p:column>
                                <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{v.FACVTCclienombre}">
                                    <p:outputLabel value="#{v.FACVTCclienombre}"/>
                                </p:column>
                                <p:column headerText="Valor" style="text-align: right;">
                                    <p:outputLabel value="#{v.FACVTCmonpagomov}">
                                        <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="Imprimir" width="120" style="text-align: center;">
                                    <p:commandButton value="..." actionListener="#{transacciones.imprimirFactura(v)}"/>
                                </p:column>
                                <p:column headerText="Anular" style="text-align: center;" width="120">
                                    <p:commandButton icon="fa fa-chain-broken" actionListener="#{transacciones.anularDocumento(v)}" update="mainForm">
                                        <p:confirm header="Confirmacion" message="ANULAR DOCUMENTO?" icon="ui-icon-alert" />
                                    </p:commandButton>
                                </p:column>
                                <p:column headerText="Devolución" style="text-align: center;" width="120">
                                    <p:commandButton icon="fa fa-random" actionListener="#{transacciones.devolucionArticulos(v)}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="2. FACTURAS HISTORIAL">
                            <p:dataTable id="dtVentaHCaja" value="#{transacciones.ventasHistorialLazy}" var="vh" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                         reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{vh.facvtcSecuenvta}">
                                <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{vh.facvtcSecuenvta}" width="120">
                                    <p:outputLabel value="#{vh.facvtcSecuenvta}"/>
                                </p:column>
                                <p:column headerText="Numero" filterStyle="width: 95%" filterBy="#{vh.documento}" width="100">
                                    <p:outputLabel value="#{vh.documento}"/>
                                </p:column>
                                <p:column headerText="Documento" filterStyle="width: 95%" filterBy="#{vh.documentoFact}" width="250">
                                    <p:outputLabel value="#{vh.documentoFact}"/>
                                </p:column>
                                <p:column headerText="Identificación" filterStyle="width: 95%" filterBy="#{vh.FACVTCclierucci}">
                                    <p:outputLabel value="#{vh.FACVTCclierucci}"/>
                                </p:column>
                                <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{vh.FACVTCclienombre}">
                                    <p:outputLabel value="#{vh.FACVTCclienombre}"/>
                                </p:column>
                                <p:column headerText="Valor" style="text-align: right;">
                                    <p:outputLabel value="#{vh.FACVTCmonpagomov}">
                                        <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="Imprimir" width="120" style="text-align: center;">
                                    <p:commandButton value="..." actionListener="#{transacciones.imprimirFactura(vh)}"/>
                                </p:column>
                                <p:column headerText="Devolución" style="text-align: center;" width="120">
                                    <p:commandButton icon="fa fa-random" actionListener="#{transacciones.devolucionArticulos(vh)}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="3. COBROS">
                        </p:tab>
                        <p:tab title="4. DEVOLUCIONES">
                            <p:dataTable id="dtDevoluciones" value="#{transacciones.devoluciones}" var="dev" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                         reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{dev.factCabventaPK.FACCVTnumsecuenc}">
                                <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{dev.factCabventaPK.fACCVTnumsecuenc}" width="120">
                                    <p:outputLabel value="#{dev.factCabventaPK.FACCVTnumsecuenc}"/>
                                </p:column>
                                <p:column headerText="Numero" filterStyle="width: 95%" filterBy="#{dev.fACCVTnumdocumen}" >
                                    <p:outputLabel value="#{dev.FACCVTnumdocumen}"/>
                                </p:column>
                                <p:column headerText="Documento" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{dev.numDocumento}"/>
                                </p:column>
                                <p:column headerText="Fecha Devolución" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{dev.FACCVTfechingreg}"> <f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss" /></p:outputLabel>
                                </p:column>
                                <p:column headerText="Factura Relacionada" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{dev.FACCVTnumdocrela}"/>
                                </p:column>
                                <p:column headerText="Valor">
                                    <p:outputLabel value="#{dev.FACCVTnetomov}">
                                        <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="Opciones" width="10%" style="text-align: center">
                                    <p:commandButton value="..." actionListener="#{transacciones.imprimirFacturaDev(dev)}" title="Imprimir devolucion"/>
                                    <p:spacer width="20" />
                                    <p:commandButton value="NCI" actionListener="#{transacciones.imprimirNotaCredito(dev)}" title="Imprimir Nota de Crédito"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>