<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Gestion de Politicas
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:remoteCommand name="busquedaFiltro" actionListener="#{gestionPoliticas.busquedaFiltro()}" update="mainForm:contenedor:registro:datoBusquedaFiltro,mainForm:contenedor:registro:dtSourceItem"/>
                    <p:remoteCommand name="cantidadIngresada" actionListener="#{gestionPoliticas.cantidadIngresada()}" update="mainForm:contenedor:registro:dtSourceItem"/>
                    <p:tabView id="contenedor">
                        <p:tab title="1. REGISTRO DE POLITICA">
                            <p:panelGrid style="width: 90%">
                                <p:row>
                                    <p:column><p:outputLabel value="Compania" styleClass="labelBolder"/></p:column>
                                    <p:column><p:outputLabel value="Oficina" styleClass="labelBolder"/></p:column>
                                    <p:column><p:outputLabel value="Descripcion*" styleClass="labelBolder"/></p:column>
                                    <p:column><p:outputLabel value="Cantidad*" styleClass="labelBolder"/></p:column>
                                    <p:column><p:outputLabel value="Porcentaje*" styleClass="labelBolder"/></p:column>
                                    <p:column rowspan="2">
                                        <p:commandButton icon="fa fa-save" value="Grabar" actionListener="#{gestionPoliticas.registarPolitica(1)}" update="mainForm"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:inputText value="#{gestionPoliticas.politica.genciaCodigo.genciaSecuencia}-#{gestionPoliticas.politica.genciaCodigo.genciaNombre}" readonly="true"/>
                                    </p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{gestionPoliticas.politica.genofiCodigo}" converter="entityConverter">
                                            <f:selectItems value="#{gestionPoliticas.oficinaList}" var="o" itemLabel="#{o.genofiSecuencia}-#{o.genofinomComercial}" itemValue="#{o}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{gestionPoliticas.politica.genpolNombre}" size="50" maxlength="50"/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{gestionPoliticas.politica.genpolCantidad}" maxlength="50" onblur="cantidadIngresada();"/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{gestionPoliticas.politica.genpolPorcentaje}" maxlength="50"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                            <br/>
                            <p:tabView id="registro">
                                <p:tab title="ITEMS">
                                    <p:panelGrid style="width: 100%;">
                                        <p:row>
                                            <p:column>
                                                <p:outputLabel value="Filtro Nivel : " styleClass="labelBolder"/><p:spacer width="10"/>
                                                <p:selectOneMenu id="selectFiltro" value="#{gestionPoliticas.modelSaldoInventario.codigoFiltro}">
                                                    <f:selectItem itemLabel="Todos" itemValue="#{null}"/>
                                                    <f:selectItems value="#{gestionPoliticas.filtros}" var="f" itemLabel="#{f.dato}" itemValue="#{f.codigo}"/>
                                                </p:selectOneMenu>
                                                <p:spacer width="10"/>
                                                <p:inputText id="codigoBusquedaFiltro" value="#{gestionPoliticas.modelSaldoInventario.codigoBusquedaFiltro}" style="text-transform: uppercase;"/>
                                                <p:commandLink id="accionBusquedaFiltro" actionListener="#{gestionPoliticas.busquedaFiltro()}" update="mainForm:contenedor:registro:datoBusquedaFiltro">
                                                    <p:graphicImage value="/resources/images/clic.png"/>
                                                </p:commandLink>
                                                <p:spacer height="0" width="15"/>
                                                <p:inputText id="datoBusquedaFiltro" value="#{gestionPoliticas.modelSaldoInventario.datoBusquedaFiltro}" readonly="true" size="50" />
                                            </p:column>
                                            <p:column>
                                                <p:outputLabel value="Grupo : " styleClass="labelBolder"/>
                                                <p:inputText value="#{gestionPoliticas.grupo}" size="5" style="text-align: right;"/>                                                                                            
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                    
                                    <p:panelGrid columns="3">
                                        <p:dataTable id="dtSourceItem" value="#{gestionPoliticas.itemSource}" var="its" emptyMessage="No se encontraron registros"
                                                     reflow="true" filterEvent="enter" rows="75" paginator="true" rowsPerPageTemplate="75,100,150" paginatorPosition="top" 
                                                     rowKey="#{its.invmItemPK.INVITMcodigo}" scrollable="true" scrollHeight="500"
                                                     selection="#{gestionPoliticas.itemSourceSelecction}" filteredValue="#{gestionPoliticas.itemSourceFilter}">
                                            <p:column selectionMode="multiple" style="width:25px;text-align:center" styleClass="columnaDataTable"/>
                                            <p:column headerText="Codigo" filterStyle="width: 90%" filterBy="#{its.invmItemPK.INVITMcodigo}" filterMatchMode="contains" width="120" styleClass="columnaDataTable">
                                                <p:outputLabel value="#{its.invmItemPK.INVITMcodigo}"/>
                                            </p:column>
                                            <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{its.INVITMnombre}" filterMatchMode="contains" styleClass="columnaDataTable">
                                                <p:outputLabel value="#{its.INVITMnombre}"/>
                                            </p:column>
                                        </p:dataTable>
                                        <p:panelGrid columns="1">
                                            <p:commandButton icon="fa fa-angle-right" title="Seleccionado" actionListener="#{gestionPoliticas.agregarSeleccionados()}" update="dtSourceItem,dtTargetItem"/>
                                            <p:commandButton icon="fa fa-angle-double-right" title="Todos" actionListener="#{gestionPoliticas.agregarTodos()}" update="dtSourceItem,dtTargetItem"/>
                                            <p:commandButton icon="fa fa-angle-left" title="Seleccionado" actionListener="#{gestionPoliticas.eliminarSeleccionados()}" update="dtSourceItem,dtTargetItem"/>
                                            <p:commandButton icon="fa fa-angle-double-left" title="Todos" actionListener="#{gestionPoliticas.eliminarTodos()}" update="dtSourceItem,dtTargetItem"/>
                                        </p:panelGrid>
                                        <p:dataTable id="dtTargetItem" value="#{gestionPoliticas.itemTarget}" var="itt" emptyMessage="No se encontraron registros"
                                                     reflow="true" filterEvent="enter" rows="75" paginator="true" rowsPerPageTemplate="75,100,150" paginatorPosition="top" 
                                                     rowKey="#{itt.invmItemPK.INVITMcodigo}" scrollable="true" scrollHeight="500"
                                                     selection="#{gestionPoliticas.itemTargetSelecction}">
                                            <p:column selectionMode="multiple" style="width:25px;text-align:center" styleClass="columnaDataTable"/>
                                            <p:column headerText="Codigo" filterStyle="width: 90%" filterBy="#{itt.invmItemPK.INVITMcodigo}" filterMatchMode="contains" width="120" styleClass="columnaDataTable">
                                                <p:outputLabel value="#{itt.invmItemPK.INVITMcodigo}"/>
                                            </p:column>
                                            <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{itt.INVITMnombre}" filterMatchMode="contains" styleClass="columnaDataTable">
                                                <p:outputLabel value="#{itt.INVITMnombre}"/>
                                            </p:column>
                                            <p:column headerText="Grupo" styleClass="columnaDataTable" style="text-align: right;" width="120">
                                                <p:inputText value="#{itt.grupo}" size="5" style="text-align: right;"/>
                                            </p:column>
                                        </p:dataTable>
                                    </p:panelGrid>
                                </p:tab>
                                <p:tab title="BODEGAS">
                                    <p:pickList value="#{gestionPoliticas.bodegas}" style="width: 100%;" var="bod" 
                                                itemLabel="#{bod.genbodSecuencia}-#{bod.genbodNombre}" itemValue="#{bod}" 
                                                effect="bounce" converter="entityConverter" responsive="true"
                                                showSourceFilter="true" filterMatchMode="contains">
                                    </p:pickList>
                                </p:tab>
                            </p:tabView>
                        </p:tab>
                        <p:tab title="2. LISTADO DE POLITICAS">
                            <p:dataTable id="dtPoliticas" value="#{gestionPoliticas.politicaLazy}" var="pol" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                         reflow="true" filterEvent="enter" rows="15" rowsPerPageTemplate="15,20,50" paginatorPosition="top" rowKey="#{pol.genpolCodigo}"
                                         selectionMode="single" selection="#{gestionPoliticas.politicaSeleccionada}">
                                <p:ajax event="rowDblselect" oncomplete="PF('dlgPolitica').show();" update="frmdlgPolitica" listener="#{gestionPoliticas.seleccionPolitica()}"/>
                                <p:column headerText="Id" style="text-align: center;" filterStyle="width: 95%" filterBy="#{pol.genpolCodigo}" width="80">
                                    <p:outputLabel value="#{pol.genpolCodigo}"/>
                                </p:column>
                                <p:column headerText="Compania" filterStyle="width: 95%" filterBy="#{pol.genciaNombre}">
                                    <p:outputLabel value="#{pol.genciaCodigo.genciaNombre}"/>
                                </p:column>
                                <p:column headerText="Oficina" filterStyle="width: 95%" filterBy="#{pol.genofiNombre}">
                                    <p:outputLabel value="#{pol.genofiCodigo.genofiNombre}"/>
                                </p:column>
                                <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{pol.genpolNombre}">
                                    <p:outputLabel value="#{pol.genpolNombre}"/>
                                </p:column>
                                <p:column headerText="Cantidad" style="text-align: center;" filterStyle="width: 95%" filterBy="#{pol.genpolCantidad}" width="80">
                                    <p:outputLabel value="#{pol.genpolCantidad}"/>
                                </p:column>
                                <p:column headerText="Porcentaje" style="text-align: center;" width="80">
                                    <p:outputLabel value="#{pol.genpolPorcentaje}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                </h:form>
                
                <p:dialog widgetVar="dlgNivel" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Nivel" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgNivel">
                        <p:dataTable id="dtNivel" value="#{gestionPoliticas.consultaFiltro}" var="n" emptyMessage="No se encontraron registros" paginator="true"
                                     reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{n.codigo}"
                                     selection="#{gestionPoliticas.modelSaldoInventario.nivel}" selectionMode="single">                            
                            <p:ajax event="rowDblselect" oncomplete="PF('dlgNivel').hide();" update="mainForm:contenedor:registro:datoBusquedaFiltro,mainForm:contenedor:registro:codigoBusquedaFiltro,mainForm:contenedor:registro:dtSourceItem" listener="#{gestionPoliticas.seleccionarDato()}"/>
                            <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{n.codigo}" filterMatchMode="contains" width="120">
                                <p:outputLabel value="#{n.codigo}"/>
                            </p:column>
                            <p:column headerText="Dato" filterStyle="width: 95%" filterBy="#{n.dato}" filterMatchMode="contains">
                                <p:outputLabel value="#{n.dato}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>

                <p:dialog widgetVar="dlgPolitica" modal="true"  width="90%" responsive="true" closable="true" header="POLITICA" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgPolitica">
                        <component:cPolitica politica="#{gestionPoliticas.politicaSeleccionada}" oficinas="#{gestionPoliticas.oficinaList}"
                                             itemSource="#{gestionPoliticas.itemSource}" itemSourceSelecction="#{gestionPoliticas.itemSourceSelecction}"
                                             itemTarget="#{gestionPoliticas.itemTarget}" itemTargetSelecction="#{gestionPoliticas.itemTargetSelecction}"
                                             bodegas="#{gestionPoliticas.bodegas}" grupo="#{gestionPoliticas.grupo}"
                                             agregar="#{gestionPoliticas.agregarSeleccionados()}" agregarTodos="#{gestionPoliticas.agregarTodos()}"
                                             quitar="#{gestionPoliticas.eliminarSeleccionados()}" quitarTodos="#{gestionPoliticas.eliminarTodos()}"
                                             grabarPolitica="#{gestionPoliticas.registarPolitica(2)}"/>    
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>