<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Entrega de Dinero
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:outputLabel value="ENTREGA DE DINERO" styleClass="labelMensaje"/>
                    <p:fieldset legend="DATOS CAJA">
                        <p:panelGrid style="width: 95%;">
                            <p:row>
                                <p:column><p:outputLabel value="OFICINA" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{entrega.caja.GENOFIcodigo}-#{entrega.caja.oficina}" readonly="true" size="35"/></p:column>
                                <p:column><p:outputLabel value="BODEGA" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{entrega.caja.GENBODcodigo}-#{entrega.caja.bodega}" readonly="true" size="35"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="CAJA" styleClass="labelBolder"/></p:column>
                                <p:column colspan="3"><p:inputText value="#{entrega.caja.GENCAJcodigo}-#{entrega.caja.GENCAJdescripcio}" readonly="true" size="35"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="TIPO ENTIDAD" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="ENTIDAD" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="CUENTA CAJA" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="TIPO MOVIMIENTO" styleClass="labelBolder"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:inputText value="#{entrega.caja.genpgeCodigo}-#{entrega.caja.tipoEntidad}" readonly="true" size="35"/></p:column>
                                <p:column><p:inputText value="#{entrega.caja.banentCodigo}-#{entrega.caja.entidad}" readonly="true" size="35"/></p:column>
                                <p:column><p:inputText value="#{entrega.caja.banctaCodigo}-#{entrega.caja.cuenta}" readonly="true" size="35"/></p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{entrega.recaudacion.BANTMVcodigo}" style="width: 92%;">
                                        <f:selectItems value="#{entrega.tiposMovimiento}" var="tmo" itemLabel="#{tmo.banmTiposmovimientosPK.BANTMVcodigo}-[#{tmo.BANTMVnombre}]" itemValue="#{tmo.banmTiposmovimientosPK.BANTMVcodigo}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="DATOS GENERALES">
                        <p:panelGrid style="width: 95%;">
                            <p:row>
                                <p:column><p:outputLabel value="CODIGO" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="FECHA INGRESO" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="FECHA MOVIMIENTO" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="FORMA" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="ESTADO" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="REFERENCIA *" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="Nº PAPELETA" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="VALOR *" styleClass="labelBolder"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:inputText value="#{entrega.recaudacion.genrrecCodigo}" readonly="true"/></p:column>
                                <p:column>
                                    <p:inputText value="#{entrega.recaudacion.genrrecIngreso}" readonly="true">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                                    </p:inputText>
                                </p:column>
                                <p:column><p:calendar value="#{entrega.recaudacion.genrrecMovimiento}" pattern="dd/MM/yyyy"/></p:column>
                                <p:column>
                                    <p:inputText value="EFECTIVO" readonly="true" styleClass="upper"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{entrega.recaudacion.genrrecEstado}">
                                        <f:selectItem itemLabel="ACTIVO" itemValue="A"/>
                                        <f:selectItem itemLabel="INACTIVO" itemValue="I"/>
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column><p:inputText value="#{entrega.recaudacion.genrrecReferencia}" styleClass="upper"/></p:column>
                                <p:column><p:inputText value="#{entrega.recaudacion.genrrecPapeleta}" styleClass="upper"/></p:column>
                                <p:column><p:inputText placeholder="0.00" value="#{entrega.recaudacion.genrrecValor}" style="text-align: right;" size="10"/></p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="DETALLE">
                        <p:panelGrid style="width: 95%;">
                            <p:row>
                                <p:column><p:outputLabel value="DESTINATARIO *" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{entrega.recaudacion.genrrecDestinatario}" styleClass="upper" size="35"/></p:column>
                                <p:column rowspan="2"><p:outputLabel value="DESCRIPCION *" styleClass="labelBolder"/></p:column>
                                <p:column rowspan="2"><p:inputTextarea value="#{entrega.recaudacion.genrrecDescripcion}" styleClass="upper" cols="35"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="DOCUMENTO" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{entrega.recaudacion.genrrecDocumento}" styleClass="upper" size="35"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="CONCILIACION" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{entrega.recaudacion.genrrecConciliacion}" styleClass="upper" size="35"/></p:column>
                                <p:column><p:outputLabel value="COMPROBANTE" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{entrega.recaudacion.genrrecComprobante}" styleClass="upper" size="35"/></p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:fieldset>
                    <br/>
                    <center>
                        <p:commandButton icon="fa fa-save" value="Grabar" actionListener="#{entrega.grabarEntrega()}"/>
                        <p:spacer width="30"/>
                        <p:commandButton icon="fa fa-sign-out" value="Limpiar" actionListener="#{entrega.init()}" update="mainForm"/>
                    </center>
                </h:form>
                
                <p:dialog widgetVar="dlgInformacion" modal="true"  width="50%" responsive="true" closable="false" header="Informacion Transaccional" resizable="false" closeOnEscape="false" position="top">
                    <h:form id="frmdlgInformacion">
                        <p:panelGrid style="margin: 0 auto; width: 100%;">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="2">
                                        <p:outputLabel value="Informacion Transaccional"/>
                                    </p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column><p:outputLabel value="ID"/></p:column>
                                <p:column><p:inputText value="#{entrega.r.genrrecId}" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="TIPO MOVIMIENTO"/></p:column>
                                <p:column><p:inputText value="#{entrega.r.BANTMVcodigo}-#{entrega.r.movimiento}" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="CAJA"/></p:column>
                                <p:column><p:inputText value="#{entrega.r.caja.GENCAJcodigo}-#{entrega.r.caja.GENCAJdescripcio}-#{entrega.r.caja.SEGUSUcodigo}" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="DESTINATARIO"/></p:column>
                                <p:column><p:inputText value="#{entrega.r.genrrecDestinatario}" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="VALOR"/></p:column>
                                <p:column><p:inputText value="#{entrega.r.genrrecValor}" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2"><p:commandButton value="ACEPTAR"  actionListener="#{entrega.aceptarTransaccion()}"/></p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                </p:dialog>
                
            </ui:define>
        </ui:composition>
    </body>
</html>