<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Movimientos
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:outputLabel value="MOVIMIENTOS RECAUDACION" styleClass="labelMensaje"/>
                    <p:tabView id="tabMovimientos">
                        <p:tab title="1. INGRESOS">
                            <p:dataTable id="dtIngresos" value="#{movimientos.recaudacionIngresos}" var="mi" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                         reflow="true" filterEvent="enter" rows="15" rowsPerPageTemplate="15,20,50" paginatorPosition="top" rowKey="#{mi.genrrecId}"
                                         selectionMode="single" selection="#{movimientos.movimiento}">
                                <p:ajax event="rowDblselect" oncomplete="PF('dlgMovimiento').show();" update="frmdlgMovimiento"/>
                                <p:column headerText="Id" filterStyle="width: 95%" filterBy="#{mi.genrrecId}" width="80">
                                    <p:outputLabel value="#{mi.genrrecId}"/>
                                </p:column>
                                <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{mi.genrrecCodigo}" width="100">
                                    <p:outputLabel value="#{mi.genrrecCodigo}"/>
                                </p:column>
                                <p:column headerText="Caja" filterStyle="width: 95%" filterBy="#{mi.GENCAJcodigo}" width="120">
                                    <p:outputLabel value="#{mi.caja.GENCAJcodigo}"/>
                                </p:column>
                                <p:column headerText="Usuario" filterStyle="width: 95%" filterBy="#{mi.SEGUSUcodigo}" width="120">
                                    <p:outputLabel value="#{mi.caja.SEGUSUcodigo}"/>
                                </p:column>
                                <p:column headerText="Turno" filterStyle="width: 95%" filterBy="#{mi.segturNumero}" width="120">
                                    <p:outputLabel value="#{mi.segturNumero}"/>
                                </p:column>
                                <p:column headerText="Cod. Mov." filterStyle="width: 95%" filterBy="#{mi.BANTMVcodigo}" width="100">
                                    <p:outputLabel value="#{mi.BANTMVcodigo}"/>
                                </p:column>
                                <p:column headerText="Movimiento" filterStyle="width: 95%" filterBy="#{mi.movimiento}">
                                    <p:outputLabel value="#{mi.movimiento}"/>
                                </p:column>
                                <p:column headerText="Monto" width="120" style="text-align: right;">
                                    <p:outputLabel value="#{mi.genrrecValor}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Imprimir" width="100" style="text-align: center;">
                                    <p:commandButton value="..." actionListener="#{movimientos.imprimirMovimiento(mi)}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="2. EGRESOS">
                            <p:dataTable id="dtEgresos" value="#{movimientos.recaudacionEgresos}" var="me" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                         reflow="true" filterEvent="enter" rows="15" rowsPerPageTemplate="15,20,50" paginatorPosition="top" rowKey="#{me.genrrecId}"
                                         selectionMode="single" selection="#{movimientos.movimiento}">
                                <p:ajax event="rowDblselect" oncomplete="PF('dlgMovimiento').show();" update="frmdlgMovimiento"/>
                                <p:column headerText="Id" filterStyle="width: 95%" filterBy="#{me.genrrecId}" width="80">
                                    <p:outputLabel value="#{me.genrrecId}"/>
                                </p:column>
                                <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{me.genrrecCodigo}" width="100">
                                    <p:outputLabel value="#{me.genrrecCodigo}"/>
                                </p:column>
                                <p:column headerText="Caja" filterStyle="width: 95%" filterBy="#{me.GENCAJcodigo}" width="120">
                                    <p:outputLabel value="#{me.caja.GENCAJcodigo}"/>
                                </p:column>
                                <p:column headerText="Usuario" filterStyle="width: 95%" filterBy="#{me.SEGUSUcodigo}" width="120">
                                    <p:outputLabel value="#{me.caja.SEGUSUcodigo}"/>
                                </p:column>
                                <p:column headerText="Turno" filterStyle="width: 95%" filterBy="#{me.segturNumero}" width="120">
                                    <p:outputLabel value="#{me.segturNumero}"/>
                                </p:column>
                                <p:column headerText="Cod. Mov." filterStyle="width: 95%" filterBy="#{me.BANTMVcodigo}" width="100">
                                    <p:outputLabel value="#{me.BANTMVcodigo}"/>
                                </p:column>
                                <p:column headerText="Movimiento" filterStyle="width: 95%" filterBy="#{me.movimiento}">
                                    <p:outputLabel value="#{me.movimiento}"/>
                                </p:column>
                                <p:column headerText="Monto" width="120" style="text-align: right;">
                                    <p:outputLabel value="#{me.genrrecValor}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Imprimir" width="100" style="text-align: center;">
                                    <p:commandButton value="..." actionListener="#{movimientos.imprimirMovimiento(me)}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="3. TRANSFERENCIAS">
                            <p:dataTable id="dtTransferencias" value="#{movimientos.recaudacionTransferencia}" var="mt" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                         reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{mt.genrrecId}"
                                         selectionMode="single" selection="#{movimientos.movimiento}">
                                <p:ajax event="rowDblselect" oncomplete="PF('dlgMovimiento').show();" update="frmdlgMovimiento"/>
                                <p:column headerText="Id" filterStyle="width: 95%" filterBy="#{mt.genrrecId}" width="80">
                                    <p:outputLabel value="#{mt.genrrecId}"/>
                                </p:column>
                                <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{mt.genrrecCodigo}" width="100">
                                    <p:outputLabel value="#{mt.genrrecCodigo}"/>
                                </p:column>
                                <p:column headerText="Caja" filterStyle="width: 95%" filterBy="#{mt.GENCAJcodigo}" width="120">
                                    <p:outputLabel value="#{mt.caja.GENCAJcodigo}"/>
                                </p:column>
                                <p:column headerText="Usuario" filterStyle="width: 95%" filterBy="#{mt.SEGUSUcodigo}" width="120">
                                    <p:outputLabel value="#{mt.caja.SEGUSUcodigo}"/>
                                </p:column>
                                <p:column headerText="Turno" filterStyle="width: 95%" filterBy="#{mt.segturNumero}" width="120">
                                    <p:outputLabel value="#{mt.segturNumero}"/>
                                </p:column>
                                <p:column headerText="Cod. Mov." filterStyle="width: 95%" filterBy="#{mt.BANTMVcodigo}" width="100">
                                    <p:outputLabel value="#{mt.BANTMVcodigo}"/>
                                </p:column>
                                <p:column headerText="Movimiento" filterStyle="width: 95%" filterBy="#{mt.movimiento}">
                                    <p:outputLabel value="#{mt.movimiento}"/>
                                </p:column>
                                <p:column headerText="Monto" width="120" style="text-align: right;">
                                    <p:outputLabel value="#{mt.genrrecValor}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Imprimir" width="100" style="text-align: center;">
                                    <p:commandButton value="..." actionListener="#{movimientos.imprimirMovimiento(mt)}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                </h:form>
                
                <p:dialog widgetVar="dlgMovimiento" modal="true"  width="80%" responsive="true" closable="true" header="MOVIENTO" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgMovimiento">
                        <p:panelGrid style="margin: 0 auto; width: 100%;">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="2">
                                        <p:outputLabel value="Informacion Transaccional"/>
                                    </p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column><p:outputLabel value="ID"/></p:column>
                                <p:column><p:inputText value="#{movimientos.movimiento.genrrecId}" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="TIPO MOVIMIENTO"/></p:column>
                                <p:column><p:inputText value="#{movimientos.movimiento.BANTMVcodigo}-#{movimientos.movimiento.movimiento}" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="CAJA"/></p:column>
                                <p:column><p:inputText value="#{movimientos.movimiento.caja.GENCAJcodigo}-#{movimientos.movimiento.caja.GENCAJdescripcio}-#{movimientos.movimiento.caja.SEGUSUcodigo}" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="DESTINATARIO"/></p:column>
                                <p:column><p:inputText value="#{movimientos.movimiento.genrrecDestinatario}" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="VALOR"/></p:column>
                                <p:column><p:inputText value="#{movimientos.movimiento.genrrecValor}" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2"><p:commandButton value="ACEPTAR"  oncomplete="PF('dlgMovimiento').hide();"/></p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>