<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Transferencia de Dinero
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:outputLabel value="TRANSFERENCIA DE DINERO" styleClass="labelMensaje"/>
                    <p:fieldset legend="DATOS CAJA">
                        <p:panelGrid style="width: 95%;">
                            <p:row>
                                <p:column><p:outputLabel value="OFICINA" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{peticion.caja.GENOFIcodigo}-#{peticion.caja.oficina}" readonly="true" size="35"/></p:column>
                                <p:column><p:outputLabel value="BODEGA" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{peticion.caja.GENBODcodigo}-#{peticion.caja.bodega}" readonly="true" size="35"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="CAJA" styleClass="labelBolder"/></p:column>
                                <p:column colspan="3"><p:inputText value="#{peticion.caja.GENCAJcodigo}-#{peticion.caja.GENCAJdescripcio}" readonly="true" size="35"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="TIPO ENTIDAD" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="ENTIDAD" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="CUENTA CAJA" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="TIPO MOVIMIENTO" styleClass="labelBolder"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:inputText value="#{peticion.caja.genpgeCodigo}-#{peticion.caja.tipoEntidad}" readonly="true" size="35"/></p:column>
                                <p:column><p:inputText value="#{peticion.caja.banentCodigo}-#{peticion.caja.entidad}" readonly="true" size="35"/></p:column>
                                <p:column><p:inputText value="#{peticion.caja.banctaCodigo}-#{peticion.caja.cuenta}" readonly="true" size="35"/></p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{peticion.recaudacion.BANTMVcodigo}" style="width: 92%;">
                                        <f:selectItems value="#{peticion.tiposMovimiento}" var="tmo" itemLabel="#{tmo.banmTiposmovimientosPK.BANTMVcodigo}-[#{tmo.BANTMVnombre}]" itemValue="#{tmo.banmTiposmovimientosPK.BANTMVcodigo}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="DATOS GENERALES">
                        <p:panelGrid style="width: 95%;">
                            <p:row>
                                <p:column><p:outputLabel value="CODIGO" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="FECHA INGRESO" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="FECHA MOVIMIENTO" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="FORMA" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="REFERENCIA *" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="CAJA TRANSFERENCIA" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="VALOR *" styleClass="labelBolder"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:inputText value="#{peticion.recaudacion.genrrecCodigo}" readonly="true"/></p:column>
                                <p:column>
                                    <p:inputText value="#{peticion.recaudacion.genrrecIngreso}" readonly="true">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                                    </p:inputText>
                                </p:column>
                                <p:column><p:calendar value="#{peticion.recaudacion.genrrecMovimiento}" pattern="dd/MM/yyyy"/></p:column>
                                <p:column>
                                    <p:inputText value="EFECTIVO" readonly="true" styleClass="upper"/>
                                </p:column>
                                <p:column><p:inputText value="#{peticion.recaudacion.genrrecReferencia}" styleClass="upper"/></p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{peticion.recaudacion.cajaTransfer}" converter="entityConverter" >
                                        <f:selectItems value="#{peticion.cajaList}" var="cl" itemLabel="#{cl.GENCAJcodigo}-[#{cl.GENCAJdescripcio}]" itemValue="#{cl}"/>
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column><p:inputText placeholder="0.00" value="#{peticion.recaudacion.genrrecValor}" style="text-align: right;" size="10"/></p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:fieldset>
                    <br/>
                    <p:fieldset legend="DETALLE">
                        <p:panelGrid style="width: 95%;">
                            <p:row>
                                <p:column><p:outputLabel value="DESTINATARIO *" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{peticion.recaudacion.genrrecDestinatario}" styleClass="upper" size="35"/></p:column>
                            </p:row>                            
                            <p:row>
                                <p:column><p:outputLabel value="DESCRIPCION *" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputTextarea value="#{peticion.recaudacion.genrrecDescripcion}" styleClass="upper" cols="35"/></p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:fieldset>
                    <br/>
                    <center>
                        <p:commandButton icon="fa fa-save" value="Grabar" actionListener="#{peticion.grabarPeticion()}"/>
                        <p:spacer width="30"/>
                        <p:commandButton icon="fa fa-sign-out" value="Limpiar" actionListener="#{peticion.init()}" update="mainForm"/>
                    </center>
                </h:form>
                
                <p:dialog widgetVar="dlgInformacion" modal="true"  width="50%" responsive="true" closable="false" header="Informacion Transaccional" resizable="false" closeOnEscape="false" position="top">
                    <h:form id="frmdlgInformacion">
                        <p:panelGrid style="margin: 0 auto; width: 100%;">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="2">
                                        <p:outputLabel value="Informacion Transaccional"/>
                                    </p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column><p:outputLabel value="ID"/></p:column>
                                <p:column><p:inputText value="#{peticion.r.genrrecId}" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="TIPO MOVIMIENTO"/></p:column>
                                <p:column><p:inputText value="#{peticion.r.BANTMVcodigo}-#{peticion.r.movimiento}" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="CAJA"/></p:column>
                                <p:column><p:inputText value="#{peticion.r.caja.GENCAJcodigo}-#{peticion.r.caja.GENCAJdescripcio}-#{peticion.r.caja.SEGUSUcodigo}" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="DESTINATARIO"/></p:column>
                                <p:column><p:inputText value="#{peticion.r.genrrecDestinatario}" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="VALOR"/></p:column>
                                <p:column><p:inputText value="#{peticion.r.genrrecValor}" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2"><p:commandButton value="ACEPTAR"  actionListener="#{peticion.aceptarTransaccion()}"/></p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                </p:dialog>
                
            </ui:define>
        </ui:composition>
    </body>
</html>