<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">
    
    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Ingreso de Compra
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="datos">
                <component:cAtajos buscar="true" limpiar="true" agregar="true"/>
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm" prependId="false">
                    <p:tabView style="width: 100%;">
                        <p:tab title="Datos de Ingreso a Bodega">
                            <p:panelGrid columns="6" style="width: 100%">
                                <h:outputText value="Oficina:" style="font-weight: BOLD;"/>
                                <p:selectOneMenu id="oficina" disabled="true" value="#{ingresoComprasView.dataIngreso['oficina']}" converter="entityConverter"
                                                 filter="true" filterMatchMode="startsWith" style="width: 85%">
                                    <p:ajax event="change" update="oficina"/>
                                    <f:selectItem itemLabel="" itemValue="#{null}" />
                                    <f:selectItems value="#{ingresoComprasView.oficinas}" var="o" itemLabel="#{o.genofiSecuencia}-#{o.genofinomComercial}" itemValue="#{o}"/>
                                </p:selectOneMenu>
                                <h:outputText value="Ingreso a Bodega" style="font-weight: BOLD;"/>
                                <p:commandLink update=":ingBodegaFrm" onclick="PF('wdIngBod').show()">
                                    <p:graphicImage value="/resources/images/clic.png"/>
                                </p:commandLink>
                                <p:inputText value="#{ingresoComprasView.ingBodega.COMCCMnumsecucial}" readonly="true"/>
                            </p:panelGrid>
                            <p:panelGrid columns="8" style="width: 100%">
                                <h:outputText value="Fecha de Emisión" style="font-weight: BOLD;"/>
                                <p:calendar value="#{ingresoComprasView.fechaEmision}" readonly="true" navigator="true" pattern="dd-MMM-yyyy"/>
                                <h:outputText value="Moneda" style="font-weight: BOLD;"/>
                                <p:selectOneMenu id="monedas" disabled="true" value="#{ingresoComprasView.dataIngreso['moneda']}" converter="entityConverter"
                                                 filter="true" filterMatchMode="startsWith" style="width: 75%">
                                    <p:ajax event="change" update="monedas"/>
                                    <f:selectItems value="#{ingresoComprasView.monedas}" var="o" itemLabel="#{o.GENMONnombre}" itemValue="#{o}"/>
                                </p:selectOneMenu>
                                <h:outputText value="Afectar Inventario"/>
                                <p:selectBooleanCheckbox />
                                <h:outputText value="Número" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true"/>
                            </p:panelGrid>

                            <p:panelGrid columns="8" style="width: 100%">
                                <h:outputText value="Proveedor:" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true" value="#{ingresoComprasView.proveedor.COMPROidcodigo}" style="width: 80px;"/>
                                <p:commandLink disabled="true" onclick="PF('wdProveedores').show()">
                                    <p:graphicImage value="/resources/images/clic.png"/>
                                </p:commandLink>
                                <p:inputText value="#{ingresoComprasView.proveedor.getCXPPROrazonsocia()}" readonly="true" style="width: 280px;"/>
                                <h:outputText value="Bodega:" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true" style="width: 80px;"/>
                                <p:commandLink disabled="true" actionListener="#{ajusteInventario.busquedaOficina()}">
                                    <p:graphicImage value="/resources/images/clic.png"/>
                                </p:commandLink>
                                <p:inputText readonly="true" style="width: 280px;"/>
                            </p:panelGrid>
                            <p:panelGrid columns="8" style="width: 100%">
                                <h:outputText value="Factura:" style="font-weight: BOLD;"/>
                                <p:commandLink disabled="true" actionListener="#{ajusteInventario.busquedaOficina()}">
                                    <p:graphicImage value="/resources/images/clic.png"/>
                                </p:commandLink>
                                <p:inputMask readonly="true" mask="99-99-9999999"/>
                                <h:outputText value="Provincia:" style="font-weight: BOLD;"/>
                                <p:selectOneMenu disabled="true" id="provincias" value="#{ingresoComprasView.dataIngreso['provincia']}" converter="entityConverter"
                                                 filter="true" filterMatchMode="startsWith" style="width: 75%">
                                    <p:ajax event="change" update="provincias"/>
                                    <f:selectItems value="#{ingresoComprasView.provincias}" var="o" itemLabel="#{o.GENPGEnombre}" itemValue="#{o}"/>
                                </p:selectOneMenu>
                                <h:outputText value="Fecha Factura" style="font-weight: BOLD;"/>
                                <p:calendar readonly="true" navigator="true" pattern="dd-MMM-yyyy" value="#{ingresoComprasView.fechaFactura}"/>
                            </p:panelGrid>
                            <p:panelGrid columns="4" style="width: 100%">
                                <p:commandButton value="Agregar Producto" oncomplete="PF('wdProductos').show()" disabled="true"/>
                                <h:outputText value="Observación:" style="font-weight: BOLD; width: 50px;"/>
                                <p:inputText readonly="true" style="width: 80%;"/>
                            </p:panelGrid>

                            <p:dataTable rows="10" style="width: 100%; margin-top: 10px;" emptyMessage="No hay datos." scrollable="true" scrollWidth="400"
                                         paginator="true" paginatorPosition="top" value="#{ingresoComprasView.ingBodega.detalle}" var="v">
                                <f:facet name="header">
                                    <h:outputText value="Productos" style="font-weight: bold; font-size: 16px;"/>
                                </f:facet>

                                <p:column headerText="Cod. Item" style="font-size: 9px;" width="10%;">
                                    #{v.producto.invmItemPK.INVITMcodigo}
                                </p:column>
                                
                                <!-- -->
                                
                                <p:column headerText="Nombre Item" style="font-size: 9px;" width="30%;">
                                    #{v.producto.INVITMnombre}
                                </p:column>

                                <!-- -->

                                <p:column headerText="Cajas" style="font-size: 9px;" width="10%;">
                                    #{v.COMDCMcanticaja}
                                </p:column>

                                <!-- -->

                                <p:column headerText="Unidad" style="font-size: 9px;" width="10%;">
                                    #{v.COMDCMcantiunida}
                                </p:column>

                                <!-- -->

                                <p:column headerText="Precio Caja" style="font-size: 9px;" width="10%;">
                                    
                                </p:column>

                                <!-- -->

                                <p:column headerText="Precio Item" style="font-size: 9px;" width="10%;">
                                    
                                </p:column>

                                <!-- -->

                                <p:column headerText="Costo Item" style="font-size: 9px;" width="10%;">

                                </p:column>

                                <!-- -->

                                <p:column headerText="Costo Compra" style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                                <!-- -->

                                <p:column headerText="% de Desc." style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                                <!-- -->

                                <p:column headerText="Subtotal" style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                                <!-- -->

                                <p:column headerText="Descuento" style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                                <!-- -->

                                <p:column headerText="Impuesto" style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                                <!-- -->

                                <p:column headerText="Neto" style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                                <!-- -->

                                <p:column headerText="Ret. IVA" style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                                <!-- -->

                                <p:column headerText="Ret. Fuente" style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                                <!-- -->

                                <p:column headerText="Val. Ret. IVA" style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                                <!-- -->

                                <p:column headerText="Val. Ret. Fte." style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                                <!-- -->

                                <p:column headerText="Precio Item" style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                                <!-- -->

                                <p:column headerText="Imp. Plástico" style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                                <!-- -->

                                <p:column headerText="Otros Imps." style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                                <!-- -->

                                <p:column headerText="Clases" style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                                <!-- -->

                                <p:column headerText="Imp. ICE." style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                                <!-- -->

                                <p:column headerText="Val. ICE." style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                                <!-- -->

                                <p:column headerText="Total. ICE." style="font-size: 9px;" width="10%;">

                                </p:column>
                                
                            </p:dataTable>

                            <p:panelGrid columns="10" style="width: 100%; margin-top: 15px;" >
                                <h:outputText value="Subtotal:" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true" style="width: 80px;"/>
                                <h:outputText value="Descuento:" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true" style="width: 80px;"/>
                                <h:outputText value="Impuestos:" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true" style="width: 80px;"/>
                                <h:outputText value="Otros Imp.:" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true" style="width: 80px;"/>
                                <h:outputText value="Neto:" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true" style="width: 80px;"/>

                                <!-- -->

                                <h:outputText value="Ret. IVA:" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true" style="width: 80px;"/>
                                <h:outputText value="Ret. Fuente:" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true" style="width: 80px;"/>
                                <h:outputText value="Total Ret.:" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true" style="width: 80px;"/>
                                <h:outputText value="Total a Pagar:" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true" style="width: 80px;"/>
                            </p:panelGrid>
                        </p:tab>
                        <p:tab title="Datos Adicionales SRI">
                            <p:panelGrid columns="7" style="width: 100%;">
                                <p:selectBooleanCheckbox />
                                <h:outputText value="Doc. Electrónica:"/>
                                <h:outputText value="Autorización:" style="font-weight: BOLD;"/>
                                <p:inputText style="width: 280px;"/>
                                <p:commandLink disabled="true" actionListener="#{ajusteInventario.busquedaOficina()}">
                                    <p:graphicImage value="/resources/images/clic.png"/>
                                </p:commandLink>
                                <h:outputText value="Fecha Validez:" style="font-weight: BOLD;"/>
                                <p:calendar navigator="true" pattern="dd-MMM-yyyy"/>
                            </p:panelGrid>
                            <p:panelGrid columns="6" style="width: 100%;">
                                <h:outputText value="Plan Pago:" style="font-weight: BOLD;"/>
                                <p:selectOneMenu id="planPago" value="#{ingresoComprasView.dataIngreso['planPago']}" converter="entityConverter"
                                                 filter="true" filterMatchMode="startsWith" style="width: 75%">
                                    <p:ajax event="change" update="planPago"/>
                                    <f:selectItems value="#{ingresoComprasView.planesPago}" var="o" itemLabel="#{o.CXPPLPnombre}" itemValue="#{o}"/>
                                </p:selectOneMenu>
                                <h:outputText value="Forma Pago:" style="font-weight: BOLD;"/>
                                <p:selectOneMenu id="formaPago" value="#{ingresoComprasView.dataIngreso['formaPago']}" converter="entityConverter"
                                                 filter="true" filterMatchMode="startsWith" style="width: 75%">
                                    <p:ajax event="change" update="formaPago"/>
                                    <f:selectItems value="#{ingresoComprasView.formasPago}" var="o" itemLabel="#{o.descripcion}" itemValue="#{o}"/>
                                </p:selectOneMenu>
                                <h:outputText value="Vencimiento:" style="font-weight: BOLD;"/>
                                <p:calendar navigator="true" pattern="dd-MMM-yyyy"/>
                            </p:panelGrid>

                            <p:fieldset legend="SRI">
                                <p:panelGrid columns="4" style="width: 100%;">
                                    <h:outputText value="Tipo Documento SRI:" style="font-weight: BOLD;"/>
                                    <p:selectOneMenu id="tipoDoc" value="#{ingresoComprasView.dataIngreso['tipoDoc']}" converter="entityConverter"
                                                     filter="true" filterMatchMode="startsWith" style="width: 75%">
                                        <p:ajax event="change" update="tipoDoc"/>
                                        <f:selectItems value="#{ingresoComprasView.tiposDocs}" var="o" itemLabel="#{o.CXPTDOnombre}" itemValue="#{o}"/>
                                    </p:selectOneMenu>
                                    <h:outputText value="Tipo Comprobante:" style="font-weight: BOLD;"/>
                                    <p:selectOneMenu id="tipoComprobante" value="#{ingresoComprasView.dataIngreso['tipoComprobante']}" converter="entityConverter"
                                                     filter="true" filterMatchMode="startsWith" style="width: 75%">
                                        <p:ajax event="change" update="tipoComprobante"/>
                                        <f:selectItems value="#{ingresoComprasView.tiposComprobante}" var="o" itemLabel="#{o.descrip}" itemValue="#{o}"/>
                                    </p:selectOneMenu>
                                </p:panelGrid>
                                <p:panelGrid columns="2" style="width: 100%;">
                                    <h:outputText value="Sustento Tributario:" style="font-weight: BOLD;"/>
                                    <p:selectOneMenu id="sustentoTrib" value="#{ingresoComprasView.dataIngreso['sustentoTrib']}" converter="entityConverter"
                                                     filter="true" filterMatchMode="startsWith" style="width: 75%">
                                        <p:ajax event="change" update="sustentoTrib"/>
                                        <f:selectItems value="#{ingresoComprasView.sustentosTributarios}" var="o" itemLabel="#{o.descrip}" itemValue="#{o}"/>
                                    </p:selectOneMenu>
                                </p:panelGrid>
                            </p:fieldset>

                            <p:dataTable rows="10" style="width: 100%; margin-top: 10px;" emptyMessage="No hay datos."
                                         paginator="true" paginatorPosition="top">
                                <p:column headerText="Cod. Item" style="font-size: 9px;" width="10%;">

                                </p:column>

                                <!-- -->

                                <p:column headerText="Nombre Item" style="font-size: 9px;" width="30%;">

                                </p:column>

                                <!-- -->

                                <p:column headerText="Cajas" style="font-size: 9px;" width="10%;">

                                </p:column>

                                <!-- -->

                                <p:column headerText="Unidad" style="font-size: 9px;" width="10%;">

                                </p:column>

                                <!-- -->

                                <p:column headerText="Precio Caja" style="font-size: 9px;" width="10%;">

                                </p:column>

                                <!-- -->

                                <p:column headerText="Precio Item" style="font-size: 9px;" width="10%;">

                                </p:column>

                                <!-- -->

                                <p:column headerText="Costo Item" style="font-size: 9px;" width="10%;">

                                </p:column>

                                <!-- -->

                                <p:column headerText="Costo Compra" style="font-size: 9px;" width="10%;">

                                </p:column>
                            </p:dataTable>

                            <p:panelGrid columns="10" style="width: 100%; margin-top: 15px;">
                                <h:outputText value="Subtotal:" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true" style="width: 80px;"/>
                                <h:outputText value="Descuento:" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true" style="width: 80px;"/>
                                <h:outputText value="Impuestos:" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true" style="width: 80px;"/>
                                <h:outputText value="Otros Imp.:" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true" style="width: 80px;"/>
                                <h:outputText value="Neto:" style="font-weight: BOLD;"/>
                                <p:inputText readonly="true" style="width: 80px;"/>

                                <!-- -->

                                <h:outputText value="Ret. IVA:" style="font-weight: BOLD;"/>
                                <p:inputText style="width: 80px;"/>
                                <h:outputText value="Ret. Fuente:" style="font-weight: BOLD;"/>
                                <p:inputText style="width: 80px;"/>
                                <h:outputText value="Total Ret.:" style="font-weight: BOLD;"/>
                                <p:inputText style="width: 80px;"/>
                                <h:outputText value="Total a Pagar:" style="font-weight: BOLD;"/>
                                <p:inputText style="width: 80px;"/>
                            </p:panelGrid>
                        </p:tab>
                        <p:tab title="Datos de la Retención">
                            <p:fieldset legend="Retención de la Compra">
                                <p:panelGrid columns="4" style="width: 100%">
                                    <h:outputText value="Talonario:" style="font-weight: BOLD;"/>
                                    <p:selectOneMenu id="talonario" value="#{ingresoComprasView.dataIngreso['talonario']}" converter="entityConverter"
                                                     filter="true" filterMatchMode="startsWith" style="width: 75%">
                                        <p:ajax event="change" update="talonario"/>
                                        <f:selectItems value="#{ingresoComprasView.talonarios}" var="o" itemLabel="#{o.GENTALdescripcion}" itemValue="#{o}"/>
                                    </p:selectOneMenu>
                                    <h:outputText value="Retención Física:" style="font-weight: BOLD;"/>
                                    <p:inputText style="width: 80px;"/>
                                </p:panelGrid>

                                <p:panelGrid columns="2" style="width: 100%">
                                    <p:panelGrid columns="2" style="width: 100%">
                                        <h:outputText value="RET. IVA:" style="font-weight: BOLD;"/>
                                        <p:selectOneMenu id="ret_iva" value="#{ingresoComprasView.dataIngreso['ret_iva']}" converter="entityConverter"
                                                         filter="true" filterMatchMode="startsWith" style="width: 75%">
                                            <p:ajax event="change" update="ret_iva"/>
                                            <f:selectItems value="#{ingresoComprasView.ivaList}" var="o" itemLabel="#{o.CXPRETnombre}" itemValue="#{o}"/>
                                        </p:selectOneMenu>
                                        <h:outputText value="RET. FUENTE:" style="font-weight: BOLD;"/>
                                        <p:selectOneMenu id="ret_fuente" value="#{ingresoComprasView.dataIngreso['ret_fuente']}" converter="entityConverter"
                                                         filter="true" filterMatchMode="startsWith" style="width: 75%">
                                            <p:ajax event="change" update="ret_fuente"/>
                                            <f:selectItems value="#{ingresoComprasView.fuenteList}" var="o" itemLabel="#{o.CXPRETnombre}" itemValue="#{o}"/>
                                        </p:selectOneMenu>
                                        <h:outputText value="Autorización Electrónica:" style="font-weight: BOLD;"/>
                                        <p:inputText />
                                    </p:panelGrid>


                                    <p:commandButton value="Anular Retención" />

                                </p:panelGrid>

                                <p:dataTable rows="10" style="width: 100%; margin-top: 10px;" emptyMessage="No hay datos."
                                             paginator="true" paginatorPosition="top">
                                    <p:column headerText="Cod. Item" style="font-size: 9px;" width="10%;">

                                    </p:column>

                                    <!-- -->

                                    <p:column headerText="Nombre Item" style="font-size: 9px;" width="30%;">

                                    </p:column>

                                    <!-- -->

                                    <p:column headerText="Cajas" style="font-size: 9px;" width="10%;">

                                    </p:column>

                                    <!-- -->

                                    <p:column headerText="Unidad" style="font-size: 9px;" width="10%;">

                                    </p:column>

                                    <!-- -->

                                    <p:column headerText="Precio Caja" style="font-size: 9px;" width="10%;">

                                    </p:column>

                                    <!-- -->

                                    <p:column headerText="Precio Item" style="font-size: 9px;" width="10%;">

                                    </p:column>

                                    <!-- -->

                                    <p:column headerText="Costo Item" style="font-size: 9px;" width="10%;">

                                    </p:column>

                                    <!-- -->

                                    <p:column headerText="Costo Compra" style="font-size: 9px;" width="10%;">

                                    </p:column>
                                </p:dataTable>

                                <p:panelGrid columns="10" style="width: 100%; margin-top: 15px;">
                                    <h:outputText value="Subtotal:" style="font-weight: BOLD;"/>
                                    <p:inputText  style="width: 80px;"/>
                                    <h:outputText value="Descuento:" style="font-weight: BOLD;"/>
                                    <p:inputText style="width: 80px;"/>
                                    <h:outputText value="Impuestos:" style="font-weight: BOLD;"/>
                                    <p:inputText style="width: 80px;"/>
                                    <h:outputText value="Otros Imp.:" style="font-weight: BOLD;"/>
                                    <p:inputText style="width: 80px;"/>
                                    <h:outputText value="Neto:" style="font-weight: BOLD;"/>
                                    <p:inputText style="width: 80px;"/>

                                    <!-- -->

                                    <h:outputText value="Ret. IVA:" style="font-weight: BOLD;"/>
                                    <p:inputText style="width: 80px;"/>
                                    <h:outputText value="Ret. Fuente:" style="font-weight: BOLD;"/>
                                    <p:inputText style="width: 80px;"/>
                                    <h:outputText value="Total Ret.:" style="font-weight: BOLD;"/>
                                    <p:inputText style="width: 80px;"/>
                                    <h:outputText value="Total a Pagar:" style="font-weight: BOLD;"/>
                                    <p:inputText style="width: 80px;"/>
                                </p:panelGrid>
                            </p:fieldset>
                        </p:tab>
                    </p:tabView>
                </h:form>

                <!-- -->

                <p:dialog header="Proveedores" widgetVar="wdProveedores" modal="true" width="60%" resizable="false">
                    <h:form id="proveedoresFrm" prependId="false">
                        <p:dataTable var="v" lazy="true" value="#{ingresoComprasView.proveedores}" rowKey="#{v.cxpmProveedorPK}"
                                     selection="#{ingresoComprasView.proveedor}" selectionMode="single" rows="5" 
                                     paginator="true" paginatorPosition="top" filterEvent="enter">
                            <!-- <p:ajax event="rowSelect" listener="#{ingresoComprasView.setProveedor(v)}"/>-->
                            <p:column headerText="Razón Social" filterBy="#{v.CXPPROrazonsocia}">
                                #{v.CXPPROrazonsocia}
                            </p:column>

                            <p:column headerText="CI.RUC." filterBy="#{v.CXPPROruccedula}">
                                #{v.CXPPROruccedula}
                            </p:column>

                            <p:column headerText="Dirección" filterBy="#{v.CXPPROdireccion}">
                                #{v.CXPPROdireccion}
                            </p:column>
                        </p:dataTable>
                        <center>
                            <p:commandButton value="Aceptar" actionListener="#{ingresoComprasView.validarProveedor}" update="mainForm"/>
                            <p:commandButton value="Cancelar" actionListener="#{ingresoComprasView.setProveedor(null)}" oncomplete="PF('wdProveedores').hide()"/>
                        </center>
                    </h:form>
                </p:dialog>

                <!-- -->

                <p:dialog header="Productos" widgetVar="wdProductos" modal="true" width="70%" resizable="false">
                    <h:form id="productosFrm" prependId="false">
                        <p:dataTable id="dtProductos" value="#{ingresoComprasView.productosLazy}" var="p" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                     reflow="true" filterEvent="enter" rows="15" rowsPerPageTemplate="15,25,50" paginatorPosition="top" rowKey="#{p.invmItemPK}"
                                     selection="#{producto.item}" selectionMode="single">
                            <p:ajax event="rowSelect" listener="#{ingresoComprasView.onProductoSelect}" update=":mainForm" />
                            <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{p.INVITMcodigo}" width="120">
                                <p:outputLabel value="#{p.invmItemPK.INVITMcodigo}"/>
                            </p:column>
                            <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{p.INVITMnombre}">
                                <p:outputLabel value="#{p.INVITMnombre}"/>
                            </p:column>
                            <p:column headerText="Grupo" width="120">
                                <p:outputLabel value="#{p.INVUNIunidadgrup}"/>
                            </p:column>
                            <p:column headerText="Stock" width="120">
                                <p:outputLabel value="#{p.INVITMstock}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>
                
                <!-- -->

                <p:dialog header="Ingreso a Bodega" widgetVar="wdIngBod" modal="true" width="70%" resizable="false">
                    <h:form id="ingBodegaFrm" prependId="false">
                        <p:dataTable id="dtOrdsCompra" value="#{ingresoComprasView.ingBodegaLazy}" var="p" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                     reflow="true" filterEvent="enter" rows="15" rowsPerPageTemplate="15,25,50" paginatorPosition="top" rowKey="#{p.COMCCMnumsecucial}"
                                     selection="#{ingresoComprasView.ingBodega}" selectionMode="single">
                            <p:ajax event="rowSelect" listener="#{ingresoComprasView.onIngBodegaSelect}" update=":mainForm"/>
                            <p:column headerText="Num. Secuencial" filterStyle="width: 95%" filterBy="#{p.INVITMcodigo}" width="120">
                                <p:outputLabel value="#{p.COMCCMnumsecucial}"/>
                            </p:column>
                            
                            <p:column headerText="Fecha de Ingreso" width="120">
                                <p:outputLabel value="#{p.COMCCMfecrecepci}"/>
                            </p:column>
                            
                            <p:column headerText="Num. Secuencial" filterStyle="width: 95%" filterBy="#{p.INVITMcodigo}" width="120">
                                <p:outputLabel value="#{p.COMCCMnumsecucial}"/>
                            </p:column>
                            
                            <p:column headerText="Num. Secuencial" filterStyle="width: 95%" filterBy="#{p.INVITMcodigo}" width="120">
                                <p:outputLabel value="#{p.COMCCMnumsecucial}"/>
                            </p:column>
                            
                        </p:dataTable>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>