<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">
    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">Ingreso a Bodega</ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />                
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm" >
                    <p:remoteCommand name="busquedaOficina" actionListener="#{ingresoBodegaView.busquedaOficina()}" update="mainForm"/>
                    <p:remoteCommand name="busquedaBodega" actionListener="#{ingresoBodegaView.busquedaBodega()}" update="mainForm"/>
                    <p:remoteCommand name="busquedaProveedor" actionListener="#{ingresoBodegaView.buscarProveedorCampo()}" update="mainForm" />
                    <p:tabView id="contenedor">
                        <p:tab title="1. REGISTRO">
                            <p:fieldset legend="Ingreso a Bodega">
                                <p:panelGrid style="width: 100%">
                                    <p:row>
                                        <p:column>
                                            <p:panelGrid columns="4" styleClass="ui-noborder">
                                                <h:outputText value="Oficina:" styleClass="labelBolder"/>
                                                <p:inputText id="secuenciaOficina" style="margin-left: 20px;" value="#{ingresoBodegaView.compra.GENOFI_codigo}" size="8"/>
                                                <p:commandLink update="frmdlgOficina" oncomplete="PF('dlgOficina').show()" title="Buscar oficina"><p:graphicImage value="/resources/images/clic.png"/></p:commandLink>
                                                <p:inputText readonly="true" style="width: 250px" value="#{ingresoBodegaView.dataIngreso['oficina'].genofinomComercial}"/>
                                            </p:panelGrid>
                                        </p:column>
                                        <p:column>
                                            <p:panelGrid columns="4" styleClass="ui-noborder">
                                                <h:outputText value="Sugerido" style="font-weight: BOLD;"/>
                                                <p:selectBooleanCheckbox disabled="#{ingresoBodegaView.ingBodega ne null}" value="#{ingresoBodegaView.dataIngreso['conSugerido']}">
                                                    <p:ajax update="idSugerido,busquedaSugerido"/>
                                                </p:selectBooleanCheckbox>
                                                <p:commandLink id="busquedaSugerido" update="ordsSugCompFrm" oncomplete="PF('wdSugComp').show()" actionListener="#{ingresoBodegaView.actualizarSugerido}" title="Buscar sugerido de compra" disabled="#{ingresoBodegaView.ingBodega ne null||!ingresoBodegaView.dataIngreso['conSugerido']}"><p:graphicImage value="/resources/images/clic.png"/></p:commandLink>
                                                <p:inputText id="idSugerido" readonly="true" value="#{ingresoBodegaView.compra.COMCCM_numsecrel}-#{ingresoBodegaView.compra.COMCCM_numdocurel}" disabled="#{!ingresoBodegaView.dataIngreso['conSugerido']}"/>
                                            </p:panelGrid>
                                        </p:column>
                                        <p:column rowspan="5" styleClass="backgroundLogo">
                                            <p:spacer width="140"/>
                                        </p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column>
                                            <p:panelGrid columns="6" styleClass="ui-noborder">
                                                <h:outputText value="F. Emisión" style="font-weight: BOLD;"/>
                                                <p:calendar value="#{ingresoBodegaView.compra.COMCCM_fecrecepci}" navigator="true" pattern="dd/MM/yyyy" size="10"/>
                                                <h:outputText value="Moneda" style="font-weight: BOLD;"/>
                                                <p:selectOneMenu id="monedas" value="#{ingresoBodegaView.compra.GENMON_codigo}" filter="true" filterMatchMode="startsWith" style="width: 75%">
                                                    <f:selectItems value="#{ingresoBodegaView.monedas}" var="o" itemLabel="#{o.GENMONnombre}" itemValue="#{o.GENMONcodigo}"/>
                                                </p:selectOneMenu>
                                                <h:outputText value="Provincia:" style="font-weight: BOLD;"/>
                                                <p:selectOneMenu id="provincias" value="#{ingresoBodegaView.dataIngreso['provincia']}" filter="true" filterMatchMode="startsWith" style="width: 75%; margin-left: 10px;">
                                                    <f:selectItems value="#{ingresoBodegaView.provincias}" var="o" itemLabel="#{o.GENPGEnombre}" itemValue="#{o.genpParamgeneralesPK.GENCIAcodigo}-#{o.genpParamgeneralesPK.GENPGEtabla}-#{o.genpParamgeneralesPK.GENPGEcodigo}"/>
                                                </p:selectOneMenu>
                                            </p:panelGrid>
                                        </p:column>
                                        <p:column>
                                            <p:panelGrid columns="4" styleClass="ui-noborder">
                                                <h:outputText value="Afectar Inventario" style="font-weight: BOLD;"/>
                                                <p:selectBooleanCheckbox value="#{ingresoBodegaView.compra.COMCCM_prepostea}"/>
                                                <h:outputText value="Número" styleClass="labelBolder"/>
                                                <p:inputText value="#{ingresoBodegaView.compra.COMCCM_numdocumen}" readonly="true" size="8"/>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column>
                                            <p:panelGrid columns="4" styleClass="ui-noborder">
                                                <h:outputText value="Proveedor:" style="font-weight: BOLD;"/>
                                                <p:inputText id="secuenciaProveedor" value="#{ingresoBodegaView.compra.CXPPRO_codigo}" styleClass="upper" size="8"/>
                                                <p:commandLink title="Buscar proveedor" actionListener="#{ingresoBodegaView.buscarProveedorCampo()}" update="mainForm"><p:graphicImage value="/resources/images/clic.png"/></p:commandLink>
                                                <p:inputText id="nombreProveedor" value="#{ingresoBodegaView.dataIngreso['proveedor'].CXPPROrazonsocia}" readonly="true" size="50"/>
                                            </p:panelGrid>
                                        </p:column>
                                        <p:column>
                                            <p:panelGrid columns="4" styleClass="ui-noborder">
                                                <h:outputText value="Bodega:" style="font-weight: BOLD;"/>
                                                <p:inputText id="secuenciaBodega" value="#{ingresoBodegaView.compra.codigoBodega}" style="width: 80px; margin-left: 30px;"/>
                                                <p:commandLink title="Buscar bodega" actionListener="#{ingresoBodegaView.busquedaBodega()}"><p:graphicImage value="/resources/images/clic.png"/></p:commandLink>
                                                <p:inputText id="bodegaValue" readonly="true" value="#{ingresoBodegaView.dataIngreso['bodega'].genbodNombre}" style="width: 280px;"/>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column>
                                            <p:panelGrid columns="7" styleClass="ui-noborder">
                                                <h:outputText value="Factura:" style="font-weight: BOLD;"/>
                                                <p:commandLink actionListener="#{ingresoBodegaView.validarFactura}" update="idDlgFactura" title="Buscar factura" style="margin-left: 10px;"><p:graphicImage value="/resources/images/clic.png"/></p:commandLink>
                                                <p:inputMask value="#{ingresoBodegaView.compra.codigoTalonario}" readonly="true" mask="999-999" style="width: 55px;"/>
                                                <p:inputMask value="#{ingresoBodegaView.compra.COMCCM_numfacprov}" mask="9999999"/>
                                                <p:commandButton icon="fa fa-align-justify" title="Detalle" actionListener="#{ingresoBodegaView.consultarResumenFactura()}"  oncomplete="PF('dlgCompraSugerido').show();" update="frmdlgCompraSugerido"/>
                                                <h:outputText value="Fecha Factura" style="font-weight: BOLD; margin-left: 20px;"/>
                                                <p:calendar navigator="true" pattern="dd/MM/yyyy" value="#{ingresoBodegaView.compra.CXPDOC_fechafactura}" size="10"/>
                                            </p:panelGrid>
                                        </p:column>
                                        <p:column>
                                            <h:outputText value="Observación:" style="font-weight: BOLD;"/>
                                            <p:inputText value="#{ingresoBodegaView.compra.COMCCM_descrilarg}" style="width: 70%; margin-left: 25px;" styleClass="upper"/>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:fieldset>
                            <p:panelGrid id="busquedaItem" styleClass="ui-noborder" style="width: 100%">
                                <p:row>
                                    <p:column colspan="2" >
                                        <component:cBusquedaItem item="#{ingresoBodegaView.item}" buscar="#{ingresoBodegaView.busquedaItem()}" upBuscar="mainForm:contenedor:busquedaItem, mainForm:contenedor:dtProductos" 
                                        limpiar="#{ingresoBodegaView.limpiarItem()}" upLimpiar="mainForm:contenedor:busquedaItem" agregar="#{ingresoBodegaView.agregarItem()}" upAgregar="mainForm:contenedor:busquedaItem,mainForm:contenedor:dtProductos,mainForm:contenedor:pnlDatos"/>                                        
                                        <p:spacer width="10"/>
                                        <p:commandButton update="frmdlgRegistroItem" oncomplete="PF('dlgRegistroItem').show();" icon="fa fa-edit" title="CREAR ITEM"/>
                                        <p:remoteCommand name="buscarItem" actionListener="#{ingresoBodegaView.busquedaItem()}" update="busquedaItem"/>
                                        <p:remoteCommand name="limpiarItem" actionListener="#{ingresoBodegaView.limpiarItem()}" update="busquedaItem" process="@this"/>
                                        <p:remoteCommand name="agregarItem" actionListener="#{ingresoBodegaView.agregarItem()}" update="busquedaItem,dtProductos,pnlDatos"/>
                                        <p:commandButton value="Guardar" icon="fa fa-save" actionListener="#{ingresoBodegaView.guardarDatos()}" style="float: right;" update="mainForm"/>                                        
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                            
                            <p:dataTable id="dtProductos" emptyMessage="No hay datos." value="#{ingresoBodegaView.items}" var="v" scrollRows="6" editable="true" editMode="cell" scrollable="true" rowIndexVar="row" scrollHeight="250">
                                <f:facet name="header">Detalle de Productos</f:facet>
                                <p:columnGroup type="header">
                                    <p:row>
                                        <p:column rowspan="2" headerText="Cod. Item" />
                                        <p:column rowspan="2" headerText="Item" width="250"/>
                                        <p:column rowspan="2" headerText="Sugerido" />
                                        <p:column rowspan="2" headerText="Cajas" />
                                        <p:column rowspan="2" headerText="Factor" width="50"/>
                                        <p:column rowspan="2" headerText="Unidad" />
                                        <p:column rowspan="2" headerText="Funcional" />
                                        <p:column colspan="2" headerText="Precio" />
                                        <p:column colspan="2" headerText="Costo" />
                                        <p:column rowspan="2" headerText="%Desc." />
                                        <p:column rowspan="2" headerText="Subtotal" />
                                        <p:column rowspan="2" headerText="Descuento" />
                                        <p:column rowspan="2" headerText="Impuesto" />
                                        <p:column rowspan="2" headerText="Neto" />
                                        <p:column rowspan="2" headerText="Imp. ICE." />
                                        <p:column rowspan="2" headerText="ICE." />
                                        <p:column rowspan="2" headerText="Imp. Plastico" />
                                        <p:column rowspan="2" headerText="Op." width="10" />
                                    </p:row>
                                    <p:row>
                                        <p:column headerText="Caja" />
                                        <p:column headerText="Item" />
                                        <p:column headerText="Item" />
                                        <p:column headerText="Compra" />
                                    </p:row>
                                </p:columnGroup>
                                <p:column class="columnaDataTable">
                                    #{v.invmItemPK.INVITMcodigo}
                                </p:column>
                                <p:column width="250" class="columnaDataTable">
                                    #{v.INVITMnombre}
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable">
                                    <p:outputLabel value="#{v.disponible}"><f:convertNumber pattern="#,##0" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable">
                                    <p:cellEditor>
                                        <f:facet name="output"><p:outputLabel value="#{v.cajas}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel></f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{v.cajas}">
                                                <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                                <p:ajax event="blur" process="@this" update="dtProductos, mainForm:contenedor:pnlDatos" listener="#{ingresoBodegaView.calcularCantidades(row,'cantidades')}" />
                                            </p:inputText>                              
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable">
                                    <p:outputLabel value="#{v.INVITMunidembala}"><f:convertNumber pattern="#,##0" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column id="unidad" style="text-align: right;" width="75" class="columnaDataTable">
                                    <p:cellEditor>
                                        <f:facet name="output"><p:outputLabel value="#{v.unidad}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel></f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{v.unidad}">
                                                <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                                <p:ajax event="blur" process="@this" update="dtProductos, mainForm:contenedor:pnlDatos" listener="#{ingresoBodegaView.calcularCantidades(row,'cantidades')}" />
                                            </p:inputText>                              
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"><!-- Funcional -->
                                    <p:outputLabel value="#{v.cantidadFuncional}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column style="text-align: right;" width="75" class="columnaDataTable"><!-- Precio Caja -->
                                    <p:cellEditor>
                                        <f:facet name="output"><p:outputLabel value="#{v.costoCaja}"/></f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{v.costoCaja}" style="width:96%">
                                                <p:ajax event="blur" process="@this" update="dtProductos, mainForm:contenedor:pnlDatos" listener="#{ingresoBodegaView.calcularCantidades(row, 'caja')}" />
                                            </p:inputText>                              
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"><!-- Precio Item -->
                                    <p:cellEditor>
                                        <f:facet name="output"><p:outputLabel value="#{v.costoItem}"/></f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{v.costoItem}" style="width:96%">
                                                <p:ajax event="blur" process="@this" update="dtProductos, mainForm:contenedor:pnlDatos" listener="#{ingresoBodegaView.calcularCantidades(row, 'unidad')}" />
                                            </p:inputText>                              
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"> <!-- Costo Item -->
                                    <p:outputLabel value="#{v.INVITMcostoprom1}" styleClass="#{v.INVITMcostoprom1 lt v.costoCompra ?'descuento':null}"/>
                                </p:column>
                                <p:column  style="text-align: right;" class="columnaDataTable"><!-- Costo Compra -->
                                    <p:outputLabel value="#{v.costoCompra}"/>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable">
                                    <p:cellEditor>
                                        <f:facet name="output"><p:outputLabel value="#{v.porcDesc}"/></f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{v.porcDesc}" style="width:96%">
                                                <p:ajax event="blur" process="@this" update="dtProductos, mainForm:contenedor:pnlDatos" listener="#{ingresoBodegaView.calcularCantidades(row, 'pordescuento')}" />
                                            </p:inputText>                              
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"> <!-- Subtotal -->
                                    <p:outputLabel value="#{v.subtotalCosto}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"> <!-- Descuento -->
                                    <p:cellEditor>
                                        <f:facet name="output"><p:outputLabel value="#{v.descuento}"/></f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{v.descuento}" style="width:96%">
                                                <p:ajax event="blur" process="@this" update="dtProductos, mainForm:contenedor:pnlDatos" listener="#{ingresoBodegaView.calcularCantidades(row, 'descuento')}" />
                                            </p:inputText>                              
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"><!-- Impuesto -->
                                    <p:outputLabel value="#{v.valorImpuesto}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"><!-- Neto -->
                                    <p:outputLabel value="#{v.valorConImpuesto}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable">
                                    <p:outputLabel value="#{v.porcentajeIce}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable">
                                    <p:cellEditor>
                                        <f:facet name="output"><p:outputLabel value="#{v.ice}"/></f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{v.ice}" style="width:96%">
                                                <p:ajax event="blur" process="@this" update="dtProductos, mainForm:contenedor:pnlDatos" listener="#{ingresoBodegaView.calcularCantidades(row, 'ice')}" />
                                            </p:inputText>                              
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"><!-- Imp Plastico -->
                                    <p:outputLabel value="#{v.impPlastico}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>                                    
                                </p:column>
                                <p:column>
                                    <p:commandLink actionListener="#{ingresoBodegaView.eliminarItemRegistro(v)}" rendered="#{!v.itemSugerido}" title="BORRAR-#{v.invmItemPK.INVITMcodigo}" update="dtProductos,mainForm:contenedor:pnlDatos">
                                        <span class="fa fa-trash" style="color: #5f666c;"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>

                            <p:panelGrid id="pnlDatos" columns="6" style="width: 100%;" >
                                <p:outputLabel value="Subtotal:" styleClass="labelBolder"/>
                                <p:outputLabel value="Descuento:" styleClass="labelBolder"/>
                                <p:outputLabel value="Impuestos:" styleClass="labelBolder"/>
                                <p:outputLabel value="Otros Imp.:" styleClass="labelBolder"/>
                                <p:outputLabel value="Neto:" styleClass="labelBolder"/>
                                <p:outputLabel value="Total a Pagar:" styleClass="labelBolder"/>

                                <p:inputText  value="#{ingresoBodegaView.dataIngreso['subtotal']}" style="text-align: right;" readonly="true" size="10"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText>
                                <p:inputText value="#{ingresoBodegaView.dataIngreso['descuento']}" style="text-align: right;" readonly="true" size="10"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText>                        
                                <p:inputText value="#{ingresoBodegaView.dataIngreso['impuesto']}" style="text-align: right;" readonly="true" size="10"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText>                        
                                <p:inputText value="#{ingresoBodegaView.dataIngreso['otros_imp']}" style="text-align: right;" readonly="true" size="10"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText>                        
                                <p:inputText value="#{ingresoBodegaView.dataIngreso['neto']}" style="text-align: right;" readonly="true" size="10"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText>                        
                                <p:inputText value="#{ingresoBodegaView.dataIngreso['total_pagar']}" style="text-align: right;" readonly="true" size="10"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText>                        
                            </p:panelGrid>    
                        </p:tab>
                        <p:tab title="2. CONSULTA">
                            <p:dataTable id="dtIngresoBodega" value="#{ingresoBodegaView.ingBodegaLazy}" var="ib" emptyMessage="No se encontraron registros" lazy="true" paginator="true" reflow="true" 
                                         filterEvent="enter" rows="10" rowsPerPageTemplate="15,25,50" paginatorPosition="top" rowKey="#{ib.COMCCMnumsecucial}" selection="#{ingresoBodegaView.ingBodega}" selectionMode="single">
                                <p:ajax event="rowDblselect" oncomplete="PF('dlgDetCompra').show();" update="frmdlgDetCompra" listener="#{ingresoBodegaView.seleccionarCompra()}"/>
                                <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{ib.COMCCMnumsecucial}" width="120">
                                    <p:outputLabel value="#{ib.COMCCMnumsecucial}"/>
                                </p:column>
                                <p:column headerText="# Documento" filterStyle="width: 95%" filterBy="#{ib.COMCCMnumdocumen}" width="120">
                                    <p:outputLabel value="#{ib.COMCCMnumdocumen}"/>
                                </p:column>
                                <p:column headerText="Oficina" filterStyle="width: 95%" filterBy="#{ib.GENOFIcodigo}" width="120">
                                    <p:outputLabel value="#{ib.GENOFIcodigo}"/>
                                </p:column>
                                <p:column headerText="C. Proveedor" filterStyle="width: 95%" filterBy="#{ib.CXPPROcodigo}" width="120">
                                    <p:outputLabel value="#{ib.CXPPROcodigo}"/>
                                </p:column>
                                <p:column headerText="Proveedor" filterStyle="width: 95%" filterBy="#{ib.proveedor}">
                                    <p:outputLabel value="#{ib.proveedor}"/>
                                </p:column>
                                <p:column headerText="Estado" width="75">
                                    <p:outputLabel value="#{ib.COMCCMestado}"/>
                                </p:column>
                                <p:column headerText="Posteado" width="75">
                                    <p:outputLabel value="#{ib.COMCCMprepostea}"/>
                                </p:column>
                                <p:column headerText="#Factura" filterStyle="width: 95%" filterBy="#{ib.COMCCMnumfacprov}" width="200">
                                    <p:outputLabel value="#{ib.COMCCMnumfacprov}"/>
                                </p:column>
                                <p:column headerText="#Sugerido" filterStyle="width: 95%" filterBy="#{ib.COMCCMnumdocurel}" width="120">
                                    <p:outputLabel value="#{ib.COMCCMnumdocurel}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                </h:form>
                
                <p:dialog header="Detalle Compra" widgetVar="dlgDetCompra" modal="true" width="75%" closeOnEscape="true" resizable="false" position="top">
                    <h:form id="frmdlgDetCompra" >
                        <component:cCompraDetalle detCompra="#{ingresoBodegaView.ingBodega.detalle}"/>
                        <center><p:commandButton value="Cargar Ingreso" icon="fa fa-refresh" rendered="#{ingresoBodegaView.ingBodega.COMCCMprepostea eq 'N'}" actionListener="#{ingresoBodegaView.cargarCompra()}" oncomplete="PF('dlgDetCompra').hide();" update="mainForm"/></center>
                    </h:form>
                </p:dialog>

                <p:dialog widgetVar="dlgRegistroItem" modal="true"  width="80%" responsive="true" closable="true" header="Registro de Item" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgRegistroItem">
                        <p:fieldset legend="Registro de Item">
                            <p:panelGrid style="width: 100%">                                
                                <p:row>
                                    <p:column><p:outputLabel value="Cod. Item" styleClass="labelBolder"/></p:column>
                                    <p:column><p:outputLabel value="Nombre Item" styleClass="labelBolder"/></p:column>
                                    <p:column><p:outputLabel value="Precio" styleClass="labelBolder"/></p:column>
                                    <p:column><p:outputLabel value="Factor" styleClass="labelBolder"/></p:column>
                                    <p:column><p:outputLabel value="IVA" styleClass="labelBolder"/></p:column>
                                    <p:column><p:outputLabel value="Cantidad" styleClass="labelBolder"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:inputText value="#{ingresoBodegaView.itemRegistro.invmItemPK.INVITMcodigo}" styleClass="upper" required="true" maxlength="15"/></p:column>
                                    <p:column><p:inputText value="#{ingresoBodegaView.itemRegistro.INVITMnombre}" styleClass="upper" required="true" size="50" maxlength="50"/></p:column>
                                    <p:column><p:inputText value="#{ingresoBodegaView.itemRegistro.costoCompra}" size="10"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText></p:column>
                                    <p:column><p:inputText value="#{ingresoBodegaView.itemRegistro.INVITMunidembala}" size="10"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText></p:column>                                    
                                    <p:column><p:selectBooleanCheckbox value="#{ingresoBodegaView.itemRegistro.iva}"/></p:column>
                                    <p:column><p:inputText value="#{ingresoBodegaView.itemRegistro.cantidadFuncional}" required="true"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="#{userSession.cbpsegmUsuario.genciaCodigo.genciaEtiinvnv01}" styleClass="labelBolder"/></p:column>
                                    <p:column><p:outputLabel value="#{userSession.cbpsegmUsuario.genciaCodigo.genciaEtiinvnv02}" styleClass="labelBolder"/></p:column>
                                    <p:column colspan="2"><p:outputLabel value="#{userSession.cbpsegmUsuario.genciaCodigo.genciaEtiinvnv03}" styleClass="labelBolder"/></p:column>
                                    <p:column colspan="2"><p:outputLabel value="#{userSession.cbpsegmUsuario.genciaCodigo.genciaEtiinvnv04}" styleClass="labelBolder"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:selectOneMenu value="#{ingresoBodegaView.itemRegistro.INVIN1codin1item}" style="width: 75%">
                                            <p:ajax update="listn2"/>
                                            <f:selectItem itemLabel="Seleccionar..." itemValue="#{null}"/>
                                            <f:selectItems value="#{ingresoBodegaView.listNivel1()}" var="n1" itemLabel="#{n1.codigo}-#{n1.dato}" itemValue="#{n1.codigo}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column>
                                        <p:selectOneMenu id="listn2" value="#{ingresoBodegaView.itemRegistro.INVIN2codin2item}" style="width: 75%">
                                            <p:ajax update="listn3"/>
                                            <f:selectItem itemLabel="Seleccionar..." itemValue="#{null}"/>
                                            <f:selectItems value="#{ingresoBodegaView.listNivel2()}" var="n2" itemLabel="#{n2.codigo}-#{n2.dato}" itemValue="#{n2.codigo}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column colspan="2">
                                        <p:selectOneMenu id="listn3" value="#{ingresoBodegaView.itemRegistro.INVIN3codin3item}" style="width: 75%">
                                            <p:ajax update="listn4"/>
                                            <f:selectItem itemLabel="Seleccionar..." itemValue="#{null}"/>
                                            <f:selectItems value="#{ingresoBodegaView.listNivel3()}" var="n3" itemLabel="#{n3.codigo}-#{n3.dato}" itemValue="#{n3.codigo}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column colspan="2">
                                        <p:selectOneMenu id="listn4" value="#{ingresoBodegaView.itemRegistro.INVIN4codin4item}" style="width: 75%">
                                            <f:selectItem itemLabel="Seleccionar..." itemValue="#{null}"/>
                                            <f:selectItems value="#{ingresoBodegaView.listNivel4()}" var="n4" itemLabel="#{n4.codigo}-#{n4.dato}" itemValue="#{n4.codigo}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                            <p:spacer height="10"/>
                            <center>
                                <p:commandButton icon="fa fa-save" value="Registrar" actionListener="#{ingresoBodegaView.registrarItem()}"/>
                            </center>
                        </p:fieldset>
                    </h:form>
                </p:dialog>
                
                <p:dialog widgetVar="dlgItem" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Item" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgItem">
                        <component:cItem itemLazy="#{ingresoBodegaView.productosLazy}" item="#{ingresoBodegaView.itemLazy}" 
                                         seleccionItem="#{ingresoBodegaView.onProductoSelect()}" update="mainForm:contenedor:busquedaItem"/>
                    </h:form>
                </p:dialog>

                <p:dialog header="Bodega" widgetVar="wdBodegas" modal="true" width="70%" resizable="false" position="top">
                    <h:form id="bodegasFrm" >
                        <p:dataTable id="dtBodegas" value="#{ingresoBodegaView.bodegasLazy}" var="p" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                     reflow="true" filterEvent="enter" rows="15" rowsPerPageTemplate="15,25,50" paginatorPosition="top" rowKey="#{p.genbodCodigo}"
                                     selection="#{ingresoBodegaView.dataIngreso['bodega']}" selectionMode="single">
                            <p:ajax event="rowDblselect" listener="#{ingresoBodegaView.onBodegaSelect}" update=":mainForm" />
                            <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{p.genbodSecuencia}" >
                                <p:outputLabel value="#{p.genbodSecuencia}"/>
                            </p:column>
                            <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{p.genbodNombre}">
                                <p:outputLabel value="#{p.genbodNombre}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>

                <p:dialog widgetVar="dlgProveedor" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Proveedores" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgProveedor">
                        <component:cProveedor proveedoresLazy="#{ingresoBodegaView.proveedoresLazy}" proveedor="#{ingresoBodegaView.dataIngreso['proveedor']}" seleccionProveedor="#{ingresoBodegaView.seleccionarProveedor()}"/>
                    </h:form>
                </p:dialog>

                <p:dialog id="idDlgFactura" header="Factura" widgetVar="wdFactura" modal="true" width="70%" resizable="false" position="top">
                    <h:form id="facturasFrm" >
                        <p:dataTable id="dtFacturas" value="#{ingresoBodegaView.facturasLazy}" var="p" emptyMessage="No se encontraron registros" lazy="true"  paginator="true"
                                     reflow="true" filterEvent="enter" rows="15" rowsPerPageTemplate="15,25,50" paginatorPosition="top" rowKey="#{p.idSecuencia}" 
                                     selection="#{ingresoBodegaView.dataIngreso['factura']}" selectionMode="single">
                            <p:ajax event="rowDblselect" listener="#{ingresoBodegaView.setFactura}" oncomplete="PF('wdFactura').hide()" update=":mainForm" />
                            <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{p.idSecuencia}" >
                                <p:outputLabel value="#{p.idSecuencia}"/>
                            </p:column>
                            <p:column headerText="Cod. Establecimiento" filterStyle="width: 95%" filterBy="#{p.CXPPROcodestableci}">
                                <p:outputLabel value="#{p.CXPPROcodestableci}"/>
                            </p:column>
                            <p:column headerText="Cod. Punto Emisión" filterStyle="width: 95%" filterBy="#{p.CXPPROcodserie}">
                                <p:outputLabel value="#{p.CXPPROcodserie}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>

                <p:dialog header="Sugerido de Compra" widgetVar="wdSugComp" modal="true" width="90%" resizable="false" position="top">
                    <h:form id="ordsSugCompFrm" >
                        <p:dataTable id="dtOrdsCompra" value="#{ingresoBodegaView.sugeridoList}" var="sc" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                     reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="15,25,50" paginatorPosition="top" rowKey="#{sc.COMPDSsecuencia}"
                                     selection="#{ingresoBodegaView.sugerido}" selectionMode="single">
                            <p:ajax event="rowDblselect" listener="#{ingresoBodegaView.onSugeridoSelect()}" update=":mainForm" />
                            <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{sc.COMPDSsecuencia}" width="140">
                                <p:outputLabel value="#{sc.COMPDSsecuencia}"/>
                            </p:column>
                            <p:column headerText="Numero" filterStyle="width: 95%" filterBy="#{sc.COMPDSnumero}" width="140">
                                <p:outputLabel value="#{sc.COMPDSnumero}"/>
                            </p:column>
                            <p:column headerText="C. Proveedor" filterStyle="width: 95%" filterBy="#{sc.CXPPROcodigo}">
                                <p:outputLabel value="#{sc.CXPPROcodigo}"/>
                            </p:column>
                            <p:column headerText="Proveedor" filterStyle="width: 95%" filterBy="#{sc.proveedor}">
                                <p:outputLabel value="#{sc.proveedor}"/>
                            </p:column>
                            <p:column headerText="Bodega" filterStyle="width: 95%" filterBy="#{sc.COMPDScodbodega}">
                                <p:outputLabel value="#{sc.COMPDScodbodega}"/>
                            </p:column>
                            <p:column headerText="Estado" filterStyle="width: 95%" filterBy="#{sc.COMPDSestado}" width="75">
                                <p:outputLabel value="#{sc.COMPDSestado}"/>
                            </p:column>
                            <p:column headerText="Descripcion" filterStyle="width: 95%" filterBy="#{p.COMPDSdescripcion}">
                                <p:outputLabel value="#{p.COMPDSdescripcion}"/>
                            </p:column>
                            <p:column headerText="Monto" width="120">
                                <p:outputLabel value="#{p.COMPDSmonto}"/>
                            </p:column>
                            <p:column headerText="Fecha Emision" width="120">
                                <p:outputLabel value="#{sc.COMPDSfechaemisi}">
                                    <f:convertDateTime dateStyle="full" type="date" pattern="dd/MM/yyyy" />
                                </p:outputLabel>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>

                <p:dialog widgetVar="dlgOficina" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Oficinas" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgOficina">
                        <component:cOficina oficinasLazy="#{ingresoBodegaView.oficinasLazy}" oficina="#{ingresoBodegaView.dataIngreso['oficina']}" seleccionOficina="#{ingresoBodegaView.selectOficina()}"/>
                    </h:form>
                </p:dialog>
                
                <p:dialog header="Compra/Sugerido" widgetVar="dlgCompraSugerido" modal="true" width="95%" closeOnEscape="true" resizable="false" position="top">
                    <h:form id="frmdlgCompraSugerido" >
                        <p:dataTable emptyMessage="No hay datos." value="#{ingresoBodegaView.resumen}" var="det" scrollable="true" rowIndexVar="row" scrollHeight="250">
                            <f:facet name="header">
                                Resumen
                            </f:facet>
                            <p:column headerText="Cod.">
                                #{det.codigo}
                            </p:column>
                            <p:column headerText="Item" >
                                #{det.dato}
                            </p:column>
                            <p:column headerText="Caja Sugerido" >
                                #{det.cajasugerido}
                            </p:column>
                            <p:column headerText="Caja Sugerido Recibido" >
                                #{det.cajarecibido}
                            </p:column>
                            <p:column headerText="Caja Compra" >
                                #{det.cajacompra}
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>
<!--479-->