<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">
    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Ingreso de Factura de Proveedor
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:remoteCommand name="busquedaOficina" actionListener="#{ingresoFacturaProveedorView.busquedaOficina()}" update="mainForm"/>
                    <p:remoteCommand name="busquedaProveedor" actionListener="#{ingresoFacturaProveedorView.busquedaProveedor()}" update="mainForm" />
                    <p:remoteCommand name="actualizarOrden" actionListener="#{ingresoFacturaProveedorView.actualizarOrden()}" update="mainForm:contenedor:dtProductos" />
                    <p:tabView id="contenedor">
                        <p:tab title="Ingreso de depósito">
                            <p:panelGrid style="width: 100%;">
                                <p:row>
                                    <p:column>
                                        <p:panelGrid columns="4" styleClass="ui-noborder">
                                            <h:outputText value="Oficina:" style="font-weight: BOLD;"/>
                                            <p:inputText id="secuenciaOficina" style="width: 120px" value="#{ingresoFacturaProveedorView.dataIngreso['valOfi']}"/>
                                            <p:commandLink oncomplete="PF('dlgOficina').show()" title="Buscar oficina">
                                                <p:graphicImage value="/resources/images/clic.png"/>
                                            </p:commandLink>
                                            <p:inputText readonly="true" size="70" value="#{ingresoFacturaProveedorView.dataIngreso['oficina'].genofinomComercial}"/>
                                        </p:panelGrid>
                                    </p:column>
                                    <p:column>
                                        <p:panelGrid columns="8" styleClass="ui-noborder">
                                            <h:outputText value="Emision:" style="font-weight: BOLD;"/>
                                            <p:calendar value="#{ingresoFacturaProveedorView.dataIngreso['fEmision']}" pattern="dd/MM/yyyy" size="12"/>
                                            <h:outputText value="Moneda" style="font-weight: BOLD;"/>
                                            <p:selectOneMenu id="monedas" value="#{ingresoFacturaProveedorView.dataIngreso['moneda']}" filter="true" filterMatchMode="startsWith" style="width: 75%">
                                                <f:selectItems value="#{ingresoFacturaProveedorView.monedas}" var="o" itemLabel="#{o.GENMONnombre}" itemValue="#{o.GENMONcodigo}"/>
                                            </p:selectOneMenu>
                                            <h:outputText value="Afecta inventario:" style="font-weight: BOLD; margin-left: 5px;"/>
                                            <p:selectBooleanCheckbox value="#{ingresoFacturaProveedorView.dataIngreso['afectaInventario']}"/>
                                            <h:outputText value="Numero:" styleClass="labelBold"/>
                                            <p:inputText readonly="true" size="5"/>
                                        </p:panelGrid>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:panelGrid columns="4" styleClass="ui-noborder">
                                            <p:outputLabel value="Proveedor:" styleClass="labelBolder"/>
                                            <p:inputText id="buscarProveedor" value="#{ingresoFacturaProveedorView.dataIngreso['valProv']}" size="10"/>
                                            <p:commandLink title="Buscar proveedor" oncomplete="PF('dlgProveedor').show();">
                                                <p:graphicImage value="/resources/images/clic.png"/>
                                            </p:commandLink>
                                            <p:inputText value="#{ingresoFacturaProveedorView.dataIngreso['proveedor'].CXPPROrazonsocia}" readonly="true" size="70"/>
                                        </p:panelGrid>
                                    </p:column>
                                    <p:column>
                                        <p:panelGrid columns="4" styleClass="ui-noborder">
                                            <h:outputText value="Provincia:" style="font-weight: BOLD;"/>
                                            <p:selectOneMenu id="provincias" value="#{ingresoFacturaProveedorView.dataIngreso['provincia']}" filter="true" filterMatchMode="startsWith" style="width: 75%">
                                                <p:ajax event="change" update="provincias"/>
                                                <f:selectItems value="#{ingresoFacturaProveedorView.provincias}" var="o" itemLabel="#{o.GENPGEnombre}" itemValue="#{o.genpParamgeneralesPK.GENCIAcodigo}-#{o.genpParamgeneralesPK.GENPGEtabla}-#{o.genpParamgeneralesPK.GENPGEcodigo}"/>
                                            </p:selectOneMenu>
                                            <h:outputText value="Fecha Factura" style="font-weight: BOLD; margin-left: 15px;"/>
                                            <p:calendar navigator="true" pattern="dd/MM/yyyy" value="#{ingresoFacturaProveedorView.dataIngreso['fechaFactura']}"/>
                                        </p:panelGrid>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:panelGrid columns="4" styleClass="ui-noborder">
                                            <h:outputText value="Factura:" style="font-weight: BOLD;"/>
                                            <p:commandLink actionListener="#{ingresoFacturaProveedorView.validarFactura}" title="Buscar factura">
                                                <p:graphicImage value="/resources/images/clic.png"/>
                                            </p:commandLink>
                                            <p:inputMask value="#{ingresoFacturaProveedorView.numFactura}" readonly="true" mask="999-999" style="width: 55px;"/>
                                            <p:inputMask value="#{ingresoFacturaProveedorView.dataIngreso['nFactura']}" mask="9999999" onblur="actualizarOrden();"/>
                                        </p:panelGrid>
                                    </p:column>
                                    <p:column>
                                        <p:panelGrid columns="3" styleClass="ui-noborder">
                                            <h:outputText value="Sugerido - Compra" styleClass="labelBolder"/>
                                            <p:commandButton icon="fa fa-refresh" title="Actualizar" actionListener="#{ingresoFacturaProveedorView.actualizarOrden()}" update="dtProductos"/>
                                            <p:commandButton icon="fa fa-align-justify" title="Detalle" oncomplete="PF('dlgCompraSugerido').show();" update="frmdlgCompraSugerido"/>
                                        </p:panelGrid>                                        
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column colspan="2">
                                        <p:outputLabel value="Observación:" styleClass="labelBolder"/>
                                        <p:inputText value="#{ingresoFacturaProveedorView.dataIngreso['observacion']}" size="100"/>
                                        <p:commandButton icon="fa fa-save" value="Guardar" actionListener="#{ingresoFacturaProveedorView.registrarFactura()}" style="float: right;"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                            
                            <p:dataTable id="dtProductos" emptyMessage="No hay datos." value="#{ingresoFacturaProveedorView.items}" var="v" scrollRows="6" editable="true" editMode="cell" scrollable="true" rowIndexVar="row" scrollHeight="250">
                                <f:facet name="header">Detalle de Productos</f:facet>
                                <p:columnGroup type="header">
                                    <p:row>
                                        <p:column rowspan="2" headerText="Cod. Item" />
                                        <p:column rowspan="2" headerText="Item" width="250"/>
                                        <p:column rowspan="2" headerText="Sugerido" />
                                        <p:column rowspan="2" headerText="Cajas" />
                                        <p:column rowspan="2" headerText="Factor" width="50"/>
                                        <p:column rowspan="2" headerText="Unidad" />
                                        <p:column rowspan="2" headerText="Funcional" />
                                        <p:column colspan="2" headerText="Precio" />
                                        <p:column colspan="2" headerText="Costo" />
                                        <p:column rowspan="2" headerText="%Desc." />
                                        <p:column rowspan="2" headerText="Subtotal" />
                                        <p:column rowspan="2" headerText="Descuento" />
                                        <p:column rowspan="2" headerText="Impuesto" />
                                        <p:column rowspan="2" headerText="Neto" />
                                        <p:column rowspan="2" headerText="Imp. ICE." />
                                        <p:column rowspan="2" headerText="ICE." />
                                        <p:column rowspan="2" headerText="Imp. Plastico" />
                                    </p:row>
                                    <p:row>
                                        <p:column headerText="Caja" />
                                        <p:column headerText="Item" />
                                        <p:column headerText="Item" />
                                        <p:column headerText="Compra" />
                                    </p:row>
                                </p:columnGroup>
                                <p:column class="columnaDataTable">
                                    #{v.invmItemPK.INVITMcodigo}
                                </p:column>
                                <p:column width="250" class="columnaDataTable">
                                    #{v.INVITMnombre}
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"><!-- Sugerido -->
                                    <p:outputLabel value="#{v.disponible}"><f:convertNumber pattern="#,##0" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"><!-- Cajas -->
                                    <p:outputLabel value="#{v.cajas}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"><!-- Factor -->
                                    <p:outputLabel value="#{v.INVITMunidembala}"><f:convertNumber pattern="#,##0" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column style="text-align: right;" width="75" class="columnaDataTable"> <!-- Unidad -->
                                    <p:outputLabel value="#{v.unidad}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"><!-- Funcional -->
                                    <p:outputLabel value="#{v.cantidadFuncional}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column style="text-align: right;" width="75" class="columnaDataTable"><!-- Precio Caja -->
                                    <p:cellEditor>
                                        <f:facet name="output"><p:outputLabel value="#{v.costoCaja}"/></f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{v.costoCaja}" style="width:96%">
                                                <p:ajax event="blur" process="@this" update="dtProductos, mainForm:contenedor:pnlDatos" listener="#{ingresoFacturaProveedorView.calcularCantidades(row, 'caja')}" />
                                            </p:inputText>                              
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"><!-- Precio Item -->
                                    <p:cellEditor>
                                        <f:facet name="output"><p:outputLabel value="#{v.costoItem}"/></f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{v.costoItem}" style="width:96%">
                                                <p:ajax event="blur" process="@this" update="dtProductos, mainForm:contenedor:pnlDatos" listener="#{ingresoFacturaProveedorView.calcularCantidades(row, 'unidad')}" />
                                            </p:inputText>                              
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"> <!-- Costo Item -->
                                    <p:outputLabel value="#{v.INVITMcostoprom1}" styleClass="#{v.INVITMcostoprom1 lt v.costoCompra ?'descuento':null}"/>
                                </p:column>
                                <p:column  style="text-align: right;" class="columnaDataTable"><!-- Costo Compra -->
                                    <p:outputLabel value="#{v.costoCompra}"/>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable">
                                    <p:cellEditor>
                                        <f:facet name="output"><p:outputLabel value="#{v.porcDesc}"/></f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{v.porcDesc}" style="width:96%">
                                                <p:ajax event="blur" process="@this" update="dtProductos, mainForm:contenedor:pnlDatos" listener="#{ingresoFacturaProveedorView.calcularCantidades(row, 'pordescuento')}" />
                                            </p:inputText>                              
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"> <!-- Subtotal -->
                                    <p:outputLabel value="#{v.subtotalCosto}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"> <!-- Descuento -->
                                    <p:cellEditor>
                                        <f:facet name="output"><p:outputLabel value="#{v.descuento}"/></f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{v.descuento}" style="width:96%">
                                                <p:ajax event="blur" process="@this" update="dtProductos, mainForm:contenedor:pnlDatos" listener="#{ingresoFacturaProveedorView.calcularCantidades(row, 'descuento')}" />
                                            </p:inputText>                              
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"><!-- Impuesto -->
                                    <p:outputLabel value="#{v.valorImpuesto}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"><!-- Neto -->
                                    <p:outputLabel value="#{v.valorConImpuesto}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable">
                                    <p:outputLabel value="#{v.porcentajeIce}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable">
                                    <p:cellEditor>
                                        <f:facet name="output"><p:outputLabel value="#{v.ice}"/></f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{v.ice}" style="width:96%">
                                                <p:ajax event="blur" process="@this" update="dtProductos, mainForm:contenedor:pnlDatos" listener="#{ingresoFacturaProveedorView.calcularCantidades(row, 'ice')}" />
                                            </p:inputText>                              
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column style="text-align: right;" class="columnaDataTable"><!-- Imp Plastico -->
                                    <p:outputLabel value="#{v.impPlastico}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>                                    
                                </p:column>
                            </p:dataTable>

                            <p:panelGrid id="pnlDatos" columns="6" style="width: 100%;">
                                <p:outputLabel value="Subtotal:" styleClass="labelBolder"/>
                                <p:outputLabel value="Descuento:" styleClass="labelBolder"/>
                                <p:outputLabel value="Impuestos:" styleClass="labelBolder"/>
                                <p:outputLabel value="Otros Imp.:" styleClass="labelBolder"/>
                                <p:outputLabel value="Neto:" styleClass="labelBolder"/>
                                <p:outputLabel value="Total a Pagar:" styleClass="labelBolder"/>
                                
                                <p:inputText  value="#{ingresoFacturaProveedorView.dataIngreso['subtotal']}" style="text-align: right;" readonly="true" size="10"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText>
                                <p:inputText  value="#{ingresoFacturaProveedorView.dataIngreso['descuento']}" style="text-align: right;" readonly="true" size="10"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText>
                                <p:inputText  value="#{ingresoFacturaProveedorView.dataIngreso['impuestos']}" style="text-align: right;" readonly="true" size="10"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText>
                                <p:inputText  value="#{ingresoFacturaProveedorView.dataIngreso['otros_imp']}" style="text-align: right;" readonly="true" size="10"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText>
                                <p:inputText  value="#{ingresoFacturaProveedorView.dataIngreso['neto']}" style="text-align: right;" readonly="true" size="10"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText>
                                <p:inputText  value="#{ingresoFacturaProveedorView.dataIngreso['total_pagar']}" style="text-align: right;" readonly="true" size="10"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText>
                            </p:panelGrid>
                            
                        </p:tab>

                        <p:tab title="Datos Adicionales SRI">
                            <p:panelGrid style="width: 100%;">
                                <p:row>
                                    <p:column><p:outputLabel value="Autorización" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText size="80"/></p:column>
                                    <p:column><p:outputLabel value="F. Validez" styleClass="labelBolder"/></p:column>
                                    <p:column><p:calendar pattern="dd/MM/yyyy"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Plan Pago" styleClass="labelBolder"/><br/>
                                        <p:selectOneMenu value="#{ingresoFacturaProveedorView.dataIngreso['codPlan']}" panelStyle="width:220px" 
                                                         effect="fade" var="pl" style="width:200px" filter="true" filterMatchMode="startsWith" >
                                            <f:selectItems value="#{ingresoFacturaProveedorView.planesPago}" var="plan" itemLabel="#{plan.cxppPlanpagoPK.CXPPLPcodigo}-#{plan.CXPPLPnombre}" itemValue="#{plan.cxppPlanpagoPK.CXPPLPcodigo}" />
                                            <p:column><h:outputText value="#{pl.cxppPlanpagoPK.CXPPLPcodigo}-#{pl.CXPPLPnombre}" /></p:column>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column>
                                        <p:outputLabel value="Forma Pago" styleClass="labelBolder"/><br/>
                                        <p:selectOneMenu value="#{ingresoFacturaProveedorView.dataIngreso['forPago']}" converter="entityConverter" panelStyle="width:520px" 
                                                         effect="fade" var="fp" style="width:500px" filter="true" filterMatchMode="startsWith" >
                                            <f:selectItems value="#{ingresoFacturaProveedorView.formasPago}" var="fpago" itemLabel="#{fpago.codigo}-#{fpago.descripcion}" itemValue="#{fpago}" />
                                            <p:column><h:outputText value="#{fp.codigo}-#{fp.descripcion}" /></p:column>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column><p:outputLabel value="F. Vencimiento" styleClass="labelBolder"/></p:column>
                                    <p:column><p:calendar pattern="dd/MM/yyyy"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Tipo Documento SRI" styleClass="labelBolder"/><br/>
                                        <p:selectOneMenu value="#{ingresoFacturaProveedorView.dataIngreso['documento']}" converter="entityConverter" panelStyle="width:520px" 
                                                         effect="fade" var="doc" style="width:500px" filter="true" filterMatchMode="startsWith" >
                                            <f:selectItems value="#{ingresoFacturaProveedorView.documentos}" var="d" itemLabel="#{d.codigo}-#{d.descrip}" itemValue="#{d}" />
                                            <p:column><h:outputText value="#{doc.codigo}-#{doc.descrip}" /></p:column>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column>
                                        <p:outputLabel value="Sustento Tributario" styleClass="labelBolder"/><br/>
                                        <p:selectOneMenu value="#{ingresoFacturaProveedorView.dataIngreso['sustento']}" converter="entityConverter" panelStyle="width:520px" 
                                                         effect="fade" var="sust" style="width:500px" filter="true" filterMatchMode="startsWith" >
                                            <f:selectItems value="#{ingresoFacturaProveedorView.sustentos}" var="s" itemLabel="#{s.codigo}-#{s.descrip}" itemValue="#{s}" />
                                            <p:column><h:outputText value="#{sust.codigo}-#{sust.descrip}" /></p:column>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column colspan="2">
                                        <p:selectBooleanCheckbox itemLabel="RETENCION AL DOC." style="width: 200px;" styleClass="labelBolder"/><br/>
                                        <p:selectBooleanCheckbox itemLabel="RETENCION ASUMIDA" style="width: 200px;" styleClass="labelBolder"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:tab>

                        <p:tab title="Datos de la Retencion">
                            <p:panelGrid style="width: 100%;">
                                <p:row>
                                    <p:column><p:outputLabel value="Talonario" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{ingresoFacturaProveedorView.dataIngreso['talonario']}" converter="entityConverter" panelStyle="width:520px" 
                                                         effect="fade" var="tal" style="width:500px" filter="true" filterMatchMode="startsWith" >
                                            <f:selectItems value="#{ingresoFacturaProveedorView.talonarios}" var="t" itemLabel="#{t.GENTALdescripcion}" itemValue="#{t}" />
                                            <p:column><h:outputText value="#{tal.GENTALdescripcion}" /></p:column>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column><p:outputLabel value="Retención Física" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText size="15" readonly="true"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="RET IVA" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{ingresoFacturaProveedorView.dataIngreso['retIva']}" panelStyle="width:520px" 
                                                         effect="fade" var="ri" style="width:500px" filter="true" filterMatchMode="startsWith" >
                                            <f:selectItems value="#{ingresoFacturaProveedorView.retencionesIva}" var="rIva" itemLabel="#{rIva.cxprRetencionesPK.CXPRETcodigo}-#{rIva.CXPRETnombre}" itemValue="#{rIva.cxprRetencionesPK.CXPRETcodigo}" />
                                            <p:column><h:outputText value="#{ri.cxprRetencionesPK.CXPRETcodigo}-#{ri.CXPRETnombre}" /></p:column>
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column colspan="2" rowspan="3"><p:commandButton value="Anular Retención"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="RET FUENTE" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{ingresoFacturaProveedorView.dataIngreso['retFuente']}" panelStyle="width:520px" 
                                                         effect="fade" var="rf" style="width:500px" filter="true" filterMatchMode="startsWith" >
                                            <f:selectItems value="#{ingresoFacturaProveedorView.retencionesFuente}" var="rFuente" itemLabel="#{rFuente.cxprRetencionesPK.CXPRETcodigo}-#{rFuente.CXPRETnombre}" itemValue="#{rFuente.cxprRetencionesPK.CXPRETcodigo}" />
                                            <p:column>
                                                <h:outputText value="#{rf.cxprRetencionesPK.CXPRETcodigo}-#{rf.CXPRETnombre}" />
                                            </p:column>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="Autorización Electronica" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText size="80" readonly="true"/></p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:tab>
                    </p:tabView>
                </h:form>
                
                <!-- -->

                <p:dialog widgetVar="dlgOficina" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Oficinas" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgOficina">
                        <component:cOficina oficinasLazy="#{ingresoFacturaProveedorView.oficinasLazy}" oficina="#{ingresoFacturaProveedorView.dataIngreso['oficina']}" 
                                            seleccionOficina="#{ingresoFacturaProveedorView.selectOficina(null)}"/>
                    </h:form>
                </p:dialog>

                <p:dialog widgetVar="dlgProveedor" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Proveedores" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgProveedor">
                        <component:cProveedor proveedoresLazy="#{ingresoFacturaProveedorView.proveedoresLazy}" proveedor="#{ingresoFacturaProveedorView.dataIngreso['proveedor']}" 
                                              seleccionProveedor="#{ingresoFacturaProveedorView.selectProveedor()}"/>
                    </h:form>
                </p:dialog>

                <p:dialog id="idDlgFactura" header="Factura" widgetVar="wdFactura" modal="true" width="70%" resizable="false" position="top">
                    <h:form id="facturasFrm">
                        <p:dataTable id="dtFacturas" value="#{ingresoFacturaProveedorView.facturasLazy}" var="p" emptyMessage="No se encontraron registros" lazy="true"  paginator="true"
                                     reflow="true" filterEvent="enter" rows="15" rowsPerPageTemplate="15,25,50" paginatorPosition="top" rowKey="#{p.idSecuencia}" 
                                     selection="#{ingresoFacturaProveedorView.dataIngreso['factura']}" selectionMode="single">
                            <p:ajax event="rowSelect" listener="#{ingresoFacturaProveedorView.setFactura}" oncomplete="PF('wdFactura').hide()" update=":mainForm" />

                            <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{p.idSecuencia}" >
                                <p:outputLabel value="#{p.idSecuencia}"/>
                            </p:column>
                            <p:column headerText="Cod. Establecimiento" filterStyle="width: 95%" filterBy="#{p.CXPPROcodestableci}">
                                <p:outputLabel value="#{p.CXPPROcodestableci}"/>
                            </p:column>
                            <p:column headerText="Cod. Punto Emisión" filterStyle="width: 95%" filterBy="#{p.CXPPROcodserie}">
                                <p:outputLabel value="#{p.CXPPROcodserie}"/>
                            </p:column>

                        </p:dataTable>
                    </h:form>
                </p:dialog>
                
                <p:dialog header="Compra/Sugerido" widgetVar="dlgCompraSugerido" modal="true" width="95%" closeOnEscape="true" resizable="false" position="top">
                    <h:form id="frmdlgCompraSugerido" >
                        <p:panelGrid columns="2">
                            <p:outputLabel value="Proveedor: " styleClass="labelBolder"/> <p:outputLabel value="#{ingresoFacturaProveedorView.dataIngreso['proveedor'].CXPPROrazonsocia}"/>
                            <p:outputLabel value="#Factura: " styleClass="labelBolder"/> <p:outputLabel value="#{ingresoFacturaProveedorView.numFactura}-#{ingresoFacturaProveedorView.dataIngreso['nFactura']}"/>
                        </p:panelGrid>
                        <p:panelGrid columns="2">
                            <component:cCompra compras="#{ingresoFacturaProveedorView.compraList}" compra="#{ingresoFacturaProveedorView.compra}"
                                               seleccionCompra="#{ingresoFacturaProveedorView.seleccionarCompra()}" oncomplete="PF('dlgDetCompra').show();" update="frmdlgDetCompra"/>
                            <component:cSugerido sugeridos="#{ingresoFacturaProveedorView.sugeridoList}" sugerido="#{ingresoFacturaProveedorView.sugerido}"
                                                 seleccionSugerido="#{ingresoFacturaProveedorView.seleccionarSugerido()}" oncomplete="PF('dlgDetSugerido').show();" update="frmdlgDetSugerido"/>                            
                        </p:panelGrid>
                    </h:form>
                </p:dialog>
                
                <p:dialog header="Detalle Compra" widgetVar="dlgDetCompra" modal="true" width="75%" closeOnEscape="true" resizable="false" position="top">
                    <h:form id="frmdlgDetCompra" >
                        <component:cCompraDetalle detCompra="#{ingresoFacturaProveedorView.detalleCompra}"/>                        
                    </h:form>
                </p:dialog>
                
                <p:dialog header="Detalle Sugerido" widgetVar="dlgDetSugerido" modal="true" width="75%" closeOnEscape="true" resizable="false" position="top">
                    <h:form id="frmdlgDetSugerido" >
                        <component:cSugeridoDetalle detSugerido="#{ingresoFacturaProveedorView.detalleSugerido}"/>                        
                    </h:form>
                </p:dialog>
                
            </ui:define>
        </ui:composition>
    </body>
</html>