<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Todos los Proveedores</title>
    </h:head>
    <h:body>
        <p:dataTable id="dtProv" value="#{proveedoresDlgBean.proveedores}" reflow="true"
                     filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" 
                     emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                     var="p">
            <p:column headerText="Codigo Agencia"  filterStyle="width: 95%" filterBy="#{p.cxpmProveedorPK.gENCIAcodigo}" width="10%">
                <p:outputLabel value="#{p.cxpmProveedorPK.GENCIAcodigo}"/>
            </p:column>
            <p:column headerText="Codigo Oficina"  filterStyle="width: 95%" filterBy="#{p.cxpmProveedorPK.gENOFIcodigo}" width="10%">
                <p:outputLabel value="#{p.cxpmProveedorPK.GENOFIcodigo}"/>
            </p:column>
            <p:column headerText="Codigo"  filterStyle="width: 95%" filterBy="#{p.cxpmProveedorPK.cXPPROcodigo}" width="10%">
                <p:outputLabel value="#{p.cxpmProveedorPK.CXPPROcodigo}"/>
            </p:column>
            <p:column headerText="Num. Identificación" filterStyle="width: 95%" filterBy="#{p.CXPPROruccedula}" width="15%">
                <p:outputLabel value="#{p.CXPPROruccedula}"/>
            </p:column>
            <p:column headerText="Razon Social" filterStyle="width: 95%" filterBy="#{p.CXPPROrazonsocia}" width="30%">
                <p:outputLabel value="#{p.CXPPROrazonsocia}"/>
            </p:column>
            <p:column headerText="Celular" filterStyle="width: 95%" filterBy="#{p.CXPPROcelular}" width="30%">
                <p:outputLabel value="#{p.CXPPROcelular}"/>
            </p:column>
            <p:column headerText="Activo" filterStyle="width: 95%" sortBy="#{p.CXPPROestado}" width="10%">
                <p:outputLabel value="#{p.CXPPROestado}"/>
            </p:column>
            <p:column headerText="Opciones" width="10%" style="text-align: center; ">
                <p:commandButton icon="pi pi-check" iconPos="center"  actionListener="#{proveedoresDlgBean.seleccionarProveedor(p)}" />
            </p:column>
        </p:dataTable>
    </h:body>
</html>

