<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/template/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:component="http://xmlns.jcp.org/jsf/composite/component"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="title">
        Sugerido de Compra
    </ui:define>
    <ui:define name="head">
        <h:outputScript name="keyPress.js" library="javascript" />
        <h:outputScript name="dataTableRegistroVenta.js" library="javascript" />
    </ui:define>
    <ui:define name="content">
        <h:form id="mainForm">            
            <p:remoteCommand name="busquedaOficina" actionListener="#{sugerenciaCompra.busquedaOficina()}" update="contenedor"/>
            <p:remoteCommand name="busquedaProveedor" actionListener="#{sugerenciaCompra.buscarProveedorCampo()}" update="mainForm" />
            <p:remoteCommand name="busquedaFiltro" actionListener="#{sugerenciaCompra.busquedaFiltro()}" update="mainForm:contenedor:datoBusquedaFiltro"/>
            <p:tabView id="contenedor">
                <p:tab title="1. REGISTRO">
                    <p:fieldset legend="Sugerido de Compra" styleClass="backgroundLogo">
                        <p:panelGrid columns="2" style="width: 90%;">
                            <p:panelGrid>
                                <p:row>
                                    <p:column>
                                        <span class="fa fa-bank" style="margin-right: 5px;"/>
                                        <p:outputLabel value="Oficina" styleClass="labelBolder"/><br/>
                                        <p:inputText id="secuenciaOficina" size="5" value="#{sugerenciaCompra.sugeridoCompraModel.secuenciaOficina}"/>
                                        <p:commandLink actionListener="#{sugerenciaCompra.busquedaOficina()}" update="mainForm">
                                            <p:graphicImage value="/resources/images/clic.png"/>
                                        </p:commandLink>
                                        <p:inputText id="nombreOficina" size="50" readonly="true" value="#{sugerenciaCompra.sugeridoCompraModel.oficina.genofiNombre}"/>
                                    </p:column>
                                    <p:column>
                                        <component:customImputText label="Nro.PDS" value="#{sugerenciaCompra.sugeridoCompraModel.numero}" readonly="true"  />
                                    </p:column>                                
                                </p:row>                    
                                <p:row>
                                    <p:column>
                                        <span class="fa fa-user-secret" style="margin-right: 5px;"/>
                                        <p:outputLabel value="Proveedor" styleClass="labelBolder"/><br/>
                                        <p:inputText id="secuenciaProveedor" size="5" class="upper" value="#{sugerenciaCompra.sugeridoCompraModel.secuenciaProveedor}"/>
                                        <p:commandLink actionListener="#{sugerenciaCompra.buscarProveedorCampo()}" update="mainForm">
                                            <p:graphicImage value="/resources/images/clic.png"/>
                                        </p:commandLink>
                                        <p:inputText id="nombreProveedor" size="50" readonly="true" value="#{sugerenciaCompra.sugeridoCompraModel.proveedor.CXPPROrazonsocia}"/>
                                    </p:column>
                                    <p:column>
                                        <component:customImputDate label="Fecha Corte" value="#{sugerenciaCompra.fechaProcesamiento}" readonly="true"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <span class="fa fa-home" style="margin-right: 5px;"/>
                                        <p:outputLabel value="Bodega" styleClass="labelBolder"/><br/>
                                        <p:selectOneMenu id="selectBodega" value="#{sugerenciaCompra.sugeridoCompraModel.bodega}" class="Wid93" converter="converterApp">
                                            <f:selectItem itemLabel="Seleccione..." itemValue="#{null}" />
                                            <f:selectItems value="#{sugerenciaCompra.sugeridoCompraModel.oficina.cbpgenrBodegaCollection}" var="bdg1" itemLabel="#{bdg1.genbodNombre}" itemValue="#{Ofc1}" />
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column>
                                        <component:customImputText id="diasProc" label="Dias a Procesar" value="#{sugerenciaCompra.sugeridoCompraModel.dias}" readonly="false" onblur="buscarSug()" />
                                    </p:column>
                                </p:row>                    
                                <p:row>
                                    <p:column>
                                        <p:selectBooleanCheckbox value="#{sugerenciaCompra.agrupacion}" itemLabel="Información Agrupada por" class="DispBlock FontBold Wid93" >
                                            <p:ajax update="agrupInfoSele" />
                                        </p:selectBooleanCheckbox>
                                        <p:selectOneMenu value="#{sugerenciaCompra.sugeridoCompraModel.agrupadoPor}" id="agrupInfoSele" class="Wid93" disabled="#{!sugerenciaCompra.agrupacion}" >
                                            <f:selectItems value="#{sugerenciaCompra.listAgrupacion}" var="ag1" itemLabel="#{ag1.dato}" itemValue="#{ag1.codigo}" />
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column>
                                        <p:selectBooleanCheckbox value="#{sugerenciaCompra.todosNiveles}" itemLabel="Todos - Filtrar" class="DispBlock FontBold Wid93" >
                                            <p:ajax update="selNivel,codigoBusquedaFiltro,accionBusquedaFiltro,datoBusquedaFiltro" />
                                        </p:selectBooleanCheckbox>
                                        <p:selectOneMenu id="selNivel" value="#{sugerenciaCompra.sugeridoCompraModel.filtroNivel}" class="Wid93" disabled="#{!sugerenciaCompra.todosNiveles}" >
                                            <f:selectItems value="#{sugerenciaCompra.listAgrupacion}" var="ag2" itemLabel="#{ag2.dato}" itemValue="#{ag2.codigo}" />
                                        </p:selectOneMenu>
                                        <br/>
                                        <p:inputText id="codigoBusquedaFiltro" size="5" value="#{sugerenciaCompra.sugeridoCompraModel.secuenciaFiltro}" disabled="#{!sugerenciaCompra.todosNiveles}" styleClass="upper"/>
                                        <p:commandLink id="accionBusquedaFiltro" actionListener="#{sugerenciaCompra.busquedaFiltro()}" disabled="#{!sugerenciaCompra.todosNiveles}">
                                            <p:graphicImage value="/resources/images/clic.png"/>
                                        </p:commandLink>
                                        <p:inputText id="datoBusquedaFiltro" size="50" readonly="true" value="#{sugerenciaCompra.sugeridoCompraModel.datoFiltro}" disabled="#{!sugerenciaCompra.todosNiveles}"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>

                            <p:dataTable id="dtResumen" value="#{sugerenciaCompra.nivel2List}" style="width: 350px;" var="n2" rowIndexVar="index" scrollable="true" scrollHeight="200">
                                <p:column headerText="Cod." styleClass="columnaDataTable" width="40">
                                    <p:outputLabel value="#{n2.codigo}"/>
                                </p:column>
                                <p:column headerText="Descripcion" styleClass="columnaDataTable">
                                    <p:outputLabel value="#{n2.dato}"/>
                                </p:column>
                                <p:column headerText="Valor" styleClass="columnaDataTable" style="text-align: right;" width="70">
                                    <p:outputLabel value="#{n2.funcional}">
                                        <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                    </p:outputLabel>
                                </p:column>
                            </p:dataTable>
                        </p:panelGrid>
                    </p:fieldset>                   
                    <div align="center">
                        <p:commandButton id="generarSugerido" value="Generar" icon="fa fa-download" actionListener="#{sugerenciaCompra.buscarSugerencia()}" update="mainForm:contenedor:dtSugArt,mainForm:contenedor:dtResumen"/>
                        <p:spacer width="30"/>
                        <p:commandButton id="grabarSugerido" value="Registrar" actionListener="#{sugerenciaCompra.aceptar()}" update="mainForm" icon="fa fa-save"/>                
                    </div>
                    <br/>
                    <p:dataTable id="dtSugArt" value="#{sugerenciaCompra.agrupaciones}" var="entry" rowIndexVar="index" scrollable="true" scrollHeight="350">
                        <f:facet name="header">Listado de articulos</f:facet>
                        <p:column style="width:16px" class="card-w-title" ><p:rowToggler /></p:column>
                        <p:column headerText="Codigo"><p:outputLabel value="[ #{entry.INVIN1_codin1item} ] #{entry.INVIN1_descripcio}" /></p:column>
                        <p:column headerText="Nombre"><p:outputLabel value="TOTAL #{entry.INVIN1_descripcio}" /></p:column>
                        <p:column headerText="Cajas" id="TotSig" style="text-align: right;"><p:outputLabel id="valTotSug" styleClass="#{entry.sumarSug() gt 0?'labelBolder':null}" value="#{entry.sumarSug()}" /></p:column>
                        <p:column headerText="Total Costo" id="SumTotSug" style="text-align: right;"><p:outputLabel id="valSumTotSug" styleClass="#{entry.sumarSug() gt 0?'labelBolder':null}" value="#{entry.INVITM_ventapromedioQ}" /></p:column>
                        <p:rowExpansion>
                            <p:dataTable rows="20" var="detSug" value="#{entry.listadoItems}" paginator="true" editMode="cell" editable="true" paginatorPosition="top">
                                <p:column headerText="Código" filterBy="#{detSug.INVITM_codigo}" filterStyle="width: 90%;" styleClass="columnaDataTable"><p:outputLabel value="#{detSug.INVITM_codigo}" /></p:column>
                                <p:column headerText="Nombre" width="20%" styleClass="columnaDataTable"><p:outputLabel value="#{detSug.INVITM_nombre}" /> </p:column>
                                <p:column headerText="Cajas" styleClass="columnaDataTable" style="text-align: right;"><p:outputLabel value="#{detSug.INVITM_cajas}" /></p:column>
                                <p:column headerText="Unidades" styleClass="columnaDataTable" style="text-align: right;"><p:outputLabel value="#{detSug.INVITM_unidades}" /></p:column>
                                <p:column headerText="Total Inventario" styleClass="columnaDataTable" style="text-align: right;"><p:outputLabel value="#{detSug.INVITM_totalinventario}" /></p:column>
                                <p:column headerText="Dias Inventario" styleClass="columnaDataTable" style="text-align: right;"><p:outputLabel value="#{detSug.INVITM_diasinventario}" /></p:column>
                                <p:column headerText="Cajas Reales" styleClass="columnaDataTable" style="text-align: right;">
                                    <p:cellEditor>
                                        <f:facet name="output"><p:outputLabel value="#{detSug.INVITM_CajasReales}"/></f:facet>
                                        <f:facet name="input">
                                            <p:inputNumber value="#{detSug.INVITM_CajasReales}" class="Wid97" onfocus="this.setSelectionRange(0, this.value.length);"    >
                                                <p:ajax update="@parent:totalSugItem:valSug" listener="#{sugerenciaCompra.acumularCantidad(index,detSug)}"/>
                                            </p:inputNumber>
                                        </f:facet>
                                    </p:cellEditor>                                    
                                </p:column>
                                <p:column headerText="Costo" styleClass="columnaDataTable" style="text-align: right;"><p:outputLabel value="#{detSug.INVITM_costoprom1}"/></p:column>                                
                                <p:column headerText="Cajas Sugeridas" styleClass="columnaDataTable" style="text-align: right;">
                                    <p:outputLabel value="#{detSug.INVITM_CajasSugeridad}" />
                                </p:column>
                                <p:column headerText="Total Costo" id="totalSugItem" styleClass="columnaDataTable" style="text-align: right;"><p:outputLabel id="valSug" value="#{detSug.INVITM_ventapromedioQ}" /></p:column>
                                <p:column headerText="Inventario Proveedor" styleClass="columnaDataTable" style="text-align: right;"><p:outputLabel value="#{detSug.INVITM_totalinventario}" /></p:column>
                            </p:dataTable>
                        </p:rowExpansion>
                    </p:dataTable>            
                </p:tab>
                <p:tab title="2. CONSULTA">
                    <p:dataTable id="dtSugerido" value="#{sugerenciaCompra.sugeridosLazy}" var="sc" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                 reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{sc.COMPDSsecuencia}"
                                 selection="#{sugerenciaCompra.sugerido}" selectionMode="single">
                        <p:ajax event="rowDblselect" oncomplete="PF('dlgSugerido').show();" update="frmdlgSugerido" listener="#{sugerenciaCompra.seleccionarSugerido()}"/>
                        <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{sc.COMPDSsecuencia}" width="140">
                            <p:outputLabel value="#{sc.COMPDSsecuencia}"/>
                        </p:column>
                        <p:column headerText="Numero" filterStyle="width: 95%" filterBy="#{sc.COMPDSnumero}" width="140">
                            <p:outputLabel value="#{sc.COMPDSnumero}"/>
                        </p:column>
                        <p:column headerText="Oficina" filterStyle="width: 95%" filterBy="#{sc.GENOFIcodigo}" width="140">
                            <p:outputLabel value="#{sc.GENOFIcodigo}"/>
                        </p:column>
                        <p:column headerText="Usuario" filterStyle="width: 95%" filterBy="#{sc.SEGUSUcodigo}">
                            <p:outputLabel value="#{sc.SEGUSUcodigo}"/>
                        </p:column>
                        <p:column headerText="C. Proveedor" filterStyle="width: 95%" filterBy="#{sc.CXPPROcodigo}">
                            <p:outputLabel value="#{sc.CXPPROcodigo}"/>
                        </p:column>
                        <p:column headerText="Proveedor" filterStyle="width: 95%" filterBy="#{sc.proveedor}">
                            <p:outputLabel value="#{sc.proveedor}"/>
                        </p:column>
                        <p:column headerText="Estado" filterStyle="width: 95%" filterBy="#{sc.COMPDSestado}" width="75">
                            <p:outputLabel value="#{sc.COMPDSestado}"/>
                        </p:column>
                        <p:column headerText="IMPRIMIR" width="100" style="text-align: center;">
                            <p:commandButton icon="fa fa-print" actionListener="#{sugerenciaCompra.generarDocumento(sc)}"/>
                        </p:column>
                    </p:dataTable>
                </p:tab>
            </p:tabView>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" >
                <p:commandButton value="Sí" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
            </p:confirmDialog>
            <p:blockUI block="contenedor" trigger="contenedor:generarSugerido" />
            <p:blockUI block="mainForm" trigger="contenedor:grabarSugerido" />
        </h:form>

        <p:dialog widgetVar="dlgOficina" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Oficinas" resizable="false" closeOnEscape="true" position="top">
            <h:form id="frmdlgOficina">
                <component:cOficina oficinasLazy="#{sugerenciaCompra.oficinasLazy}" oficina="#{sugerenciaCompra.sugeridoCompraModel.oficina}" 
                                    seleccionOficina="#{sugerenciaCompra.seleccionOficina()}"/>
            </h:form>
        </p:dialog>

        <p:dialog widgetVar="dlgProveedor" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Proveedores" resizable="false" closeOnEscape="true" position="top">
            <h:form id="frmdlgProveedor">
                <component:cProveedor proveedoresLazy="#{sugerenciaCompra.proveedoresLazy}" proveedor="#{sugerenciaCompra.sugeridoCompraModel.proveedor}" 
                                      seleccionProveedor="#{sugerenciaCompra.seleccionarProveedor()}"/>
            </h:form>
        </p:dialog>

        <p:dialog widgetVar="dlgSugerido" modal="true"  width="90%" responsive="true" closable="true" header="Sugerido de Compra" resizable="false" closeOnEscape="true" position="top">
            <h:form id="frmdlgSugerido">
                <p:fieldset legend="Sugerido de Compra">
                    <p:panelGrid style="width: 100%;">
                        <p:row>
                            <p:column><p:outputLabel value="Compania" styleClass="labelBolder"/></p:column>
                            <p:column><p:outputLabel value="Oficina" styleClass="labelBolder"/></p:column>
                            <p:column><p:outputLabel value="Secuencia" styleClass="labelBolder"/></p:column>
                            <p:column><p:outputLabel value="Numero" styleClass="labelBolder"/></p:column>
                            <p:column><p:outputLabel value="Emision" styleClass="labelBolder"/></p:column>
                            <p:column><p:outputLabel value="Usuario" styleClass="labelBolder"/></p:column>
                            <p:column><p:outputLabel value="Proveedor" styleClass="labelBolder"/></p:column>
                            <p:column><p:outputLabel value="Dias" styleClass="labelBolder"/></p:column>
                            <p:column><p:outputLabel value="Estado" styleClass="labelBolder"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:inputText value="#{sugerenciaCompra.sugerido.GENCIAcodigo}" readonly="true" size="5"/></p:column>
                            <p:column><p:inputText value="#{sugerenciaCompra.sugerido.GENOFIcodigo}" readonly="true" size="5"/></p:column>
                            <p:column><p:inputText value="#{sugerenciaCompra.sugerido.COMPDSsecuencia}" readonly="true" size="5"/></p:column>
                            <p:column><p:inputText value="#{sugerenciaCompra.sugerido.COMPDSnumero}" readonly="true" size="5"/></p:column>
                            <p:column>
                                <p:inputText value="#{sugerenciaCompra.sugerido.COMPDSfechaemisi}" readonly="true" size="14">
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                                </p:inputText>
                            </p:column>
                            <p:column><p:inputText value="#{sugerenciaCompra.sugerido.SEGUSUcodigo}" readonly="true" size="7"/></p:column>
                            <p:column><p:inputText value="#{sugerenciaCompra.sugerido.CXPPROcodigo}-#{sugerenciaCompra.sugerido.proveedor}" readonly="true" size="50"/></p:column>                            
                            <p:column><p:inputText value="#{sugerenciaCompra.sugerido.COMPDSdiasprocesado}" readonly="true" size="7"/></p:column>
                            <p:column><p:inputText value="#{sugerenciaCompra.sugerido.COMPDSestado}" readonly="true" size="5"/></p:column>
                        </p:row>
                    </p:panelGrid>
                </p:fieldset>
                <p:spacer height="10"/>
                <p:dataTable value="#{sugerenciaCompra.detSugerido}" var="d" emptyMessage="No se encontraron registros" lazy="true"
                             reflow="true" rowKey="#{d.comtDetpedsugeridoPK}" scrollable="true" scrollHeight="400">
                    <p:column headerText="" width="30">
                        <p:graphicImage value="#{d.compdsCantfuncionalsugeridas-d.compdsCantfuncionalrecibidas le 0?'/resources/images/circleRed.png':'/resources/images/circleGreen.png'}" height="15"/>
                    </p:column>
                    <p:column headerText="#" width="30">
                        <p:outputLabel value="#{d.comtDetpedsugeridoPK.COMPDSlinea}" styleClass="labelBolder"/>
                    </p:column>
                    <p:column headerText="Item" width="120">
                        <p:outputLabel value="#{d.INVITMcodigo}"/>
                    </p:column>
                    <p:column headerText="Item">
                        <p:outputLabel value="#{d.nombreItem}"/>
                    </p:column>
                    <p:column headerText="Sugerido Caja" width="120" style="text-align: right;">
                        <p:outputLabel value="#{d.COMPDScantisugeridas}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="S. Factor" width="100" style="text-align: right;">
                        <p:outputLabel value="#{d.compdsUnidembalasugeridas}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="S. Funcional" width="120" style="text-align: right;">
                        <p:outputLabel value="#{d.compdsCantfuncionalsugeridas}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="Recibido Caja" width="120" style="text-align: right;">
                        <p:outputLabel value="#{d.COMPDScantirecibidas}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="R. Factor" width="100" style="text-align: right;">
                        <p:outputLabel value="#{d.compdsUnidembalarecibidas}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="R. Unidad" width="120" style="text-align: right;">
                        <p:outputLabel value="#{d.compdsCantunidadrecibidas}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="R. Funcional" width="120" style="text-align: right;">
                        <p:outputLabel value="#{d.compdsCantfuncionalrecibidas}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                </p:dataTable>
                <p:spacer height="10"/>
                <center>
                    <p:commandButton value="Aceptar" oncomplete="PF('dlgSugerido').hide();"/>
                </center>
            </h:form>
        </p:dialog>

        <p:dialog widgetVar="dlgNivel" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Nivel" resizable="false" 
                  closeOnEscape="true" position="top">
            <h:form id="frmdlgNivel">
                <p:dataTable id="dtNivel" value="#{sugerenciaCompra.consultaFiltroList}" var="n" emptyMessage="No se encontraron registros" paginator="true"
                             reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{n.codigo}"
                             selection="#{sugerenciaCompra.sugeridoCompraModel.nivel}" selectionMode="single">                            
                    <p:ajax event="rowDblselect" oncomplete="PF('dlgNivel').hide();" listener="#{sugerenciaCompra.seleccionFiltro()}" update="mainForm:contenedor:datoBusquedaFiltro,mainForm:contenedor:codigoBusquedaFiltro"/>
                    <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{n.codigo}" filterMatchMode="contains" width="120">
                        <p:outputLabel value="#{n.codigo}"/>
                    </p:column>
                    <p:column headerText="Dato" filterStyle="width: 95%" filterBy="#{n.dato}" filterMatchMode="contains">
                        <p:outputLabel value="#{n.dato}"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
