<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui">
    <cc:interface>
        <cc:attribute name="registrar" default="false"/>
        <cc:attribute name="buscar" default="false"/>
        <cc:attribute name="limpiar" default="false"/>
        <cc:attribute name="agregar" default="false"/>
        <cc:attribute name="politicas" default="false"/>
        <cc:attribute name="pago" default="false"/>
        <cc:attribute name="pagoDirecto" default="false"/>
    </cc:interface>

    <cc:implementation>
        <p:panelGrid columns="10" styleClass="noBorder" style="float: right;">
            <p:outputLabel value="CTRL+Y:REGISTRAR" styleClass="labelMensaje" rendered="#{cc.attrs.registrar}"/>
            <p:outputLabel value="CTRL+B:BUSCAR" styleClass="labelMensaje" rendered="#{cc.attrs.buscar}"/>
            <p:outputLabel value="CTRL+Q:LIMPIAR" styleClass="labelMensaje" rendered="#{cc.attrs.limpiar}"/>
            <p:outputLabel value="CTRL+I:AGREGAR" styleClass="labelMensaje" rendered="#{cc.attrs.agregar}"/>
            <p:outputLabel value="F7:POLITICAS" styleClass="labelMensaje" rendered="#{cc.attrs.politicas}"/>
            <p:outputLabel value="F8:PAGO" styleClass="labelMensaje" rendered="#{cc.attrs.pago}"/>
            <p:outputLabel value="F9:PAGO DIRECTO" styleClass="labelMensaje" rendered="#{cc.attrs.pagoDirecto}"/>
        </p:panelGrid>
    </cc:implementation>
</html>