<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui">
    <cc:interface>
        <cc:attribute name="item"/>
        <cc:attribute name="buscar" method-signature="void listener()"/>
        <cc:attribute name="upBuscar"/>
        <cc:attribute name="limpiar" method-signature="void listener()"/>
        <cc:attribute name="upLimpiar"/>
        <cc:attribute name="agregar" method-signature="void listener()"/>
        <cc:attribute name="upAgregar"/>
    </cc:interface>

    <cc:implementation>
        <span class="fa fa-shopping-cart" style="margin-right: 5px;"/>
        <p:outputLabel value="Producto" styleClass="labelBolder"/><br/>
        <p:inputText id="codBarraCabeceraProducto" value="#{cc.attrs.item.INVITMcodigbarra}" placeholder="COD. BARRA"/>
        <p:spacer width="10"/>
        <p:inputText id="codigoCabeceraProducto" value="#{cc.attrs.item.codigoItem}" placeholder="CODIGO"/>
        <p:spacer width="10"/>
        <p:inputText id="descripcionCabeceraProducto" value="#{cc.attrs.item.INVITMnombre}" size="40" placeholder="DESCRIPCION" style="text-transform: uppercase;"/>
        <p:spacer width="10"/>
        <p:inputText id="cantidadCabeceraProducto" value="#{cc.attrs.item.cantidadFuncional}" placeholder="CANTIDAD"/>
        
        <p:spacer width="10"/>
        <p:commandButton icon="fa fa-search" actionListener="#{cc.attrs.buscar}" title="BUSCAR(Ctrl+B)" update="#{cc.attrs.upBuscar}"/>
        <p:spacer width="10"/>
        <p:commandButton icon="fa fa-trash" actionListener="#{cc.attrs.limpiar}" title="LIMPIAR(Ctrl+Q)" update="#{cc.attrs.upLimpiar}" process="@this"/>
        <p:spacer width="10"/>
        <p:commandButton icon="fa fa-plus-square" actionListener="#{cc.attrs.agregar}" title="AGREGAR(Ctrl+I)" update="#{cc.attrs.upAgregar}"/>
    </cc:implementation>
</html>