<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <cc:interface>        
        <cc:attribute name="detCompra"/>
    </cc:interface>

    <cc:implementation>
        <p:dataTable value="#{cc.attrs.detCompra}" var="dcom" scrollable="true" scrollHeight="250" emptyMessage="No hay datos.">
            <p:column headerText="#" width="50">
                #{dcom.comtDetcompraPK.COMDCMnumlinea}
            </p:column>
            <p:column headerText="Item">
                <p:outputLabel value="#{dcom.INVITMcodigo}-#{dcom.nombreItem}"/>
            </p:column>
            <p:column headerText="Cajas" width="75" style="text-align: right;">
                <p:outputLabel value="#{dcom.COMDCMcanticaja}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
            </p:column>
            <p:column headerText="Factor" width="75" style="text-align: right;">
                <p:outputLabel value="#{dcom.COMDCMunidembala}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
            </p:column>
            <p:column headerText="Unidades" width="75" style="text-align: right;">
                <p:outputLabel value="#{dcom.COMDCMcantiunida}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
            </p:column>
            <p:column headerText="Cant. Funcional" width="75" style="text-align: right;">
                <p:outputLabel value="#{dcom.COMDCMcantifunci}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
            </p:column>
        </p:dataTable>
    </cc:implementation>
    
</html>