<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <cc:interface>        
        <cc:attribute name="compras"/>
        <cc:attribute name="compra"/>
        <cc:attribute name="seleccionCompra" method-signature="void listener()"/>
        <cc:attribute name="oncomplete"/>
        <cc:attribute name="update"/>
    </cc:interface>

    <cc:implementation>
        <p:dataTable id="dtCompra" value="#{cc.attrs.compras}" var="com" emptyMessage="No se encontraron registros" scrollable="true" 
                     scrollHeight="250" rowKey="#{com.COMCCMnumsecucial}" selection="#{cc.attrs.compra}" selectionMode="single">
            <f:facet name="header">Ingreso de Compra</f:facet>
            <p:ajax event="rowDblselect" oncomplete="#{cc.attrs.oncomplete}" update="#{cc.attrs.update}" listener="#{cc.attrs.seleccionCompra}"/>
            <p:column headerText="Secuencia">
                #{com.COMCCMnumsecucial}
            </p:column>
            <p:column headerText="Documento" >
                #{com.COMCCMnumdocumen}
            </p:column>
            <p:column headerText="Bodega" >
                #{com.bodega}
            </p:column>                                    
            <p:column headerText="Ingreso" >
                <p:outputLabel value="#{com.COMCCMfechingreg}"><f:convertDateTime pattern="dd/MM/yyyy HH:mm"/></p:outputLabel>
            </p:column>
            <p:column headerText="Estado" width="40">
                #{com.COMCCMestado}
            </p:column>
            <p:column headerText="Sugerido" >
                #{com.COMCCMnumdocurel}
            </p:column>
        </p:dataTable>
    </cc:implementation>
</html>