<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <cc:interface>        
        <cc:attribute name="itemLazy"/>
        <cc:attribute name="item"/>
        <cc:attribute name="seleccionItem" method-signature="void listener()"/>
        <cc:attribute name="update"/>
    </cc:interface>

    <cc:implementation>
        <p:dataTable id="dtItem" value="#{cc.attrs.itemLazy}" var="item" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                     reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{item.invmItemPK}"
                     selection="#{cc.attrs.item}" selectionMode="single">
            <p:ajax event="rowDblselect" oncomplete="PF('dlgItem').hide();focusById(':cantidadCabeceraProducto');" update="#{cc.attrs.update}" listener="#{cc.attrs.seleccionItem}"/>
            <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{item.INVITMcodigo}" width="140">
                <p:outputLabel value="#{item.invmItemPK.INVITMcodigo}"/>
            </p:column>
            <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{item.INVITMnombre}">
                <p:outputLabel value="#{item.INVITMnombre}"/>
            </p:column>
            <p:column headerText="Embalaje" width="120" style="text-align: right;">
                <p:outputLabel value="#{item.INVITMunidembala}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
            </p:column>
        </p:dataTable>
    </cc:implementation>
</html>