<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <cc:interface>        
        <cc:attribute name="itemBodegaLazy"/>
        <cc:attribute name="itemBodega"/>
        <cc:attribute name="seleccionItemBodega" method-signature="void listener()"/>
    </cc:interface>

    <cc:implementation>
        <p:dataTable id="dtItemBodega" value="#{cc.attrs.itemBodegaLazy}" var="itbod" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                    reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{itbod.invmItemxbodegaPK}"
                    selection="#{cc.attrs.itemBodega}" selectionMode="single">
            <p:ajax event="rowDblselect" oncomplete="PF('dlgItemBodega').hide();focusById(':cantidadCabeceraProducto');" update="mainForm:contenedor:busquedaItem" listener="#{cc.attrs.seleccionItemBodega}"/>
            <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{itbod.INVITMcodigo}" width="140">
               <p:outputLabel value="#{itbod.invmItemxbodegaPK.INVITMcodigo}"/>
            </p:column>
            <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{itbod.nombreItem}">
               <p:outputLabel value="#{itbod.nombreItem}"/>
            </p:column>
            <p:column headerText="Stock" width="120">
               <p:outputLabel value="#{itbod.INVIBOstock}"/>
            </p:column>
        </p:dataTable>
    </cc:implementation>
</html>