<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <cc:interface>        
        <cc:attribute name="oficinasLazy"/>
        <cc:attribute name="oficina"/>
        <cc:attribute name="seleccionOficina" method-signature="void listener()"/>
    </cc:interface>

    <cc:implementation>
        <p:dataTable id="dtOficina" value="#{cc.attrs.oficinasLazy}" var="of" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                    reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{of.genofiCodigo}"
                    selection="#{cc.attrs.oficina}" selectionMode="single">
            <p:ajax event="rowDblselect" oncomplete="PF('dlgOficina').hide();" update="mainForm" listener="#{cc.attrs.seleccionOficina}"/>
            <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{of.genofiSecuencia}" width="140">
               <p:outputLabel value="#{of.genofiSecuencia}"/>
            </p:column>
            <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{of.genofiNombre}" width="200">
               <p:outputLabel value="#{of.genofiNombre}"/>
            </p:column>
            <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{of.genofiCodigo}" width="120">
               <p:outputLabel value="#{of.genofiCodigo}"/>
            </p:column>
        </p:dataTable>
    </cc:implementation>
</html>