<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <cc:interface>
        <cc:attribute name="politica"/>
        <cc:attribute name="oficinas"/>
        <cc:attribute name="itemSource"/>
        <cc:attribute name="itemSourceSelecction"/>
        <cc:attribute name="itemTarget"/>
        <cc:attribute name="itemTargetSelecction"/>
        <cc:attribute name="bodegas"/>
        <cc:attribute name="grupo"/>
        <cc:attribute name="agregar" method-signature="void listener()"/>
        <cc:attribute name="agregarTodos" method-signature="void listener()"/>
        <cc:attribute name="quitar" method-signature="void listener()"/>
        <cc:attribute name="quitarTodos" method-signature="void listener()"/>
        <cc:attribute name="grabarPolitica" method-signature="void listener()"/>
    </cc:interface>

    <cc:implementation>
        <p:fieldset legend="POLITICA">
            <p:panelGrid style="width: 90%">
                <p:row>
                    <p:column><p:outputLabel value="Compania" styleClass="labelBolder"/></p:column>
                    <p:column><p:outputLabel value="Oficina" styleClass="labelBolder"/></p:column>
                    <p:column><p:outputLabel value="Descripcion*" styleClass="labelBolder"/></p:column>
                    <p:column><p:outputLabel value="Cantidad*" styleClass="labelBolder"/></p:column>
                    <p:column><p:outputLabel value="Porcentaje*" styleClass="labelBolder"/></p:column>
                    <p:column rowspan="2">
                        <p:commandButton value="Grabar" actionListener="#{cc.attrs.grabarPolitica}" update="frmdlgPolitica" oncomplete="PF('dlgPolitica').hide();"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:inputText value="#{cc.attrs.politica.genciaCodigo.genciaSecuencia}-#{cc.attrs.politica.genciaCodigo.genciaNombre}" readonly="true"/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu value="#{cc.attrs.politica.genofiCodigo}" converter="entityConverter">
                            <f:selectItems value="#{cc.attrs.oficinas}" var="o" itemLabel="#{o.genofiSecuencia}-#{o.genofinomComercial}" itemValue="#{o}"/>
                        </p:selectOneMenu>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{cc.attrs.politica.genpolNombre}" size="50" maxlength="50"/>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{cc.attrs.politica.genpolCantidad}" maxlength="50"/>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{cc.attrs.politica.genpolPorcentaje}" maxlength="50"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:fieldset>
        <br/>
        <p:tabView id="registro">
            <p:tab title="ITEMS">
                <p:panelGrid style="width: 100%;">
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Grupo : " styleClass="labelBolder"/>
                            <p:inputText value="#{cc.attrs.grupo}" size="5" style="text-align: right;"/>                                                                                            
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <p:panelGrid columns="3">
                    <p:dataTable id="dtSourceItem" value="#{cc.attrs.itemSource}" var="its" emptyMessage="No se encontraron registros"
                                 reflow="true" filterEvent="enter" rows="75" paginator="true" rowsPerPageTemplate="75,100,150" paginatorPosition="top" 
                                 rowKey="#{its.invmItemPK.INVITMcodigo}" scrollable="true" scrollHeight="500" selection="#{cc.attrs.itemSourceSelecction}">
                        <p:column selectionMode="multiple" style="width:25px;text-align:center" styleClass="columnaDataTable"/>
                        <p:column headerText="Codigo" filterStyle="width: 90%" filterBy="#{its.invmItemPK.INVITMcodigo}" filterMatchMode="contains" width="120" styleClass="columnaDataTable">
                            <p:outputLabel value="#{its.invmItemPK.INVITMcodigo}"/>
                        </p:column>
                        <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{its.INVITMnombre}" filterMatchMode="contains" styleClass="columnaDataTable">
                            <p:outputLabel value="#{its.INVITMnombre}"/>
                        </p:column>
                    </p:dataTable>
                    <p:panelGrid columns="1">
                        <p:commandButton icon="fa fa-angle-right" title="Seleccionado" actionListener="#{cc.attrs.agregar}" update="dtSourceItem,dtTargetItem"/>
                        <p:commandButton icon="fa fa-angle-double-right" title="Todos" actionListener="#{cc.attrs.agregarTodos}" update="dtSourceItem,dtTargetItem"/>
                        <p:commandButton icon="fa fa-angle-left" title="Seleccionado" actionListener="#{cc.attrs.quitar}" update="dtSourceItem,dtTargetItem"/>
                        <p:commandButton icon="fa fa-angle-double-left" title="Todos" actionListener="#{cc.attrs.quitarTodos}" update="dtSourceItem,dtTargetItem"/>
                    </p:panelGrid>
                    <p:dataTable id="dtTargetItem" value="#{cc.attrs.itemTarget}" var="itt" emptyMessage="No se encontraron registros"
                                 reflow="true" filterEvent="enter" rows="75" paginator="true" rowsPerPageTemplate="75,100,150" paginatorPosition="top" 
                                 rowKey="#{itt.invmItemPK.INVITMcodigo}" scrollable="true" scrollHeight="500"
                                 selection="#{cc.attrs.itemTargetSelecction}">
                        <p:column selectionMode="multiple" style="width:25px;text-align:center" styleClass="columnaDataTable"/>
                        <p:column headerText="Codigo" filterStyle="width: 90%" filterBy="#{itt.invmItemPK.INVITMcodigo}" filterMatchMode="contains" width="120" styleClass="columnaDataTable">
                            <p:outputLabel value="#{itt.invmItemPK.INVITMcodigo}"/>
                        </p:column>
                        <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{itt.INVITMnombre}" filterMatchMode="contains" styleClass="columnaDataTable">
                            <p:outputLabel value="#{itt.INVITMnombre}"/>
                        </p:column>
                        <p:column headerText="Grupo" styleClass="columnaDataTable" style="text-align: right;" width="120">
                            <p:inputText value="#{itt.grupo}" size="5" style="text-align: right;"/>
                        </p:column>
                    </p:dataTable>
                </p:panelGrid>
            </p:tab>
            <p:tab title="BODEGAS">
                <p:pickList value="#{cc.attrs.bodegas}" style="width: 100%;" var="bod" 
                            itemLabel="#{bod.genbodSecuencia}-#{bod.genbodNombre}" itemValue="#{bod}" 
                            effect="bounce" converter="entityConverter" responsive="true"
                            showSourceFilter="true" filterMatchMode="contains">
                </p:pickList>
            </p:tab>
        </p:tabView>
    </cc:implementation>
</html>