<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <cc:interface>        
        <cc:attribute name="proveedoresLazy"/>
        <cc:attribute name="proveedor"/>
        <cc:attribute name="seleccionProveedor" method-signature="void listener()"/>
    </cc:interface>

    <cc:implementation>
        <p:dataTable id="dtProveedor" value="#{cc.attrs.proveedoresLazy}" var="pr" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                    reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{pr.cxpmProveedorPK}"
                    selection="#{cc.attrs.proveedor}" selectionMode="single">
            <p:ajax event="rowDblselect" oncomplete="PF('dlgProveedor').hide();" update="mainForm" listener="#{cc.attrs.seleccionProveedor}"/>
            <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{pr.CXPPROcodigo}" width="140">
               <p:outputLabel value="#{pr.cxpmProveedorPK.CXPPROcodigo}"/>
            </p:column>
            <p:column headerText="Identificacion" filterStyle="width: 95%" filterBy="#{pr.CXPPROruccedula}" width="120">
               <p:outputLabel value="#{pr.CXPPROruccedula}"/>
            </p:column>
            <p:column headerText="Proveedor" filterStyle="width: 95%" filterBy="#{pr.CXPPROrazonsocia}" width="200">
               <p:outputLabel value="#{pr.CXPPROrazonsocia}"/>
            </p:column>
        </p:dataTable>
    </cc:implementation>
</html>