<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <cc:interface>
        <cc:attribute name="turno"/>
        <cc:attribute name="importe"/>
        <cc:attribute name="estadistica"/>
        <cc:attribute name="formaPago"/>
    </cc:interface>

    <cc:implementation>
        <p:scrollPanel style="height:500px;">
            <p:fieldset legend="Resumen">
                <p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
                    <p:outputLabel value="Turno " styleClass="labelBolder"/>
                    <p:inputText placeholder="0" value="#{cc.attrs.turno.segturNumero}" styleClass="valoresStyle" size="8" readonly="true"/>
                    <p:outputLabel value="Inicio " styleClass="labelBolder"/>
                    <p:inputText value="#{cc.attrs.turno.segturApertura}" styleClass="valoresStyle" size="14" readonly="true">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                    </p:inputText>
                    <p:outputLabel value="Monto" styleClass="labelBolder"/>
                    <p:inputText placeholder="0.00" value="#{cc.attrs.turno.segturAsiginicial.add(registroTurno.turno.segturAdicional)}" styleClass="valoresStyle" size="8" readonly="true"/>
                </p:panelGrid>
            </p:fieldset>
            <p:fieldset legend="Importes">
                <p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
                    <p:outputLabel value="Ingreso Inicial " styleClass="labelBolder"/>
                    <p:inputText placeholder="0.00" value="#{cc.attrs.importe.ingreso}" styleClass="valoresStyle" size="8" readonly="true"/>
                    <p:outputLabel value="Ingreso Adicional " styleClass="labelBolder"/>
                    <p:inputText placeholder="0.00" value="#{cc.attrs.importe.ingreso_adicional}" styleClass="valoresStyle" size="8" readonly="true"/>
                    <p:outputLabel value="Egreso " styleClass="labelBolder"/>
                    <p:inputText placeholder="0.00" value="#{cc.attrs.importe.gasto}" styleClass="valoresStyle" size="8" readonly="true"/>
                </p:panelGrid>
            </p:fieldset>
            <p:fieldset legend="Estadisticas">
                <p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
                    <p:outputLabel value="Transacciones " styleClass="labelBolder"/>
                    <p:inputText placeholder="0" value="#{cc.attrs.estadistica.transaciones}" styleClass="valoresStyle" size="8" readonly="true"/>
                    <p:outputLabel value="Anulaciones " styleClass="labelBolder"/>
                    <p:inputText placeholder="0" value="#{cc.attrs.estadistica.anulada}" styleClass="valoresStyle" size="8" readonly="true"/>
                    <p:outputLabel value="Monto Venta " styleClass="labelBolder"/>
                    <p:inputText placeholder="0.00" value="#{cc.attrs.estadistica.valor_venta}" styleClass="valoresStyle" size="8" readonly="true"/>
                    <p:outputLabel value="Items Eliminados " styleClass="labelBolder"/>
                    <p:inputText placeholder="0" value="#{cc.attrs.estadistica.items_eliminados}" styleClass="valoresStyle" size="8" readonly="true"/>
                    <p:outputLabel value="Colaboradores " styleClass="labelBolder"/>
                    <p:inputText placeholder="0" value="#{cc.attrs.estadistica.colaboradores}" styleClass="valoresStyle" size="8" readonly="true"/>
                    <p:outputLabel value="Clientes Registrados " styleClass="labelBolder"/>
                    <p:inputText placeholder="0" value="#{cc.attrs.estadistica.registrados}" styleClass="valoresStyle" size="8" readonly="true"/>
                    <p:outputLabel value="Clientes en Venta " styleClass="labelBolder"/>
                    <p:inputText placeholder="0" value="#{cc.attrs.estadistica.clientes}" styleClass="valoresStyle" size="8" readonly="true"/>
                </p:panelGrid>
            </p:fieldset>
            <p:fieldset legend="Forma Pago">
                <p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
                    <p:outputLabel value="Efectivo " styleClass="labelBolder"/>
                    <p:inputText placeholder="0.00" value="#{cc.attrs.formaPago.efectivo}" styleClass="valoresStyle" size="8" readonly="true"/>
                    <p:outputLabel value="Cheque " styleClass="labelBolder"/>
                    <p:inputText placeholder="0.00" value="#{cc.attrs.formaPago.cheque}" styleClass="valoresStyle" size="8" readonly="true"/>
                    <p:outputLabel value="Tarjeta " styleClass="labelBolder"/>
                    <p:inputText placeholder="0.00" value="#{cc.attrs.formaPago.tarjeta}" styleClass="valoresStyle" size="8" readonly="true"/>
                    <p:outputLabel value="Documento " styleClass="labelBolder"/>
                    <p:inputText placeholder="0.00" value="#{cc.attrs.formaPago.documento}" styleClass="valoresStyle" size="8" readonly="true"/>
                    <p:outputLabel value="Credito " styleClass="labelBolder"/>
                    <p:inputText placeholder="0.00" value="#{cc.attrs.formaPago.credito}" styleClass="valoresStyle" size="8" readonly="true"/>
                </p:panelGrid>
            </p:fieldset>
        </p:scrollPanel>
    </cc:implementation>
</html>