<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

    <cc:interface>        
        <cc:attribute name="solicitudesLazy"/>
        <cc:attribute name="solicitud"/>
        <cc:attribute name="nameDlg"/>
        <cc:attribute name="update"/>
    </cc:interface>

    <cc:implementation>
        <p:dataTable id="dtOficina" value="#{cc.attrs.solicitudesLazy}" var="eqp" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                     reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{eqp.id}"
                     selection="#{cc.attrs.solicitud}" selectionMode="single">
            <p:ajax event="rowDblselect" update="#{cc.attrs.update}"/>
            <f:facet name="header">
                SOLICITUDES DISPONIBLES
            </f:facet>

            <p:column headerText="Solicitante" width="18%;" filterBy="#{eqp.nombreSolicitante}" filterStyle="width: 95%;">
                #{getTextView.findNombreCliente(eqp.cxcmClienteSolicitante,
                  eqp.equipo.genofiCodigo.genofiSecuencia)}
            </p:column>

            <p:column headerText="Oficina" width="12%;">
                #{eqp.equipo.genofiCodigo.genofinomComercial}
            </p:column>

            <p:column headerText="Marca" width="15%;" filterBy="#{eqp.equipo.modelEquipo.marca}" filterStyle="width: 95%;">
                #{eqp.equipo.modelEquipo.marca}
            </p:column>

            <p:column headerText="Modelo" width="15%;" filterBy="#{eqp.equipo.modelEquipo.modelo}" filterStyle="width: 95%;">
                #{eqp.equipo.modelEquipo.modelo}
            </p:column>

            <p:column headerText="Placa" width="10%;" filterBy="#{eqp.equipo.placa}" filterStyle="width: 95%;">
                #{eqp.equipo.placa}
            </p:column>

            <p:column headerText="Año de Fabricación" width="10%;">
                #{eqp.equipo.anioFabricacion}
            </p:column>

            <p:column headerText="Proveedor" width="15%;" filterBy="#{eqp.equipo.proveedorText}" filterStyle="width: 90%;">
                #{getTextView.findNombreProveedor(eqp.equipo.cxpmProveedor, eqp.equipo.genofiCodigo.genofiSecuencia)}
            </p:column>

            <p:column headerText="Estado" width="5%;">
                <h:outputText value="DISPONIBLE" rendered="#{eqp.equipo.estado == 1}"/>
                <h:outputText value="EN TALLER" rendered="#{eqp.equipo.estado == 2}"/>
                <h:outputText value="EN BAJA" rendered="#{eqp.equipo.estado == 3}"/>
                <h:outputText value="CONSIGNADO" rendered="#{eqp.equipo.estado == 4}"/>
            </p:column>
        </p:dataTable>
    </cc:implementation>
</html>