<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <cc:interface>        
        <cc:attribute name="sugeridos"/>
        <cc:attribute name="sugerido"/>
        <cc:attribute name="seleccionSugerido" method-signature="void listener()"/>
        <cc:attribute name="oncomplete"/>
        <cc:attribute name="update"/>
    </cc:interface>

    <cc:implementation>
        <p:dataTable value="#{cc.attrs.sugeridos}" var="sug" emptyMessage="No se encontraron registros" scrollable="true" 
                     scrollHeight="250" rowKey="#{sug.COMPDSsecuencia}" selection="#{cc.attrs.sugerido}" selectionMode="single">
            <f:facet name="header">Sugerido</f:facet>
            <p:ajax event="rowDblselect" oncomplete="#{cc.attrs.oncomplete}" update="#{cc.attrs.update}" listener="#{cc.attrs.seleccionSugerido}"/>
            <p:column headerText="Secuencia">
                #{sug.COMPDSsecuencia}
            </p:column>
            <p:column headerText="Documento" >
                #{sug.COMPDSnumero}
            </p:column>
            <p:column headerText="Bodega" width="300" >
                <p:outputLabel value="#{sug.COMPDScodbodega}-#{sug.bodega}"/>
            </p:column>   
            <p:column headerText="Emision" >
                <p:outputLabel value="#{sug.COMPDSfechaemisi}"><f:convertDateTime pattern="dd/MM/yyyy HH:mm"/></p:outputLabel>
            </p:column>
            <p:column headerText="Estado" width="40">
                #{sug.COMPDSestado}
            </p:column>
        </p:dataTable>
    </cc:implementation>
</html>