<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <cc:interface>        
        <cc:attribute name="detSugerido"/>
    </cc:interface>

    <cc:implementation>
        <p:dataTable emptyMessage="No hay datos." value="#{cc.attrs.detSugerido}" var="dsug" scrollable="true" scrollHeight="250">
            <p:column headerText="#" width="50">
                #{dsug.comtDetpedsugeridoPK.COMPDSlinea}
            </p:column>
            <p:column headerText="Item">
                <p:outputLabel value="#{dsug.INVITMcodigo}-#{dsug.nombreItem}"/>
            </p:column>
            <p:column headerText="Cajas" width="75" style="text-align: right;">
                <p:outputLabel value="#{dsug.COMPDScantisugeridas}"/>
            </p:column>
        </p:dataTable>
    </cc:implementation>
</html>