<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <cc:interface>
        <cc:attribute name="turno"/>
        <cc:attribute name="asignaciones"/>
        <cc:attribute name="egresos"/>
        <cc:attribute name="cierre"/>
        <cc:attribute name="registroDenominacion"/>
        <cc:attribute name="listenerInactivarRegistro" method-signature="void inactivarRegistro()"/>
        <cc:attribute name="updateAsignaciones"/>
        <cc:attribute name="cierreTurno" method-signature="void listener()"/>
        <cc:attribute name="preliminar" method-signature="void listener()"/>
        <cc:attribute name="definitivo" method-signature="void listener()"/>
        <cc:attribute name="ventasLazy"/>
    </cc:interface>

    <cc:implementation>
        <p:fieldset legend="TURNO">
            <p:panelGrid columns="4" styleClass="noBorder">
                <p:outputLabel value="Turno: #{cc.attrs.turno.segturNumero}"/>
                <p:outputLabel value="Caja: #{cc.attrs.turno.segusuCodigo.codigoCaja}"/>
                <p:outputLabel value="Usuario: #{cc.attrs.turno.segusuCodigo.segusuAbreviado}"/>
                <p:outputLabel value="Apertura: #{cc.attrs.turno.segturApertura}"/>
                <p:outputLabel value="Monto Inicial: #{cc.attrs.turno.segturAsiginicial}"/>
                <p:outputLabel value="Monto Adicional: #{cc.attrs.turno.segturAdicional}"/>
                <p:outputLabel value="Egreso: #{cc.attrs.turno.segturEgreso}"/>
                <p:outputLabel value="Cierre: #{cc.attrs.turno.segturValorcierre}"/>
                <!--<p:commandButton value="Cierre" rendered="# {!cc.attrs.turno.segturEstado}" actionListener="# {cc.attrs.cierreTurno}"/>-->
                <p:commandButton value="PRELIMINAR" rendered="#{cc.attrs.turno.segturEstado}" actionListener="#{cc.attrs.preliminar}"/>
                <p:commandButton value="DEFINITIVO" rendered="#{!cc.attrs.turno.segturEstado}" actionListener="#{cc.attrs.definitivo}"/>
            </p:panelGrid>
        </p:fieldset>
        <p:tabView id="tabFormDlg">
            <p:tab title="ASIGNACIONES">
                <p:dataTable id="dtAsignaciones" value="#{cc.attrs.asignaciones}" var="a" emptyMessage="No se encontraron registros" reflow="true" rowKey="#{a.genrdeCodigo}">
                    <p:column style="width: 16px;"><p:rowToggler/></p:column>
                    <p:column headerText="TIPO">
                        <p:outputLabel value="#{!a.estado?'INACTIVO':'INGRESO'}"/>
                    </p:column>
                    <p:column headerText="Moneda" style="text-align: right;">
                        <p:outputLabel value="#{a.genrdeMoneda}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="Billete" style="text-align: right;">
                        <p:outputLabel value="#{a.genrdeBillete}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="Fijo" style="text-align: right;">
                        <p:outputLabel value="#{a.genrdeFijo}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="Monto" style="text-align: right;">
                        <p:outputLabel value="#{a.genrdeMonto}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="Fecha">
                        <p:outputLabel value="#{a.genrdeFecha}"><f:convertDateTime pattern="dd/MM/yyyy HH:mm"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="Inactivar">
                        <p:commandButton value="INACTIVAR" action="#{cc.attrs.listenerInactivarRegistro}" disabled="#{!a.estado}" update="#{cc.attrs.updateAsignaciones}">
                            <f:setPropertyActionListener target="#{cc.attrs.registroDenominacion}" value="#{a}"/>
                        </p:commandButton>
                    </p:column>
                    <p:rowExpansion>
                        <p:dataTable value="#{a.cbpgenrDetregistroDenominacionCollection}" var="d" emptyMessage="No se encontraron registros" reflow="true" rowKey="#{d.gendreCodigo}">
                            <f:facet name="header">DESGLOSE</f:facet>
                            <p:column headerText="TIPO" styleClass="labelBolder">
                                <p:outputLabel value="#{d.gendenCodigo.gendenTipodes}"/>
                            </p:column>
                            <p:column headerText="DENOMINACION" styleClass="labelBolder">
                                <p:outputLabel value="#{d.gendenCodigo.gendenDetalle}"/>
                            </p:column>
                            <p:column headerText="CANTIDAD" styleClass="labelBolder" style="text-align: center;">
                                <p:outputLabel value="#{d.gendreCantidad}"/>
                            </p:column>
                            <p:column headerText="VALOR" styleClass="labelBolder" style="text-align: right;">
                                <p:outputLabel value="#{d.gendreValor}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                            </p:column>
                        </p:dataTable>
                    </p:rowExpansion>
                </p:dataTable>
            </p:tab>
            <p:tab title="EGRESO">
                <p:dataTable id="dtEgreso" value="#{cc.attrs.egresos}" var="e" emptyMessage="No se encontraron registros" reflow="true" rowKey="#{e.genrdeCodigo}">
                    <p:column style="width: 16px;"> <p:rowToggler/></p:column>
                    <p:column headerText="TIPO">
                        <p:outputLabel value="#{!e.estado?'INACTIVO':'EGRESO'}"/>
                    </p:column>
                    <p:column headerText="Moneda" style="text-align: right;">
                        <p:outputLabel value="#{e.genrdeMoneda}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="Billete" style="text-align: right;">
                        <p:outputLabel value="#{e.genrdeBillete}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="Fijo" style="text-align: right;">
                        <p:outputLabel value="#{e.genrdeFijo}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="Monto" style="text-align: right;">
                        <p:outputLabel value="#{e.genrdeMonto}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="Fecha">
                        <p:outputLabel value="#{e.genrdeFecha}"><f:convertDateTime pattern="dd/MM/yyyy HH:mm"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="Inactivar">
                        <p:commandButton value="INACTIVAR" action="#{cc.attrs.listenerInactivarRegistro}" disabled="#{!e.estado}" update="dtEgreso">
                            <f:setPropertyActionListener target="#{cc.attrs.registroDenominacion}" value="#{e}"/>
                        </p:commandButton>
                    </p:column>
                    <p:rowExpansion>
                        <p:dataTable value="#{e.cbpgenrDetregistroDenominacionCollection}" var="ed" emptyMessage="No se encontraron registros" reflow="true" rowKey="#{ed.gendreCodigo}">
                            <f:facet name="header">DESGLOSE</f:facet>
                            <p:column headerText="TIPO" styleClass="labelBolder">
                                <p:outputLabel value="#{ed.gendenCodigo.gendenTipodes}"/>
                            </p:column>
                            <p:column headerText="DENOMINACION" styleClass="labelBolder">
                                <p:outputLabel value="#{ed.gendenCodigo.gendenDetalle}"/>
                            </p:column>
                            <p:column headerText="CANTIDAD" styleClass="labelBolder" style="text-align: center;">
                                <p:outputLabel value="#{ed.gendreCantidad}"/>
                            </p:column>
                            <p:column headerText="VALOR" styleClass="labelBolder" style="text-align: right;">
                                <p:outputLabel value="#{ed.gendreValor}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                            </p:column>
                        </p:dataTable>
                    </p:rowExpansion>
                </p:dataTable>
            </p:tab>
            <p:tab title="CIERRE">
                <p:dataTable id="dtCierre" value="#{cc.attrs.cierre}" var="c" emptyMessage="No se encontraron registros" reflow="true" rowKey="#{c.genrdeCodigo}">
                    <p:column style="width: 16px;"> <p:rowToggler/></p:column>
                    <p:column headerText="TIPO">
                        <p:outputLabel value="#{!c.estado?'INACTIVO':'CIERRE'}"/>
                    </p:column>
                    <p:column headerText="Moneda" style="text-align: right;">
                        <p:outputLabel value="#{c.genrdeMoneda}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="Billete" style="text-align: right;">
                        <p:outputLabel value="#{c.genrdeBillete}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="Fijo" style="text-align: right;">
                        <p:outputLabel value="#{c.genrdeFijo}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="Monto" style="text-align: right;">
                        <p:outputLabel value="#{c.genrdeMonto}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="Fecha">
                        <p:outputLabel value="#{c.genrdeFecha}"><f:convertDateTime pattern="dd/MM/yyyy HH:mm"/></p:outputLabel>
                    </p:column>
                    <p:column headerText="Inactivar">
                        <p:commandButton value="INACTIVAR" action="#{cc.attrs.listenerInactivarRegistro}" disabled="#{!c.estado}" update="dtCierre">
                            <f:setPropertyActionListener target="#{cc.attrs.registroDenominacion}" value="#{c}"/>
                        </p:commandButton>
                    </p:column>
                    <p:rowExpansion>
                        <p:dataTable value="#{c.cbpgenrDetregistroDenominacionCollection}" var="cd" emptyMessage="No se encontraron registros" reflow="true" rowKey="#{cd.gendreCodigo}">
                            <f:facet name="header">DESGLOSE</f:facet>
                            <p:column headerText="TIPO" styleClass="labelBolder">
                                <p:outputLabel value="#{cd.gendenCodigo.gendenTipodes}"/>
                            </p:column>
                            <p:column headerText="DENOMINACION" styleClass="labelBolder">
                                <p:outputLabel value="#{cd.gendenCodigo.gendenDetalle}"/>
                            </p:column>
                            <p:column headerText="CANTIDAD" styleClass="labelBolder" style="text-align: center;">
                                <p:outputLabel value="#{cd.gendreCantidad}"/>
                            </p:column>
                            <p:column headerText="VALOR" styleClass="labelBolder" style="text-align: right;">
                                <p:outputLabel value="#{cd.gendreValor}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                            </p:column>
                        </p:dataTable>
                    </p:rowExpansion>
                </p:dataTable>
            </p:tab>
            <p:tab title="TRANSACCIONES">
                <p:dataTable id="dtVentaCaja" value="#{cc.attrs.ventasLazy}" var="v" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                             reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{v.facvtcSecuenvta}"
                             scrollable="true" scrollHeight="300">
                    <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{v.facvtcSecuenvta}" width="120">
                        <p:outputLabel value="#{v.facvtcSecuenvta}"/>
                    </p:column>
                    <p:column headerText="Numero" filterStyle="width: 95%" filterBy="#{v.documento}" width="100">
                        <p:outputLabel value="#{v.documento}"/>
                    </p:column>
                    <p:column headerText="Documento" filterStyle="width: 95%" filterBy="#{v.documentoFact}" width="250">
                        <p:outputLabel value="#{v.documentoFact}"/>
                    </p:column>
                    <p:column headerText="Identificación" filterStyle="width: 95%" filterBy="#{v.FACVTCclierucci}">
                        <p:outputLabel value="#{v.FACVTCclierucci}"/>
                    </p:column>
                    <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{v.FACVTCclienombre}">
                        <p:outputLabel value="#{v.FACVTCclienombre}"/>
                    </p:column>
                    <p:column headerText="Valor">
                        <p:outputLabel value="#{v.FACVTCmonpagomov}">
                            <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                        </p:outputLabel>
                    </p:column>
                </p:dataTable>
            </p:tab>
        </p:tabView>
    </cc:implementation>

</html>

