<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      >

    <cc:interface >
        <cc:attribute name="label" required="true"/>
        <cc:attribute name="symbol" required="false" default=""/>
        <cc:attribute name="symbolPosition" required="false" default="R"/>
        <cc:attribute name="onkeypress" required="false"/>
        <cc:attribute name="disabled" required="false" default="false"/>
        <cc:attribute name="readonly" required="false" default="false"/>
        <cc:attribute name="decimalPlaces" required="false" default="5"/>
        <cc:attribute name="value" required="true" default=""/>
        <cc:attribute name="tooltip" required="false" default="#{cc.attrs.label}"/>
        <cc:attribute name="minValue" required="false" default="-9999999999999"/>
        <!--clientBehavior Permite escuchar el ajax en el componente-->
        <cc:clientBehavior name="blur" event="blur" targets="inputNumber"  />
    </cc:interface>
    <cc:implementation>
        <h:panelGroup layout="block" class="Container Wid100" id="#{cc.attrs.id}-container" rendered="#{cc.attrs.rendered}"  >
            <!--#{cc.attrs.id} #{cc.clientId}-->
            <p:outputLabel for="inputNumber" id="#{cc.attrs.id}-label" value="#{cc.attrs.label}" class="DispBlock Wid100 FontBold" style="margin-bottom: 3px;"/>
            <p:inputNumber id="inputNumber" value="#{cc.attrs.value}" decimalPlaces="#{cc.attrs.decimalPlaces}" readonly="#{cc.attrs.readonly}" class="Wid100"  
                            title="#{cc.attrs.tooltip}" minValue="#{cc.attrs.minValue}" symbol=" #{cc.attrs.symbol}" symbolPosition="#{cc.attrs.symbolPosition}" onkeypress="#{cc.attrs.onkeypress}"  >
            </p:inputNumber>
        </h:panelGroup>
    </cc:implementation>
</html>
