<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      >

    <cc:interface >
        <cc:attribute name="label" required="true"/>
        <cc:attribute name="mask" default="999-999-999999999"/>
        <cc:attribute name="onkeypress" required="false"/>
        <cc:attribute name="placeholder" required="false"/>
        <cc:attribute name="disabled" required="false" default="false"/>
        <cc:attribute name="readonly" required="false" default="false"/>
        <cc:attribute name="value" required="true" default=""/>
        <cc:attribute name="type" required="false" default="text"/>
        <cc:attribute name="tooltip" required="false" default="#{cc.attrs.label}"/>
        <cc:clientBehavior name="blur" event="blur" targets="#{cc.attrs.id}"  />
    </cc:interface>
    <cc:implementation>
        <h:panelGroup layout="block" class="Container Wid100" id="#{cc.attrs.id}-container" rendered="#{cc.attrs.rendered}"  >
            <p:outputLabel for="#{cc.attrs.id}" value="#{cc.attrs.label}" class="DispBlock Wid100 FontBold" 
                           style="margin-bottom: 3px;"/>
            <p:inputMask id="#{cc.attrs.id}" value="#{cc.attrs.value}"  
                         readonly="#{cc.attrs.readonly}" class="Wid100" disabled="#{cc.attrs.disabled}"
                         title="#{cc.attrs.tooltip}" onkeypress="#{cc.attrs.onkeypress}" 
                         placeholder="#{cc.attrs.placeholder}" mask="#{cc.attrs.mask}"/>
            
        </h:panelGroup>
    </cc:implementation>
</html>
