<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Rangos de clientes
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
                <h:outputScript name="dataTableRegistroVenta.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm" prependId="false">
                    <p:commandButton value="Editar" oncomplete="PF('dlgRangos').show()" update=":frmEdit"
                                     actionListener="#{rangosClientesView.setearValoresEdit()}"/>
                    <p:dataTable value="#{rangosClientesView.rangos}" var="v" rows="10">
                        <f:facet name="header">
                            RANGOS DE CLIENTES
                        </f:facet>
                        <p:column headerText="Clase">
                            CLASE #{v.claseCliente}
                        </p:column>
                        
                        <p:column headerText="Valor Mínimo" style="text-align: right">
                            <p:outputLabel value="#{v.valorMin}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                        </p:column>
                        
                        <p:column headerText="Valor Máximo" style="text-align: right">
                            <p:outputLabel value="#{v.valorMax}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                        </p:column>
                    </p:dataTable>
                </h:form>
                
                <!-- -->
                
                <p:dialog widgetVar="dlgRangos" appendTo="@(body)" position="top" width="80%" modal="true">
                    <h:form id="frmEdit">
                        <p:dataTable value="#{rangosClientesView.rangosNew}" var="v" rows="10"
                                     editable="true" editMode="cell">
                            <p:column headerText="Clase">
                                CLASE #{v.claseCliente}
                            </p:column>

                            <p:column headerText="Valor Mínimo" style="text-align: right">
                                <p:cellEditor>
                                    <f:facet name="output"><p:outputLabel value="#{v.valorMin}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel></f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{v.valorMin}"/>
                                    </f:facet>
                                </p:cellEditor>
                                
                            </p:column>

                            <p:column headerText="Valor Máximo" style="text-align: right">
                                <p:cellEditor>
                                    <f:facet name="output"><p:outputLabel value="#{v.valorMax}"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel></f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{v.valorMax}"/>                            
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                        </p:dataTable>
                        <p:commandButton value="Guardar" actionListener="#{rangosClientesView.guardarDatos}"/>
                        <p:commandButton value="Cancelar" onclick="PF('dlgRangos').hide()"/>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>