<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Mantenimiento Caja
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:tabView id="contenedor" styleClass="backgroundLogo">
                        <p:tab title="1. CAJA">
                            <p:panelGrid id="formCajaIngreso" styleClass="ui-panelgrid-blank">
                                <f:facet name="header">
                                    <p:row>
                                        <p:column colspan="2"><p:outputLabel value="Ingreso Caja"/></p:column>
                                    </p:row>                            
                                </f:facet>
                                <p:row>
                                    <p:column><span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="Compania" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText value="#{userSession.cbpsegmUsuario.genciaCodigo.genciaSecuencia}-#{userSession.cbpsegmUsuario.genciaCodigo.genciaNombrecomercial}" size="60" placeholder="Nombre Comercial" readonly="true" style="text-transform: uppercase;"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="Oficina" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{caja.oficina}" converter="entityConverter" style="width: 92%;">
                                            <p:ajax listener="#{caja.seleccionOficina()}" update="formCajaIngreso"/>
                                            <f:selectItems value="#{caja.oficinas}" var="o" itemLabel="#{o.genofiSecuencia}-#{o.genofinomComercial}" itemValue="#{o}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><span class="fa fa-briefcase" style="margin-right: 5px;"/><p:outputLabel value="Caja" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText value="#{caja.caja.GENCAJcodigo}" size="60" maxlength="4" placeholder="CODIGO"  required="true" style="text-transform: uppercase;"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><span class="fa fa-briefcase" style="margin-right: 5px;"/><p:outputLabel value="Caja Nombre" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText value="#{caja.caja.GENCAJdescripcio}" size="60" maxlength="50" placeholder="DESCRIPCION" required="true" style="text-transform: uppercase;"/></p:column>
                                </p:row>                                
                                <p:row>
                                    <p:column><span class="fa fa-user" style="margin-right: 5px;"/><p:outputLabel value="Usuario" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{caja.caja.SEGUSUcodigo}" style="width: 92%;">
                                            <f:selectItems value="#{caja.usuarios}" var="u" itemLabel="#{u.segusuCodigo.segusuLogin}-#{u.segusuCodigo.segusuAbreviado}" itemValue="#{u.segusuCodigo.segusuLogin}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><span class="fa fa-user" style="margin-right: 5px;"/><p:outputLabel value="Vendedor" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{caja.caja.FACVDRcodigo}" style="width: 92%;">
                                            <f:selectItems value="#{caja.vendedores}" var="v" itemLabel="#{v.facrVendedorPK.FACVDRcodigo}-#{v.FACVDRnombre}" itemValue="#{v.facrVendedorPK.FACVDRcodigo}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><span class="fa fa-automobile" style="margin-right: 5px;"/><p:outputLabel value="Ruta" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{caja.caja.cxcrutCodigo}" style="width: 92%;">
                                            <f:selectItems value="#{caja.rutas}" var="r" itemLabel="#{r.cxcrRutaPK.CXCRUTcodigo}-#{r.CXCRUTdescripcio}" itemValue="#{r.cxcrRutaPK.CXCRUTcodigo}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="Bodega" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{caja.caja.GENBODcodigo}" style="width: 92%;">
                                            <f:selectItems value="#{caja.oficina.cbpgenrBodegaCollection}" var="b" itemLabel="[SUP:#{b.facsupCodigo}-#{b.supervisor}] - #{b.genbodSecuencia}-#{b.genbodNombre}" itemValue="#{b.genbodSecuencia}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><span class="fa fa-briefcase" style="margin-right: 5px;"/><p:outputLabel value="Talonario" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{caja.caja.gentalSecuencia}" converter="entityConverter" style="width: 92%;">
                                            <f:selectItems value="#{caja.talonarios}" var="t" itemLabel="#{t.GENTALsecuencia}-[#{t.GENTALcodestable}-#{t.GENTALcodptoemis}][#{t.GENTALdescripcion}]" itemValue="#{t}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><span class="fa fa-briefcase" style="margin-right: 5px;"/><p:outputLabel value="Talonario Devoluciones" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{caja.caja.gentalSecuenciaDev}" converter="entityConverter" style="width: 92%;">
                                            <f:selectItems value="#{caja.talonariosDevoluiones}" var="td" itemLabel="#{td.GENTALsecuencia}-[#{td.GENTALcodestable}-#{td.GENTALcodptoemis}][#{td.GENTALdescripcion}]" itemValue="#{td}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><span class="fa fa-shirtsinbulk" style="margin-right: 5px;"/><p:outputLabel value="L. Precio" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{caja.caja.cablistaprecio}" converter="entityConverter" style="width: 92%;">
                                            <f:selectItems value="#{caja.cablistaprecios}" var="clp" itemLabel="#{clp.INVLPRcodigo}-[#{clp.INVLPRnombre}]" itemValue="#{clp}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><span class="fa fa-user" style="margin-right: 5px;"/><p:outputLabel value="Empleado" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{caja.caja.nomempCodigo}" style="width: 92%;">
                                            <f:selectItem value="#{null}" itemLabel="Seleccionar..."/>
                                            <f:selectItems value="#{caja.empleados}" var="emp" itemLabel="#{emp.MEmpleadosPK.NOMEMPcodigo}-[#{emp.NOMEMPapellidos} #{emp.NOMEMPnombres}]" itemValue="#{emp.MEmpleadosPK.NOMEMPcodigo}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><span class="fa fa-bank" style="margin-right: 5px;"/><p:outputLabel value="Tipo Entidad" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{caja.caja.genpgeCodigo}" style="width: 92%;">
                                            <p:ajax listener="#{caja.seleccionTipoEntidad()}" update="selectEntidad"/>
                                            <f:selectItem value="#{null}" itemLabel="Seleccionar..."/>
                                            <f:selectItems value="#{caja.tipoEntiades}" var="ten" itemLabel="#{ten.genpParamgeneralesPK.GENPGEcodigo}-[#{ten.GENPGEnombre}]" itemValue="#{ten.genpParamgeneralesPK.GENPGEcodigo}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><span class="fa fa-bank" style="margin-right: 5px;"/><p:outputLabel value="Entidad" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu id="selectEntidad" value="#{caja.caja.banentCodigo}" style="width: 92%;">
                                            <p:ajax listener="#{caja.seleccionEntidad()}" update="selectCuenta"/>
                                            <f:selectItem value="#{null}" itemLabel="Seleccionar..."/>
                                            <f:selectItems value="#{caja.entidades}" var="ent" itemLabel="#{ent.banmEntidadPK.banentCodigo}-[#{ent.banentNombre}]" itemValue="#{ent.banmEntidadPK.banentCodigo}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><span class="fa fa-shirtsinbulk" style="margin-right: 5px;"/><p:outputLabel value="Cta. Caja/Banco" styleClass="labelBolder"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu id="selectCuenta" value="#{caja.caja.banctaCodigo}" style="width: 92%;" required="true">
                                            <f:selectItem value="#{null}" itemLabel="Seleccionar..."/>
                                            <f:selectItems value="#{caja.cuentasCaja}" var="cta" itemLabel="#{cta.banmCuentacajaPK.BANCTAcodigo}-[#{cta.BANCTAnombre}]" itemValue="#{cta.banmCuentacajaPK.BANCTAcodigo}"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column colspan="2"><p:commandButton value="Grabar" actionListener="#{caja.grabarCaja()}" update="mainForm"/></p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:tab>
                        <p:tab title="2. LISTADO CAJAS">
                            <p:dataTable id="dtCajas" value="#{caja.cajasLazy}" var="c" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                        reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{c.facscaIdsececaja}"
                                        selectionMode="single" selection="#{caja.cajaSeleccionada}">
                                <p:ajax event="rowDblselect" oncomplete="PF('dlgCaja').show();" update="frmdlgCaja" listener="#{caja.cargarDatosCaja()}"/>
                                <p:column headerText="Id" filterStyle="width: 95%" filterBy="#{c.facscaIdsececaja}" width="50">
                                   <p:outputLabel value="#{c.facscaIdsececaja}"/>
                                </p:column>
                                <p:column headerText="Compania" filterStyle="width: 95%" filterBy="#{c.GENCIAcodigo}" width="100">
                                   <p:outputLabel value="#{c.GENCIAcodigo}"/>
                                </p:column>
                                <p:column headerText="Oficina" filterStyle="width: 95%" filterBy="#{c.GENOFIcodigo}" width="100">
                                   <p:outputLabel value="#{c.GENOFIcodigo}"/>
                                </p:column>
                                <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{c.GENCAJcodigo}" width="100">
                                    <p:outputLabel value="#{c.GENCAJcodigo}" title="#{c.GENCAJdescripcio}"/>
                                </p:column>
                                <p:column headerText="Usuario" filterStyle="width: 95%" filterBy="#{c.SEGUSUcodigo}">
                                   <p:outputLabel value="#{c.SEGUSUcodigo}"/>
                                </p:column>
                                <p:column headerText="Vendedor" filterStyle="width: 95%" filterBy="#{c.FACVDRcodigo}">
                                    <p:outputLabel value="#{c.FACVDRcodigo}" title="#{c.cxcrutCodigo}"/>
                                </p:column>
                                <p:column headerText="Bodega">
                                   <p:outputLabel value="#{c.GENBODcodigo}"/>
                                </p:column>
                                <p:column headerText="Talonario">
                                   <p:outputLabel value="#{c.gentalSecuencia.GENTALcodptoemis}-#{c.gentalSecuencia.GENTALdescripcion}"/>
                                </p:column>
                                <p:column headerText="Tal. Devolucion">
                                   <p:outputLabel value="#{c.gentalSecuenciaDev.GENTALcodptoemis}-#{c.gentalSecuenciaDev.GENTALdescripcion}"/>
                                </p:column>
                                <p:column headerText="L. Precios">
                                   <p:outputLabel value="#{c.cablistaprecio.INVLPRcodigo}-#{c.cablistaprecio.INVLPRnombre}"/>
                                </p:column>
                                <p:column headerText="Estado" width="50">
                                   <p:outputLabel value="#{c.GENCAJestado}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                </h:form>
                
                <p:dialog widgetVar="dlgCaja" modal="true"  width="80%" responsive="true" closable="true" header="CAJA" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgCaja">
                        <p:panelGrid id="formCaja" styleClass="ui-panelgrid-blank">
                            <p:row>
                                <p:column><span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="Compania" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{caja.cajaSeleccionada.GENCIAcodigo}" size="50" placeholder="Nombre Comercial" readonly="true" style="text-transform: uppercase;"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="Oficina" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{caja.cajaSeleccionada.GENOFIcodigo}" size="50" placeholder="OFICINA" readonly="true" style="text-transform: uppercase;"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-briefcase" style="margin-right: 5px;"/><p:outputLabel value="Caja" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{caja.cajaSeleccionada.GENCAJcodigo}" size="50" maxlength="4" placeholder="CODIGO"  required="true" style="text-transform: uppercase;" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-briefcase" style="margin-right: 5px;"/><p:outputLabel value="Caja Nombre" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{caja.cajaSeleccionada.GENCAJdescripcio}" size="50" maxlength="50" placeholder="DESCRIPCION" required="true" style="text-transform: uppercase;" readonly="true"/></p:column>
                            </p:row>                                
                            <p:row>
                                <p:column><span class="fa fa-user" style="margin-right: 5px;"/><p:outputLabel value="Usuario" styleClass="labelBolder"/></p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{caja.cajaSeleccionada.SEGUSUcodigo}" style="width: 92%;">
                                        <f:selectItems value="#{caja.usuarios}" var="u" itemLabel="#{u.segusuCodigo.segusuLogin}-#{u.segusuCodigo.segusuAbreviado}" itemValue="#{u.segusuCodigo.segusuLogin}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-user" style="margin-right: 5px;"/><p:outputLabel value="Vendedor" styleClass="labelBolder"/></p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{caja.cajaSeleccionada.FACVDRcodigo}" style="width: 92%;">
                                        <f:selectItems value="#{caja.vendedores}" var="v" itemLabel="#{v.facrVendedorPK.FACVDRcodigo}-#{v.FACVDRnombre}" itemValue="#{v.facrVendedorPK.FACVDRcodigo}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-automobile" style="margin-right: 5px;"/><p:outputLabel value="Ruta" styleClass="labelBolder"/></p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{caja.cajaSeleccionada.cxcrutCodigo}" style="width: 92%;">
                                        <f:selectItems value="#{caja.rutas}" var="r" itemLabel="#{r.cxcrRutaPK.CXCRUTcodigo}-#{r.CXCRUTdescripcio}" itemValue="#{r.cxcrRutaPK.CXCRUTcodigo.trim()}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="Bodega" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{caja.cajaSeleccionada.GENBODcodigo}" size="50" maxlength="50" placeholder="BODEGA" required="true" style="text-transform: uppercase;" readonly="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-briefcase" style="margin-right: 5px;"/><p:outputLabel value="Talonario" styleClass="labelBolder"/></p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{caja.cajaSeleccionada.gentalSecuencia}" converter="entityConverter" style="width: 92%;">
                                        <f:selectItems value="#{caja.talonarios}" var="t" itemLabel="#{t.GENTALsecuencia}-[#{t.GENTALcodestable}-#{t.GENTALcodptoemis}][#{t.GENTALdescripcion}]" itemValue="#{t}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-briefcase" style="margin-right: 5px;"/><p:outputLabel value="Talonario Devoluciones" styleClass="labelBolder"/></p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{caja.cajaSeleccionada.gentalSecuenciaDev}" converter="entityConverter" style="width: 92%;">
                                        <f:selectItems value="#{caja.talonariosDevoluiones}" var="td" itemLabel="#{td.GENTALsecuencia}-[#{td.GENTALcodestable}-#{td.GENTALcodptoemis}][#{td.GENTALdescripcion}]" itemValue="#{td}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-shirtsinbulk" style="margin-right: 5px;"/><p:outputLabel value="L. Precio" styleClass="labelBolder"/></p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{caja.cajaSeleccionada.cablistaprecio}" converter="entityConverter" style="width: 92%;">
                                        <f:selectItems value="#{caja.cablistaprecios}" var="clp" itemLabel="#{clp.INVLPRcodigo}-[#{clp.INVLPRnombre}]" itemValue="#{clp}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-user" style="margin-right: 5px;"/><p:outputLabel value="Empleado" styleClass="labelBolder"/></p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{caja.cajaSeleccionada.nomempCodigo}" style="width: 92%;">
                                        <f:selectItem value="#{null}" itemLabel="Seleccionar..."/>
                                        <f:selectItems value="#{caja.empleados}" var="emp" itemLabel="#{emp.MEmpleadosPK.NOMEMPcodigo}-[#{emp.NOMEMPapellidos} #{emp.NOMEMPnombres}]" itemValue="#{emp.MEmpleadosPK.NOMEMPcodigo}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-bank" style="margin-right: 5px;"/><p:outputLabel value="Tipo Entidad" styleClass="labelBolder"/></p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{caja.cajaSeleccionada.genpgeCodigo}" style="width: 92%;">
                                        <p:ajax listener="#{caja.seleccionTipoEntidadEdit()}" update="selectEntidadEdit,selectCuentaEdit"/>
                                        <f:selectItem value="#{null}" itemLabel="Seleccionar..."/>
                                        <f:selectItems value="#{caja.tipoEntiades}" var="ten" itemLabel="#{ten.genpParamgeneralesPK.GENPGEcodigo}-[#{ten.GENPGEnombre}]" itemValue="#{ten.genpParamgeneralesPK.GENPGEcodigo}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-bank" style="margin-right: 5px;"/><p:outputLabel value="Entidad" styleClass="labelBolder"/></p:column>
                                <p:column>
                                    <p:selectOneMenu id="selectEntidadEdit" value="#{caja.cajaSeleccionada.banentCodigo}" style="width: 92%;">
                                        <p:ajax listener="#{caja.seleccionEntidadEdit()}" update="selectCuentaEdit"/>
                                        <f:selectItem value="#{null}" itemLabel="Seleccionar..."/>
                                        <f:selectItems value="#{caja.entidades}" var="ent" itemLabel="#{ent.banmEntidadPK.banentCodigo}-[#{ent.banentNombre}]" itemValue="#{ent.banmEntidadPK.banentCodigo}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-shirtsinbulk" style="margin-right: 5px;"/><p:outputLabel value="Cta. Caja/Banco" styleClass="labelBolder"/></p:column>
                                <p:column>
                                    <p:selectOneMenu id="selectCuentaEdit" value="#{caja.cajaSeleccionada.banctaCodigo}" style="width: 92%;">
                                        <f:selectItem value="#{null}" itemLabel="Seleccionar..."/>
                                        <f:selectItems value="#{caja.cuentasCaja}" var="cta" itemLabel="#{cta.banmCuentacajaPK.BANCTAcodigo}-[#{cta.BANCTAnombre}]" itemValue="#{cta.banmCuentacajaPK.BANCTAcodigo}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Estado" styleClass="labelBolder"/></p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{caja.cajaSeleccionada.GENCAJestado}" style="width: 92%;">
                                        <f:selectItem itemLabel="ACTIVO" itemValue="A"/>
                                        <f:selectItem itemLabel="INACTIVO" itemValue="I"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2"><p:commandButton value="Grabar" actionListener="#{caja.modificacionCaja()}" update="mainForm:contenedor:dtCajas"/></p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>