<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Ajuste de Inventario
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="datos">
                <component:cAtajos buscar="true" limpiar="true" agregar="true"/>
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:fieldset legend="Datos del Ajuste">
                        <p:remoteCommand name="busquedaOficina" actionListener="#{ajusteInventario.busquedaOficina()}" update="nombreOficina,secuenciaBodega,nombreBodega,tipoAjuste,motivoAjuste,ctaContable"/>
                        <p:remoteCommand name="busquedaBodega" actionListener="#{ajusteInventario.busquedaBodega()}" update="nombreBodega"/>
                        
                        <p:panelGrid style="width: 100%;">
                            <p:row>
                                <p:column colspan="4">
                                    <p:outputLabel value="Transacción Nº" styleClass="labelBolder"/>
                                    <p:outputLabel value="#{ajusteInventario.numTransaccion}" styleClass="labelBolder">
                                        <f:convertNumber integerOnly="true"/>
                                    </p:outputLabel>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Oficina" styleClass="labelBolder"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="secuenciaOficina" size="5" value="#{ajusteInventario.secuenciaOficina}"/>
                                    <p:commandLink actionListener="#{ajusteInventario.busquedaOficina()}" update="mainForm">
                                        <p:graphicImage value="/resources/images/clic.png"/>
                                    </p:commandLink>
                                    <p:inputText id="nombreOficina" readonly="true" value="#{ajusteInventario.oficina.genofiNombre}"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="Fecha Emisión" styleClass="labelBolder"/>
                                    <p:calendar value="#{ajusteInventario.fechaEmision}" pattern="dd/MM/yyyy" showOn="button" />
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="Número" styleClass="labelBolder"/>
                                    <p:inputText />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Bodega" styleClass="labelBolder"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="secuenciaBodega" size="5" value="#{ajusteInventario.secuenciaBodega}"/>
                                    <p:commandLink actionListener="#{ajusteInventario.busquedaBodega()}">
                                        <p:graphicImage value="/resources/images/clic.png"/>
                                    </p:commandLink>
                                    <p:inputText id="nombreBodega" readonly="true" value="#{ajusteInventario.bodega.genbodNombre}"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="Tipo Ajuste" styleClass="labelBolder"/>
                                    <p:selectOneMenu id="tipoAjuste" value="#{ajusteInventario.tipoMovimiento.genrDocumentoPK.GENTDOcodigo}" style="width: 92%;">
                                        <p:ajax listener="#{ajusteInventario.seleccionTipoMovimiento()}" update="motivoAjuste"/>
                                        <f:selectItems value="#{ajusteInventario.tiposMovimiento}" var="tm" itemLabel="#{tm.genrDocumentoPK.GENTDOcodigo}-#{tm.GENTDOnombre}" itemValue="#{tm.genrDocumentoPK.GENTDOcodigo}"/>
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="Motivo Ajuste" styleClass="labelBolder"/>
                                    <p:selectOneMenu id="motivoAjuste" value="#{ajusteInventario.motivoAjuste.invrMotvajustePK.INVMAJcodigo}" style="width: 92%;">
                                        <p:ajax listener="#{ajusteInventario.seleccionMotivoAjuste()}" update="ctaContable"/>
                                        <f:selectItems value="#{ajusteInventario.motivosAjuste}" var="ta" itemLabel="#{ta.invrMotvajustePK.INVMAJcodigo}-#{ta.INVMAJdescripcio}" itemValue="#{ta.invrMotvajustePK.INVMAJcodigo}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Cta. Contable" styleClass="labelBolder"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="ctaContable" value="#{ajusteInventario.motivoAjuste.INVMAJctacontab}" readonly="true"/>
                                </p:column>
                                <p:column colspan="2">
                                    <p:outputLabel value="Afecta Inventario" styleClass="labelBolder"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Concepto" styleClass="labelBolder"/>
                                </p:column>
                                <p:column>
                                    <p:inputText />
                                </p:column>
                                <p:column colspan="2">
                                    <p:outputLabel value="Total Ajuste" styleClass="labelBolder"/>
                                    <p:inputText />
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:fieldset>
                    <br/>
                    <p:panelGrid id="busquedaItem" style="width: 100%;">
                        <p:row>
                            <p:column>
                                <component:cBusquedaItem item="#{ajusteInventario.item}" buscar="#{ajusteInventario.busquedaItem()}" upBuscar="mainForm:busquedaItem" limpiar="#{ajusteInventario.limpiarItem()}" upLimpiar="mainForm:busquedaItem" agregar="#{ajusteInventario.agregarItem()}" upAgregar="mainForm:dtDetalleItems"/>
                                <p:remoteCommand name="buscarItem" actionListener="#{ajusteInventario.busquedaItem()}" update="busquedaItem"/>
                                <p:remoteCommand name="limpiarItem" actionListener="#{ajusteInventario.limpiarItem()}" update="busquedaItem" process="@this"/>
                                <p:remoteCommand name="agregarItem" actionListener="#{ajusteInventario.agregarItem()}" update="dtDetalleItems"/>                                
                                <br/><br/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <br/>
                    <p:dataTable id="dtDetalleItems" value="#{ajusteInventario.itemsTransaccion}" var="item" emptyMessage="No se encontraron registros" lazy="true"
                                 reflow="true" rowKey="#{item.invmItemPK}" selection="#{ajusteInventario.itemTransaccion}" selectionMode="single" scrollable="true" scrollHeight="350" 
                                 editable="true" editMode="cell">
                        <p:column headerText="Codigo" width="75"><p:outputLabel value="#{item.invmItemPK.INVITMcodigo}"/></p:column>
                        <p:column headerText="Producto" width="350"><p:outputLabel value="#{item.INVITMnombre}"/></p:column>
                        <p:column headerText="Cantidad" width="100" style="text-align: center;">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <p:outputLabel value="#{item.cantidadFuncional}"><f:convertNumber integerOnly="true"/></p:outputLabel>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText value="#{item.cantidadFuncional}"><f:convertNumber integerOnly="true"/></p:inputText>                                 
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Costo" style="text-align: right;"><p:outputLabel value="#{item.costo}"/></p:column>
                        <p:column headerText="SubTotal" style="text-align: right;"><p:outputLabel id="subtotal" value="#{item.subtotalCosto}"/></p:column>
                        <p:column headerText="Opcion" width="50">
                            <p:commandLink actionListener="#{ajusteInventario.elimiarItemRegistro(item)}" update="dtDetalleItems" title="BORRAR(Ctrl+Q)-#{item.invmItemPK.INVITMcodigo}">
                                <span class="fa fa-trash" style="color: #5f666c;"/>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                </h:form>
                
                <p:dialog widgetVar="dlgOficina" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Oficinas" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgOficina">
                        <p:dataTable id="dtOficina" value="#{ajusteInventario.oficinasLazy}" var="of" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                    reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{of.genofiCodigo}"
                                    selection="#{ajusteInventario.oficina}" selectionMode="single">
                            <p:ajax event="rowDblselect" oncomplete="PF('dlgOficina').hide();" update="mainForm" listener="#{ajusteInventario.seleccionOficina()}"/>
                            <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{of.genofiSecuencia}" width="140">
                               <p:outputLabel value="#{of.genofiSecuencia}"/>
                            </p:column>
                            <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{of.genofiNombre}" width="200">
                               <p:outputLabel value="#{of.genofiNombre}"/>
                            </p:column>
                            <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{of.genofiCodigo}" width="120">
                               <p:outputLabel value="#{of.genofiCodigo}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>
                
                <p:dialog widgetVar="dlgBodega" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Bodegas" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgBodega">
                        <p:dataTable id="dtBodega" value="#{ajusteInventario.bodegasLazy}" var="bo" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                    reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{bo.genbodCodigo}"
                                    selection="#{ajusteInventario.bodega}" selectionMode="single">
                            <p:ajax event="rowDblselect" oncomplete="PF('dlgBodega').hide();" update="mainForm" listener="#{ajusteInventario.seleccionBodega()}"/>
                            <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{bo.genbodSecuencia}" width="140">
                               <p:outputLabel value="#{bo.genbodSecuencia}"/>
                            </p:column>
                            <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{bo.genbodNombre}" width="200">
                               <p:outputLabel value="#{bo.genbodNombre}"/>
                            </p:column>
                            <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{bo.genbodCodigo}" width="120">
                               <p:outputLabel value="#{bo.genbodCodigo}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>
                
                <p:dialog widgetVar="dlgProducto" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Productos" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgProducto">
                        <p:dataTable id="dtProductos" value="#{ajusteInventario.itemsLazy}" var="i" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                    reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{i.invmItemPK}"
                                    selection="#{ajusteInventario.itemLazy}" selectionMode="single">
                            <p:ajax event="rowDblselect" onsuccess="focusById(':cantidadCabeceraProducto')" oncomplete="PF('dlgProducto').hide();" update="mainForm:busquedaItem" listener="#{ajusteInventario.actualizarCodigoItem()}"/>
                            <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{i.INVITMcodigo}" width="120">
                                <p:outputLabel value="#{i.invmItemPK.INVITMcodigo}"/>
                            </p:column>
                            <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{i.INVITMnombre}">
                                <p:outputLabel value="#{i.INVITMnombre}"/>
                            </p:column>
<!--                            <p:column headerText="Precio" width="120">
                                <p:outputLabel value="#{i.precio.INVITMprelista}"/>
                            </p:column>-->
                            <p:column headerText="Unidad" width="120">
                                <p:outputLabel value="#{i.INVUNIunidadexis}"/>
                            </p:column>
                            <p:column headerText="Stock" width="120">
                                <p:outputLabel value="#{i.INVITMstock}">
                                    <f:convertNumber integerOnly="true"/>
                                </p:outputLabel>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>
                
            </ui:define>
        </ui:composition>
    </body>
</html>