<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Transferencia de Inventario
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
                <h:outputScript name="dataTableInventario.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:remoteCommand name="busquedaOficina" actionListener="#{transferenciaInventario.busquedaOficina()}" update="contenedor"/>
                    <p:remoteCommand name="busquedaTransferencia" actionListener="#{transferenciaInventario.buscarTransferencia()}" update="contenedor"/>
                    <p:tabView id="contenedor">
                        <p:tab title="1. REGISTRO">
                            <p:fieldset legend="Transferencia de Inventario" styleClass="backgroundLogo">
                                <p:panelGrid style="width: 90%;">
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="Transacción Nº" styleClass="labelBolder"/>
                                            <p:outputLabel value="#{transferenciaInventario.numTransaccion}" styleClass="labelBolder">
                                                <f:convertNumber integerOnly="true"/>
                                            </p:outputLabel>
                                        </p:column>
                                        <p:column>
                                            <span class="fa fa-bars" style="margin-right: 5px;"/><p:outputLabel value="Tipo Transaferencia" styleClass="labelBolder"/><br/>
                                            <p:selectOneMenu id="tipoAjuste" value="#{transferenciaInventario.transferenciaModel.tipoMovimiento.genrDocumentoPK.GENTDOcodigo}" style="width: 92%;">
                                                <p:ajax update="busquedaItem,contenedor" listener="#{transferenciaInventario.cargarMovimientos()}"/>
                                                <f:selectItems value="#{transferenciaInventario.tiposMovimiento}" var="tm" itemLabel="#{tm.genrDocumentoPK.GENTDOcodigo}-#{tm.GENTDOnombre}" itemValue="#{tm.genrDocumentoPK.GENTDOcodigo}"/>
                                            </p:selectOneMenu>
                                        </p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column>
                                            <span class="fa fa-bank" style="margin-right: 5px;"/><p:outputLabel value="Compania" styleClass="labelBolder"/><br/>
                                            <p:inputText value="#{userSession.cbpsegmUsuario.genciaCodigo.genciaSecuencia}-#{userSession.cbpsegmUsuario.genciaCodigo.genciaNombrecomercial}" readonly="true"/>
                                        </p:column>
                                        <p:column>
                                            <span class="fa fa-bank" style="margin-right: 5px;"/><p:outputLabel value="Oficina" styleClass="labelBolder"/><br/>
                                            <p:inputText id="secuenciaOficina" size="5" value="#{transferenciaInventario.transferenciaModel.secuenciaOficina}"/>
                                            <p:commandLink actionListener="#{transferenciaInventario.busquedaOficina()}" update="mainForm">
                                                <p:graphicImage value="/resources/images/clic.png"/>
                                            </p:commandLink>
                                            <p:inputText id="nombreOficina" readonly="true" value="#{transferenciaInventario.transferenciaModel.oficina.genofiNombre}"/>
                                        </p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column>
                                            <span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="Bod. Origen" styleClass="labelBolder"/><br/>
                                            <p:selectOneMenu value="#{transferenciaInventario.transferenciaModel.bodegaOrigen}" converter="entityConverter" panelStyle="width:220px" 
                                                             effect="fade" var="bod" style="width:200px" filter="true" filterMatchMode="startsWith" >
                                                <p:ajax listener="#{transferenciaInventario.seleccionBodega()}" update="dtDetalleTransferencia"/>
                                                <f:selectItems value="#{transferenciaInventario.bodegaDestinoList}" var="bodega" itemLabel="#{bodega.genbodSecuencia}-#{bodega.genbodNombre}" itemValue="#{bodega}" />
                                                <p:column>
                                                    <h:outputText value="#{bod.genbodSecuencia}-#{bod.genbodNombre}" />
                                                </p:column>
                                            </p:selectOneMenu>
                                        </p:column>
                                        <p:column rendered="#{transferenciaInventario.transferenciaModel.tipoMovimiento.genrDocumentoPK.GENTDOcodigo eq 'TEP'}">
                                            <span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="Bod. Destino" styleClass="labelBolder"/><br/>
                                            <p:selectOneMenu value="#{transferenciaInventario.transferenciaModel.bodegaDestino}" converter="entityConverter" panelStyle="width:220px" 
                                                             effect="fade" var="bodD" style="width:200px" filter="true" filterMatchMode="startsWith" >
                                                <f:selectItems value="#{transferenciaInventario.bodegaDestinoList}" var="bodegaD" itemLabel="#{bodegaD.genbodSecuencia}-#{bodegaD.genbodNombre}" itemValue="#{bodegaD}" />
                                                <p:column>
                                                    <h:outputText value="#{bodD.genbodSecuencia}-#{bodD.genbodNombre}" />
                                                </p:column>
                                            </p:selectOneMenu>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:fieldset>
                            <br/>

                            <p:panelGrid id="busquedaItem" style="width: 100%;">
                                <p:row rendered="#{transferenciaInventario.transferenciaModel.tipoMovimiento.genrDocumentoPK.GENTDOcodigo eq 'TEP'}">
                                    <p:column>
                                        <component:cBusquedaItem item="#{transferenciaInventario.item}" buscar="#{transferenciaInventario.busquedaItem()}" upBuscar="mainForm:contenedor:busquedaItem" limpiar="#{transferenciaInventario.limpiarItem()}" 
                                                                 upLimpiar="mainForm:contenedor:busquedaItem" agregar="#{transferenciaInventario.agregarItem()}" upAgregar="mainForm:contenedor:busquedaItem,mainForm:contenedor:dtDetalleTransferencia"/>
                                        <p:remoteCommand name="buscarItem" actionListener="#{transferenciaInventario.busquedaItem()}" update="busquedaItem"/>
                                        <p:remoteCommand name="limpiarItem" actionListener="#{transferenciaInventario.limpiarItem()}" update="busquedaItem" process="@this"/>
                                        <p:remoteCommand name="agregarItem" actionListener="#{transferenciaInventario.agregarItem()}" update="busquedaItem,dtDetalleTransferencia"/>
                                        <p:commandButton icon="fa fa-random" value="PROCESAR" actionListener="#{transferenciaInventario.previsualizacionDatos()}" style="float: right;" update="mainForm,frmdlgTransferencia"/>
                                        <br/><br/>
                                    </p:column>
                                </p:row>
                                <p:row rendered="#{transferenciaInventario.transferenciaModel.tipoMovimiento.genrDocumentoPK.GENTDOcodigo eq 'TIP'}">
                                    <p:column>
                                        <span class="fa fa-share-alt" style="margin-right: 5px;"/><p:outputLabel value="Transferencia" styleClass="labelBolder"/><br/>
                                        <p:inputText id="secuenciaTransferencia" size="5" value="#{transferenciaInventario.transferenciaModel.secuenciaCabOtros}"/>
                                        <p:commandLink actionListener="#{transferenciaInventario.buscarTransferencia()}">
                                            <p:graphicImage value="/resources/images/clic.png"/>
                                        </p:commandLink>
                                        <p:inputText id="documentoTransferencia" readonly="true" value="#{transferenciaInventario.transferenciaModel.cabOtros.INVCOTnumsecuenc}-#{transferenciaInventario.transferenciaModel.cabOtros.INVCOTnumdocumen}-#{transferenciaInventario.transferenciaModel.cabOtros.GENTDOcodigo}"/>
                                        <p:commandButton icon="fa fa-random" value="PROCESAR" actionListener="#{transferenciaInventario.previsualizacionDatos()}" style="float: right;" update="mainForm,frmdlgTransferencia"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                            <br/>
                            <p:remoteCommand name="actualizarDatos" actionListener="#{transferenciaInventario.actualizarDatos()}" update="dtDetalleTransferencia"/>
                            <p:dataTable id="dtDetalleTransferencia" value="#{transferenciaInventario.tempTransferenciaInvList}" var="registro" emptyMessage="No se encontraron registros" lazy="true"
                                         reflow="true" rowKey="#{registro.INVITM_codigo}" selection="#{transferenciaInventario.tempTransferenciaInv}" selectionMode="single"
                                         scrollable="true" scrollHeight="400" editable="true" editMode="cell" >
                                <p:column headerText="Codigo" width="100">
                                    <p:outputLabel value="#{registro.INVITM_codigo}" styleClass="labelBolder"/>
                                </p:column>
                                <p:column headerText="Item">
                                    <p:outputLabel value="#{registro.item_nombre}"/>
                                </p:column>                                
                                <p:column headerText="Unidades" width="60" style="text-align: center;">
                                    <p:cellEditor rendered="#{transferenciaInventario.transferenciaModel.tipoMovimiento.genrDocumentoPK.GENTDOcodigo eq 'TEP'}">
                                        <f:facet name="output">
                                            <p:outputLabel value="#{registro.INVDOT_cantunida}" styleClass="labelBolder">
                                                <f:convertNumber integerOnly="true"/>
                                            </p:outputLabel>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{registro.INVDOT_cantunida}" styleClass="labelBolder" onblur="actualizarDatos();">
                                                <f:convertNumber integerOnly="true"/>
                                            </p:inputText>
                                        </f:facet>
                                    </p:cellEditor>
                                    <p:outputLabel value="#{registro.INVDOT_cantunida}" styleClass="labelBolder" rendered="#{transferenciaInventario.transferenciaModel.tipoMovimiento.genrDocumentoPK.GENTDOcodigo eq 'TIP'}">
                                        <f:convertNumber integerOnly="true"/>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="Factor" width="60" style="text-align: center;">
                                    <p:outputLabel value="#{registro.INVITM_uniembala}" styleClass="labelBolder">
                                        <f:convertNumber integerOnly="true"/>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="Cajas" width="60" style="text-align: center;">
                                    <p:cellEditor rendered="#{transferenciaInventario.transferenciaModel.tipoMovimiento.genrDocumentoPK.GENTDOcodigo eq 'TEP'}">
                                        <f:facet name="output">
                                            <p:outputLabel value="#{registro.INVDOT_cantcajas}" styleClass="labelBolder">
                                                <f:convertNumber integerOnly="true"/>
                                            </p:outputLabel>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{registro.INVDOT_cantcajas}" styleClass="labelBolder" onblur="actualizarDatos();">
                                                <f:convertNumber integerOnly="true"/>
                                            </p:inputText>
                                        </f:facet>
                                    </p:cellEditor>
                                    <p:outputLabel value="#{registro.INVDOT_cantcajas}" styleClass="labelBolder" rendered="#{transferenciaInventario.transferenciaModel.tipoMovimiento.genrDocumentoPK.GENTDOcodigo eq 'TIP'}">
                                        <f:convertNumber integerOnly="true"/>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="Funcional" width="60" style="text-align: center;">
                                    <p:outputLabel value="#{registro.INVDOT_cantifunci}" styleClass="labelBolder">
                                        <f:convertNumber integerOnly="true"/>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="Precio " width="100" style="text-align: right;">
                                    <p:outputLabel value="#{registro.INVDOT_precio}" styleClass="labelBolder">
                                        <f:convertNumber pattern="#,####0.0000" locale="en_US"/>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="SubTotal" width="100" style="text-align: right;">
                                    <p:outputLabel value="#{registro.INVDOT_subtotamov}" styleClass="labelBolder">
                                        <f:convertNumber pattern="#,####0.0000" locale="en_US"/>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="Faltante Cant.  Unidades" width="60" style="text-align: center;" rendered="#{transferenciaInventario.transferenciaModel.tipoMovimiento.genrDocumentoPK.GENTDOcodigo eq 'TIP'}">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <p:outputLabel value="#{registro.INVDOT_faltantecantifunci}" styleClass="labelBolder">
                                                <f:convertNumber integerOnly="true"/>
                                            </p:outputLabel>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:spinner value="#{registro.INVDOT_faltantecantifunci}" max="#{registro.INVDOT_cantifunci}"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="Op." width="30" rendered="#{transferenciaInventario.transferenciaModel.tipoMovimiento.genrDocumentoPK.GENTDOcodigo eq 'TEP'}">
                                    <p:commandLink actionListener="#{transferenciaInventario.elimiarItemRegistro(registro)}" update="dtDetalleTransferencia">
                                        <span class="fa fa-trash" style="color: #5f666c;"/>
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>                            
                        </p:tab>
                        <p:tab title="2. CONSULTA">
                            <p:dataTable id="dtCabecera" value="#{transferenciaInventario.cabotrosLazy}" var="cb" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                         reflow="true" filterEvent="enter" rows="15" rowsPerPageTemplate="15,25,50" paginatorPosition="top" rowKey="#{cb.INVCOTnumsecuenc}"
                                         selectionMode="single" selection="#{transferenciaInventario.cabOtros}">
                                <p:ajax event="rowDblselect" oncomplete="PF('dlgTransferencia').show();" update="frmdlgTransferencia" listener="#{transferenciaInventario.seleccionarTransferencia(transferenciaInventario.cabOtros.INVCOTnumsecuenc)}"/>
                                <p:column headerText="OFICINA" filterStyle="width: 95%" filterBy="#{cb.GENOFIcodigo}" width="100">
                                    <p:outputLabel value="#{cb.GENOFIcodigo}"/>
                                </p:column>
                                <p:column headerText="SECUENCIA" filterStyle="width: 95%" filterBy="#{cb.INVCOTnumsecuenc}" width="120">
                                    <p:outputLabel value="#{cb.INVCOTnumsecuenc}"/>
                                </p:column>
                                <p:column headerText="DOCUMENTO" filterStyle="width: 95%" filterBy="#{cb.INVCOTnumdocumen}" width="120">
                                    <p:outputLabel value="#{cb.INVCOTnumdocumen}"/>
                                </p:column>
                                <p:column headerText="DOCUMENTO" filterStyle="width: 95%" filterBy="#{cb.GENTDOcodigo}">
                                    <p:outputLabel value="#{cb.GENTDOcodigo}"/>
                                </p:column>
                                <p:column headerText="BOD. ORIGEN" filterStyle="width: 95%" filterBy="#{cb.GENBODcodigorige}">
                                    <p:outputLabel value="#{cb.GENBODcodigorige}"/>
                                    <p:outputLabel value="#{cb.bodegaOrigen}"/>
                                </p:column>
                                <p:column headerText="BOD. DESTINO" filterStyle="width: 95%" filterBy="#{cb.GENBODcodigorela}">
                                    <p:outputLabel value="#{cb.GENBODcodigorela}"/>
                                    <p:outputLabel value="#{cb.bodegaRelacionada}"/>
                                </p:column>
                                <p:column headerText="USUARIO" filterStyle="width: 95%" filterBy="#{cb.INVCOTcodusuario}" width="120">
                                    <p:outputLabel value="#{cb.INVCOTcodusuario}"/>
                                </p:column>
                                <p:column headerText="IMPRIMIR" width="100" style="text-align: center;">
                                    <p:commandButton icon="fa fa-print" actionListener="#{transferenciaInventario.generarDocumento()}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                </h:form>

                <p:dialog widgetVar="dlgOficina" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Oficinas" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgOficina">
                        <component:cOficina oficinasLazy="#{transferenciaInventario.oficinasLazy}" oficina="#{transferenciaInventario.transferenciaModel.oficina}" 
                                            seleccionOficina="#{transferenciaInventario.seleccionOficina()}"/>
                    </h:form>
                </p:dialog>

                <p:dialog widgetVar="dlgItemBodega" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Item Bodega" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgItemBodega">
                        <component:cItemBodega itemBodegaLazy="#{transferenciaInventario.itemsBodegaLazy}" itemBodega="#{transferenciaInventario.itemLazy}" 
                                               seleccionItemBodega="#{transferenciaInventario.actualizarCodigoItem()}"/>
                    </h:form>
                </p:dialog>

                <p:dialog widgetVar="dlgTransferencia" modal="true"  width="80%" responsive="true" closable="true" header="Transferencia de Inventario" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgTransferencia">
                        <p:panelGrid style="width: 100%;">
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Tipo" styleClass="labelBolder"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="Secuencia" styleClass="labelBolder"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="Documento" styleClass="labelBolder"/>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="F. Emision" styleClass="labelBolder"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:inputText value="#{transferenciaInventario.cabOtros.GENTDOcodigo}" readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:inputText value="#{transferenciaInventario.cabOtros.INVCOTnumsecuenc}" readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:inputText value="#{transferenciaInventario.cabOtros.INVCOTnumdocumen}" readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:inputText value="#{transferenciaInventario.cabOtros.INVCOTfechaemisi}" readonly="true">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                                    </p:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    <p:outputLabel value="Bog. Origen" styleClass="labelBolder"/>
                                </p:column>
                                <p:column colspan="2">
                                    <p:outputLabel value="Bod. Destino" styleClass="labelBolder"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    <p:inputText value="#{transferenciaInventario.cabOtros.GENBODcodigorige}-#{transferenciaInventario.cabOtros.bodegaOrigen}" readonly="true"/>
                                </p:column>
                                <p:column colspan="2">
                                    <p:inputText value="#{transferenciaInventario.cabOtros.GENBODcodigorela}-#{transferenciaInventario.cabOtros.bodegaRelacionada}" readonly="true"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <br/>
                        <p:dataTable value="#{transferenciaInventario.detOtros}" var="d" emptyMessage="No se encontraron registros" lazy="true"
                                     reflow="true" rowKey="#{d.invtDetotrosPK}" scrollable="true" scrollHeight="400">
                            <p:column headerText="Nº" width="75">
                                <p:outputLabel value="#{d.invtDetotrosPK.INVDOTlinea}" styleClass="labelBolder"/>
                            </p:column>
                            <p:column headerText="Item" width="175">
                                <p:outputLabel value="#{d.INVITMcodigo}"/>
                            </p:column>
                            <p:column headerText="Item">
                                <p:outputLabel value="#{d.nombreItem}"/>
                            </p:column>
                            <p:column headerText="Unidades" width="175">
                                <p:outputLabel value="#{d.INVDOTcantiunida}"/>
                            </p:column>
                            <p:column headerText="Cajas" width="175">
                                <p:outputLabel value="#{d.INVDOTcanticaja}"/>
                            </p:column>
                            <p:column headerText="Factor" width="175">
                                <p:outputLabel value="#{d.INVDOTunidembala}"/>
                            </p:column>
                            <p:column headerText="Funcional" width="175">
                                <p:outputLabel value="#{d.INVDOTcantifunci}"/>
                            </p:column>
                        </p:dataTable>
                        
                        <center>
                            <p:commandButton value="Aceptar" oncomplete="PF('dlgTransferencia').hide();"/>
                        </center>
                    </h:form>
                </p:dialog>

                <p:dialog widgetVar="dlgTransferencias" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Transferencias" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgTransferencias">
                        <p:dataTable id="dtCabecera" value="#{transferenciaInventario.cabotrosEgresoLazy}" var="cb" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                     reflow="true" filterEvent="enter" rows="15" rowsPerPageTemplate="15,25,50" paginatorPosition="top" rowKey="#{cb.INVCOTnumsecuenc}"
                                     selectionMode="single" selection="#{transferenciaInventario.transferenciaModel.cabOtros}">
                            <p:ajax event="rowDblselect" oncomplete="PF('dlgTransferencias').hide();" update="mainForm" listener="#{transferenciaInventario.seleccionarTransferencia()}"/>
                            <p:column headerText="OFICINA" filterStyle="width: 95%" filterBy="#{cb.GENOFIcodigo}" width="100">
                                <p:outputLabel value="#{cb.GENOFIcodigo}"/>
                            </p:column>
                            <p:column headerText="SECUENCIA" filterStyle="width: 95%" filterBy="#{cb.INVCOTnumsecuenc}" width="120">
                                <p:outputLabel value="#{cb.INVCOTnumsecuenc}"/>
                            </p:column>
                            <p:column headerText="DOCUMENTO" filterStyle="width: 95%" filterBy="#{cb.INVCOTnumdocumen}" width="120">
                                <p:outputLabel value="#{cb.INVCOTnumdocumen}"/>
                            </p:column>
                            <p:column headerText="DOCUMENTO" filterStyle="width: 95%" filterBy="#{cb.GENTDOcodigo}">
                                <p:outputLabel value="#{cb.GENTDOcodigo}"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>

            </ui:define>
        </ui:composition>
    </body>
</html>