<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <h:form id="footerForm">
        <div class="footer">
            <div class="card clearfix">
                <span class="footer-text-left">#{contenidoInformativo.footer1}</span>
                <span class="footer-text-right"><span class="ui-icon ui-icon-copyright"></span>  <span>#{contenidoInformativo.footer2}</span></span>
            </div>
        </div>
    </h:form>
</ui:composition>