<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <f:view contentType="text/html" locale="es" encoding="UTF-8"/>
    <f:event type="preRenderView" listener="#{userSession.redirectInvitado()}" />
    
    <h:head>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}"/>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="theme-color" content="#{guestPreferences.themeColors[guestPreferences.theme]}" />
            <!--<meta http-equiv="refresh" content="# {facesContext.externalContext.sessionMaxInactiveInterval}; url=# {request.contextPath}/faces/expiredSession.xhtml"/>-->
        </f:facet>
        <title><ui:insert name="title">CamilaPOS</ui:insert></title>
        <h:outputScript name="js/nanoscroller.js" library="poseidon-layout" />
        <h:outputScript name="js/layout.js" library="poseidon-layout" />
        <h:outputScript name="js/swipe.js" library="poseidon-layout" />
        <ui:insert name="head"/>
    </h:head>

    <h:body styleClass="main-body">
        <p:growl autoUpdate="true" globalOnly="true" />
        <div class="layout-wrapper #{guestPreferences.menuLayout}">
            <ui:include src="./topbar.xhtml" />
            <ui:include src="./menu.xhtml" />
            
            <div id="topData" class="layout-main">
                <div class="route-bar" style="font-weight: bolder !important;">
                    <i class="fa fa-user"></i>
                    <p:outputLabel value="#{userSession.name}"/>
                    <i class="fa fa-calendar"></i>
                    <p:outputLabel value="#{userSession.fecha}">
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </p:outputLabel>
                    <i class="fa fa-home"></i>
                    <p:outputLabel value="[#{userSession.caja.GENBODcodigo}]#{userSession.caja.bodega}"/>
                    <i class="fa fa-leanpub"></i>
                    <p:outputLabel value="TURNOº#{userSession.turno.segturNumero}"/>
                    <!--<p:clock pattern="dd/MM/yyyy HH:mm:ss"/>-->
                    <!--<ui:insert name="viewname" />-->                
                    <!--<ui:include src="./right-sidebar.xhtml" />-->
                </div>
                <div class="layout-main-content">
                    <ui:insert name="content"/>
                </div>
                
                
                <ui:include src="./footer.xhtml" />
               
                
            </div>
        </div>
        
        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
           <f:facet name="start">
               <i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"></i>
           </f:facet>

           <f:facet name="complete">
               <h:outputText value="" />
           </f:facet>
       </p:ajaxStatus>
        
        <h:outputStylesheet name="css/nanoscroller.css" library="poseidon-layout" />
        <h:outputStylesheet name="css/animate.css" library="poseidon-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="poseidon-layout" />
    </h:body>

</html>