<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pp="http://primefaces.org/poseidon">
    
    <h:form id="menuform"> 
        <div class="layout-menu-container">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <br/>
                    <!--
                    <pp:menu widgetVar="me">
                        <p:submenu id="id_cxp" label="Cuentas X Pagar" icon="">
                            <p:menuitem id="cxp1_proveedor" value="Proveedores" icon="fa fa-fw fa-user" outcome="/faces/pages/cxp/proveedores"  style="color:#00acac"/>
                        </p:submenu>
                        
                        <p:submenu id="id_cxc" label="Cuentas X Cobrar" icon="">
                            <p:menuitem id="cxc1_cliente" value="Clientes" icon="fa fa-fw fa-user" outcome="/faces/pages/cxp/proveedores"  style="color:#00acac"/>
                        </p:submenu>
                        
                        <p:submenu id="id_gru" label="Grupo de Usuarios" icon="">
                            <p:menuitem id="segr_gruposUsuarios" value="Grupo de Usuarios" icon="fa fa-fw fa-user" outcome="/faces/pages/general/gruposUsuarios"  style="color:#00acac"/>
                        </p:submenu>
                        
                        <p:submenu id="id_user" label="Usuarios" icon="">
                            <p:menuitem id="segm_usuarios" value="Usuarios" icon="fa fa-fw fa-user" outcome="/faces/pages/general/usuarios"  style="color:#00acac"/>
                        </p:submenu>
                    </pp:menu>
                                   
                    -->
                    <pp:menu widgetVar="me" model="#{menuView.model}">
                        
                    </pp:menu>    
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>