<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <h:form id="menuform">
        <div class="layout-menu-container">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                <p:panelGrid columns="1" styleClass="ui-panelgrid-blank">
                    <p:commandButton icon="fa fa-user" styleClass="botonStyle" value="CLIENTES" actionListener="#{menuView.irA('/faces/pages/cxc/cliente.xhtml')}"/>
                <p:commandButton icon="fa fa-whatsapp" styleClass="botonStyle" value="REGISTRO DE CAJA"/>
                <p:commandButton icon="fa fa-cc-mastercard" styleClass="botonStyle" value="REGISTRO DE VENTA" actionListener="#{menuView.irA('/faces/pages/pv/registroVenta.xhtml')}"/>
                <p:commandButton icon="fa fa-database" styleClass="botonStyle" value="CIERRE DE CAJA"/>
                <p:commandButton icon="fa fa-edit" styleClass="botonStyle" value="boton 5"/>
                <p:commandButton icon="fa fa-home" styleClass="botonStyle" value="boton 6"/>
                <p:commandButton icon="fa fa-print" styleClass="botonStyle" value="boton 7"/>
                <p:commandButton icon="fa fa-shopping-cart" styleClass="botonStyle" value="Productos" actionListener="#{menuView.irA('/faces/pages/pv/producto.xhtml')}"/>
                </p:panelGrid>
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>