<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Ingreso de Equipo a Distribuidora
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
                <h:outputScript name="dataTableRegistroVenta.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:remoteCommand name="busquedaOficina" actionListener="#{ingresoEquipoView.busquedaOficina()}" update="mainForm"/>
                    <p:remoteCommand name="busquedaProveedor" actionListener="#{ingresoEquipoView.busquedaProveedor()}" update="mainForm"/>
                    <p:remoteCommand name="busquedaMarcaModelo" actionListener="#{ingresoEquipoView.busquedaMarcaModelo()}" update="mainForm" />

                    <p:tabView id="mainTab">
                        <p:tab title="Ingreso de Equipo">
                            <p:panelGrid styleClass="ui-noborder" style="width: 100%; margin-top: 15px;">
                                <p:row>
                                    <p:column>
                                        <p:panelGrid columns="4" styleClass="ui-noborder">
                                            <h:outputText value="Oficina:" style="font-weight: BOLD;"/>
                                            <p:inputText id="secuenciaOficina" style="width: 100px; margin-left: 52px;" value="#{ingresoEquipoView.dataIngreso['valOfi']}"/>
                                            <p:commandLink update="frmdlgOficina" oncomplete="PF('dlgOficina').show()" title="Buscar oficina">
                                                <p:graphicImage value="/resources/images/clic.png"/>
                                            </p:commandLink>
                                            <p:inputText readonly="true" style="width: 250px" value="#{ingresoEquipoView.dataIngreso['oficina'].genofinomComercial}"/>
                                        </p:panelGrid>
                                    </p:column>
                                    <p:column>
                                        <p:panelGrid columns="4" styleClass="ui-noborder">
                                            <h:outputText value="Proveedor:" style="font-weight: BOLD;"/>

                                            <p:inputText id="secuenciaProveedor" value="#{ingresoEquipoView.dataIngreso['valProv']}" style="text-transform: uppercase; width: 80px; margin-left: 72px;"/>
                                            <p:commandLink onclick="PF('wdProveedores').show()" title="Buscar proveedor">
                                                <p:graphicImage value="/resources/images/clic.png"/>
                                            </p:commandLink>
                                            <p:inputText value="#{ingresoEquipoView.dataIngreso['proveedor'].CXPPROrazonsocia}" readonly="true" style="width: 280px;"/>
                                        </p:panelGrid>
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column>
                                        <p:panelGrid columns="4" styleClass="ui-noborder">
                                            <h:outputText value="Marca/Modelo:" style="font-weight: BOLD;"/>
                                            <p:inputText id="marca" style="width: 160px; text-transform: uppercase" value="#{ingresoEquipoView.dataIngreso['valMarca']}" placeholder="Marca"/>
                                            <p:commandLink update="modelosMarcasFrm" title="Buscar Marca/Modelo" actionListener="#{ingresoEquipoView.findAllModels}">
                                                <p:graphicImage value="/resources/images/clic.png"/>
                                            </p:commandLink>
                                            <p:inputText id="modelo" style="width: 170px; text-transform: uppercase" value="#{ingresoEquipoView.dataIngreso['valModelo']}" placeholder="Modelo"/>
                                        </p:panelGrid>
                                    </p:column>

                                    <!-- -->

                                    <p:column>
                                        <p:panelGrid columns="4" styleClass="ui-noborder">
                                            <h:outputText value="Año de fabricación:" style="font-weight: BOLD; "/>
                                            <p:inputText value="#{ingresoEquipoView.model.anioFabricacion}" style=" margin-left: 15px; width: 80px;" />
                                            <h:outputText value="Fecha de recepcion:" style="font-weight: BOLD; margin-left: 25px;"/>
                                            <p:calendar  value="#{ingresoEquipoView.model.fechaLlegadaEquipo}" style="margin-left: 15px; text-align: right !important; width: 90px !important;" pattern="dd/MM/yyyy"/>
                                        </p:panelGrid>
                                    </p:column>
                                </p:row>

                                <p:row style="margin-top: 10px; ">
                                    <p:column >
                                        <h:outputText value="Capacidad:" style="font-weight: BOLD; margin-left: 10px;"/>
                                        <p:inputText value="#{ingresoEquipoView.model.capacidadLitros}" style="margin-left: 48px;" size="8"/>
                                        <h:outputText value="Cantidad:" style="font-weight: BOLD; margin-left: 35px;"/>
                                        <p:inputText value="#{ingresoEquipoView.dataIngreso['cantidad']}" style="margin-left: 52px;" size="8"/>
                                        <p:commandButton value="Registrar" style="margin-left: 25px;" actionListener="#{ingresoEquipoView.addModel()}" update="mainForm"/>
                                    </p:column>

                                    <p:column>
                                        <center>
                                            <p:commandButton value="Guardar" actionListener="#{ingresoEquipoView.guardarEquipos}" >
                                                <p:confirm header="Confirmation" message="Está seguro que desea guardar los equipos?" icon="pi pi-exclamation-triangle" />
                                            </p:commandButton>
                                        </center>
                                    </p:column>
                                </p:row>


                            </p:panelGrid>
                            <p:dataTable value="#{ingresoEquipoView.equiposList}" var="t" editable="true" editMode="cell" style="margin-top: 25px;">
                                <f:facet name="header">
                                    EQUIPOS A INGRESAR
                                </f:facet>
                                <p:column headerText="Placa" style="text-align: center">
                                    <p:cellEditor>
                                        <f:facet name="output">  
                                            #{t.placa}
                                        </f:facet>  
                                        <f:facet name="input">  
                                            <p:inputText id="placa" value="#{t.placa}" style="width:96%">
                                            </p:inputText>
                                        </f:facet>  
                                    </p:cellEditor>
                                </p:column>

                                <!-- -->

                                <p:column headerText="Fecha de recepcion" style="text-align: center">
                                    <p:cellEditor>
                                        <f:facet name="output">  
                                            <h:outputText value="#{t.fechaLlegadaEquipo}" >
                                                <f:convertDateTime dateStyle="full" type="date" pattern="dd/MM/yyyy" />
                                            </h:outputText>
                                        </f:facet>  
                                        <f:facet name="input">  
                                            <p:calendar value="#{t.fechaLlegadaEquipo}" pattern="dd/MM/yyyy"/>
                                        </f:facet>  
                                    </p:cellEditor>                                            
                                </p:column>
                            </p:dataTable> 



                        </p:tab>

                        <p:tab title="Equipos Ingresados">
                            <p:dataTable widgetVar="dtEquiposIngresados" value="#{ingresoEquipoView.equiposLazy}" var="t" lazy="true" rows="8" 
                                         paginator="true" paginatorPosition="top" style="margin-top: 15px;" filterEvent="enter">

                                <f:facet name="header">
                                    EQUIPOS INGRESADOS
                                </f:facet>

                                <p:column headerText="Marca" filterBy="#{t.modelEquipo.marca}" filterStyle="width: 90%;">
                                    #{t.modelEquipo.marca}
                                </p:column>

                                <p:column headerText="Modelo" filterBy="#{t.modelEquipo.modelo}" filterStyle="width: 90%;">
                                    #{t.modelEquipo.modelo}
                                </p:column>

                                <p:column headerText="Placa" filterBy="#{t.placa}" filterStyle="width: 90%;">
                                    #{t.placa}
                                </p:column>

                                <p:column headerText="Proveedor" filterBy="#{t.proveedorText}" filterStyle="width: 90%;">
                                    #{getTextView.findNombreProveedor(t.cxpmProveedor, 
                                      consignacionEquipoView.dataIngreso['oficina'].genofiSecuencia)}
                                </p:column>

                                <p:column headerText="Ingreso" width="10%">
                                    #{t.fechaIngresoText}
                                </p:column>

                                <p:column headerText="Estado" filterBy="#{t.estado}" width="10%" filterMatchMode="contains">
                                    <f:facet name="filter">
                                        <p:selectOneMenu  onchange="PF('dtEquiposIngresados').filter()">
                                            <f:selectItem itemLabel="TODOS" itemValue="#{null}" noSelectionOption="true"/>
                                            <f:selectItem itemLabel="DISPONIBLE" itemValue="#{1}"/>
                                            <f:selectItem itemLabel="EN TALLER" itemValue="#{2}"/>
                                            <f:selectItem itemLabel="DADO DE BAJA" itemValue="#{3}"/>
                                            <f:selectItem itemLabel="CONSIGNADO" itemValue="#{4}"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <h:outputText value="DISPONIBLE" rendered="#{t.estado == 1}"/>
                                    <h:outputText value="EN TALLER" rendered="#{t.estado == 2}"/>
                                    <h:outputText value="DADO DE BAJA" rendered="#{t.estado == 3}"/>
                                    <h:outputText value="CONSIGNADO" rendered="#{t.estado == 4}"/>
                                </p:column>

                                <p:column headerText="Editar" width="10%">
                                    <center>
                                        <p:commandButton title="Editar" icon="fa fa-fw fa-edit" actionListener="#{ingresoEquipoView.setEquipoEdit(t)}" update="frmEquipoModelEdit" oncomplete="PF('dlgEquipoModelEdit').show()"/>
                                    </center>
                                </p:column>
                            </p:dataTable>
                        </p:tab>

                        <p:tab title="Ingreso de Modelo">
                            <p:panelGrid id="pnlModelo" styleClass="ui-noborder" style="width: 100%; margin-top: 15px;">


                                <p:row>
                                    <p:column colspan="2">
                                        <p:panelGrid columns="9">
                                            <h:outputText value="Marca:" style="font-weight: BOLD;"/>
                                            <p:inputText value="#{ingresoEquipoView.equipo.marca}" style="text-transform: uppercase"/>
                                            <h:outputText value="Modelo:" style="font-weight: BOLD;"/>
                                            <p:inputText value="#{ingresoEquipoView.equipo.modelo}" style="text-transform: uppercase"/>
                                            <p:commandButton value="Agregar modelo" actionListener="#{ingresoEquipoView.agregarEquipo}" update="mainForm"/>
                                        </p:panelGrid>


                                    </p:column>
                                </p:row>

                            </p:panelGrid>

                            <!-- -->

                            <p:dataTable id="dtModels" value="#{ingresoEquipoView.modelsLazy}" lazy="true" paginator="true" paginatorPosition="top"
                                         var="eqp" rows="10" style="margin-top: 15px;">
                                <f:facet name="header">
                                    MODELOS INGRESADOS
                                </f:facet>

                                <p:column headerText="Marca" width="20%;">
                                    #{eqp.marca}
                                </p:column>

                                <p:column headerText="Modelo" width="20%;">
                                    #{eqp.modelo}
                                </p:column>

                                <p:column headerText="Equipos ingresados" width="10%;">
                                    #{eqp.tam}
                                </p:column>

                                <p:column headerText="Acción" width="15%;">
                                    <center>
                                        <p:commandButton title="Editar" icon="fa fa-fw fa-edit" actionListener="#{ingresoEquipoView.setEquipo(eqp)}" update="frmModelEdit" oncomplete="PF('dlgModelEdit').show()"/>
                                    </center>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Sí" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                    </p:confirmDialog>
                </h:form>

                <!-- -->

                <p:dialog header="Proveedores" widgetVar="wdProveedores" modal="true" width="90%" resizable="false" position="top">
                    <h:form id="proveedoresFrm" >
                        <p:dataTable var="v" value="#{ingresoEquipoView.proveedores}" rowKey="#{v.cxpmProveedorPK}" lazy="true"
                                     selection="#{ingresoEquipoView.dataIngreso['proveedor']}" selectionMode="single" rows="10" 
                                     paginator="true" paginatorPosition="top" filterEvent="enter">
                            <p:ajax event="rowDblselect" update=":mainForm, :frmEquipoModelEdit" oncomplete="PF('wdProveedores').hide()" listener="#{ingresoEquipoView.selectProveedor}"/>
                            <p:column headerText="Còdigo" filterBy="#{v.CXPPROcodigo}" filterStyle="width: 95%;" >
                                #{v.cxpmProveedorPK.CXPPROcodigo}
                            </p:column>

                            <p:column headerText="CI.RUC." filterBy="#{v.CXPPROruccedula}" filterStyle="width: 95%;">
                                #{v.CXPPROruccedula}
                            </p:column>

                            <p:column headerText="Razón Social" filterBy="#{v.CXPPROrazonsocia}" filterStyle="width: 95%;">
                                #{v.CXPPROrazonsocia}
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>

                <!-- -->

                <p:dialog widgetVar="dlgOficina" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Oficinas" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgOficina">
                        <component:cOficina oficinasLazy="#{ingresoEquipoView.oficinasLazy}" oficina="#{ingresoEquipoView.dataIngreso['oficina']}" 
                                            seleccionOficina="#{ingresoEquipoView.selectOficina(null)}"/>
                    </h:form>
                </p:dialog>

                <!-- -->

                <p:dialog widgetVar="wdModelosMarcas" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Marcas/Modelos" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="modelosMarcasFrm">
                        <p:dataTable value="#{ingresoEquipoView.modelList}" var="t" rowKey="#{t.id}"
                                     selection="#{ingresoEquipoView.marcaModeloEncontrado}" selectionMode="single"
                                     paginator="true" paginatorPosition="top" rows="10">
                            <p:ajax event="rowDblselect" oncomplete="PF('wdModelosMarcas').hide()" listener="#{ingresoEquipoView.selectModel()}"/>
                            <p:column headerText="Marca">
                                #{t.marca}
                            </p:column>

                            <p:column headerText="Modelo">
                                #{t.modelo}
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>

                <!-- -->

                <p:dialog widgetVar="dlgItems" modal="true"  width="80%" responsive="true" closable="true" header="Equipo" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmItems">
                        <p:fieldset legend="Datos del Equipo Modelo">
                            <p:panelGrid styleClass="ui-noborder" style="width: 100%;">
                                <p:row>
                                    <p:column>
                                        <p:panelGrid columns="2" styleClass="ui-noborder">
                                            <h:outputText value="Oficina:" style="font-weight: BOLD;"/>
                                            <p:inputText readonly="true" value="#{ingresoEquipoView.dataIngreso['oficina'].genofinomComercial}" style="width: 400px;"/>
                                        </p:panelGrid>
                                    </p:column>
                                    <p:column>
                                        <p:panelGrid columns="2" styleClass="ui-noborder">
                                            <h:outputText value="Proveedor:" style="font-weight: BOLD;"/>
                                            <p:inputText readonly="true" value="#{ingresoEquipoView.dataIngreso['proveedor'].CXPPROrazonsocia}" style="width: 400px;"/>
                                        </p:panelGrid>
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column colspan="2">
                                        <p:panelGrid columns="6" styleClass="ui-noborder">
                                            <h:outputText value="Marca:" style="font-weight: BOLD;"/>
                                            <p:inputText readonly="true" value="#{ingresoEquipoView.marcaModeloEncontrado.marca}"/>

                                            <h:outputText value="Modelo:" style="font-weight: bold;"/>
                                            <p:inputText readonly="true" value="#{ingresoEquipoView.marcaModeloEncontrado.modelo}"/>

                                        </p:panelGrid>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:fieldset>

                        <p:fieldset legend="Datos del Equipo Entrante">
                            <p:dataTable value="#{ingresoEquipoView.equiposList}" var="t">
                                <p:column headerText="Placa">
                                    #{t.placa}
                                </p:column>

                            </p:dataTable>                            
                        </p:fieldset>


                        <p:commandButton value="Guardar" actionListener="#{ingresoEquipoView.guardarModels}" oncomplete="PF('dlgItems').hide()" update="mainForm"/>
                        <p:commandButton value="Cancelar" onclick="PF('dlgItems').hide()"/>

                    </h:form>
                </p:dialog>

                <!-- -->

                <p:dialog widgetVar="dlgEquipoModelEdit" modal="true"  width="100%" responsive="true" closable="true" header="Edición de Equipo" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmEquipoModelEdit">
                        <p:fieldset legend="Datos del Equipo">
                            <p:panelGrid styleClass="ui-noborder">
                                <p:row>
                                    <p:column>
                                        <p:panelGrid columns="4">
                                            <h:outputText value="Oficina:" style="font-weight: BOLD;"/>
                                            <p:inputText id="secuenciaOficina" style="width: 100px" value="#{ingresoEquipoView.dataIngreso['valOfi']}"/>
                                            <p:commandLink update="frmdlgOficina" oncomplete="PF('dlgOficina').show()" title="Buscar oficina">
                                                <p:graphicImage value="/resources/images/clic.png"/>
                                            </p:commandLink>
                                            <p:inputText readonly="true" style="width: 250px" value="#{ingresoEquipoView.dataIngreso['oficina'].genofinomComercial}"/>
                                        </p:panelGrid>
                                    </p:column>

                                    <p:column>
                                        <p:panelGrid columns="4">
                                            <h:outputText value="Proveedor:" style="font-weight: BOLD;"/>
                                            <p:inputText id="buscarProveedor" value="#{ingresoEquipoView.dataIngreso['valProv']}" style="width: 80px;"/>
                                            <p:commandLink onclick="PF('wdProveedores').show()" title="Buscar proveedor">
                                                <p:graphicImage value="/resources/images/clic.png"/>
                                            </p:commandLink>
                                            <p:inputText value="#{ingresoEquipoView.dataIngreso['proveedor'].CXPPROrazonsocia}" readonly="true" style="width: 280px;"/>
                                        </p:panelGrid>
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column>
                                        <p:panelGrid columns="8" styleClass="ui-noborder">
                                            <h:outputText value="Marca/Modelo:" style="font-weight: BOLD;"/>
                                            <p:inputText id="marca" style="width: 160px; text-transform: uppercase" value="#{ingresoEquipoView.dataIngreso['valMarca']}" placeholder="Marca">
                                                <p:ajax update="marca"/>
                                            </p:inputText>
                                            <p:commandLink update="frmEquipoModelEdit" title="Buscar Marca/Modelo" actionListener="#{ingresoEquipoView.busquedaMarcaModelo()}">
                                                <p:graphicImage value="/resources/images/clic.png"/>
                                            </p:commandLink>
                                            <p:inputText id="modelo" style="width: 170px; text-transform: uppercase" value="#{ingresoEquipoView.dataIngreso['valModelo']}" placeholder="Modelo">
                                                <p:ajax update="modelo"/>
                                            </p:inputText>
                                        </p:panelGrid>
                                    </p:column>
                                    <p:column>
                                        <p:panelGrid columns="4">

                                            <h:outputText value="Año de fabricación:" style="font-weight: BOLD;"/>
                                            <p:inputText value="#{ingresoEquipoView.equipoEdit.anioFabricacion}"/>

                                            <h:outputText value="Placa:" style="font-weight: BOLD;"/>
                                            <p:inputText value="#{ingresoEquipoView.equipoEdit.placa}"/>
                                        </p:panelGrid>

                                    </p:column>
                                </p:row>
                            </p:panelGrid>

                            <p:panelGrid columns="2" styleClass="ui-noborder" >
                                <p:commandButton value="Editar equipo" actionListener="#{ingresoEquipoView.editarEquipo}" update="mainForm" oncomplete="PF('dlgEquipoModelEdit').hide()"/>
                                <p:commandButton value="Cancelar" onclick="PF('dlgEquipoModelEdit').hide()"/>
                            </p:panelGrid>
                        </p:fieldset>
                    </h:form>
                </p:dialog>

                <!-- -->

                <p:dialog widgetVar="dlgModelEdit" modal="true"  width="100%" responsive="true" closable="true" header="Edición de Marca/Modelo" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmModelEdit">
                        <p:fieldset legend="Datos del Modelo">
                            <p:panelGrid styleClass="ui-noborder">
                                <p:row>
                                    <p:column>
                                        <p:panelGrid columns="4" styleClass="ui-noborder">
                                            <h:outputText value="Marca:" style="font-weight: BOLD;"/>
                                            <p:inputText value="#{ingresoEquipoView.equipo.marca}" style="text-transform: uppercase" required="true"/>
                                            <h:outputText value="Modelo:" style="font-weight: BOLD;"/>
                                            <p:inputText value="#{ingresoEquipoView.equipo.modelo}" style="text-transform: uppercase" required="true"/>
                                        </p:panelGrid>
                                    </p:column>

                                    <p:column>
                                        <p:commandButton value="Guardar"  oncomplete="PF('dlgModelEdit').hide();" update="mainForm:mainTab:pnlModelo, mainForm:mainTab:dtModels" actionListener="#{ingresoEquipoView.actualizarModelo}"/>
                                        <p:commandButton value="Cancelar" oncomplete="PF('dlgModelEdit').hide();" update="mainForm:mainTab:pnlModelo" actionListener="#{ingresoEquipoView.newModel()}"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:fieldset>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>