<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Mantenimiento de Equipo
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="datos">
                <component:cAtajos buscar="true" limpiar="true" agregar="true"/>
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm" prependId="false">
                    <p:remoteCommand name="busquedaOficina" actionListener="#{mantenimientoEquipoView.busquedaOficina()}" update="mainForm"/>
                    <p:remoteCommand name="busquedaProveedor" actionListener="#{mantenimientoEquipoView.busquedaProveedor()}" update="mainForm" />

                    <p:tabView id="mainTab" styleClass="backgroundLogo">
                        <p:tab title="Solicitudes pendientes">

                            <p:fieldset legend="Datos de la solicitud">
                                <component:cSolicitudes solicitudesLazy="#{mantenimientoEquipoView.solicitudes}" solicitud="#{mantenimientoEquipoView.dataIngreso['solicitud']}"
                                                        update=":mainForm"/>
                                <!-- 
                                <p:dataTable value="#{mantenimientoEquipoView.solicitudes}" lazy="true" paginator="true" paginatorPosition="top" style="margin-top: 15px;" filterEvent="enter"
                                             var="eqp" rows="10" selectionMode="single" rowKey="#{eqp.id}" selection="#{mantenimientoEquipoView.dataIngreso['solicitud']}">
                                    <p:ajax event="rowDblselect" update=":mainForm"/>
                                    <f:facet name="header">
                                        SOLICITUDES DE MANTENIMIENTO DISPONIBLES
                                    </f:facet>

                                    <p:column headerText="Solicitante" width="18%;" filterBy="#{eqp.nombreSolicitante}" filterStyle="width: 95%;">
                                        #{getTextView.findNombreCliente(eqp.cxcmClienteSolicitante,
                                          eqp.equipo.genofiCodigo.genofiSecuencia)}
                                    </p:column>

                                    <p:column headerText="Oficina" width="12%;">
                                        #{eqp.equipo.genofiCodigo.genofinomComercial}
                                    </p:column>

                                    <p:column headerText="Marca" width="15%;" filterBy="#{eqp.equipo.modelEquipo.marca}" filterStyle="width: 95%;">
                                        #{eqp.equipo.modelEquipo.marca}
                                    </p:column>

                                    <p:column headerText="Modelo" width="15%;" filterBy="#{eqp.equipo.modelEquipo.modelo}" filterStyle="width: 95%;">
                                        #{eqp.equipo.modelEquipo.modelo}
                                    </p:column>

                                    <p:column headerText="Placa" width="10%;" filterBy="#{eqp.equipo.placa}" filterStyle="width: 95%;">
                                        #{eqp.equipo.placa}
                                    </p:column>

                                    <p:column headerText="Año de Fabricación" width="10%;">
                                        #{eqp.equipo.anioFabricacion}
                                    </p:column>

                                    <p:column headerText="Proveedor" width="15%;" filterBy="#{eqp.equipo.proveedorText}" filterStyle="width: 90%;">
                                        #{getTextView.findNombreProveedor(eqp.equipo.cxpmProveedor, eqp.equipo.genofiCodigo.genofiSecuencia)}
                                    </p:column>

                                    <p:column headerText="Estado" width="5%;">
                                        <h:outputText value="DISPONIBLE" rendered="#{eqp.equipo.estado == 1}"/>
                                        <h:outputText value="EN TALLER" rendered="#{eqp.equipo.estado == 2}"/>
                                        <h:outputText value="EN BAJA" rendered="#{eqp.equipo.estado == 3}"/>
                                        <h:outputText value="CONSIGNADO" rendered="#{eqp.equipo.estado == 4}"/>
                                    </p:column>
                                </p:dataTable>-->
                                <p:panelGrid styleClass="ui-noborder" style="width: 100%; margin-top: 15px;">
                                    <p:row>
                                        <p:column colspan="2">
                                            <p:panelGrid columns="8">
                                                <h:outputText value="Marca:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.modelEquipo.marca}" style="margin-left: 42px;"/>

                                                <h:outputText value="Modelo:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.modelEquipo.modelo}" style="margin-left: 36px;"/>

                                                <h:outputText value="Año de fabricación:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.anioFabricacion}"/>

                                                <h:outputText value="Placa:" style="font-weight: BOLD; "/>
                                                <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.placa}" style="margin-left: 48px;"/>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <p:column colspan="2">
                                            <p:panelGrid columns="6">


                                                <h:outputText value="Capacidad:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.capacidadLitros}" style="margin-left: 15px;"/>

                                                <h:outputText value="Estado:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="" style="margin-left: 40px;" rendered="#{mantenimientoEquipoView.dataIngreso['solicitud'].id == null}"/>
                                                <p:inputText readonly="true" value="DISPONIBLE" style="margin-left: 40px;" rendered="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.estado == 1}"/>
                                                <p:inputText readonly="true" value="EN TALLER" style="margin-left: 40px;" rendered="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.estado == 2}"/>
                                                <p:inputText readonly="true" value="EN BAJA" style="margin-left: 40px;" rendered="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.estado == 3}"/>
                                                <p:inputText readonly="true" value="CONSIGNADO" style="margin-left: 40px;" rendered="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.estado == 4}"/>

                                                <h:outputText value="Fecha de ingreso:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitud'].fechaIngreso}" style="margin-left: 15px;">
                                                    <f:convertDateTime dateStyle="full" type="date" pattern="dd/MM/yyyy" />
                                                </p:inputText>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:fieldset>

                            <p:fieldset legend="Datos del mantenimiento" style="margin-top: 15px;">
                                <p:panelGrid styleClass="ui-noborder" style="width: 100%;">
                                    <p:row>
                                        <p:column>
                                            <p:panelGrid columns="2">
                                                <h:outputText value="Fecha de solicitud de mantenimiento:" style="font-weight: BOLD;"/>
                                                <p:inputText value="#{mantenimientoEquipoView.dataIngreso['solicitud'].fechaSolicitud}" readonly="true">
                                                    <f:convertDateTime dateStyle="full" type="date" pattern="dd/MM/yyyy" />
                                                </p:inputText>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <p:column>
                                            <p:panelGrid columns="2">
                                                <h:outputText value="Solicitante:" style="font-weight: BOLD;"/>
                                                <p:inputText value="#{mantenimientoEquipoView.dataIngreso['solicitud'].id != null ? getTextView.findNombreCliente(mantenimientoEquipoView.dataIngreso['solicitud'].cxcmClienteSolicitante,
                                                                      mantenimientoEquipoView.dataIngreso['oficina'].genofiSecuencia) : ''}" style="margin-left: 184px; width: 250px;" readonly="true"/>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <p:column>
                                            <p:panelGrid columns="2">
                                                <h:outputText value="Estado del equipo:" style="font-weight: BOLD;"/>
                                                <p:selectOneMenu id="estado" value="#{mantenimientoEquipoView.dataIngreso['estadoEquipo']}" style="width:230px; margin-left: 134px;">
                                                    <f:selectItem itemLabel="Devolver al depósito de equipos" itemValue="#{1}" />
                                                    <f:selectItem itemLabel="Devolver al cliente consignado" itemValue="#{4}" />
                                                </p:selectOneMenu>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <p:column colspan="2">
                                            <h:outputText value="Observacion:" style="font-weight: BOLD; margin-left: 10px;"/>
                                            <p:inputText id="input-observacion" value="#{mantenimientoEquipoView.mantenimiento.observacion}" style="margin-left: 191px; width: 953px; text-transform: uppercase">
                                                <p:ajax update="input-observacion"/>
                                            </p:inputText>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>

                                <p:dataTable lazy="true" value="#{mantenimientoEquipoView.empleadosLazy}" paginator="true" paginatorPosition="bottom" var="v" style="margin-top: 15px;" 
                                             filterEvent="enter" selectionMode="single" rowKey="#{v.MEmpleadosPK}" selection="#{mantenimientoEquipoView.dataIngreso['empleadoResolucion']}" rows="10">
                                    <p:ajax event="rowDblselect" update="mainForm"/>

                                    <f:facet name="header">
                                        Seleccione el usuario responsable de la solicitud
                                    </f:facet>

                                    <p:column headerText="Codigo" filterBy="#{v.NOMEMPcedula}" filterStyle="width: 95%;">
                                        #{v.NOMEMPcedula}
                                    </p:column>

                                    <p:column headerText="Nombre" filterBy="#{v.NOMEMPapellidos}" filterStyle="width: 95%;">
                                        #{v.NOMEMPnombres} #{v.NOMEMPapellidos}
                                    </p:column>

                                </p:dataTable>

                                <p:panelGrid styleClass="ui-noborder" style="width: 100%;">
                                    <p:row>
                                        <p:column colspan="2">
                                            <p:panelGrid columns="2" style="margin-top: 15px;">
                                                <h:outputText value="Usuario responsable:" style="font-weight: BOLD;"/>
                                                <p:inputText value="#{mantenimientoEquipoView.dataIngreso['empleadoResolucion'].nombresCompletos}" style="margin-left: 14px; text-transform: uppercase; width: 450px;"/>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:fieldset>

                            <p:panelGrid columns="2" styleClass="ui-noborder" style="margin-top: 15px;">
                                <p:commandButton value="Aprobar solicitud" actionListener="#{mantenimientoEquipoView.aceptarSolicitud}">
                                    <p:confirm header="Confirmacion" message="Está seguro que desea aprobar la solicitud?" icon="pi pi-exclamation-triangle" />
                                </p:commandButton>
                                <p:commandButton value="Rechazar solicitud" actionListener="#{mantenimientoEquipoView.rechazarSolicitud}">
                                    <p:confirm header="Confirmacion" message="Está seguro que desea rechazar la solicitud?" icon="pi pi-exclamation-triangle" />
                                </p:commandButton>
                            </p:panelGrid>
                        </p:tab>

                        <!-- -->

                        <p:tab id="sols-res" title="Solicitudes resueltas" >
                            <p:fieldset id="datos-sol" legend="Datos de la solicitud">
                                <p:dataTable value="#{mantenimientoEquipoView.solicitudesConResolucion}" var="t" rows="10" paginator="true" style="margin-top: 15px;" filterEvent="enter"
                                             paginatorPosition="top" lazy="true" selectionMode="single" rowKey="#{t.id}" selection="#{mantenimientoEquipoView.dataIngreso['solicitudInfo']}">
                                    <p:ajax event="rowDblselect" update="mainTab:datos-sol, mainTab:datos-cons" listener="#{mantenimientoEquipoView.setearSolicitudAnterior}"/>
                                    <f:facet name="header">
                                        SOLICITUDES DE MANTENIMIENTO RESUELTAS
                                    </f:facet>

                                    <p:column headerText="Solicitante" width="18%;">
                                        #{getTextView.findNombreCliente(t.cxcmClienteSolicitante,
                                          t.equipo.genofiCodigo.genofiSecuencia)}
                                    </p:column>

                                    <p:column headerText="Oficina" width="12%;">
                                        #{t.equipo.genofiCodigo.genofinomComercial}
                                    </p:column>

                                    <p:column headerText="Marca" width="15%;" filterBy="#{t.equipo.modelEquipo.marca}" filterStyle="width: 95%;">
                                        #{t.equipo.modelEquipo.marca}
                                    </p:column>

                                    <p:column headerText="Modelo" width="15%;" filterBy="#{t.equipo.modelEquipo.modelo}" filterStyle="width: 95%;">
                                        #{t.equipo.modelEquipo.modelo}
                                    </p:column>

                                    <p:column headerText="Placa" width="10%;"  filterBy="#{t.equipo.placa}" filterStyle="width: 95%;">
                                        #{t.equipo.placa}
                                    </p:column>

                                    <p:column headerText="Año de Fabricación" width="10%;">
                                        #{t.equipo.anioFabricacion}
                                    </p:column>

                                    <p:column headerText="Proveedor" width="15%;">
                                        #{getTextView.findNombreProveedor(t.equipo.cxpmProveedor, t.equipo.genofiCodigo.genofiSecuencia)}
                                    </p:column>

                                    <p:column headerText="Estado" width="8%;">
                                        <h:outputText value="ACEPTADO" rendered="#{t.estado == 2}"/>
                                        <h:outputText value="RECHAZADO" rendered="#{t.estado == 3}"/>
                                    </p:column>


                                </p:dataTable>


                                <p:panelGrid styleClass="ui-noborder" style="width: 100%; margin-top: 15px;">
                                    <p:row>
                                        <p:column colspan="2">
                                            <p:panelGrid columns="8">
                                                <h:outputText value="Marca:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitudInfo'].equipo.modelEquipo.marca}" style="margin-left: 42px;"/>

                                                <h:outputText value="Modelo:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitudInfo'].equipo.modelEquipo.modelo}" style="margin-left: 36px;"/>

                                                <h:outputText value="Año de fabricación:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitudInfo'].equipo.anioFabricacion}"/>

                                                <h:outputText value="Placa:" style="font-weight: BOLD; "/>
                                                <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitudInfo'].equipo.placa}" style="margin-left: 48px;"/>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <p:column colspan="2">
                                            <p:panelGrid columns="6">


                                                <h:outputText value="Capacidad:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitudInfo'].equipo.capacidadLitros}" style="margin-left: 15px;"/>

                                                <h:outputText value="Estado:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="" style="margin-left: 40px;" rendered="#{mantenimientoEquipoView.dataIngreso['solicitudInfo'].id == null}"/>
                                                <p:inputText readonly="true" value="DISPONIBLE" style="margin-left: 40px;" rendered="#{mantenimientoEquipoView.dataIngreso['solicitudInfo'].equipo.estado == 1}"/>
                                                <p:inputText readonly="true" value="EN TALLER" style="margin-left: 40px;" rendered="#{mantenimientoEquipoView.dataIngreso['solicitudInfo'].equipo.estado == 2}"/>
                                                <p:inputText readonly="true" value="EN BAJA" style="margin-left: 40px;" rendered="#{mantenimientoEquipoView.dataIngreso['solicitudInfo'].equipo.estado == 3}"/>
                                                <p:inputText readonly="true" value="CONSIGNADO" style="margin-left: 40px;" rendered="#{mantenimientoEquipoView.dataIngreso['solicitudInfo'].equipo.estado == 4}"/>

                                                <h:outputText value="Fecha de ingreso:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitudInfo'].fechaIngreso}" style="margin-left: 15px;">
                                                    <f:convertDateTime dateStyle="full" type="date" pattern="dd/MM/yyyy" />
                                                </p:inputText>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:fieldset>

                            <p:fieldset id="datos-cons" legend="Datos del mantenimiento" style="margin-top: 15px;">
                                <p:panelGrid styleClass="ui-noborder" style="width: 100%;">
                                    <p:row>

                                        <p:column>
                                            <p:panelGrid columns="2">
                                                <h:outputText value="Fecha de solicitud de mantenimiento" style="font-weight: BOLD;"/>
                                                <p:inputText value="#{mantenimientoEquipoView.dataIngreso['solicitudInfo'].fechaSolicitud}" readonly="true">
                                                    <f:convertDateTime dateStyle="full" type="date" pattern="dd/MM/yyyy" />
                                                </p:inputText>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>

                                    <p:row>

                                        <p:column>
                                            <p:panelGrid columns="2">
                                                <h:outputText value="Solicitante:" style="font-weight: BOLD;"/>
                                                <p:inputText value="#{mantenimientoEquipoView.dataIngreso['solicitudInfo'].id != null ? getTextView.findNombreCliente(mantenimientoEquipoView.dataIngreso['solicitudInfo'].cxcmClienteSolicitante,
                                                                      mantenimientoEquipoView.dataIngreso['solicitudInfo'].equipo.genofiCodigo.genofiSecuencia) : ''}" style="margin-left: 164px; width: 250px;" readonly="true"/>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <p:column colspan="2">
                                            <p:panelGrid columns="2">
                                                <h:outputText value="Usuario responsable:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" style="margin-left: 16px;" value="#{mantenimientoEquipoView.mantenimientoInfo.id != null ?getTextView.findNombreEmpleado(mantenimientoEquipoView.mantenimientoInfo.usuarioResolucion,
                                                                                                                 mantenimientoEquipoView.dataIngreso['solicitudInfo'].equipo.genofiCodigo.genofiSecuencia) : ''}"/>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <p:column colspan="2">
                                            <h:outputText value="Observacion:" style="font-weight: BOLD; margin-left: 10px;"/>
                                            <p:inputText value="#{mantenimientoEquipoView.mantenimientoInfo.observacion}" readonly="true" style="margin-left: 93px; width: 953px; text-transform: uppercase"/>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:fieldset>
                        </p:tab>
                    </p:tabView>

                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Sí" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                    </p:confirmDialog>
                </h:form>

                <!-- -->

                <p:dialog widgetVar="dlgConsignacion" modal="true"  width="70%" responsive="true" closable="true" header="Consignación" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgConsignacion">
                        <p:fieldset legend="Datos del Equipo">
                            <p:panelGrid styleClass="ui-noborder" style="width: 100%;">
                                <p:row>
                                    <p:column colspan="2">
                                        <p:panelGrid columns="6">
                                            <h:outputText value="Marca:" style="font-weight: BOLD;"/>
                                            <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.modelEquipo.marca}" style="margin-left: 42px;"/>

                                            <h:outputText value="Modelo:" style="font-weight: BOLD;"/>
                                            <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.modelEquipo.modelo}" style="margin-left: 36px;"/>

                                            <h:outputText value="Año de fabricación:" style="font-weight: BOLD;"/>
                                            <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.modelEquipo.anioFabricacion}"/>
                                        </p:panelGrid>
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column colspan="2">
                                        <p:panelGrid columns="6">
                                            <h:outputText value="Proveedor:" style="font-weight: BOLD;"/>
                                            <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.modelEquipo.cxpmProveedor}" style="margin-left: 15px;"/>

                                            <h:outputText value="Código/serie:" style="font-weight: BOLD;"/>
                                            <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.codigo}"/>

                                            <h:outputText value="Placa:" style="font-weight: BOLD; "/>
                                            <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.placa}" style="margin-left: 92px;"/>
                                        </p:panelGrid>
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column colspan="2">
                                        <p:panelGrid columns="6">
                                            <h:outputText value="Capacidad:" style="font-weight: BOLD;"/>
                                            <p:inputText readonly="true" value="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.capacidadLitros}" style="margin-left: 15px;"/>

                                            <h:outputText value="Estado:" style="font-weight: BOLD;"/>
                                            <p:inputText readonly="true" value="NUEVO" style="margin-left: 40px;" rendered="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.estado == 1}"/>
                                            <p:inputText readonly="true" value="EXCELENTE" style="margin-left: 40px;" rendered="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.estado == 2}"/>
                                            <p:inputText readonly="true" value="BUENO" style="margin-left: 40px;" rendered="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.estado == 3}"/>
                                            <p:inputText readonly="true" value="REGULAR" style="margin-left: 40px;" rendered="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.estado == 4}"/>
                                            <p:inputText readonly="true" value="MALO" style="margin-left: 40px;" rendered="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.estado == 5}"/>
                                            <p:inputText readonly="true" value="OBSOLETO" style="margin-left: 40px;" rendered="#{mantenimientoEquipoView.dataIngreso['solicitud'].equipo.estado == 6}"/>
                                        </p:panelGrid>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:fieldset>

                        <p:fieldset legend="Datos del mantenimiento">
                            <p:panelGrid styleClass="ui-noborder" style="width: 100%;">
                                <p:row>
                                    <p:column>
                                        <p:panelGrid columns="2">
                                            <h:outputText value="Fecha de solicitud de mantenimiento" style="font-weight: BOLD;"/>
                                            <p:inputText value="#{mantenimientoEquipoView.dataIngreso['solicitud'].fechaSolicitud}" readonly="true">
                                                <f:convertDateTime dateStyle="full" type="date" pattern="dd/MM/yyyy" />
                                            </p:inputText>
                                        </p:panelGrid>
                                    </p:column>
                                </p:row>

                                <p:row>

                                    <p:column>
                                        <p:panelGrid columns="2">
                                            <h:outputText value="Solicitante:" style="font-weight: BOLD;"/>
                                            <p:inputText value="#{getTextView.findNombreCliente(mantenimientoEquipoView.dataIngreso['solicitud'].cxcmClienteSolicitante,
                                                                  mantenimientoEquipoView.dataIngreso['oficina'].genofiSecuencia)}" style="margin-left: 164px; width: 250px;" readonly="true"/>
                                        </p:panelGrid>
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column colspan="2">
                                        <h:outputText value="Observacion:" style="font-weight: BOLD; margin-left: 10px;"/>
                                        <p:inputText value="#{mantenimientoEquipoView.mantenimiento.observacion}" style="margin-left: 88px; width: 799px; text-transform: uppercase"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>

                            <p:dataTable lazy="true" value="#{mantenimientoEquipoView.empleadosLazy}" paginator="true" paginatorPosition="bottom" var="v" style="margin-top: 15px;" filterEvent="enter"
                                         rows="10" selectionMode="single" rowKey="#{v.MEmpleadosPK}" selection="#{mantenimientoEquipoView.dataIngreso['empleadoResolucion']}">

                                <f:facet name="header">
                                    Seleccione el usuario responsable de la solicitud
                                </f:facet>

                                <p:column headerText="Codigo" filterBy="#{v.NOMEMPcedula}" filterStyle="width: 95%;">
                                    #{v.NOMEMPcedula}
                                </p:column>

                                <p:column headerText="Nombre" filterBy="#{v.NOMEMPapellidos}" filterStyle="width: 95%;">
                                    #{v.NOMEMPnombres} #{v.NOMEMPapellidos}
                                </p:column>

                            </p:dataTable>
                        </p:fieldset>
                        <p:panelGrid columns="3" styleClass="ui-noborder">
                            <p:commandButton value="Aceptar solicitud" actionListener="#{mantenimientoEquipoView.aceptarSolicitud}"/>
                            <p:commandButton value="Rechazar solicitud" actionListener="#{mantenimientoEquipoView.rechazarSolicitud}"/>
                            <p:commandButton value="Cancelar" onclick="PF('dlgConsignacion').hide()"/>
                        </p:panelGrid>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>