<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Ingreso de Solicitud de Equipo
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm" prependId="false">
                    <p:remoteCommand name="busquedaOficina" actionListener="#{solicitudEquipoView.busquedaOficina()}" update="mainForm"/>
                    <p:remoteCommand name="busquedaProveedor" actionListener="#{solicitudEquipoView.busquedaProveedor()}" update="mainForm" />
                    <p:remoteCommand name="busquedaEquipo" actionListener="#{solicitudEquipoView.busquedaEquipo()}" update="mainForm" />
                    <p:remoteCommand name="busquedaSolicitante" actionListener="#{solicitudEquipoView.busquedaSolicitante()}" update="mainForm" />

                    <p:tabView id="mainTab">
                        <p:tab title="Ingreso de solicitud">

                            <p:fieldset legend="Datos del Equipo">
                                <p:panelGrid styleClass="ui-noborder" style="width: 100%; margin-top: 15px;">
                                    <p:row>
                                        <p:column colspan="2">
                                            <p:panelGrid columns="3">
                                                <p:outputLabel value="Placa:" style="font-weight: BOLD;"/>
                                                <p:inputText id="placa" value="#{solicitudEquipoView.dataIngreso['valEq']}" style="margin-left: 51px; width: 250px; text-transform: uppercase"/>
                                                <p:commandLink onclick="PF('wdEquipos').show()" title="Buscar equipo">
                                                    <p:graphicImage value="/resources/images/clic.png"/>
                                                </p:commandLink>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <p:column colspan="2">
                                            <p:panelGrid columns="6">
                                                <h:outputText value="Marca:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['equipo'].modelEquipo.marca}" style="margin-left: 43px; width: 250px;"/>

                                                <h:outputText value="Modelo:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['equipo'].modelEquipo.modelo}" style="margin-left: 38px; width: 250px;"/>

                                                <h:outputText value="Año de fabricación:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['equipo'].anioFabricacion}" style="margin-left: 5px; width: 250px;"/>


                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <p:column colspan="2">
                                            <p:panelGrid columns="6">
                                                <h:outputText value="Proveedor:" style="font-weight: BOLD;"/>                                            
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['equipo'].id != null ? getTextView.findNombreProveedor(solicitudEquipoView.dataIngreso['equipo'].cxpmProveedor, 
                                                                                      solicitudEquipoView.dataIngreso['equipo'].genofiCodigo.genofiSecuencia) : ''}" style="margin-left: 15px; width: 250px;"/>

                                                <h:outputText value="Capacidad:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['equipo'].id != null ? solicitudEquipoView.dataIngreso['equipo'].capacidadLitros : '0.0'} litros" style="margin-left: 18px; width: 250px;"/>

                                                <h:outputText value="Estado:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['equipo'].id != null ? 'DISPONIBLE' : ''}" style="margin-left: 88px; width: 250px;" rendered="#{solicitudEquipoView.dataIngreso['equipo'].estado == 1}" />
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['equipo'].id != null ? 'EN TALLER' : ''}" style="margin-left: 88px; width: 250px;" rendered="#{solicitudEquipoView.dataIngreso['equipo'].estado == 2}"/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['equipo'].id != null ? 'EN BAJA' : ''}" style="margin-left: 88px; width: 250px;" rendered="#{solicitudEquipoView.dataIngreso['equipo'].estado == 3}"/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['equipo'].id != null ? 'CONSIGNADO' : ''}" style="margin-left: 88px; width: 250px;" rendered="#{solicitudEquipoView.dataIngreso['equipo'].estado == 4}"/>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:fieldset>

                            <p:fieldset legend="Datos de la solicitud" style="margin-top: 15px;">
                                <p:panelGrid styleClass="ui-noborder" style="width: 100%;">
                                    <p:row>
                                        <p:column>
                                            <p:panelGrid columns="4">
                                                <h:outputText value="Tipo de solicitud:" style="font-weight: BOLD;"/>
                                                <p:selectOneMenu value="#{solicitudEquipoView.solicitud.tipoSolicitud}" style="width: 180px; margin-left: 11px;">
                                                    <f:selectItem itemLabel="Solicitud de consignacion" itemValue="#{1}" />
                                                    <f:selectItem itemLabel="Solicitud de mantenimiento" itemValue="#{2}" />
                                                    <f:selectItem itemLabel="Solicitud de devolucion" itemValue="#{3}" />
                                                </p:selectOneMenu>
                                                <h:outputText value="Fecha de solicitud" style="font-weight: BOLD;" />
                                                <p:calendar value="#{solicitudEquipoView.solicitud.fechaSolicitud}" style="width: 180px;" pattern="dd/MM/yyyy"/>
                                            </p:panelGrid>
                                        </p:column>

                                        <p:column>
                                            <p:panelGrid columns="2" styleClass="ui-noborder" style="margin-top: 15px;">
                                                <p:commandButton value="Ingresar solicitud" actionListener="#{solicitudEquipoView.ingresar}"/>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <p:column colspan="2">
                                            <p:panelGrid columns="3">
                                                <p:outputLabel value="Código solicitante:" style="font-weight: BOLD;"/>
                                                <p:inputText id="solicitante" value="#{solicitudEquipoView.dataIngreso['valSol']}" />
                                                <p:commandLink onclick="PF('dlgSolicitante').show()" title="Buscar equipo">
                                                    <p:graphicImage value="/resources/images/clic.png"/>
                                                </p:commandLink>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>



                                    <p:row>
                                        <p:column>
                                            <p:panelGrid columns="2">
                                                <p:outputLabel value="CI/RUC:" style="font-weight: BOLD; "/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['cliente'].CXCCLIrucci}" style="width: 320px; margin-left: 75px;"/>
                                            </p:panelGrid>
                                        </p:column>

                                        <p:column>
                                            <p:panelGrid columns="2">
                                                <p:outputLabel value="Razón social:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['cliente'].CXCCLIrazonsocia}" style="width: 320px;"/>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column>
                                            <p:panelGrid columns="2">
                                                <p:outputLabel value="Dirección:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['cliente'].CXCCLIdireccion1}" style="width: 320px; margin-left: 58px;"/>
                                            </p:panelGrid>
                                        </p:column>

                                        <p:column>
                                            <p:panelGrid columns="2">
                                                <p:outputLabel value="Teléfono:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['cliente'].CXCCLItelefono}" style="width: 320px; margin-left: 24px;"/>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:fieldset>

                        </p:tab>

                        <p:tab title="Solicitudes ingresadas">
                            <component:cSolicitudes solicitudesLazy="#{solicitudEquipoView.solicitudes}" solicitud="#{solicitudEquipoView.dataIngreso['solicitudInfo']}"
                                                update="mainTab:datos-sol,mainTab:datos-cons"/>
                            
                            <!-- 
                            <p:dataTable value="#{solicitudEquipoView.solicitudes}" var="t" rows="10" paginator="true" style="margin-top: 15px;" filterEvent="enter"
                                         paginatorPosition="bottom" lazy="true" selectionMode="single" rowKey="#{t.id}" selection="#{solicitudEquipoView.dataIngreso['solicitudInfo']}">
                                <p:ajax event="rowDblselect" update="mainTab:datos-sol,mainTab:datos-cons   "/>
                                <f:facet name="header">
                                    SOLICITUDES RESUELTAS
                                </f:facet>

                                <p:column headerText="Solicitante" width="18%;" filterBy="#{t.nombreSolicitante}" filterStyle="width: 95%;">
                                    #{getTextView.findNombreCliente(t.cxcmClienteSolicitante,
                                      t.equipo.genofiCodigo.genofiSecuencia)}
                                </p:column>

                                <p:column headerText="Oficina" width="12%;">
                                    #{t.equipo.genofiCodigo.genofinomComercial}
                                </p:column>

                                <p:column headerText="Marca" width="15%;" filterBy="#{t.equipo.modelEquipo.marca}" filterStyle="width: 90%;">
                                    #{t.equipo.modelEquipo.marca}
                                </p:column>

                                <p:column headerText="Modelo" width="15%;" filterBy="#{t.equipo.modelEquipo.modelo}" filterStyle="width: 90%;">
                                    #{t.equipo.modelEquipo.modelo}
                                </p:column>

                                <p:column headerText="Placa" width="10%;" filterBy="#{t.equipo.placa}" filterStyle="width: 90%;">
                                    #{t.equipo.placa}
                                </p:column>

                                <p:column headerText="Año de Fabricación" width="10%;">
                                    #{t.equipo.anioFabricacion}
                                </p:column>

                                <p:column headerText="Proveedor" width="15%;" filterBy="#{eqp.equipo.proveedorText}" filterStyle="width: 90%;">
                                    #{getTextView.findNombreProveedor(t.equipo.cxpmProveedor, t.equipo.genofiCodigo.genofiSecuencia)}
                                </p:column>

                                <p:column headerText="Estado" width="8%;">
                                    <h:outputText value="ACEPTADO" rendered="#{t.estado == 2}"/>
                                    <h:outputText value="RECHAZADO" rendered="#{t.estado == 3}"/>
                                    <h:outputText value="INACTIVO" rendered="#{t.estado == 4}"/>
                                </p:column>


                            </p:dataTable>-->

                            <p:fieldset id="datos-sol" legend="Datos del Equipo" style="margin-top: 15px;">
                                <p:panelGrid styleClass="ui-noborder" style="width: 100%; margin-top: 15px;">
                                    <p:row>
                                        <p:column colspan="2">
                                            <p:panelGrid columns="8">
                                                <h:outputText value="Marca:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['solicitudInfo'].equipo.modelEquipo.marca}" style="margin-left: 42px;"/>

                                                <h:outputText value="Modelo:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['solicitudInfo'].equipo.modelEquipo.modelo}" style="margin-left: 36px;"/>

                                                <h:outputText value="Placa:" style="font-weight: BOLD; "/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['solicitudInfo'].equipo.placa}" style="margin-left: 93px; text-transform: uppercase"/>

                                                <h:outputText value="Año de fabricación:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['solicitudInfo'].equipo.anioFabricacion}"/>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <p:column colspan="2">
                                            <p:panelGrid columns="6">


                                                <h:outputText value="Capacidad:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['solicitudInfo'].equipo.capacidadLitros}" style="margin-left: 13px;"/>

                                                <h:outputText value="Estado:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="" style="margin-left: 40px;" rendered="#{solicitudEquipoView.dataIngreso['solicitudInfo'].id == null}"/>
                                                <p:inputText readonly="true" value="DISPONIBLE" style="margin-left: 40px;" rendered="#{solicitudEquipoView.dataIngreso['solicitudInfo'].equipo.estado == 1}"/>
                                                <p:inputText readonly="true" value="EN TALLER" style="margin-left: 40px;" rendered="#{solicitudEquipoView.dataIngreso['solicitudInfo'].equipo.estado == 2}"/>
                                                <p:inputText readonly="true" value="EN BAJA" style="margin-left: 40px;" rendered="#{solicitudEquipoView.dataIngreso['solicitudInfo'].equipo.estado == 3}"/>
                                                <p:inputText readonly="true" value="CONSIGNADO" style="margin-left: 40px;" rendered="#{solicitudEquipoView.dataIngreso['solicitudInfo'].equipo.estado == 4}"/>

                                                <h:outputText value="Fecha de ingreso:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{solicitudEquipoView.dataIngreso['solicitudInfo'].fechaIngreso}" style="margin-left: 13px;">
                                                    <f:convertDateTime dateStyle="full" type="date" pattern="dd/MM/yyyy" />
                                                </p:inputText>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:fieldset>

                            <p:fieldset id="datos-cons" legend="Datos de la consignación" style="margin-top: 15px;">
                                <p:panelGrid styleClass="ui-noborder" style="width: 100%;">
                                    <p:row>
                                        <p:column>
                                            <p:panelGrid columns="2">
                                                <h:outputText value="Tipo de solicitud:" style="font-weight: BOLD;"/>
                                                <p:inputText  style="margin-left: 9px; width: 250px;" value="#{solicitudEquipoView.dataIngreso['solicitudInfo'].id != null ? solicitudEquipoView.dataIngreso['solicitudInfo'].tipoSolicitudText : ''}" readonly="true"/>

                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <p:column>
                                            <p:panelGrid columns="2">
                                                <h:outputText value="Fecha de solicitud:" style="font-weight: BOLD;"/>
                                                <p:inputText value="#{solicitudEquipoView.dataIngreso['solicitudInfo'].id != null ? solicitudEquipoView.dataIngreso['solicitudInfo'].fechaSolicitud : null}" readonly="true" style="width: 250px;">
                                                    <f:convertDateTime dateStyle="full" type="date" pattern="dd/MM/yyyy" />
                                                </p:inputText>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>

                                    <p:row>

                                        <p:column>
                                            <p:panelGrid columns="2">
                                                <h:outputText value="Solicitante:" style="font-weight: BOLD;"/>
                                                <p:inputText value="#{solicitudEquipoView.dataIngreso['solicitudInfo'].id != null ? getTextView.findNombreCliente(solicitudEquipoView.dataIngreso['solicitudInfo'].cxcmClienteSolicitante,
                                                                      solicitudEquipoView.dataIngreso['solicitudInfo'].equipo.genofiCodigo.genofiSecuencia) : ''}" style="margin-left: 50px; width: 250px;" readonly="true"/>
                                            </p:panelGrid>
                                        </p:column>
                                    </p:row>



                                </p:panelGrid>


                            </p:fieldset>
                        </p:tab>
                    </p:tabView>

                </h:form>

                <!-- -->

                <p:dialog widgetVar="dlgOficina" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Oficinas" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgOficina">
                        <component:cOficina oficinasLazy="#{solicitudEquipoView.oficinasLazy}" oficina="#{solicitudEquipoView.dataIngreso['oficina']}" 
                                            seleccionOficina="#{solicitudEquipoView.selectOficina(null)}"/>
                    </h:form>
                </p:dialog>

                <!-- -->

                <p:dialog widgetVar="dlgSolicitud" modal="true"  width="70%" responsive="true" closable="true" header="Solicitud" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgSolicitud">

                    </h:form>
                </p:dialog>

                <!-- -->

                <p:dialog widgetVar="dlgSolicitante" modal="true"  width="80%" responsive="true" closable="true" header="Solicitantes" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgSolicitante">
                        <p:dataTable lazy="true" style="margin-top: 10px;" value="#{solicitudEquipoView.clientes}" paginator="true" paginatorPosition="top" var="v" filterEvent="enter"
                                     rows="10" selectionMode="single" rowKey="#{v.cxcmClientePK}" selection="#{solicitudEquipoView.dataIngreso['cliente']}">
                            <p:ajax event="rowDblselect" oncomplete="PF('dlgSolicitante').hide();" update=":mainForm" listener="#{solicitudEquipoView.setValSol}"/>

                            <f:facet name="header">
                                SOLICITANTE
                            </f:facet>

                            <p:column headerText="Codigo" filterBy="#{v.cxcmClientePK.CXCCLIcodigo}" filterStyle="width: 95%;">
                                #{v.cxcmClientePK.CXCCLIcodigo}
                            </p:column>

                            <p:column headerText="CI/RUC" filterBy="#{v.CXCCLIrucci}" filterStyle="width: 95%;">
                                #{v.CXCCLIrucci}
                            </p:column>

                            <p:column headerText="Razón Social" filterBy="#{v.CXCCLIrazonsocia}" filterStyle="width: 95%;">
                                #{v.CXCCLIrazonsocia}
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>

                <!-- -->

                <p:dialog widgetVar="wdEquipos" modal="true"  width="80%" responsive="true" closable="true" header="Equipos disponibles" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgEquipo">
                        <p:dataTable value="#{solicitudEquipoView.equiposLazy}" lazy="true" paginator="true" paginatorPosition="top" filterEvent="enter"
                                     var="eqp" rows="10" selectionMode="single" rowKey="#{eqp.id}" selection="#{solicitudEquipoView.dataIngreso['equipo']}">
                            <p:ajax event="rowDblselect" oncomplete="PF('wdEquipos').hide();" update=":mainForm" listener="#{solicitudEquipoView.setValEq}"/>

                            <f:facet name="header">
                                EQUIPOS DISPONIBLES
                            </f:facet>

                            <p:column headerText="Marca" width="15%;" filterBy="#{eqp.modelEquipo.marca}" filterStyle="width: 95%;">
                                #{eqp.modelEquipo.marca}
                            </p:column>

                            <p:column headerText="Modelo" width="15%;" filterBy="#{eqp.modelEquipo.modelo}" filterStyle="width: 95%;">
                                #{eqp.modelEquipo.modelo}
                            </p:column>

                            <p:column headerText="Placa" width="15%;" filterBy="#{eqp.placa}" filterStyle="width: 95%;">
                                #{eqp.placa}
                            </p:column>

                            <p:column headerText="Año de Fabricación" width="10%;" filterBy="#{eqp.anioFabricacion}" filterStyle="width: 95%;">
                                #{eqp.anioFabricacion}
                            </p:column>

                            <p:column headerText="Capacidad" width="15%;" filterBy="#{eqp.capacidadLitros}" filterStyle="width: 95%;">
                                #{eqp.capacidadLitros}
                            </p:column>

                            <p:column headerText="Proveedor" width="30%;">
                                #{getTextView.findNombreProveedor(eqp.cxpmProveedor, eqp.genofiCodigo.genofiSecuencia)}
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>