<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">
     
    <h:head>
        <title>Oficina</title>
        <style type="text/css">
            .ui-widget {
                font-size: 95%;
            }
        </style>
    </h:head>
     
    <h:body>
        <h:form>
            <p:dataTable id="dtOficina" value="#{genrOficinaBeanDF.lazy}" 
                        filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" 
                        emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                        var="p" >
               <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{p.genofiSecuencia}" width="15%">
                   <p:outputLabel value="#{p.genofiSecuencia}"/>
               </p:column>
               <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{p.genofiNombre}" width="30%">
                   <p:outputLabel value="#{p.genofiNombre}"/>
               </p:column>
                <p:column headerText="Nombre Comercial"  filterStyle="width: 95%" filterBy="#{p.genofinomComercial}" width="40%">
                   <p:outputLabel value="#{p.genofinomComercial}"/>
               </p:column>
               <p:column headerText="Seleccionar" width="10%">
                    <p:commandButton icon="ui-icon-check" actionListener="#{genrOficinaBeanDF.seleccionado(p)}" />
               </p:column>
           </p:dataTable>
        </h:form>
    </h:body>
     
</html>