<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">
     
    <h:head>
        <title>Bodega</title>
        <style type="text/css">
            .ui-widget {
                font-size: 90%;
            }
        </style>
    </h:head>
    
    <h:body>
        <h:form>
            <p:dataTable id="dtBodega" value="#{genrBodegaBeanDF.lazy}" 
                        filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" 
                        emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                        var="p">
               <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{p.genbodSecuencia}" width="15%">
                   <p:outputLabel value="#{p.genbodSecuencia}"/>
               </p:column>
               <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{p.genbodNombre}" width="30%">
                   <p:outputLabel value="#{p.genbodNombre}"/>
               </p:column>
               <p:column headerText="Seleccionar" width="10%">
                    <p:commandButton icon="ui-icon-check" actionListener="#{genrBodegaBeanDF.seleccionado(p)}" />
               </p:column>
           </p:dataTable>
        </h:form>
    </h:body>
     
</html>