<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>Bodega</title>
        <style type="text/css">
            .ui-widget {
                font-size: 90%;
            }
        </style>
    </h:head>
    <h:body>
        <h:form id="frmdfInventario">
            <f:facet name="header">
                                <p:row>
                                    
                                    <p:column>Detalle de Opciones</p:column>
                                </p:row>
                            </f:facet>
            <p:row>
                <p:column  > 
                    <p:tree value="#{saldoBodegaOficBodBean.rootInventario}" var="p" style="width: 80%;margin: 0 auto" >
                        <p:treeNode >
                            <p:selectBooleanCheckbox value="#{p.seleccionado}" rendered="#{p.opcionId eq 0 ? false:true}">
                                <p:ajax  listener="#{asignarPerfilBean.perfilSeleccionado(p)}" process="@this" />
                            </p:selectBooleanCheckbox>
                            <h:outputText value="#{p.nombre}"/>
                        </p:treeNode>
                    </p:tree>
                </p:column>
            </p:row>
        </h:form>
    </h:body>
</html>