<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">
     
    <h:head>
        <title>Aplicaciones</title>
        <style type="text/css">
            .ui-widget {
                font-size: 90%;
            }
        </style>
    </h:head>
     
    <h:body>
        <h:form>
            <p:dataTable id="dtCuenta" value="#{paramGeneAplicaBeanDF.parameGeneAplicaLazy}" 
                        filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" 
                        emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                        var="p">
               <p:column headerText="Codigo"  filterStyle="width: 95%" filterBy="#{p.genpcoCodigo}" width="10%">
                   <p:outputLabel value="#{p.genpcoCodigo}"/>
               </p:column>
               <p:column headerText="Nombre" filterStyle="width: 95%" filterBy="#{p.genpcoNombre}" width="15%">
                   <p:outputLabel value="#{p.genpcoNombre}"/>
               </p:column>
                <p:column headerText="Seleccionar" width="5%">
                    <p:commandButton icon="ui-icon-check" actionListener="#{paramGeneAplicaBeanDF.seleccionarAplicacion(p)}" />
               </p:column>
           </p:dataTable>
        </h:form>
    </h:body>
     
</html>