<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
     
    <h:head>
        <title>Grupo de usuario</title>
        <style type="text/css">
            .ui-widget {
                font-size: 90%;
            }
        </style>
    </h:head>
     
    <h:body>
        <h:form>
            <p:dataTable id="dtGrupoUsuario" value="#{cbpsegrGrupousuarioBeanDF.lazy}" 
                        filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" 
                        emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                        var="p">
               <p:column headerText="Codigo"  filterStyle="width: 95%" filterBy="#{p.seggppCodigo}" width="10%">
                   <p:outputLabel value="#{p.seggppCodigo}"/>
               </p:column>
               <p:column headerText="Secuencia" filterStyle="width: 95%" filterBy="#{p.seggppSecuencia}" width="15%">
                   <p:outputLabel value="#{p.seggppSecuencia}"/>
               </p:column>
               <p:column headerText="Descripcion" filterStyle="width: 95%" filterBy="#{p.seggppDescripcio}" width="15%">
                   <p:outputLabel value="#{p.seggppDescripcio}"/>
               </p:column>
               <p:column headerText="Seleccionar" width="10%">
                    <p:commandButton icon="ui-icon-check" actionListener="#{cbpsegrGrupousuarioBeanDF.seleccionado(p)}" />
               </p:column>
           </p:dataTable>
        </h:form>
    </h:body>
     
</html>