<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/template/mainTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:component="http://xmlns.jcp.org/jsf/composite/component"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="title">
        Ingreso de datos de retención
    </ui:define>
    <ui:define name="head">
        <h:outputScript name="keyPress.js" library="javascript" />
    </ui:define>
    <ui:define name="datos">
        <component:cAtajos buscar="true"  limpiar="true" registrar="true"/>
            </ui:define>
    <ui:define name="content">
        <h:form id="frmRetencion">
            <!--<p:poll interval="15" listener="# {registroRetencionBean.respaldarDatos()}" />-->
            <p:remoteCommand name="respaldar" actionListener="#{registroRetencionBean.respaldarDatos()}" update="frmRetencion" />
            <p:remoteCommand name="buscarCliente" actionListener="#{registroRetencionBean.buscarFactura()}" update="frmRetencion" />
            <p:remoteCommand name="limpiarCliente" actionListener="#{registroRetencionBean.cancelarRetencion()}" update="frmRetencion" />
            <p:remoteCommand name="registrarCliente" actionListener="#{registroRetencionBean.aceptar()}" update="frmRetencion" />
            <p:panelGrid columns="3" layout="grid" >
                <component:customImputText label="RUC" value="#{registroRetencionBean.retencionesTem.FACVTC_clierucci}" readonly="true" />
                <component:customImputText label="Razón Social" value="#{registroRetencionBean.retencionesTem.FACVTC_clienombre}" readonly="true"  />
                <component:customImputMask id="numFactCabeceraCliente" label="Factura Nro." value="#{registroRetencionBean.retencionesTem.num_factura}" readonly="#{registroRetencionBean.retencionesTem.secuenciafactura ne null}" />

                <component:customImputText id="numReteCabeceraCliente" label="Nro. Retención" onchange="respaldar()"
                                           value="#{registroRetencionBean.retencionesTem.SRIRETcodigo}" type="number"  />
                <component:customImputDate label="Fecha Emisión" value="#{registroRetencionBean.retencionesTem.fecha_emision}" /> <!-- pattern="EEEE, dd MMMM yyyy" -->
                <component:customImputDate label="Fecha vigencia" value="#{registroRetencionBean.retencionesTem.fecha_vigencia}" />
            </p:panelGrid>
            <p:panelGrid columns="2" layout="grid" class="Wid100" columnClasses="ui-grid-col-4, ui-grid-col-9" >
                <p:outputLabel value="Tipo de Autorización" class="FontBold"/>
                <p:selectOneRadio id="console" value="#{registroRetencionBean.retencionesTem.tipo_retencion}" class="Wid100" onchange="respaldar()">
                    <f:selectItem itemLabel="Electronica" itemValue="1" />
                    <f:selectItem itemLabel="PreImpresa" itemValue="2" />
                </p:selectOneRadio>
                <p:outputLabel value="Número de Autorización" class="FontBold"/>
                <!--<p:inputText value="# {registroRetencionBean.retencionesTem.num_autorizacion}" class="Wid100" />-->
                <p:inputMask id="numAutoCabeceraCliente" value="#{registroRetencionBean.retencionesTem.num_autorizacion}" mask="999-999-999999999" 
                             class="Wid100" placeholder="999-999-999999999" onchange="respaldar()"/>
            </p:panelGrid>
            <p:spacer width="40"/>
            <p:dataTable  emptyMessage="No se encontrarón registros" scrollRows="3" scrollable="true"
                          value="#{registroRetencionBean.retencionesTem.detalleFuente}" var="Fuen2"
                          editable="true" editMode="cell" widgetVar="Fuen2Cell">
                <f:facet name="header" >
                    <center>Retención en la fuente</center>
                </f:facet>
                <p:column headerText="Tipo de retención" width="15%">
                    FTE(Retención en la fuente)
                </p:column>
                <p:column headerText="Tipo" width="30%">
                    #{Fuen2.nombreRetencion}
                </p:column>
                <p:column headerText="Cód. Impuesto">
                    #{Fuen2.codigoImpuesto}
                </p:column>
                <p:column headerText="% Retención">
                    #{Fuen2.porcentaje}
                </p:column>
                <p:column headerText="Base Imponible">
                    #{Fuen2.baseImponible}
                </p:column>
                <p:column headerText="Valor Retenido">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{Fuen2.valorRetenido}" >
                                <f:convertNumber maxFractionDigits="2" />
                            </h:outputText></f:facet>
                        <f:facet name="input">
                            <p:inputNumber value="#{Fuen2.valorRetenido}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
            </p:dataTable>
            <p:spacer width="40"/>
            <p:dataTable emptyMessage="No se encontrarón registros" scrollRows="3" scrollable="true" 
                         value="#{registroRetencionBean.retencionesTem.detalleIva}" var="iva1"
                         editable="true" editMode="cell" widgetVar="iva1Cell">
                <f:facet name="header" >
                    <center>Retención de IVA</center>
                </f:facet>
                <p:column headerText="Tipo de retención" width="15%">
                    FTE(Retención de IVA)
                </p:column>
                <p:column headerText="Tipo" width="30%">
                    #{iva1.nombreRetencion}
                </p:column>
                <p:column headerText="Cód. Impuesto">
                    #{iva1.codigoImpuesto}
                </p:column>
                <p:column headerText="% Retención">
                    #{iva1.porcentaje}
                </p:column>
                <p:column headerText="Base Imponible">
                    #{iva1.baseImponible}
                </p:column>
                <p:column headerText="Valor Retenido">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{iva1.valorRetenido}" >
                                <f:convertNumber maxFractionDigits="2" />
                            </h:outputText></f:facet>
                        <f:facet name="input">
                            <p:inputNumber value="#{iva1.valorRetenido}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
            </p:dataTable>
            <p:spacer width="20"/>
            <div align="center">
                <p:commandButton value="Cancelar Retención" actionListener="#{registroRetencionBean.cancelarRetencion()}"
                                 id="LimpiarCabeceraCliente" title="LIMPIAR (CTRL+Q)"/>
                <p:spacer width="20"/>
                <p:commandButton value="Buscar Factura" actionListener="#{registroRetencionBean.buscarFactura()}" update="frmRetencion" 
                                 id="retencionCabeceraCliente" title="BUSCAR (CTRL + B)" />
                <p:spacer width="20"/>
                <p:commandButton value="Aceptar" actionListener="#{registroRetencionBean.aceptar()}" id="aceptarCabeceraCliente" title="ACEPTAR (CTRL+Y)" >
                    <p:confirm header="Confirmación" message="Está seguro de que desea realizar un ingreso en la caja fuerte?" icon="pi pi-exclamation-triangle" />
                </p:commandButton>
                <p:spacer width="20"/>
                <p:commandButton value="Cerrar" actionListener="#{registroRetencionBean.cerrar()}" />
            </div>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" >
                <p:commandButton value="Sí" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
            </p:confirmDialog>
        </h:form>
    </ui:define>

</ui:composition>
