<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Gestion Menu
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:commandButton value="Actualizar Menu" actionListener="#{gestionMenu.actualizarMenu()}" icon="fa fa-refresh"/>
                    <p:commandButton value="Registrar Menu" actionListener="#{gestionMenu.registrarPaquete()}" icon="fa fa-slack" style="float: right;"/>
                    <p:dataTable id="dtUsuarios" value="#{gestionMenu.paquetesLazy}" var="p" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                 reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" 
                                 rowKey="#{p.segpaqCodigo}" selectionMode="single" selection="#{gestionMenu.paquete}">
                        <p:ajax event="rowDblselect" listener="#{gestionMenu.seleccionarPaquete()}"/>
                        <p:column style="width: 20px; padding: 2px 4px !important;"><p:rowToggler/></p:column>
                        <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{p.segpaqCodigo}" width="100">
                            <p:outputLabel value="#{p.segpaqCodigo}"/>
                        </p:column>
                        <p:column headerText="Descripcion" filterStyle="width: 95%" filterBy="#{p.segpaqDescripcio}">
                            <p:outputLabel value="#{p.segpaqDescripcio}"/>
                        </p:column>
                        <p:column headerText="Estado" width="100">
                            <p:selectBooleanButton value="#{p.segpaqEstado}" onLabel="Activo" offLabel="Inactivo" onIcon="fa fa-check" offIcon="fa fa-times">
                                <p:ajax listener="#{gestionMenu.grabarRegistroPaquete(p)}"/>
                            </p:selectBooleanButton>
                        </p:column>
                        <p:rowExpansion>
                            <p:dataTable value="#{p.cbpsegmModuloCollection}" var="m" rowKey="#{m.segmodCodigo}" selectionMode="single" selection="#{gestionMenu.modulo}" editable="true" editMode="cell">
                                <p:ajax event="rowDblselect" listener="#{gestionMenu.seleccionarModulo()}"/>
                                <p:column headerText="Codigo" width="100">
                                    <p:outputLabel value="#{m.segmodCodigo}"/>
                                </p:column>
                                <p:column headerText="Descripcion">
                                    <p:cellEditor>
                                        <f:facet name="output"><p:outputLabel value="#{m.segmodDescripcio}" styleClass="upper"/></f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{m.segmodDescripcio}" styleClass="upper"/>                  
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="Guardar" width="50">
                                    <p:commandButton icon="fa fa-save" actionListener="#{gestionMenu.grabarModulo(m)}"/>
                                </p:column>
                            </p:dataTable>
                        </p:rowExpansion>
                    </p:dataTable>
                </h:form>
                
                <p:dialog widgetVar="dlgPaquete" modal="true"  width="80%" responsive="true" closable="true" header="PAQUETE-MODULO" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgPaquete">
                        <p:fieldset legend="PAQUETE">
                            <p:panelGrid columns="2">
                                <p:outputLabel value="PAQUETE:" styleClass="labelBolder"/>
                                <p:inputText value="#{gestionMenu.paquete.segpaqDescripcio}" placeholder="DESCRIPCION" style="text-transform: uppercase;" size="50"/>
                            </p:panelGrid>
                        </p:fieldset>
                        <p:spacer width="0" height="15"/>
                        <p:fieldset legend="MODULO">
                            <p:panelGrid columns="2">
                                <p:inputText value="#{gestionMenu.modulo.segmodDescripcio}" placeholder="DESCRIPCION" style="text-transform: uppercase;" size="50"/>
                                <p:commandButton icon="fa fa-plus-square" value="Agregar" actionListener="#{gestionMenu.agregarModulo()}" update="modulos"/>
                            </p:panelGrid>
                        </p:fieldset>                        
                        <p:spacer width="0" height="15"/>
                        <p:dataTable id="modulos" value="#{gestionMenu.paquete.cbpsegmModuloCollection}" var="modu" scrollable="true" scrollHeight="300">
                            <p:column headerText="Codigo" width="100">
                                <p:outputLabel value="#{modu.segmodCodigo}"/>
                            </p:column>
                            <p:column headerText="Descripcion">
                                <p:outputLabel value="#{modu.segmodDescripcio}"/>
                            </p:column>
                        </p:dataTable>
                        <p:spacer width="0" height="15"/>
                        <center>
                            <p:commandButton icon="fa fa-save" value="Grabar" actionListener="#{gestionMenu.grabarPaquete()}" update="mainForm"/>
                        </center>
                    </h:form>
                </p:dialog>
                
                <p:dialog widgetVar="dlgOpcion" modal="true"  width="95%" responsive="true" closable="true" header="OPCION" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgOpcion">
                        <p:fieldset legend="PAQUETE-MODULO">
                            <p:panelGrid columns="2">
                                <p:outputLabel value="PAQUETE:#{gestionMenu.modulo.segpaqCodigo.segpaqDescripcio}" styleClass="labelBolder"/>
                                <p:outputLabel value="MODULO:#{gestionMenu.modulo.segmodDescripcio}" styleClass="labelBolder"/>
                            </p:panelGrid>
                        </p:fieldset>
                        <p:spacer width="0" height="15"/>
                        <p:fieldset legend="OPCION">
                            <p:panelGrid>
                                <p:row>
                                    <p:column><p:outputLabel value="SECUENCIA:" styleClass="labelBolder"/></p:column>
                                    <p:column><p:outputLabel value="DESCRIPCION:" styleClass="labelBolder"/></p:column>
                                    <p:column><p:outputLabel value="URL:" styleClass="labelBolder"/></p:column>
                                    <p:column><p:outputLabel value="Menu" styleClass="labelBolder"/></p:column>
                                    <p:column><p:outputLabel value="Acceso" styleClass="labelBolder"/></p:column>
                                    <p:column><p:outputLabel value="Turno" styleClass="labelBolder"/></p:column>
                                    <p:column rowspan="2"><p:commandButton icon="fa fa-plus-square" value="Agregar" actionListener="#{gestionMenu.agregarOpcion()}" update="opciones"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:inputText value="#{gestionMenu.opcion.segopcSecuencia}" placeholder="SECUENCIA" style="text-transform: uppercase;" size="20"/></p:column>
                                    <p:column><p:inputText value="#{gestionMenu.opcion.segopcDescripcio}" placeholder="DESCRIPCION" style="text-transform: uppercase;" size="50"/></p:column>
                                    <p:column><p:inputText value="#{gestionMenu.opcion.segopcUrl}" placeholder="URL" size="70"/></p:column>
                                    <p:column><p:selectBooleanCheckbox value="#{gestionMenu.opcion.segopcMenu}"/></p:column>
                                    <p:column><p:selectBooleanCheckbox value="#{gestionMenu.opcion.segopcAcceso}"/></p:column>
                                    <p:column><p:selectBooleanCheckbox value="#{gestionMenu.opcion.segopcTurno}"/></p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:fieldset>
                        <p:spacer width="0" height="15"/>
                        <p:dataTable id="opciones" value="#{gestionMenu.modulo.cbpsegmOpcionCollection}" var="opc" scrollable="true" scrollHeight="300" editable="true" editMode="cell">
                            <p:column headerText="Secuencia" width="100">
                                <p:outputLabel value="#{opc.segopcSecuencia}"/>
                            </p:column>
                            <p:column headerText="Descripcion">
                                <p:cellEditor>
                                    <f:facet name="output"><p:outputLabel value="#{opc.segopcDescripcio}" styleClass="upper"/></f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{opc.segopcDescripcio}" styleClass="upper"/>                  
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="URL">
                                <p:cellEditor>
                                    <f:facet name="output"><p:outputLabel value="#{opc.segopcUrl}"/></f:facet>
                                    <f:facet name="input">
                                        <p:inputText value="#{opc.segopcUrl}"/>                  
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="Menu" width="50">
                                <p:selectBooleanCheckbox value="#{opc.segopcMenu}"/>
                            </p:column>
                            <p:column headerText="Acceso" width="50">
                                <p:selectBooleanCheckbox value="#{opc.segopcAcceso}"/>
                            </p:column>
                            <p:column headerText="Turno" width="50">
                                <p:selectBooleanCheckbox value="#{opc.segopcTurno}"/>
                            </p:column>
                            <p:column headerText="Guardar" width="50">
                                <p:commandButton icon="fa fa-save" actionListener="#{gestionMenu.grabarOpcion(opc)}"/>
                            </p:column>
                        </p:dataTable>
                        <p:spacer width="0" height="15"/>
                        <center>
                            <p:commandButton icon="fa fa-save" value="Grabar" actionListener="#{gestionMenu.grabarModulo()}" oncomplete="PF('dlgOpcion').hide();"/>
                        </center>
                    </h:form>
                </p:dialog>
                
            </ui:define>
        </ui:composition>
    </body>
</html>