<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Cambiar Contraseña
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:panel>
                        <p:panelGrid style="width: 100%;" styleClass="ui-panelgrid-blank">
                            <p:row>
                                <p:column><p:graphicImage value="/resources/images/logoEmpresa.png" height="100"/></p:column>
                                <p:column><p:graphicImage value="/resources/images/puntoVenta.jpg" height="120" style="float: right;"/></p:column>
                            </p:row>
                        </p:panelGrid>
                        <p:panelGrid style="font-size: 20px;">
                            <p:row>
                                <p:column><span class="fa fa-university" style="margin-right: 5px;"/><p:outputLabel value="COMPANIA:" styleClass="labelBolder"/></p:column>
                                <p:column><p:outputLabel value="[#{userSession.cbpsegmUsuario.genciaCodigo.genciaSecuencia}]#{userSession.cbpsegmUsuario.genciaCodigo.genciaNombre}" styleClass="labelBolder"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="OFICINA:" styleClass="labelBolder"/></p:column>
                                <p:column>
                                    <p:dataList value="#{userSession.oficinas}" var="of">        
                                        <p:outputLabel value="[#{of.genofiSecuencia}]#{of.genofiNombre}" styleClass="labelBolder"/>
                                    </p:dataList>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <br/>
                        <h:panelGrid columns="2" id="matchGrid" cellpadding="5">                   
                            <h:outputLabel for="pwd1" value="Password 1: *" />
                            <p:password id="pwd1" value="#{cambioPassword.usuario.segusuClave}" match="pwd2" label="Password 1" required="true" />

                            <h:outputLabel for="pwd2" value="Password 2: *" />
                            <p:password id="pwd2" value="#{cambioPassword.usuario.segusuClave}" label="Password 2" required="true" />
                        </h:panelGrid>
                        <br/>
                        <p:commandButton value="Grabar" actionListener="#{cambioPassword.cambiarPassword()}"/>  
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>