<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Usuarios
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:panelGrid columns="3" rendered="false">
                        <p:outputLabel value="FILTRO: "/>
                        <p:selectOneMenu value="#{caja.caja.GENBODcodigo}" style="width: 92%;">
                            <f:selectItems value="#{caja.oficina.cbpgenrBodegaCollection}" var="b" itemLabel="[SUP:#{b.facsupCodigo}-#{b.supervisor}] - #{b.genbodSecuencia}-#{b.genbodNombre}" itemValue="#{b.genbodSecuencia}"/>
                        </p:selectOneMenu>
                        <p:commandButton value="BUSCAR"/>
                    </p:panelGrid>
                    <p:spacer height="30"/>
                    <p:dataTable id="dtUsuarios" value="#{usuarios.usuariosLazy}" var="u" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{u.segusuCodigo}">
                        <p:column headerText="Id" filterStyle="width: 95%" filterBy="#{u.segusuCodigo}" width="50">
                           <p:outputLabel value="#{u.segusuCodigo}"/>
                        </p:column>                                
                        <p:column headerText="Login" filterStyle="width: 95%" filterBy="#{u.segusuLogin}" width="100">
                           <p:outputLabel value="#{u.segusuLogin}"/>
                        </p:column>
                        <p:column headerText="Abreviado" filterStyle="width: 95%" filterBy="#{u.segusuAbreviado}">
                           <p:outputLabel value="#{u.segusuAbreviado}"/>
                        </p:column>
                        <p:column headerText="Nombres" filterStyle="width: 95%" filterBy="#{u.segusuNombre}">
                            <p:outputLabel value="#{u.segusuNombre}"/>
                        </p:column>
                        <p:column headerText="Apellidos" filterStyle="width: 95%" filterBy="#{u.segusuApellido}">
                           <p:outputLabel value="#{u.segusuApellido}"/>
                        </p:column>
                        <p:column headerText="Grupo">
                           <p:outputLabel value="#{u.seggppCodigo.seggppDescripcio}"/>
                        </p:column>
                        <p:column headerText="Cod. Caja" filterStyle="width: 95%" filterBy="#{u.codigoCaja}" width="100">
                           <p:outputLabel value="#{u.codigoCaja}"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>