<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Productividad
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
                <h:outputScript name="dataTableRegistroVenta.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:panelGrid styleClass="ui-noborder" style="width: 100%; margin-top: 15px;">
                        <p:row>
                            <p:column>
                                <p:panelGrid columns="5" styleClass="ui-noborder">
                                    <p:outputLabel value="Fecha Inicio"/>
                                    <p:calendar value="#{productividadView.dataIngreso['fechaInicio']}" pattern="dd/MM/yyyy"/>
                                    <p:outputLabel value="Fecha Fin"/>
                                    <p:calendar value="#{productividadView.dataIngreso['fechaFin']}" pattern="dd/MM/yyyy"/>
                                    <p:commandButton value="Ver" actionListener="#{productividadView.verDatos()}" update="mainForm"/>
                                </p:panelGrid>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    
                    <p:dataTable value="#{productividadView.l}" var="t" rows="8" filterEvent="enter">
                        
                        <p:column headerText="Categoría" filterStyle="width: 95%;" style="font-weight: bold;" filterBy="#{t.clase_cliente}" filterMatchMode="exact">
                            #{t.clase_cliente}
                        </p:column>
                        
                        <p:column headerText="Cliente" filterStyle="width: 95%;" filterBy="#{t.cliente}" filterMatchMode="contains">
                            #{t.cliente}
                        </p:column>
                        
                        <p:column headerText="Suma" >
                            <h:outputText value="#{t.suma}" style="float: right;">
                                <f:convertNumber pattern="##,##0.00" locale="en_US"/>
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                    <p:commandButton value="Generar Reporte" actionListener="#{productividadView.generarReporte()}" rendered="#{productividadView.l != null}"/>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>