<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Ingreso de Solicitud de Equipo
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">

                    <p:remoteCommand name="busquedaOficina" actionListener="#{reporteEquiposView.busquedaOficina()}" update="mainForm"/>
                    <p:remoteCommand name="busquedaEquipo" actionListener="#{reporteEquiposView.busquedaEquipo()}" update="mainForm" />

                    <p:panelGrid styleClass="ui-noborder" style="width: 100%; margin-top: 15px;">
                        <p:row>
                            <p:column>
                                <p:panelGrid columns="4" styleClass="ui-noborder">
                                    <h:outputText value="Oficina:" style="font-weight: BOLD;"/>
                                    <p:inputText id="secuenciaOficina" style="width: 100px; margin-left: 52px;" value="#{reporteEquiposView.dataIngreso['valOfi']}"/>
                                    <p:commandLink update="frmdlgOficina" oncomplete="PF('dlgOficina').show()" title="Buscar oficina">
                                        <p:graphicImage value="/resources/images/clic.png"/>
                                    </p:commandLink>
                                    <p:inputText readonly="true" style="width: 250px" value="#{reporteEquiposView.dataIngreso['oficina'].genofinomComercial}"/>
                                </p:panelGrid>
                            </p:column>

                            <p:column>
                                <p:panelGrid columns="3">
                                    <p:outputLabel value="Placa:" style="font-weight: BOLD; text-transform: uppercase;"/>
                                    <p:inputText id="placa" value="#{reporteEquiposView.dataIngreso['valEq']}" style="margin-left: 51px; width: 250px;"/>
                                    <p:commandLink onclick="PF('wdEquipos').show()" title="Buscar equipo">
                                        <p:graphicImage value="/resources/images/clic.png"/>
                                    </p:commandLink>
                                </p:panelGrid>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    
                    <p:dataTable value="#{reporteEquiposView.solicitudes}" var="eqp" lazy="true" rows="10" paginator="true" paginatorPosition="top"
                                 selectionMode="single" rowKey="#{eqp.id}" selection="#{reporteEquiposView.dataIngreso['solicitud']}" filterEvent="enter">
                        <p:ajax event="rowDblselect" update=":frmDatos" oncomplete="PF('wvDatos').show()" listener="#{reporteEquiposView.selectEquipo}"/>
                        <f:facet name="header">
                            EQUIPOS CONSIGNADOS
                        </f:facet>

                        <p:column headerText="Solicitante" width="18%;" filterBy="#{eqp.nombreSolicitante}" filterStyle="width: 95%;">
                            #{getTextView.findNombreCliente(eqp.cxcmClienteSolicitante,
                              eqp.equipo.genofiCodigo.genofiSecuencia)}
                        </p:column>

                        <p:column headerText="Marca" width="15%;" filterBy="#{eqp.equipo.modelEquipo.marca}" filterStyle="width: 95%;">
                            #{eqp.equipo.modelEquipo.marca}
                        </p:column>

                        <p:column headerText="Modelo" width="15%;" filterBy="#{eqp.equipo.modelEquipo.modelo}" filterStyle="width: 95%;">
                            #{eqp.equipo.modelEquipo.modelo}
                        </p:column>

                        <p:column headerText="Placa" width="10%;" filterBy="#{eqp.equipo.placa}" filterStyle="width: 95%;">
                            #{eqp.equipo.placa}
                        </p:column>

                        <p:column headerText="Año de Fabricación" width="10%;">
                            #{eqp.equipo.anioFabricacion}
                        </p:column>

                        <p:column headerText="Proveedor" width="15%;">
                            #{getTextView.findNombreProveedor(eqp.equipo.cxpmProveedor, eqp.equipo.genofiCodigo.genofiSecuencia)}
                        </p:column>
                    </p:dataTable>
                    
                </h:form>

                <!-- -->

                <p:dialog appendTo="@(body)" widgetVar="wvDatos" modal="true"  width="90%" responsive="true" closable="true" header="Datos del equipo" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmDatos">
                        <p:tabView>
                            <p:tab title="Datos">
                                <p:fieldset legend="Datos del Equipo" style="margin-top: 15px;">
                                    <p:panelGrid styleClass="ui-noborder" style="width: 100%; margin-top: 15px;">

                                        <p:row>
                                            <p:column colspan="2">
                                                <p:panelGrid columns="6">
                                                    <h:outputText value="Marca:" style="font-weight: BOLD;"/>
                                                    <p:inputText readonly="true" value="#{reporteEquiposView.dataIngreso['equipo'].modelEquipo.marca}" style="margin-left: 43px; width: 250px;"/>

                                                    <h:outputText value="Modelo:" style="font-weight: BOLD;"/>
                                                    <p:inputText readonly="true" value="#{reporteEquiposView.dataIngreso['equipo'].modelEquipo.modelo}" style="margin-left: 38px; width: 250px;"/>

                                                    <h:outputText value="Año de fabricación:" style="font-weight: BOLD;"/>
                                                    <p:inputText readonly="true" value="#{reporteEquiposView.dataIngreso['equipo'].anioFabricacion}" style="margin-left: 5px; width: 250px;"/>


                                                </p:panelGrid>
                                            </p:column>
                                        </p:row>

                                        <p:row>
                                            <p:column colspan="2">
                                                <p:panelGrid columns="6">
                                                    <h:outputText value="Proveedor:" style="font-weight: BOLD;"/>                                            
                                                    <p:inputText readonly="true" value="#{reporteEquiposView.dataIngreso['equipo'].id != null ? getTextView.findNombreProveedor(reporteEquiposView.dataIngreso['equipo'].cxpmProveedor, 
                                                                                          reporteEquiposView.dataIngreso['equipo'].genofiCodigo.genofiSecuencia) : ''}" style="margin-left: 15px; width: 250px;"/>

                                                    <h:outputText value="Capacidad:" style="font-weight: BOLD;"/>
                                                    <p:inputText readonly="true" value="#{reporteEquiposView.dataIngreso['equipo'].id != null ? reporteEquiposView.dataIngreso['equipo'].capacidadLitros : '0.0'} litros" style="margin-left: 18px; width: 250px;"/>

                                                    <h:outputText value="Estado:" style="font-weight: BOLD;"/>
                                                    <p:inputText readonly="true" value="#{reporteEquiposView.dataIngreso['equipo'].id != null ? 'DISPONIBLE' : ''}" style="margin-left: 88px; width: 250px;" rendered="#{reporteEquiposView.dataIngreso['equipo'].estado == 1}" />
                                                    <p:inputText readonly="true" value="#{reporteEquiposView.dataIngreso['equipo'].id != null ? 'EN TALLER' : ''}" style="margin-left: 88px; width: 250px;" rendered="#{reporteEquiposView.dataIngreso['equipo'].estado == 2}"/>
                                                    <p:inputText readonly="true" value="#{reporteEquiposView.dataIngreso['equipo'].id != null ? 'EN BAJA' : ''}" style="margin-left: 88px; width: 250px;" rendered="#{reporteEquiposView.dataIngreso['equipo'].estado == 3}"/>
                                                    <p:inputText readonly="true" value="#{reporteEquiposView.dataIngreso['equipo'].id != null ? 'CONSIGNADO' : ''}" style="margin-left: 88px; width: 250px;" rendered="#{reporteEquiposView.dataIngreso['equipo'].estado == 4}"/>
                                                </p:panelGrid>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                </p:fieldset>

                                <p:fieldset legend="Datos del cliente" style="margin-top: 15px;">
                                    <p:panelGrid styleClass="ui-noborder" style="width: 100%; margin-top: 15px;">
                                        <p:row>
                                            <p:column colspan="2">
                                                <p:panelGrid columns="2">
                                                    <p:outputLabel value="Código:" style="font-weight: BOLD; "/>
                                                    <p:inputText readonly="true" value="#{reporteEquiposView.dataIngreso['cliente'].cxcmClientePK.CXCCLIcodigo}" style="width: 320px; margin-left: 75px;"/>
                                                </p:panelGrid>
                                            </p:column>
                                        </p:row>
                                        
                                        <p:row>
                                            <p:column>
                                                <p:panelGrid columns="2">
                                                    <p:outputLabel value="CI/RUC:" style="font-weight: BOLD; "/>
                                                    <p:inputText readonly="true" value="#{reporteEquiposView.dataIngreso['cliente'].CXCCLIrucci}" style="width: 320px; margin-left: 75px;"/>
                                                </p:panelGrid>
                                            </p:column>

                                            <p:column>
                                                <p:panelGrid columns="2">
                                                    <p:outputLabel value="Razón social:" style="font-weight: BOLD;"/>
                                                    <p:inputText readonly="true" value="#{reporteEquiposView.dataIngreso['cliente'].CXCCLIrazonsocia}" style="width: 320px;"/>
                                                </p:panelGrid>
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column>
                                                <p:panelGrid columns="2">
                                                    <p:outputLabel value="Dirección:" style="font-weight: BOLD;"/>
                                                    <p:inputText readonly="true" value="#{reporteEquiposView.dataIngreso['cliente'].CXCCLIdireccion1}" style="width: 320px; margin-left: 58px;"/>
                                                </p:panelGrid>
                                            </p:column>

                                            <p:column>
                                                <p:panelGrid columns="2">
                                                    <p:outputLabel value="Teléfono:" style="font-weight: BOLD;"/>
                                                    <p:inputText readonly="true" value="#{reporteEquiposView.dataIngreso['cliente'].CXCCLItelefono}" style="width: 320px; margin-left: 24px;"/>
                                                </p:panelGrid>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                </p:fieldset>
                            </p:tab>

                            <p:tab title="Reporte de compras">
                                <p:fieldset legend="Reporte mensual de compras">

                                </p:fieldset>
                            </p:tab>
                        </p:tabView>
                    </h:form>
                </p:dialog>

                <!-- -->

                <p:dialog widgetVar="dlgOficina" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Oficinas" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgOficina">
                        <component:cOficina oficinasLazy="#{solicitudEquipoView.oficinasLazy}" oficina="#{solicitudEquipoView.dataIngreso['oficina']}" 
                                            seleccionOficina="#{solicitudEquipoView.selectOficina(null)}"/>
                    </h:form>
                </p:dialog>

                <!-- -->

                <p:dialog widgetVar="wdEquipos" modal="true"  width="80%" responsive="true" closable="true" header="Equipos disponibles" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgEquipo">
                        <p:dataTable value="#{reporteEquiposView.equiposLazy}" lazy="true" paginator="true" paginatorPosition="top" filterEvent="enter"
                                     var="eqp" rows="6" selectionMode="single" rowKey="#{eqp.id}" selection="#{reporteEquiposView.dataIngreso['equipo']}">
                            <p:ajax event="rowDblselect" oncomplete="PF('wdEquipos').hide();" listener="#{reporteEquiposView.setValEq}"/>

                            <f:facet name="header">
                                EQUIPOS DISPONIBLES
                            </f:facet>

                            <p:column headerText="Marca" width="15%;" filterBy="#{eqp.modelEquipo.marca}" filterStyle="width: 95%;">
                                #{eqp.modelEquipo.marca}
                            </p:column>

                            <p:column headerText="Modelo" width="15%;" filterBy="#{eqp.modelEquipo.modelo}" filterStyle="width: 95%;">
                                #{eqp.modelEquipo.modelo}
                            </p:column>

                            <p:column headerText="Placa" width="15%;" filterBy="#{eqp.placa}" filterStyle="width: 95%;">
                                #{eqp.placa}
                            </p:column>

                            <p:column headerText="Año de Fabricación" width="10%;" filterBy="#{eqp.anioFabricacion}" filterStyle="width: 95%;">
                                #{eqp.anioFabricacion}
                            </p:column>

                            <p:column headerText="Capacidad" width="15%;" filterBy="#{eqp.capacidadLitros}" filterStyle="width: 95%;">
                                #{eqp.capacidadLitros}
                            </p:column>

                            <p:column headerText="Proveedor" width="30%;">
                                #{getTextView.findNombreProveedor(eqp.cxpmProveedor, eqp.genofiCodigo.genofiSecuencia)}
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>

            </ui:define>
        </ui:composition>
    </body>
</html>