<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Reporte de clientes
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">

                    <p:remoteCommand name="busquedaOficina" actionListener="#{reporteClientesView.busquedaOficina()}" update="mainForm"/>
                    <p:remoteCommand name="busquedaSolicitante" actionListener="#{reporteClientesView.busquedaSolicitante()}" update="mainForm"/>
                    
                    <p:panelGrid styleClass="ui-noborder" style="width: 100%; margin-top: 15px;">
                        <p:row>
                            <p:column>
                                <p:panelGrid columns="4" styleClass="ui-noborder">
                                    <h:outputText value="Oficina:" style="font-weight: BOLD;"/>
                                    <p:inputText id="secuenciaOficina" style="width: 100px; margin-left: 52px;" value="#{reporteClientesView.dataIngreso['valOfi']}"/>
                                    <p:commandLink update="frmdlgOficina" oncomplete="PF('dlgOficina').show()" title="Buscar oficina">
                                        <p:graphicImage value="/resources/images/clic.png"/>
                                    </p:commandLink>
                                    <p:inputText readonly="true" style="width: 250px" value="#{reporteClientesView.dataIngreso['oficina'].genofinomComercial}"/>
                                </p:panelGrid>
                            </p:column>
                            <p:column>
                                <p:panelGrid columns="3">
                                    <p:outputLabel value="Código solicitante:" style="font-weight: BOLD;"/>
                                    <p:inputText id="solicitante" value="#{reporteClientesView.dataIngreso['valSol']}" />
                                    <p:commandLink onclick="PF('dlgSolicitante').show()" title="Buscar equipo">
                                        <p:graphicImage value="/resources/images/clic.png"/>
                                    </p:commandLink>
                                </p:panelGrid>
                            </p:column>
                        </p:row>
                    </p:panelGrid>


                    <p:dataTable value="#{reporteClientesView.solicitudes}" var="eqp" lazy="true" rows="10" paginator="true" paginatorPosition="top"
                                 selectionMode="single" rowKey="#{eqp.id}" selection="#{reporteClientesView.dataIngreso['solicitud']}" filterEvent="enter">
                        <p:ajax event="rowDblselect" update=":frmDatos" oncomplete="PF('wvDatos').show()" listener="#{reporteClientesView.selectEquipo}"/>
                        <f:facet name="header">
                            EQUIPOS CONSIGNADOS
                        </f:facet>

                        <p:column headerText="Solicitante" width="18%;" filterBy="#{eqp.nombreSolicitante}" filterStyle="width: 95%;">
                            #{getTextView.findNombreCliente(eqp.cxcmClienteSolicitante,
                              eqp.equipo.genofiCodigo.genofiSecuencia)}
                        </p:column>

                        <p:column headerText="Marca" width="15%;" filterBy="#{eqp.equipo.modelEquipo.marca}" filterStyle="width: 95%;">
                            #{eqp.equipo.modelEquipo.marca}
                        </p:column>

                        <p:column headerText="Modelo" width="15%;" filterBy="#{eqp.equipo.modelEquipo.modelo}" filterStyle="width: 95%;">
                            #{eqp.equipo.modelEquipo.modelo}
                        </p:column>

                        <p:column headerText="Placa" width="10%;" filterBy="#{eqp.equipo.placa}" filterStyle="width: 95%;">
                            #{eqp.equipo.placa}
                        </p:column>

                        <p:column headerText="Año de Fabricación" width="10%;">
                            #{eqp.equipo.anioFabricacion}
                        </p:column>

                        <p:column headerText="Proveedor" width="15%;">
                            #{getTextView.findNombreProveedor(eqp.equipo.cxpmProveedor, eqp.equipo.genofiCodigo.genofiSecuencia)}
                        </p:column>
                    </p:dataTable>

                </h:form>

                <!-- -->

                <p:dialog appendTo="@(body)" widgetVar="wvDatos" modal="true"  width="90%" responsive="true" closable="true" header="Datos del cliente" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmDatos">
                        <p:tabView>
                            <p:tab title="Datos">
                                <p:fieldset legend="Datos del cliente" style="margin-top: 15px;">
                                    <p:panelGrid styleClass="ui-noborder" style="width: 100%; margin-top: 15px;">
                                        <p:row>
                                            <p:column colspan="2">
                                                <p:panelGrid columns="2">
                                                    <p:outputLabel value="Código:" style="font-weight: BOLD; "/>
                                                    <p:inputText readonly="true" value="#{reporteClientesView.dataIngreso['cliente'].cxcmClientePK.CXCCLIcodigo}" style="width: 320px; margin-left: 75px;"/>
                                                </p:panelGrid>
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column>
                                                <p:panelGrid columns="2">
                                                    <p:outputLabel value="CI/RUC:" style="font-weight: BOLD; "/>
                                                    <p:inputText readonly="true" value="#{reporteClientesView.dataIngreso['cliente'].CXCCLIrucci}" style="width: 320px; margin-left: 75px;"/>
                                                </p:panelGrid>
                                            </p:column>

                                            <p:column>
                                                <p:panelGrid columns="2">
                                                    <p:outputLabel value="Razón social:" style="font-weight: BOLD;"/>
                                                    <p:inputText readonly="true" value="#{reporteClientesView.dataIngreso['cliente'].CXCCLIrazonsocia}" style="width: 320px;"/>
                                                </p:panelGrid>
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column>
                                                <p:panelGrid columns="2">
                                                    <p:outputLabel value="Dirección:" style="font-weight: BOLD;"/>
                                                    <p:inputText readonly="true" value="#{reporteClientesView.dataIngreso['cliente'].CXCCLIdireccion1}" style="width: 320px; margin-left: 58px;"/>
                                                </p:panelGrid>
                                            </p:column>

                                            <p:column>
                                                <p:panelGrid columns="2">
                                                    <p:outputLabel value="Teléfono:" style="font-weight: BOLD;"/>
                                                    <p:inputText readonly="true" value="#{reporteClientesView.dataIngreso['cliente'].CXCCLItelefono}" style="width: 320px; margin-left: 24px;"/>
                                                </p:panelGrid>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                </p:fieldset>

                                <p:fieldset legend="Datos del Equipo" style="margin-top: 15px;">
                                    <p:dataTable value="#{reporteClientesView.consignaciones}" var="eqp"
                                                 selectionMode="single" rowKey="#{eqp.id}" selection="#{reporteClientesView.dataIngreso['solicitud']}">
                                        <p:ajax event="rowDblselect" update=":frmDatos" listener="#{reporteClientesView.setDataEquipo}"/>
                                        <f:facet name="header">
                                            EQUIPOS CONSIGNADOS
                                        </f:facet>

                                        <p:column headerText="Marca" width="15%;" filterBy="#{eqp.equipo.modelEquipo.marca}" filterStyle="width: 95%;">
                                            #{eqp.equipo.modelEquipo.marca}
                                        </p:column>

                                        <p:column headerText="Modelo" width="15%;" filterBy="#{eqp.equipo.modelEquipo.modelo}" filterStyle="width: 95%;">
                                            #{eqp.equipo.modelEquipo.modelo}
                                        </p:column>

                                        <p:column headerText="Placa" width="10%;" filterBy="#{eqp.equipo.placa}" filterStyle="width: 95%;">
                                            #{eqp.equipo.placa}
                                        </p:column>

                                        <p:column headerText="Año de Fabricación" width="10%;">
                                            #{eqp.equipo.anioFabricacion}
                                        </p:column>

                                        <p:column headerText="Proveedor" width="15%;">
                                            #{getTextView.findNombreProveedor(eqp.equipo.cxpmProveedor, eqp.equipo.genofiCodigo.genofiSecuencia)}
                                        </p:column>
                                    </p:dataTable>


                                    <p:panelGrid styleClass="ui-noborder" style="width: 100%; margin-top: 15px;">

                                        <p:row>
                                            <p:column colspan="2">
                                                <p:panelGrid columns="6">
                                                    <h:outputText value="Marca:" style="font-weight: BOLD;"/>
                                                    <p:inputText readonly="true" value="#{reporteClientesView.dataIngreso['equipo'].modelEquipo.marca}" style="margin-left: 43px; width: 250px;"/>

                                                    <h:outputText value="Modelo:" style="font-weight: BOLD;"/>
                                                    <p:inputText readonly="true" value="#{reporteClientesView.dataIngreso['equipo'].modelEquipo.modelo}" style="margin-left: 38px; width: 250px;"/>

                                                    <h:outputText value="Año de fabricación:" style="font-weight: BOLD;"/>
                                                    <p:inputText readonly="true" value="#{reporteClientesView.dataIngreso['equipo'].anioFabricacion}" style="margin-left: 5px; width: 250px;"/>
                                                </p:panelGrid>
                                            </p:column>
                                        </p:row>

                                        <p:row>
                                            <p:column colspan="2">
                                                <p:panelGrid columns="6">
                                                    <h:outputText value="Proveedor:" style="font-weight: BOLD;"/>                                            
                                                    <p:inputText readonly="true" value="#{reporteClientesView.dataIngreso['equipo'].id != null ? getTextView.findNombreProveedor(reporteClientesView.dataIngreso['equipo'].cxpmProveedor, 
                                                                                          reporteClientesView.dataIngreso['equipo'].genofiCodigo.genofiSecuencia) : ''}" style="margin-left: 15px; width: 250px;"/>

                                                    <h:outputText value="Capacidad:" style="font-weight: BOLD;"/>
                                                    <p:inputText readonly="true" value="#{reporteClientesView.dataIngreso['equipo'].id != null ? reporteClientesView.dataIngreso['equipo'].capacidadLitros : '0.0'} litros" style="margin-left: 18px; width: 250px;"/>

                                                    <h:outputText value="Estado:" style="font-weight: BOLD;"/>
                                                    <p:inputText readonly="true" value="#{reporteClientesView.dataIngreso['equipo'].id != null ? 'DISPONIBLE' : ''}" style="margin-left: 88px; width: 250px;" rendered="#{reporteClientesView.dataIngreso['equipo'].estado == 1}" />
                                                    <p:inputText readonly="true" value="#{reporteClientesView.dataIngreso['equipo'].id != null ? 'EN TALLER' : ''}" style="margin-left: 88px; width: 250px;" rendered="#{reporteClientesView.dataIngreso['equipo'].estado == 2}"/>
                                                    <p:inputText readonly="true" value="#{reporteClientesView.dataIngreso['equipo'].id != null ? 'EN BAJA' : ''}" style="margin-left: 88px; width: 250px;" rendered="#{reporteClientesView.dataIngreso['equipo'].estado == 3}"/>
                                                    <p:inputText readonly="true" value="#{reporteClientesView.dataIngreso['equipo'].id != null ? 'CONSIGNADO' : ''}" style="margin-left: 88px; width: 250px;" rendered="#{reporteClientesView.dataIngreso['equipo'].estado == 4}"/>
                                                </p:panelGrid>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                </p:fieldset>


                            </p:tab>
                            
                            <!-- -->
                            
                            <p:tab title="Reporte de compras">
                                <p:fieldset legend="Reporte mensual de compras">

                                </p:fieldset>
                            </p:tab>
                        </p:tabView>
                    </h:form>
                </p:dialog>

                <!-- -->

                <p:dialog widgetVar="dlgOficina" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Oficinas" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgOficina">
                        <component:cOficina oficinasLazy="#{reporteClientesView.oficinasLazy}" oficina="#{reporteClientesView.dataIngreso['oficina']}" 
                                            seleccionOficina="#{reporteClientesView.selectOficina(null)}"/>
                    </h:form>
                </p:dialog>

                <!-- -->

                <p:dialog widgetVar="dlgSolicitante" modal="true"  width="80%" responsive="true" closable="true" header="Solicitantes" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgSolicitante">
                        <p:dataTable lazy="true" style="margin-top: 10px;" value="#{reporteClientesView.clientes}" paginator="true" paginatorPosition="top" var="v" filterEvent="enter"
                                     rows="10" selectionMode="single" rowKey="#{v.cxcmClientePK}" selection="#{reporteClientesView.dataIngreso['cliente']}">
                            <p:ajax event="rowDblselect" oncomplete="PF('dlgSolicitante').hide();" listener="#{reporteClientesView.setValSol}"/>

                            <f:facet name="header">
                                SOLICITANTE
                            </f:facet>

                            <p:column headerText="Codigo" filterBy="#{v.cxcmClientePK.CXCCLIcodigo}" filterStyle="width: 95%;">
                                #{v.cxcmClientePK.CXCCLIcodigo}
                            </p:column>

                            <p:column headerText="CI/RUC" filterBy="#{v.CXCCLIrucci}" filterStyle="width: 95%;">
                                #{v.CXCCLIrucci}
                            </p:column>

                            <p:column headerText="Razón Social" filterBy="#{v.CXCCLIrazonsocia}" filterStyle="width: 95%;">
                                #{v.CXCCLIrazonsocia}
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>

            </ui:define>
        </ui:composition>
    </body>
</html>