<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Acceso Denegado</title>
    </h:head>

    <h:body styleClass="exception-body access-page">
    
        <div class="exception-top">
            <p:graphicImage name="images/icon-access.png" library="poseidon-layout" />
        </div>
        
        <div class="exception-bottom">
            <div class="exception-wrapper">
                <span class="exception-summary">Acceso Denegado</span>
                <span class="exception-detail">Usted no tiene permisos para esta página</span>
                <p:button outcome="/faces/index" value="Página principal" icon="fa fa-home" styleClass="black-btn"/>
                <p:graphicImage name="images/login/logoGMAcolor.png" library="poseidon-layout" styleClass="logo-icon"/>
                
            </div>
        </div>
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="poseidon-layout" />
    </h:body>

</html>