<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template/mainTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="page_title">
        Bienvenido
    </ui:define>
    <ui:define name="content">
        <p:panel>
            <h:form id="mainForm">
                <p:panelGrid style="width: 100%;" styleClass="ui-panelgrid-blank">
                    <p:row>
                        <p:column><p:graphicImage value="/resources/images/logoEmpresa.png" height="100"/></p:column>
                        <p:column><p:graphicImage value="/resources/images/puntoVenta.jpg" height="120" style="float: right;"/></p:column>
                    </p:row>
                </p:panelGrid>
                <p:panelGrid style="font-size: 20px;">
                    <p:row>
                        <p:column><span class="fa fa-university" style="margin-right: 5px;"/><p:outputLabel value="COMPANIA:" styleClass="labelBolder"/></p:column>
                        <p:column><p:outputLabel value="[#{userSession.cbpsegmUsuario.genciaCodigo.genciaSecuencia}]#{userSession.cbpsegmUsuario.genciaCodigo.genciaNombre}" styleClass="labelBolder"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column><span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="OFICINA:" styleClass="labelBolder"/></p:column>
                        <p:column>
                            <p:dataList value="#{userSession.oficinas}" var="of">        
                                <p:outputLabel value="[#{of.genofiSecuencia}]#{of.genofiNombre}" styleClass="labelBolder"/>
                            </p:dataList>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column><span class="fa fa-user" style="margin-right: 5px;"/><p:outputLabel value="USUARIO:" styleClass="labelBolder"/></p:column>
                        <p:column><p:outputLabel value="[#{userSession.cbpsegmUsuario.segusuLogin}]#{userSession.cbpsegmUsuario.segusuNombre} #{userSession.cbpsegmUsuario.segusuApellido}" styleClass="labelBolder"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column><span class="fa fa-briefcase" style="margin-right: 5px;"/><p:outputLabel value="CAJA:" styleClass="labelBolder"/></p:column>
                        <p:column><p:outputLabel value="[#{userSession.caja.GENCAJcodigo}]#{userSession.caja.GENCAJdescripcio}" styleClass="labelBolder"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column><span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="PTO. VENTA:" styleClass="labelBolder"/></p:column>
                        <p:column><p:outputLabel value="[#{userSession.caja.GENBODcodigo}]#{userSession.caja.bodega}" styleClass="labelBolder"/></p:column>
                    </p:row>
                </p:panelGrid>
                <br/>
                <p:outputLabel rendered="#{informacion.actualizarClave}" value="ACTUALIZAR CONTRASEÑA" styleClass="labelMensaje"/>
                <p:panelGrid style="font-size: 20px;" rendered="#{informacion.supervisor}">
                    <p:row>
                        <p:column>
                            <span class="fa fa-user" style="margin-right: 5px;"/><p:outputLabel value="CONTROL" styleClass="labelBolder"/>
                        </p:column>
                        <p:column>
                            <p:commandButton value="ACTUALIZAR CLAVE SUPERVISOR" oncomplete="PF('dlgClaveSupervisor').show();" update="frmdlgClaveSupervisor"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <span class="fa fa-user" style="margin-right: 5px;"/><p:outputLabel value="CONTROL" styleClass="labelBolder"/>
                        </p:column>
                        <p:column>
                            <p:dataList value="#{informacion.listControl}" var="c">
                                <p:outputLabel value="#{c.genbodCodigo.genbodSecuencia}-#{c.genbodCodigo.genbodNombre}" style="font-size: 18px;" styleClass="labelBolder"/>
                                <br/>
                                <p:outputLabel rendered="#{c.genrconPeriodo}" value="POR PERIODO.- DIAS:#{c.genrconDias} REGISTRADOS(#{c.dias})" style="font-size: 18px;" styleClass="labelBolder"/>
                                <br/>
                                <p:outputLabel rendered="#{c.genrconTransaccion}" value="POR TRANSACIONES.- CANTIDAD:#{c.genrconCantidad} REGISTRADOS(#{c.transacciones})" style="font-size: 18px;" styleClass="labelBolder"/>
                                <br/>
                                <p:outputLabel value="ULTIMA ACTUALIZACION: " style="font-size: 18px;" styleClass="labelBolder"/>
                                <p:outputLabel value="#{c.genrconFechaact}" style="font-size: 18px;" styleClass="labelBolder">
                                    <f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
                                </p:outputLabel>
                            </p:dataList>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </p:panel>
        <p:dialog widgetVar="dlgClaveSupervisor" modal="true"  width="90%" responsive="true" closable="true" header="Cambio Clave Supervisor" resizable="false" closeOnEscape="true" position="top">
            <h:form id="frmdlgClaveSupervisor">
                <p:panelGrid style="margin: 0 auto;">
                    <p:row>
                        <p:column>
                            <span class="fa fa-user" style="margin-right: 5px;"/><p:outputLabel for="pwd1" value="CLAVE NUEVA" styleClass="labelBolder"/>
                        </p:column>
                        <p:column>
                            <p:password id="pwd1" value="#{informacion.claveNuevaSupervisor}" match="pwd2" label="CLAVE NUEVA" required="true" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <span class="fa fa-user" style="margin-right: 5px;"/><p:outputLabel for="pwd2" value="REPITA CLAVE" styleClass="labelBolder"/>
                        </p:column>
                        <p:column>
                            <p:password id="pwd2" value="#{informacion.claveNuevaValidacionSupervisor}" label="REPITA CLAVE" required="true" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:commandButton value="GRABAR" actionListener="#{informacion.grabarClaveSupervisor()}" update="mainForm"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>

