<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/template/mainTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:component="http://xmlns.jcp.org/jsf/composite/component"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="title">
        Devolucion de Artículo
    </ui:define>
    <ui:define name="head">
        <h:outputScript name="keyPress.js" library="javascript" />
    </ui:define>
    <ui:define name="content">
        <h:form id="frmRetencion">
            <!--<p:poll interval="15" listener="# {registroDevolucionBean.respaldarDatos()}" resetValues="false" update="frmRetencion" />-->
            <p:panelGrid columns="3" layout="grid" >
                <component:customImputText label="Secuencia" value="#{registroDevolucionBean.factura.facvtcSecuenvta}" readonly="true" />
                <component:customImputText label="Número" value="#{registroDevolucionBean.factura.documento}" readonly="true"  />
                <component:customImputText label="Factura" value="#{registroDevolucionBean.factura.documentoFact}" readonly="true"  />
            </p:panelGrid>
            <p:panelGrid columns="1" layout="grid" >
                <component:customImputText label="Cliente" value="#{registroDevolucionBean.factura.FACVTCclienombre}" readonly="true" />
                <component:customImputText label="Dirección" value="#{registroDevolucionBean.factura.FACVTCcliedirec}" readonly="true"  />
            </p:panelGrid>
            <p:spacer width="40"/>
            <div>
                <p:dataTable  id="dtArticulosDev" emptyMessage="No se encontrarón registros" scrollRows="3" scrollable="true"
                              value="#{registroDevolucionBean.detalleProductos}" var="select1"
                              editable="true" editMode="cell" widgetVar="select1Cell"  
                              selection="#{registroDevolucionBean.productosSeleccionados}" ariaRowLabel="Seleccionar Artículo"
                              rowKey="#{select1.INVITM_codigo}">
                    <f:facet name="header" >
                        <center>Detalle de Artículos</center>
                    </f:facet>
                    <p:ajax event="rowSelectCheckbox" listener="#{registroDevolucionBean.onRowSelect}" update="dtArticulosDev" />
                    <p:ajax event="rowSelect" listener="#{registroDevolucionBean.onRowSelect}" update="dtArticulosDev" />
                                        
                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/> 
                    <p:column headerText="Nº" width="15">
                        #{select1.FACDTC_secuelinea}
                    </p:column>
                    <p:column headerText="Id. de artículo" width="15%">
                        #{select1.INVITM_codigo}
                    </p:column>
                    <p:column headerText="Artículo" width="30%">
                        #{select1.nombreItem}
                    </p:column>
                    <p:column headerText="Cantidad">
                        #{select1.FACDPD_cantfuncional}
                    </p:column>
                    <p:column headerText="Cantidad Devolucion">
                        #{select1.FACDVT_cantfundev}
                    </p:column>
                    <p:column headerText="Total (con impuesto)">
                        #{select1.FACDVT_neto}
                    </p:column>
                </p:dataTable>

            </div>

            <p:spacer width="40"/>
            <p:dataTable emptyMessage="No se encontrarón registros" scrollRows="3" scrollable="true" 
                         value="#{registroDevolucionBean.factura.factCabventa}" var="cb1"
                         editable="true" editMode="cell" widgetVar="iva1Cell">
                <f:facet name="header" >
                    <center>Detalle de pago</center>
                </f:facet>
                <p:column headerText="Pago" width="15%">
                    #{cb1.CXCFPGcodigo}
                </p:column>
                <p:column headerText="Mas Información" width="30%">
                    #{cb1.FACCVTdescricort}
                </p:column>
                <p:column headerText="Total" style="text-align: right;">
                    #{cb1.FACCVTnetomov}
                </p:column>
            </p:dataTable>
            <p:spacer width="20"/>
            <div align="center">
                <p:commandButton value="Cancelar Devolución" actionListener="#{registroDevolucionBean.cancelar()}" />
                <p:spacer width="20"/>
                <p:commandButton value="Transacción de Devolución" actionListener="#{registroDevolucionBean.inicarDevolucion()}" oncomplete="PF('dlgMotDev').show()"  
                                 id="retencionCabeceraCliente" update="frmMotDev" />
                <p:spacer width="20"/>
                <p:commandButton value="Cerrar" actionListener="#{registroDevolucionBean.cerrar()}" />
            </div>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" >
                <p:commandButton value="Sí" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
            </p:confirmDialog>
        </h:form>

        <p:dialog id="dlgMotDev" widgetVar="dlgMotDev" modal="true" closeOnEscape="true" header="Información adicional de la devolución" height="80%" width="80%" position="top">
            <h:form id="frmMotDev" >
                <h:panelGrid columns="2">
                    <h:panelGroup >
                        <p:outputLabel class="Wid90 FontBold" value="Motivo"/><br/>
                        <p:selectOneMenu value="#{registroDevolucionBean.motivoDev}"> 
                            <f:selectItems value="#{registroDevolucionBean.motvdevolus}" var="motDevl1" 
                                           itemLabel="#{motDevl1.FACMDEdescripcio}" itemValue="#{motDevl1.facrMotvdevoluPK.FACMDEcodigo}" />
                            <p:ajax update="frmMotDev" process="@this"  />
                        </p:selectOneMenu>
                    </h:panelGroup>
                    <h:panelGroup >
                        <p:outputLabel class="Wid90 FontBold" value="Observación"/><br/>
                        <p:inputTextarea maxlength="50" value="#{registroDevolucionBean.observaciones}" cols="50" rows="2" style="text-transform: uppercase;"/>
                    </h:panelGroup>
                </h:panelGrid>
                <p:outputLabel value="Click sobre la columna 'Cantidad Importe'" styleClass="labelMensajeRight"/>
                <p:dataTable  emptyMessage="No se encontrarón registros" scrollRows="3" scrollable="true"
                              value="#{registroDevolucionBean.productosSeleccionados}" var="select2" scrollHeight="170"
                              editable="true" editMode="cell" widgetVar="select2Cell"  
                              ariaRowLabel="Seleccionar Artículo" id="dtArtdevImp" >
                    <f:facet name="header" >
                        <center>Detalle de Artículos</center>
                    </f:facet>
                    <p:column headerText="Id. de artículo" width="15%">
                        #{select2.INVITM_codigo}
                    </p:column>
                    <p:column headerText="Artículo" width="30%">
                        #{select2.nombreItem}
                    </p:column>
                    <p:column headerText="Cantidad">
                        #{select2.FACDPD_cantfuncional}
                    </p:column>
                    <p:column headerText="Cantidad Disponible Dev.">
                        #{select2.cantidadFuncional}
                    </p:column>
                    <p:column headerText="Total (con impuesto)">
                        #{select2.FACDVT_neto}
                    </p:column>
                    <p:column headerText="Cantidad Importe" >
                        <p:cellEditor  >
                            <f:facet name="output"><h:outputText value="#{select2.FACDVT_cantfuncional}" title="Click para editar importe" >
                                    <f:convertNumber maxFractionDigits="0" />
                                </h:outputText></f:facet>
                            <f:facet name="input" >
                                <p:spinner id="modelInput" value="#{select2.FACDVT_cantfuncional}" style="width:96%" min="1" max="#{select2.cantidadFuncional}"  >
                                    <p:ajax update="dtArtdevImp" listener="#{registroDevolucionBean.respaldarDatos(select2)}"  />
                                </p:spinner>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Total (con impuesto) Importe">
                        #{select2.netoImporte}
                    </p:column>
                </p:dataTable>
            </h:form>  
            <f:facet name="footer">
                <center>
                    <p:commandButton actionListener="#{registroDevolucionBean.aceptar()}" value="Aceptar" title="Procesa los datos de la devolución" />
                    <p:commandButton actionListener="#{registroDevolucionBean.cancelar()}" value="Cancelar" title="Cancela la devolución" />
                </center>
            </f:facet>
        </p:dialog>
    </ui:define>

</ui:composition>
