<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Arqueo Caja
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
                <h:outputScript name="dataTableRegistroCaja.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:remoteCommand name="calcular" actionListener="#{arqueoCaja.calcular()}"/>
                    <p:panelGrid style="width: 100%;">
                        <p:row>
                            <p:column colspan="3"><center><p:outputLabel value="*****ARQUEO DE CAJA*****" styleClass="labelBolder"/></center></p:column>
                        </p:row>
                        <p:row>
                            <p:column><span class="fa fa-calendar" style="margin-right: 5px;"/><p:outputLabel value="FECHA:" styleClass="labelBolder"/><p:spacer width="10"/>
                                <p:outputLabel value="#{arqueoCaja.fechaRegistro}" styleClass="labelBolder"><f:convertDateTime pattern="dd/MM/yyyy HH:mm"/></p:outputLabel></p:column>

                            <p:column><span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="COMPANIA:" styleClass="labelBolder"/><p:spacer width="10"/>
                                <p:outputLabel value="#{userSession.caja.GENCIAcodigo}" styleClass="labelBolder"/></p:column>

                            <p:column><span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="OFICINA:" styleClass="labelBolder"/><p:spacer width="10"/>
                                <p:outputLabel value="#{userSession.caja.GENOFIcodigo}" styleClass="labelBolder"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><span class="fa fa-ticket" style="margin-right: 5px;"/><p:outputLabel value="TURNO:" styleClass="labelBolder"/><p:spacer width="10"/>
                                <p:outputLabel value="#{userSession.turno.segturNumero}" styleClass="labelBolder"/></p:column>

                            <p:column><span class="fa fa-user" style="margin-right: 5px;"/><p:outputLabel value="USUARIO:" styleClass="labelBolder"/><p:spacer width="10"/>
                                <p:outputLabel value="#{userSession.cbpsegmUsuario.segusuLogin}-#{userSession.cbpsegmUsuario.segusuAbreviado}" styleClass="labelBolder"/></p:column>

                            <p:column><span class="fa fa-briefcase" style="margin-right: 5px;"/><p:outputLabel value="CAJA:" styleClass="labelBolder"/><p:spacer width="10"/>
                                <p:outputLabel value="#{userSession.cbpsegmUsuario.codigoCaja}" styleClass="labelBolder"/></p:column>
                        </p:row>
                    </p:panelGrid>
                    <p:panelGrid columns="2">
                        <p:tabView id="tabCierre">
                            <p:tab title="UNIDADES MONETARIAS">
                                <p:dataTable id="dtDetalleRegistro" value="#{arqueoCaja.denominaciones}" var="d" emptyMessage="No se encontraron registros" lazy="true" 
                                             reflow="true" rowKey="#{d.gendenCodigo}" editable="true" editMode="cell">                        
                                    <f:facet name="header">
                                        <span class="fa fa-database" style="margin-right: 5px;"/><span class="fa fa-money" style="margin-right: 5px;"/>
                                        <p:outputLabel value="DISTRIBUCION UNIDADES MONETARIAS" styleClass="labelBolder"/>
                                    </f:facet>
                                    <p:column headerText="TIPO" styleClass="labelBolder">
                                        <p:outputLabel value="#{d.gendenTipodes}"/>
                                    </p:column>
                                    <p:column headerText="DENOMINACION" styleClass="labelBolder">
                                        <p:outputLabel value="#{d.gendenDetalle}"/>
                                    </p:column>
                                    <p:column headerText="CANTIDAD" width="120" styleClass="labelBolder" style="text-align: center;">
                                        <p:cellEditor>
                                            <f:facet name="output"><p:outputLabel value="#{d.cantidad}"/></f:facet>
                                            <f:facet name="input">
                                                <p:inputText id="cantidadUnidades" value="#{d.cantidad}" style="width:96%" onblur="calcular();"/>                                    
                                            </f:facet>
                                        </p:cellEditor> 
                                    </p:column>
                                    <p:column  headerText="TOTAL" width="120" styleClass="labelBolder" style="text-align: right;">
                                        <p:outputLabel id="valor" value="#{d.total}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                            <p:tab title="REGISTRO DE CHEQUES">
                                <p:dataTable id="dtDetalleRegistroCheq" value="#{arqueoCaja.denominacionesCheques}" var="dc" emptyMessage="No se encontraron registros" lazy="true" 
                                             reflow="true" rowKey="#{dc.gendenCodigo}" editable="true" editMode="cell" scrollable="true" scrollHeight="400">                        
                                    <f:facet name="header">
                                        <span class="fa fa-database" style="margin-right: 5px;"/><span class="fa fa-money" style="margin-right: 5px;"/>
                                        <p:outputLabel value="DETALLE CHEQUES" styleClass="labelBolder"/>
                                    </f:facet>
                                    <p:column headerText="TIPO" styleClass="labelBolder">
                                        <p:outputLabel value="#{dc.gendenTipodes}"/>
                                    </p:column>
                                    <p:column headerText="DENOMINACION" styleClass="labelBolder">
                                        <p:outputLabel value="#{dc.gendenDetalle}"/>
                                    </p:column>
                                    <p:column headerText="CANTIDAD" width="120" styleClass="labelBolder" style="text-align: center;">
                                        <p:cellEditor>
                                            <f:facet name="output"><p:outputLabel value="#{dc.cantidad}"/></f:facet>
                                            <f:facet name="input">
                                                <p:inputText id="cantidadUnidades" value="#{dc.cantidad}" style="width:96%" onblur="calcular();"/>                                    
                                            </f:facet>
                                        </p:cellEditor> 
                                    </p:column>
                                    <p:column  headerText="TOTAL" width="120" styleClass="labelBolder" style="text-align: right;">
                                        <p:outputLabel id="valor" value="#{dc.total}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                            <p:tab title="DOCUMENTOS">
                                <p:dataTable id="dtDetalleRegistroDoc" value="#{arqueoCaja.denominacionesDocumentos}" var="dd" emptyMessage="No se encontraron registros" lazy="true" 
                                             reflow="true" rowKey="#{dd.gendenCodigo}" editable="true" editMode="cell" scrollable="true" scrollHeight="400">                        
                                    <f:facet name="header">
                                        <span class="fa fa-database" style="margin-right: 5px;"/><span class="fa fa-money" style="margin-right: 5px;"/>
                                        <p:outputLabel value="DETALLE DE DOCUMENTOS" styleClass="labelBolder"/>
                                    </f:facet>
                                    <p:column headerText="TIPO" styleClass="labelBolder">
                                        <p:outputLabel value="#{dd.gendenTipodes}"/>
                                    </p:column>
                                    <p:column headerText="DENOMINACION" styleClass="labelBolder">
                                        <p:outputLabel value="#{dd.gendenDetalle}"/>
                                    </p:column>
                                    <p:column headerText="CANTIDAD" width="120" styleClass="labelBolder" style="text-align: center;">
                                        <p:cellEditor>
                                            <f:facet name="output"><p:outputLabel value="#{dd.cantidad}"/></f:facet>
                                            <f:facet name="input">
                                                <p:inputText id="cantidadUnidades" value="#{dd.cantidad}" style="width:96%" onblur="calcular();"/>                                    
                                            </f:facet>
                                        </p:cellEditor> 
                                    </p:column>
                                    <p:column  headerText="TOTAL" width="120" styleClass="labelBolder" style="text-align: right;">
                                        <p:outputLabel id="valor" value="#{dd.total}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                        </p:tabView>                        

                        <p:panelGrid id="datosResumen" styleClass="ui-panelgrid-blank" style="width: 500px;">
                            <p:row>
                                <p:column><span class="fa fa-money" style="margin-right: 5px;"/><p:outputLabel value="ASIGNACION" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{arqueoCaja.turno.segturAsiginicial}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-money" style="margin-right: 5px;"/><p:outputLabel value="ADICIONAL" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{arqueoCaja.turno.segturAdicional}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-money" style="margin-right: 5px;"/><p:outputLabel value="EGRESO" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{arqueoCaja.turno.segturEgreso}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-money" style="margin-right: 5px;"/><p:outputLabel value="CIERRE" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{arqueoCaja.turno.segturValorcierre}" readonly="true" styleClass="valoresStyle #{arqueoCaja.turno.segturValorcierre gt 0 ?'cierre':''}" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2"></p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-database" style="margin-right: 5px;"/><p:outputLabel value="MONEDAS" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{arqueoCaja.registro.genrdeMoneda}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><span class="fa fa-money" style="margin-right: 5px;"/><p:outputLabel value="BILLETES" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{arqueoCaja.registro.genrdeBillete}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="VALOR FIJO" styleClass="labelBolder"/></p:column>
                                <p:column><p:inputText value="#{arqueoCaja.registro.genrdeFijo}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2"></p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <span class="fa fa-dollar" style="margin-right: 5px;"/><p:outputLabel value="TOTAL MONETARIO" styleClass="labelBolder"/>
                                </p:column>
                                <p:column><p:inputText value="#{arqueoCaja.registro.genrdeMonetario}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <span class="fa fa-dollar" style="margin-right: 5px;"/><p:outputLabel value="TOTAL CHEQUE" styleClass="labelBolder"/>
                                </p:column>
                                <p:column><p:inputText value="#{arqueoCaja.registro.genrdeCheque}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <span class="fa fa-dollar" style="margin-right: 5px;"/><p:outputLabel value="TOTAL DOCUMENTO" styleClass="labelBolder"/>
                                </p:column>
                                <p:column><p:inputText value="#{arqueoCaja.registro.genrdeDocumento}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <span class="fa fa-dollar" style="margin-right: 5px;"/><p:outputLabel value="TOTAL" styleClass="labelBolder"/>
                                </p:column>
                                <p:column><p:inputText value="#{arqueoCaja.registro.genrdeMonto}" readonly="true" styleClass="valoresStyle" size="12"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column></p:column>
                                <p:column><p:commandButton icon="fa fa-save" value="Arqueo Caja" actionListener="#{arqueoCaja.grabarRegistroCaja()}" update="datosResumen"/></p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:panelGrid>
                </h:form>                
            </ui:define>
        </ui:composition>
    </body>
</html>