<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:component="http://xmlns.jcp.org/jsf/composite/component">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Depósito de Tarjeta de Crédito
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
                <h:outputScript name="dataTableRegistroVenta.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:remoteCommand name="busquedaOficina" actionListener="#{depTarjCredView.busquedaOficina()}" update="mainForm"/>
                    <p:remoteCommand name="busquedaBodega" actionListener="#{depTarjCredView.busquedaBodega()}" update="mainForm"/>
                    <p:remoteCommand name="busquedaCtaBanco" actionListener="#{depTarjCredView.busquedaCtaBanco()}" update="mainForm"/>
                    <p:remoteCommand name="h" actionListener="#{depTarjCredView.sumarComision()}"/>
                    
                    <p:tabView id="tab_ingreso">
                        <p:tab title="Ingreso de depósito">
                            <p:panelGrid style="width: 100%;">
                                <p:row>
                                    <p:column>
                                        <p:panelGrid columns="4" styleClass="ui-noborder">
                                            <h:outputText value="Oficina:" style="font-weight: BOLD;"/>
                                            <p:inputText id="secuenciaOficina" style="width: 120px" value="#{depTarjCredView.dataIngreso['valOfi']}"/>
                                            <p:commandLink update="frmdlgOficina" oncomplete="PF('dlgOficina').show()" title="Buscar oficina">
                                                <p:graphicImage value="/resources/images/clic.png"/>
                                            </p:commandLink>
                                            <p:inputText readonly="true" style="width: 330px" value="#{depTarjCredView.dataIngreso['oficina'].genofinomComercial}"/>

                                            <!-- -->

                                            <h:outputText value="Cuenta Banco:" style="font-weight: BOLD;"/>
                                            <p:inputText id="secuenciaCtaBanco" style="width: 120px" value="#{depTarjCredView.dataIngreso['valCta']}"/>
                                            <p:commandLink oncomplete="PF('wdBancos').show()" update="ctsBcoFrm" title="Buscar cuenta de banco">
                                                <p:graphicImage value="/resources/images/clic.png"/>
                                            </p:commandLink>
                                            <p:inputText readonly="true" style="width: 330px" value="#{depTarjCredView.dataIngreso['ctaBanco'].BANCTAnombre}"/>
                                        </p:panelGrid>
                                    </p:column>

                                    <!-- -->

                                    <p:column>
                                        <p:panelGrid columns="1" styleClass="ui-noborder">
                                            <p:panelGrid columns="4" styleClass="ui-noborder">
                                                <h:outputText value="Depósito:" style="font-weight: BOLD;"/>
                                                <p:calendar value="#{depTarjCredView.dataIngreso['fechaDeposito']}" style="width: 100px; text-align: right;">
                                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                                </p:calendar>
                                                <h:outputText value="Número Dep:" style="font-weight: BOLD;"/>
                                                <p:inputText value="#{depTarjCredView.dataIngreso['numDeposito']}" readonly="true" style="width: 100px"/>
                                            </p:panelGrid>

                                            <!-- -->

                                            <p:panelGrid columns="2" styleClass="ui-noborder">
                                                <h:outputText value="Banco:" style="font-weight: BOLD;"/>
                                                <p:inputText readonly="true" value="#{depTarjCredView.dataIngreso['banco'].banmEntidadPK.banentTipo}-#{depTarjCredView.dataIngreso['banco'].banmEntidadPK.banentCodigo}-#{depTarjCredView.dataIngreso['banco'].banentNombre}" style="width: 410px; margin-left: 18px;"/>
                                            </p:panelGrid>
                                        </p:panelGrid>
                                    </p:column>
                                </p:row>

                                <!-- -->

                                <p:row>
                                    <p:column>
                                        <p:panelGrid columns="2" styleClass="ui-noborder">
                                            <h:outputText value="No.:" style="width: 95px; display:block; font-weight: BOLD;"/>
                                            <p:inputText style="width: 350px" value="#{depTarjCredView.dataIngreso['num_papeleta']}"/>
                                        </p:panelGrid>
                                    </p:column>

                                    <p:column>    
                                        <p:panelGrid columns="2" styleClass="ui-noborder">
                                            <h:outputText value="Comentario: " style="width: 95px; display:block; font-weight: BOLD;"/>
                                            <p:inputText style="width: 350px;"/>
                                        </p:panelGrid>
                                    </p:column>
                                </p:row>

                                <!-- -->

                                <p:row>

                                    <p:column>
                                        <p:panelGrid columns="2" styleClass="ui-noborder">
                                            <h:outputText value="Filtrar por turno:" style="font-weight: BOLD;"/>
                                            <p:inputText value="#{depTarjCredView.dataIngreso['turno']}"/>
                                        </p:panelGrid>
                                    </p:column>

                                    <!-- -->

                                    <p:column>
                                        <p:panelGrid columns="4" styleClass="ui-noborder">
                                            <h:outputText value="Fecha desde:" style="font-weight: BOLD;"/>
                                            <p:calendar style="width: 60px"/>
                                            <h:outputText value="Fecha hasta:" style="font-weight: BOLD;"/>
                                            <p:calendar style="width: 60px"/>
                                        </p:panelGrid>
                                    </p:column>
                                </p:row>

                                <!-- -->

                                <p:row>
                                    <p:column>
                                        <p:panelGrid columns="7" styleClass="ui-noborder">

                                            <p:selectBooleanCheckbox value="#{depTarjCredView.dataIngreso['allUsers']}">
                                                <p:ajax update="mainForm"/>
                                            </p:selectBooleanCheckbox>
                                            <h:outputText value="Todos los usuarios:" style="font-weight: BOLD; font-weight: BOLD;"/>
                                            <p:selectOneMenu value="#{depTarjCredView.dataIngreso['usuarioSelected']}" style="width: 160px;" disabled="#{depTarjCredView.dataIngreso['allUsers']}">
                                                <f:selectItems value="#{depTarjCredView.usuarios}" />
                                            </p:selectOneMenu>

                                            <p:selectBooleanCheckbox value="#{depTarjCredView.dataIngreso['allCajas']}">
                                                <p:ajax update="mainForm"/>
                                            </p:selectBooleanCheckbox>
                                            <h:outputText value="Todas las cajas:" style="width: 128px; display:block; font-weight: BOLD;"/>
                                            <p:selectOneMenu value="#{depTarjCredView.dataIngreso['cajaSelected']}" style="width: 160px;" disabled="#{depTarjCredView.dataIngreso['allCajas']}">
                                                <f:selectItems value="#{depTarjCredView.cajas}" />
                                            </p:selectOneMenu>


                                        </p:panelGrid>
                                    </p:column>

                                    <p:column>
                                        <p:panelGrid columns="2" styleClass="ui-noborder" >
                                            <p:selectManyCheckbox id="basic" layout="grid" style="font-size: 11px;" columns="2" value="#{depTarjCredView.filtersSelected}">
                                                <f:selectItem itemLabel="Filtrar por turno" itemValue="#{1}"/>
                                                <f:selectItem itemLabel="Filtrar por rango de fechas" itemValue="#{2}" />
                                                <f:selectItem itemLabel="Filtrar por usuarios" itemValue="#{3}" />
                                                <f:selectItem itemLabel="Filtrar por cajas" itemValue="#{4}" />
                                                <f:selectItem itemLabel="Filtrar por establecimiento" itemValue="#{5}" />
                                            </p:selectManyCheckbox>
                                            <p:commandButton value="Filtrar" style="width: 100px; margin-left: 15px;" actionListener="#{depTarjCredView.filtrar()}"
                                                             update="mainForm"/>
                                        </p:panelGrid>
                                    </p:column>
                                </p:row>

                                <!-- -->

                                <p:row >
                                    <p:column>
                                        <p:panelGrid columns="4" styleClass="ui-noborder">
                                            <h:outputText value="Establecimiento:" style="font-weight: BOLD;"/>
                                            <p:inputText id="secuenciaBodega" style="width: 60px" value="#{depTarjCredView.dataIngreso['valEst']}"/>
                                            <p:commandLink update="establecimientosFrm" oncomplete="PF('wdEstablecimiento').show()" >
                                                <p:graphicImage value="/resources/images/clic.png"/>
                                            </p:commandLink>
                                            <p:inputText readonly="true" style="width: 200px" value="#{depTarjCredView.dataIngreso['establecimiento'].genbodNombre}"/>
                                        </p:panelGrid>
                                    </p:column>
                                    <p:column>
                                        <p:panelGrid columns="4" styleClass="ui-noborder">
                                            <h:outputText value="Flujo caja:" style="width: 108px; display:block; margin-left: 15px; font-weight: BOLD;"/>
                                            <p:inputText readonly="true" value="#{depTarjCredView.dataIngreso['flujo_caja']}" style="width: 120px; text-align: right;">
                                                <f:convertNumber pattern="##,####0.0000" locale="en_US"/>
                                            </p:inputText>
                                            <h:outputText value="Depositado:" style="width: 108px; display:block; font-weight: BOLD;"/>
                                            <p:inputText readonly="true" style="width: 120px"/>
                                        </p:panelGrid>
                                    </p:column>
                                </p:row>

                            </p:panelGrid>

                            <!-- -->

                            <center>
                                <p:dataTable id="dtPago" rows="8" scrollWidth="1256" style=" margin-top: 10px;" emptyMessage="No hay datos."
                                             selection="#{depTarjCredView.pagosSelected}" rowKey="#{v.CXCCCR_numdocumcr}" rowIndexVar="row"
                                             var="v" value="#{depTarjCredView.pagosFiltered}" paginator="true" paginatorPosition="bottom"
                                             editable="true" editMode="cell" scrollable="true" >
                                    <f:facet name="header">
                                        Transacciones
                                        <p:commandButton id="toggler" type="button" style="float:right; height: 25px" icon="fa fa-align-justify" />
                                        <p:columnToggler datasource="dtPago" trigger="toggler" />
                                    </f:facet>


                                    <p:column headerText="Código" visible="false" style="font-size: 10px; width: 50px;">
                                        #{v.CXCCLI_codigo}
                                    </p:column>

                                    <p:column headerText="Nombre cliente" style="font-size: 11px; width: 150px;">
                                        #{v.nombreCliente}
                                    </p:column>

                                    <p:column headerText="Fecha" style="font-size: 10px; width: 50px;">
                                        #{v.CXCDPG_fecha}
                                    </p:column>

                                    <p:column headerText="No. de pago" visible="false" style="font-size: 10px; width: 50px;">
                                        #{v.CXCCCR_numdocumcr}
                                    </p:column>

                                    <p:column headerText="Banco" style="font-size: 11px; width: 150px;">
                                        #{v.nombreBanco}
                                    </p:column>

                                    <p:column headerText="No. de autorización" style="font-size: 10px; width: 65px;">
                                        #{v.CXCDPG_numerochq}
                                    </p:column>

                                    <p:column headerText="No. de tarjeta" style="font-size: 10px; width: 65px;">
                                        #{v.CXCDPG_cuentacte}
                                    </p:column>

                                    <p:column headerText="No. documento" style="font-size: 10px; width: 50px;">
                                        #{v.CXCDPG_secubanco}
                                    </p:column>

                                    <p:column headerText="Valor" style="font-size: 10px; width: 50px; text-align: right;">
                                        #{v.CXCDPG_valormov}
                                    </p:column>

                                    <p:column headerText="Valor comisión" style="font-size: 10px; width: 50px; text-align: right;">
                                        <p:cellEditor>
                                            <f:facet name="output">  
                                                <h:outputText id="val_com" value="#{v.valorComision}">
                                                    <f:convertNumber pattern="##,####0.0000" locale="en_US"/>
                                                </h:outputText>  
                                            </f:facet>  
                                            <f:facet name="input">  
                                                <p:inputText id="ing_com" value="#{v.valorComision}" style="width:96%" onblur="h();">
                                                </p:inputText>
                                            </f:facet>  
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column headerText="Valor total al depósito" style="font-size: 10px; width: 50px; text-align: right;">
                                        <h:outputText id="val_total" value="#{v.valorTotalAlDeposito}"/>
                                    </p:column>

                                </p:dataTable>
                            </center>
                            
                            <!-- -->

                            <p:panelGrid style="width: 100%; margin-top: 10px;" styleClass="ui-noborder" columns="2">
                                
                                <p:panelGrid columns="2" styleClass="ui-noborder">
                                    <h:outputText value="Pendiente depositar:" style="font-weight: BOLD;"/>
                                    <p:inputText readonly="true"/>


                                </p:panelGrid>

                                <p:panelGrid columns="4" styleClass="ui-noborder" style="float: right;">
                                    <h:outputText value="Valor de la comisión:" style="font-weight: BOLD;"/>
                                    <p:inputText id="val_total_comision" style="text-align: right;" readonly="true" value="#{depTarjCredView.dataIngreso['val_comision']}">
                                        <f:convertNumber pattern="##,####0.0000" locale="en_US"/>
                                    </p:inputText>

                                    <h:outputText value="Monto del depósito:" style="font-weight: BOLD;"/>
                                    <p:inputText id="monto_deposito" style="text-align: right;" readonly="true" value="#{depTarjCredView.dataIngreso['monto_dep']}">
                                        <f:convertNumber pattern="##,####0.0000" locale="en_US"/>
                                    </p:inputText>
                                </p:panelGrid>
                                    
                            </p:panelGrid>
                            <p:commandButton value="Guardar" actionListener="#{depTarjCredView.guardarDatos()}"/>
                        </p:tab>

                        <p:tab title="Consulta de Depósitos">
                            <p:dataTable>
                                
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>

                </h:form>

                <p:dialog widgetVar="dlgOficina" modal="true"  width="80%" responsive="true" closable="true" header="Listado de Oficinas" 
                          resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgOficina">
                        <component:cOficina oficinasLazy="#{depTarjCredView.oficinasLazy}" oficina="#{depTarjCredView.dataIngreso['oficina']}"
                                            seleccionOficina="#{depTarjCredView.selectOficina(null)}"/>

                    </h:form>
                </p:dialog>

                <!-- 
                
                <p:dialog header="Oficinas" widgetVar="wdOficina" modal="true" width="70%" resizable="false">
                    <h:form id="oficinasFrm" prependId="false">
                        <p:dataTable value="#{depTarjCredView.oficinasLazy}" var="of" rowKey="#{of.genofiSecuencia}" paginatorPosition="bottom" lazy="true"
                                     selection="#{depTarjCredView.dataIngreso['oficina']}" selectionMode="single" rows="6" paginator="true">
                            <p:ajax event="rowSelect" listener="#{depTarjCredView.selectOficina}" oncomplete="PF('wdOficina').hide()" update=":mainForm" />
                            
                            <p:column headerText="Secuencia">
                #{of.genofiSecuencia}
            </p:column>
            
            <p:column headerText="Nombre">
                #{of.genofinomComercial}
            </p:column>
        </p:dataTable>
    </h:form>
</p:dialog> -->

                <!-- -->

                <p:dialog header="Cuenta Banco" widgetVar="wdBancos" modal="true" width="70%" resizable="false" position="top">
                    <h:form id="ctsBcoFrm" prependId="false">
                        <p:dataTable value="#{depTarjCredView.cuentasBancosList}" var="b" rowKey="#{b.banmCuentacajaPK}" paginatorPosition="bottom"
                                     selection="#{depTarjCredView.dataIngreso['ctaBanco']}" selectionMode="single" rows="6" paginator="true">
                            <p:ajax event="rowSelect" listener="#{depTarjCredView.selectCtaBco}" oncomplete="PF('wdBancos').hide()" update=":mainForm" />

                            <p:column headerText="Codigo">
                                #{b.banmCuentacajaPK.BANCTAcodigo}
                            </p:column>

                            <p:column headerText="Tipo">
                                #{b.banmCuentacajaPK.BANENTtipo}
                            </p:column>

                            <p:column headerText="Nombre">
                                #{b.BANCTAnombre}
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>

                <!-- -->

                <p:dialog header="Establecimiento" widgetVar="wdEstablecimiento" modal="true" width="70%" resizable="false" position="top">
                    <h:form id="establecimientosFrm" prependId="false">
                        <p:dataTable value="#{depTarjCredView.bodegasLazy}" var="b" rows="6" paginator="true" paginatorPosition="bottom"
                                     lazy="true" selection="#{depTarjCredView.dataIngreso['establecimiento']}" selectionMode="single" rowKey="#{b.genbodCodigo}">
                            <p:ajax event="rowSelect" listener="#{depTarjCredView.selectEstablecimiento}" oncomplete="PF('wdEstablecimiento').hide()" update=":mainForm" />
                            <p:column headerText="Secuencia">
                                #{b.genbodSecuencia}
                            </p:column>

                            <p:column headerText="Nombre">
                                #{b.genbodNombre}
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </p:dialog>


            </ui:define>
        </ui:composition>
    </body>
</html>