<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Cliente
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:tabView styleClass="backgroundLogo">
                        <p:tab title="1. REGISTRO CLIENTE">
                            <p:panelGrid id="formCliente" styleClass="ui-panelgrid-blank">
                                <f:facet name="header">
                                    <p:row>
                                        <p:column colspan="2">
                                            <p:outputLabel value="Registro de Cliente"/>
                                        </p:column>
                                    </p:row>                            
                                </f:facet>
                                <p:row rendered="#{!registroCliente.generacionAutomatica}">
                                    <p:column><span class="fa fa-edit" style="margin-right: 5px;"/><p:outputLabel value="Codigo" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText value="#{registroCliente.cliente.codigoCliente}" style="text-transform: uppercase;" size="50" maxlength="6" placeholder="CODIGO" required="true"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><span class="fa fa-edit" style="margin-right: 5px;"/><p:outputLabel value="Cliente" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText value="#{registroCliente.cliente.CXCCLIrazonsocia}" size="50" placeholder="Apellidos Nombres" required="true" style="text-transform: uppercase;"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <span class="fa fa-list-ul" style="margin-right: 5px;"/>
                                        <p:outputLabel value="Tipo Identificacion" styleClass="labelBolder"/>
                                    </p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{registroCliente.cliente.CXCCLItipo}">
                                            <f:selectItem itemLabel="CEDULA" itemValue="C" />
                                            <f:selectItem itemLabel="RUC" itemValue="R" />
                                            <f:selectItem itemLabel="CONSUMIDOR FINAL" itemValue="F" />
                                            <f:selectItem itemLabel="PASAPORTE" itemValue="P" />
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <span class="fa fa-user" style="margin-right: 5px;"/>
                                        <p:outputLabel value="Identificacion" styleClass="labelBolder"/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{registroCliente.cliente.CXCCLIrucci}" size="50" required="true" maxlength="13"/>
                                    </p:column>
                                </p:row>                        
                                <p:row>
                                    <p:column><span class="fa fa-phone-square" style="margin-right: 5px;"/><p:outputLabel value="Telefono" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText value="#{registroCliente.cliente.CXCCLItelefono}" size="50"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><span class="fa fa-envelope" style="margin-right: 5px;"/><p:outputLabel value="Correo" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText value="#{registroCliente.cliente.CXCCLIemail}" size="50"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="Direccion" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText value="#{registroCliente.cliente.CXCCLIdireccion1}" size="50" required="true" style="text-transform: uppercase;"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:commandButton icon="fa fa-save" value="Grabar" actionListener="#{registroCliente.grabarCliente()}" update="formCliente,dtClientes"/></p:column>
                                    <p:column><p:commandButton icon="fa fa-sign-out" value="Limpiar" actionListener="#{registroCliente.limpiarCliente()}" update="formCliente"/></p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:tab>
                        <p:tab title="2. CLIENTES REGISTRADOS">
                            <p:dataTable id="dtClientes" value="#{registroCliente.clientesLazy}" var="c" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                  reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{c.cxcmClientePK}"
                                  selection="#{registroCliente.clienteSeleccionado}" selectionMode="single">
                                <p:ajax event="rowDblselect" oncomplete="PF('dlgCliente').show();" update="frmdlgCliente"/>
                                <p:column headerText="Codigo" filterStyle="width: 95%" filterBy="#{c.CXCCLIcodigo}" width="120">
                                    <p:outputLabel value="#{c.cxcmClientePK.CXCCLIcodigo}"/>
                                </p:column>
                                <p:column headerText="Identificacion" filterStyle="width: 95%" filterBy="#{c.CXCCLIrucci}" width="200">
                                    <p:outputLabel value="#{c.CXCCLIrucci}"/>
                                </p:column>
                                <p:column headerText="Cliente" filterStyle="width: 95%" filterBy="#{c.CXCCLIrazonsocia}">
                                    <p:outputLabel value="#{c.CXCCLIrazonsocia}"/>
                                </p:column>
                                <p:column headerText="Direccion" filterStyle="width: 95%" filterBy="#{c.CXCCLIdireccion1}">
                                    <p:outputLabel value="#{c.CXCCLIdireccion1}"/>
                                </p:column>
                                <p:column headerText="Forma Pago" width="60">
                                    <p:outputLabel value="#{c.cxcfpgCodigo}"/>
                                </p:column>
                                <p:column headerText="Termino" width="60">
                                    <p:outputLabel value="#{c.cxctpgCodigo}"/>
                                </p:column>
                                <p:column headerText="Cupo Credito" width="60" style="text-align: right;">
                                    <p:outputLabel value="#{c.CXCCLIcupocredit}" styleClass="labelBolder"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Saldo" width="60" style="text-align: right;">
                                    <p:outputLabel value="#{c.saldoCliente}" styleClass="labelBolder"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                                <p:column headerText="Disponible" width="60" style="text-align: right;">
                                    <p:outputLabel value="#{c.disponibleCliente}" styleClass="labelBolder"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:outputLabel>
                                </p:column>
                            </p:dataTable>
                        </p:tab>                    
                    </p:tabView>
                </h:form>
                
                <p:dialog widgetVar="dlgCliente" modal="true"  width="95%" responsive="true" closable="true" header="Listado de Clientes" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgCliente">
                        <p:fieldset legend="CLIENTE">
                            <p:panelGrid styleClass="noBorder">
                                <p:row>
                                    <p:column><p:outputLabel value="Oficina" styleClass="labelBolder"/></p:column>
                                    <p:column colspan="5"><p:inputText value="#{registroCliente.clienteSeleccionado.cxcmClientePK.GENOFIcodigo}" size="50" placeholder="OFICINA" readonly="true"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="Codigo" styleClass="labelBolder"/></p:column>
                                    <p:column colspan="5"><p:inputText value="#{registroCliente.clienteSeleccionado.cxcmClientePK.CXCCLIcodigo}" size="50" placeholder="CODIGO" readonly="true"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="Cliente" styleClass="labelBolder"/></p:column>
                                    <p:column colspan="5"><p:inputText value="#{registroCliente.clienteSeleccionado.CXCCLIrazonsocia}" size="50" placeholder="Apellidos Nombres" required="true" style="text-transform: uppercase;"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="F. Pago" styleClass="labelBolder"/></p:column>
                                    <p:column colspan="2"><p:inputText value="#{registroCliente.clienteSeleccionado.cxcfpgCodigo}" readonly="true"/></p:column>
                                    <p:column><p:outputLabel value="T. Pago:" styleClass="labelBolder"/></p:column>
                                    <p:column colspan="2"><p:inputText value="#{registroCliente.clienteSeleccionado.cxctpgCodigo}" readonly="true"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="Cupo Credito" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText value="#{registroCliente.clienteSeleccionado.CXCCLIcupocredit}" readonly="true"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText></p:column>
                                    <p:column><p:outputLabel value="Saldo" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText value="#{registroCliente.clienteSeleccionado.saldoCliente}" readonly="true"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText></p:column>
                                    <p:column><p:outputLabel value="Disponible" styleClass="labelBolder"/></p:column>
                                    <p:column><p:inputText value="#{registroCliente.clienteSeleccionado.disponibleCliente}" readonly="true"><f:convertNumber pattern="#,##0.00" locale="en_US"/></p:inputText></p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:fieldset>
                        <p:spacer height="20" width="0"/>
                        <p:tabView>
                            <p:tab title="DATOS PRINCIPALES">
                                <p:panelGrid styleClass="ui-panelgrid-blank">
                                    <p:row>
                                        <p:column>
                                            <span class="fa fa-list-ul" style="margin-right: 5px;"/>
                                            <p:outputLabel value="Tipo Identificacion" styleClass="labelBolder"/>
                                        </p:column>
                                        <p:column>
                                            <p:selectOneMenu value="#{registroCliente.clienteSeleccionado.CXCCLItipo}" style="width:75px">
                                                <f:selectItem itemLabel="CEDULA" itemValue="C" />
                                                <f:selectItem itemLabel="RUC" itemValue="R" />
                                                <f:selectItem itemLabel="CONSUMIDOR FINAL" itemValue="F" />
                                                <f:selectItem itemLabel="PASAPORTE" itemValue="P" />
                                            </p:selectOneMenu>
                                        </p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column>
                                            <span class="fa fa-user" style="margin-right: 5px;"/>
                                            <p:outputLabel value="Identificacion" styleClass="labelBolder"/>
                                        </p:column>
                                        <p:column>
                                            <p:inputText value="#{registroCliente.clienteSeleccionado.CXCCLIrucci}" size="50" required="true" maxlength="13"/>
                                        </p:column>
                                    </p:row>                        
                                    <p:row>
                                        <p:column><span class="fa fa-phone-square" style="margin-right: 5px;"/><p:outputLabel value="Telefono" styleClass="labelBolder"/></p:column>
                                        <p:column><p:inputText value="#{registroCliente.clienteSeleccionado.CXCCLItelefono}" size="50"/></p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column><span class="fa fa-envelope" style="margin-right: 5px;"/><p:outputLabel value="Correo" styleClass="labelBolder"/></p:column>
                                        <p:column><p:inputText value="#{registroCliente.clienteSeleccionado.CXCCLIemail}" size="50"/></p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column><span class="fa fa-home" style="margin-right: 5px;"/><p:outputLabel value="Direccion" styleClass="labelBolder"/></p:column>
                                        <p:column><p:inputText value="#{registroCliente.clienteSeleccionado.CXCCLIdireccion1}" size="50" required="true" style="text-transform: uppercase;"/></p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column colspan="2">
                                            <p:commandButton icon="fa fa-save" value="Grabar" actionListener="#{registroCliente.modificarCliente()}"/>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:tab>
                            <p:tab title="GESTION DE VENTAS">
                                
                            </p:tab>
                            <p:tab title="CREDITOS">
                                
                            </p:tab>
                            <p:tab title="ADICIONALES">
                                
                            </p:tab>
                        </p:tabView>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>