<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Gestion Paramentros
            </ui:define>
            <ui:define name="head">
                <h:outputScript name="keyPress.js" library="javascript" />
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:tabView >
                        <p:tab title="1. PARAMETROS COMPANIA">
                            <p:panelGrid columns="5" style="width: 100%;">
                                <p:outputLabel value="Aplicacion"/>
                                <p:outputLabel value="Etiqueta"/>
                                <p:outputLabel value="Descripcion"/>
                                <p:outputLabel value="Valor"/>
                                <p:outputLabel value=""/>
                                <p:inputText value="#{gestionParametros.parametroIngreso.genpParamcompaniaPK.GENAPLcodigo}"/>
                                <p:inputText value="#{gestionParametros.parametroIngreso.genpParamcompaniaPK.GENPCOetiqueta}"/>
                                <p:inputText value="#{gestionParametros.parametroIngreso.GENPCOnombre}" size="40"/>
                                <p:inputText value="#{gestionParametros.parametroIngreso.GENPCOnombrevalor}"/>
                                <p:commandButton value="Agregar" actionListener="#{gestionParametros.agregarParametro()}" update="dtParametros"/>
                            </p:panelGrid>
                            <p:dataTable id="dtParametros" value="#{gestionParametros.parametrosLazy}" var="p" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                         reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{p.genpParamcompaniaPK}"
                                         selectionMode="single" selection="#{gestionParametros.parametro}" editable="true" editMode="cell">
                                <p:column headerText="Aplicacion" filterStyle="width: 95%" filterBy="#{p.gENAPLcodigo}" width="70">
                                    <p:outputLabel value="#{p.genpParamcompaniaPK.GENAPLcodigo}"/>
                                </p:column>
                                <p:column headerText="Etiqueta" filterStyle="width: 95%" filterBy="#{p.gENPCOetiqueta}" width="150">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <p:outputLabel value="#{p.genpParamcompaniaPK.GENPCOetiqueta}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{p.genpParamcompaniaPK.GENPCOetiqueta}"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="Descripcion" >
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <p:outputLabel value="#{p.GENPCOnombre}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{p.GENPCOnombre}"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="Valor" width="200">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <p:outputLabel value="#{p.GENPCOnombrevalor}"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{p.GENPCOnombrevalor}"/>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column headerText="Grabar" width="100">
                                    <p:commandButton value="Grabar" icon="fa fa-save" actionListener="#{gestionParametros.editarParametro(p)}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>